[2022-06-28 22:59] #2490 closed

[2022-06-28 23:59] wild-endeavor opened #2639 "[Docs] [flytekit] pyflyte run - image & dependency customization"
### Description

Pyflyte run works well with the default image, but we should include instructions on how to change the pip dependencies (like explain/link to the whole image building concepts).

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-06-29 00:00] wild-endeavor opened #2640 "[Docs] [flytekit] pyflyte register - everything"
### Description

pyflyte register has been merged but there are no example or documentation.  Need to figure out how to fit this into the story, and explain what it is, why it's different, when to use it and such.

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [x] Yes

[2022-06-29 00:49] wild-endeavor opened #2641 "[Core feature] Ray Task Support"
# Ray Support
This issue encapsulates Ray task support in Flyte

Please see https://docs.google.com/document/d/1-695lxz8a-GFz4cFamGkF1NhspKMkDGIDdkY9EDLMz8/edit for additional information

- [x] #2642

Related to https://github.com/flyteorg/flyte/issues/427 also.

## Misc
### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-06-29 00:51] wild-endeavor opened #2642 "[Core Feature] [Plugins] Finalize Ray task plugin RFC"
Finalize the RFC doc at https://docs.google.com/document/d/1-695lxz8a-GFz4cFamGkF1NhspKMkDGIDdkY9EDLMz8/edit

[2022-06-29 06:10] #2175 closed

[2022-06-29 09:54] #2049 closed

[2022-06-29 09:58] SmritiSatyanV opened #2643 "[Docs] Document how to change default platform conf when setting resources for task"
### Description

[Slack conversation](https://flyte-org.slack.com/archives/C01P3B761A6/p1656451812588089)
Document the location and the steps to change default platform configuration while setting resources for a task, and how to control namespace level quotas on the cluster.

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-06-29 11:41] pmahindrakar-oss commented on #2322
Problem statement  for review : https://docs.google.com/document/d/17yP8r2BOcBAAsVOAbTPYmrIAE2BC_XGCVJ6v2fcdJzk/edit?usp=sharing

[2022-06-29 15:32] wild-endeavor opened #2644 "Ray Plugin Phase I"
[Design doc](https://docs.google.com/document/d/1-695lxz8a-GFz4cFamGkF1NhspKMkDGIDdkY9EDLMz8/edit#heading=h.ta4z5mdqt6h)

Phase 1
- Flytekit ray plugin
    - Users can run a ray task in local execution
    - Flytekit can create a local ray cluster
    - Submit local ray task to an existing cluster
    - We should be able to see logs in the ray cluster
- Flyte backend plugin
   - New ray plugin all

[2022-06-29 15:58] MorpheusXAUT opened #2645 "[BUG] Interruptible override not applied correctly during execution config merging in flyteadmin"
### Describe the bug

The `interruptible` override available via the `WorkflowExecutionConfig` is not applied correctly if multiple values are specified in different parts of the configuration considered for the execution config.
As the current implementation also updates the `interruptible` setting of the `WorkflowExecutionConfig` if the value being merged does not define the value already set (i

[2022-06-29 17:06] sonjaer opened #2646 "[Core feature] Easily see all workflow using a particular task"
### Motivation: Why do you think this is important?

[Nothing super important for us or a big use case yet, so feel free to ignore if you don't think it is valuable]

It would be nice to see what workflows are using a particular task.  Today we rewrote a task to replace an old task and wanted to remove the old task code completely. Before we wanted to verify if any workflows were using this task r

[2022-06-29 18:09] #2208 closed

[2022-06-29 18:11] wild-endeavor opened #2647 "[Core feature] [flytekit] Increase laziness of SerializationSettings"
## Goal
Correctly identify when in the `FlyteRemote` experience, where the `SerializationSettings` object is required and update the code so that the user's experience is such that they only have to specify it when it's actually needed.

## Background
### Flyte Remote
`FlyteRemote` is the object defined in this [file](https://github.com/flyteorg/flytekit/blob/master/flytekit/remote/remote.py#L109)

[2022-06-29 18:32] wild-endeavor opened #2648 "[Docs] [flytekit] FlyteRemote docs"
### Description

We need to write documentation detailing usage of FlyteRemote.

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-06-29 19:45] noblige opened #2649 "[Core feature] Add an option specify "latest" as the version in the spec"
### Motivation: Why do you think this is important?

Currently there's no way to easily specify "latest" `version` when invoking Flyte APIs that take in an `Identifier`. This requires making two calls - one is two list all versions to find out the latest, and then another call to make an actual request.

Example:
- Get `http://flyte/api/v1/workflows/my_project/development?limit=1&sort_by.key=creat

[2022-06-29 21:22] cosmicBboy opened #3474 "drag-and-pull in graph view doesn't work for very large dynamic workflows"
Update:
This issue is now for adding drag-and-pull support over nested graph nodes. Currently, users can drag graphs if they click on the canvas but not on any expanded nested nodes.

Original:
Workflow example: https://playground.hosted.unionai.cloud/console/projects/flytesnacks/domains/development/executions/ar5t8chs5kbnbg69njmw

This workflow is composed of two dynamic workflows and a bunch of

[2022-06-30 03:55] #2595 closed

[2022-06-30 05:27] samhita-alla commented on #2648
Hey @wild-endeavor! The documentation's already available [here](https://docs.flyte.org/projects/flytekit/en/latest/design/control_plane.html). Do we need to add anything to it?

[2022-06-30 06:02] #2645 closed

[2022-06-30 09:21] SmritiSatyanV opened #2650 "[Docs] Document how resources are cleaned up after successful execution"
### Description

[Slack conversation](https://flyte-org.slack.com/archives/CP2HDHKE1/p1654440120306879)
[Document](https://docs.flyte.org/en/latest/deployment/cluster_config/scheduler_config.html#delete-resource-on-finalize-bool) where it has to be mentioned.
The default behavior of failure handling is ``abort``  (instead of ``finalize``). ``Abort`` deletes the k8s Pod, whereas ``finalize``  requi

[2022-06-30 11:50] sonjaer opened #2652 "[Docs] Docs on how Propeller ensures a task is executed exactly once"
### Description

I was curious how Propeller ensures a task is executed exactly once? I was curious since we have non idempotent tasks that we wouldn't want to run twice.
Is there any instance when this could not be true? When deploying a new Propeller or error writing to etcd?
Is this something that could be added to the Propeller Architecture [docs](https://docs.flyte.org/en/latest/concepts/comp

[2022-06-30 12:19] edgar-t opened #2653 "[BUG] Flytectl Delete / Abort should not abort a FAILED workflow"
### Describe the bug

As it stands, calling `flytectl delete execution {EXECUTION_ID} -d {DOMAIN} -p {PROJECT}` on a `FAILED` workflow execution causes the workflow to be stuck in an `ABORTING` phase.

### Expected behavior

Like in the `flytectl terminate execution `, calling `delete / abort` should not abort a failed workflow

[code]

[2022-06-30 14:26] samhita-alla commented on #544
https://github.com/flyteorg/airflow-provider-flyte

[2022-06-30 14:26] #544 closed

[2022-06-30 14:29] samhita-alla opened #2654 "[Docs] Flyte Airflow Provider docs"
### Description

Need to document Flyte Airflow Provider.

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-06-30 14:52] #2382 closed

[2022-06-30 18:59] #2477 closed

[2022-06-30 20:48] eugenejahn opened #2655 "[BUG] flytekit union type can't distinguish list and str from command"
### Describe the bug

flytekit versions I used
Version: 1.1.0b7

union type with str example:
`Union[bool,int, str]`

union type with list example:
`Union[bool,int, list[int]]`

both Union type will take the argument of this ` '[1, 1 ,1 , 1, 1]'`  as an argument from command.

however, if we have a union type like this:
 `Union[bool,int, str, list[int]]`
flytekit can't tell whether is list or stri

[2022-07-01 15:42] kumare3 commented on #2655
This is for pyflyte run command line right. This is a hard one

[2022-07-01 16:26] wild-endeavor commented on #2648
oh no, i had no idea this was here.  Thanks!

[2022-07-01 16:40] eugenejahn commented on #2655
yep for pyflyte run command line. talked with @wild-endeavor and we noticed `str` type will take any input from command line

ex.  all the below example will be considered as `str`
`
0
-1
[1,2]
'[1,2]'
'12313'
`

so it can be confused not only for `list` and `str`, but `str` for any types..

[2022-07-01 23:37] wild-endeavor commented on #2640
`pyflyte package` and `flytectl register` together form the registration process.  The former is responsible for parsing and compiling users' Python code into Flyte protobuf objects and the latter is responsible for shipping those objects over the network to the Flyte control plane.  In the process of shipping them over, `flytectl` is also able to set certain attributes like the K8s service accoun

[2022-07-04 10:46] #2486 closed

[2022-07-04 16:20] marc-union opened #2660 "[Docs] Document how to log with CloudWatch and Fluentd"
We need better coverage of connecting Flyte logging with [AWS CloudWatch](https://aws.amazon.com/cloudwatch/) and [Fluentd](https://www.fluentd.org/)

Potential location for this new content is in this page or a sibling page:

https://docs.flyte.org/projects/cookbook/en/latest/auto/deployment/configure_logging_links.html

**Related:**

Slack conversation: https://flyte-org.slack.com/archives/C01P3

[2022-07-04 18:05] marc-union opened #2661 "[Docs] Clarification on differences between demo and sandbox"
We need a clarification of the differences between demo and sandbox to help the user choose the best

- What are each best for? When should the user choose one or the other?
- What is included in each one? What is missing?

Proposed places to add this content:

https://docs.flyte.org/projects/cookbook/en/latest/userguide_setup.html#create-a-local-demo-flyte-cluster

https://docs.flyte.org/projects

[2022-07-04 18:13] marc-union opened #2662 "[Docs] Verify doc consistency for cron scheduling for launch plans"
Doc for cron scheduling for launch plans might not be consistent in these pages:

https://docs.flyte.org/projects/flytekit/en/latest/generated/flytekit.CronSchedule.html#flytekit-cronschedule

https://docs.flyte.org/projects/flytekit/en/latest/_modules/flytekit/core/schedule.html#CronSchedule

https://docs.flyte.org/projects/cookbook/en/latest/auto/core/scheduled_workflows/lp_schedules.html#cron-s

[2022-07-05 18:06] katrogan opened #2665 "[BUG] Users should not be allowed to abort an already terminated workflow"
### Describe the bug

Flyteadmin checks for the existence, but not the current phase of a workflow execution in the [TerminateExecution flow](https://github.com/flyteorg/flyteadmin/blob/a96084fcb455d868e70bd932f4398ae365f770de/pkg/manager/impl/execution_manager.go#L1644,L1659). We should not permit users to terminate an already completed (SUCCEED, FAILED, TIMED_OUT or ABORTED) workflow

### Expect

[2022-07-05 18:17] katrogan commented on #2665
closing in favor of https://github.com/flyteorg/flyte/issues/2653

[2022-07-05 18:17] #2665 closed

[2022-07-05 22:07] #2638 closed

[2022-07-06 03:58] #2653 closed

[2022-07-06 04:49] skrawcz commented on #2627
From @samhita-alla  some examples to think look at:

[2022-07-06 09:15] evalsocket opened #2671 "[BUG] flyteadmin image is not available in registry"
### Describe the bug

We've installed the flyte-core helm chart in version 1.0.2 on one of our clusters yesterday, and it came up successfully. Whilst trying to upgrade another cluster today, we did get an ImagePullBackoff when trying to pull [cr.flyte.org/flyteorg/flyteadmin-release:v1.0.2](http://cr.flyte.org/flyteorg/flyteadmin-release:v1.0.2).

I can also confirm not being able to pull that im

[2022-07-06 09:17] evalsocket commented on #2671
cc: @EngHabu

[2022-07-06 10:36] maheswaraiahp opened #2672 "Aks deployment Issue"
Basically, we used a single node AKS cluster in which we deployed one Deployment with Three Replicas. But I check the pod's Status one pod running and the remaining pods are pending state and also CSI-Blob deployment is also pending state.
So please help me to fix the issue
![image003](https://user-images.githubusercontent.com/97515976/177531605-ffc62688-2798-4a87-9890-4bd604ed5098.png)
![image002

[2022-07-06 15:06] wild-endeavor opened #2673 "Write up Flyte versioning scheme and roadmap updates"
See also https://github.com/flyteorg/flyte/issues/1480

[2022-07-06 15:09] wild-endeavor opened #2674 "[Core Feature] Finish getting user documentation into Admin"
See https://github.com/flyteorg/flyte/issues/1235 for background information.

This issue is to finish up that work.

### Motivation

### Goal
Parse docstring in task/workflow, and register a description entity in flyteadmin.
[code]
**Description Entity Table**
| Name  | Type |
| ------------- | ------------- |
| resource | string |
| project | string |
| domain | string |
| name | string |
| vers

[2022-07-06 15:27] wild-endeavor opened #2675 "[Bug] Error when running map task inside a dynamic task"
https://flyte-org.slack.com/archives/CNMKCU6FR/p1657042829536789

Running the following
[code]

fails with
[code]

[2022-07-06 16:20] SmritiSatyanV commented on #2475
https://github.com/flyteorg/flytesnacks/pull/824

[2022-07-06 16:20] #2475 closed

[2022-07-06 16:22] SmritiSatyanV opened #2676 "[Docs] Add a tutorial that uses Flyte with NLP"
### Description

Create a tutorial that uses Flyte to implement a Natural Language Processing project.

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-07-06 17:53] EngHabu commented on #2671
We have included an important security fix in the [flyte v1.1.0 release](https://github.com/flyteorg/flyte/releases/tag/v1.1.0). We highly encourage everyone to upgrade. A CVE will be released on July 12th that will include more information about the vulnerability. If you have specific questions, please don’t hesitate to DM me until then.

[2022-07-06 17:53] #2671 closed

[2022-07-07 09:31] SmritiSatyanV opened #2677 "[Docs] Add code example that shows resource allocation"
### Description

Code example to show how task resources can be dynamically set using ``with_overrides``.
Slack conversation: https://flyte-org.slack.com/archives/CP2HDHKE1/p1655135984234209

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-07-07 10:58] SmritiSatyanV commented on #2586
https://github.com/flyteorg/flyte/pull/2651

[2022-07-07 10:58] #2586 closed

[2022-07-07 11:04] samhita-alla opened #2678 "[Docs] PyTorch type and checkpoint docs"
### Description

Add code examples to showcase native PyTorch types and `PyTorchCheckpoint`. Also, update the supported types table in the docs to reflect the same.

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-07-07 15:15] cosmicBboy commented on #2544
fixed by #1032

[2022-07-07 15:15] #2544 closed, assigned to samhita-alla

[2022-07-07 16:06] #2648 closed

[2022-07-07 19:11] cosmicBboy opened #2679 "[Docs] Guide on how to write Flytekit shim plugins for Backend plugins"
### Description

Currently, we have docs for how to write [backend plugins](https://docs.flyte.org/projects/cookbook/en/latest/auto/core/extend_flyte/backend_plugins.html) but don't have any guides for how to write a flytekit shim plugin that allows flytekit task authors to use that backend plugin.

An example of this is the [Sagemaker Training](https://docs.flyte.org/projects/cookbook/en/latest/a

[2022-07-07 19:13] cosmicBboy opened #2680 "[Docs] Guide on how to write SQL plugins"
### Description

We have several SQL-related plugins like the SQL, Snowflake, and BigQuery plugins, but we need an extension guide as to how to write flytekit operators for other SQL-like packages.

This issue breaks up the tasks described in https://github.com/flyteorg/flyte/issues/1541

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

-

[2022-07-07 19:15] cosmicBboy opened #2681 "[Docs] Guide on how to write data persistence plugins"
### Description

We currently support S3, GCS, and Local FS data persistence for when Flyte has to serialize data that's passed from one task to another, we should write a guide on how to write additional ones for e.g. Azure's blob store, etc.

This issue breaks up the tasks described in https://github.com/flyteorg/flyte/issues/1541

Example: https://github.com/flyteorg/flytekit/tree/master/plugin

[2022-07-07 19:15] cosmicBboy commented on #1541
Closing this issue, breaking up the remaining tasks into:
- https://github.com/flyteorg/flyte/issues/2679
- https://github.com/flyteorg/flyte/issues/2680
- https://github.com/flyteorg/flyte/issues/2681

[2022-07-07 19:16] cosmicBboy commented on #1541
Will close this issue when https://github.com/flyteorg/flytesnacks/pull/744 is merged

[2022-07-07 19:28] cosmicBboy commented on #1582
Notable places to document this:
- https://docs.flyte.org/en/latest/community/troubleshoot.html#troubleshoot
- https://docs.flyte.org/en/latest/deployment/sandbox.html

[2022-07-07 20:43] convexquad opened #2682 "[BUG] flytectl get launchplan formats dictionary values incorrectly"
### Describe the bug

When running `flytectl get launchplan --execFile launch_spec.yaml` for a workflow that takes a `typing.Dict` argument that declares a default value, the `launch_spec.yaml` file formats the default value incorrectly. The default dictionary value retains part of the Golang Protobuf unmarshalling. A fix needs to be made to format the dictionary value as a correct YAML dictionary

[2022-07-07 23:07] wild-endeavor opened #2684 "[BUG] [flytekit] StructuredDataset does not work out of the box on GCS"
### Describe the bug

StructuredDataset transformers (encoders and decoders) are selected from the `StructuredDatasetTransformerEngine` via three attributes:
1. Python class
2. Storage format
3. Protocol (s3, local, gcs, etc.)

These three attributes uniquely identify a transformer for a given object.  The Python class is read from the signature of the task or workflow we're dealing with.  The sto

[2022-07-08 00:33] wild-endeavor commented on #2684
Maybe what we should do is add another function to the api?

The issue right now is that we're trying to do multiple things at the same time - the api is conflating the registration of encoders/decoders with the setting of the default protocol/formats.  Unf. I don't think we should change this api, but maybe we can add another call.

Maybe in entrypoint.py, we can read the raw output prefix and if

[2022-07-08 00:49] wild-endeavor commented on #2640
Answers to some more questions:

* Limitations of pyflyte run? Is it just that it can only operate on single files?
  For the most part, yes.  It's actually more restrictive than even that but I don't know how much we want to get into in the weeds. If you `run` a script that has ten tasks, but you run a workflow that only calls two of them, the other eight don't actually get registered right now.

[2022-07-08 02:32] brucearctor commented on #2420
`E0707 19:22:34.207197000 4303029632 ssl_transport_security.cc:1495]    Handshake failed with fatal error SSL_ERROR_SSL: error:1000007d:SSL routines:OPENSSL_internal:CERTIFICATE_VERIFY_FAILED.` ...  After trying to connect via:  `from flytekit.remote import FlyteRemote
from flytekit.configuration import Config

remote = FlyteRemote(
    config=Config.for_endpoint(endpoint="<<ELB_DNS>>"),
    defau

[2022-07-08 02:45] brucearctor commented on #2420
[code]

Yields [ assuming the yaml config in the default location ]:

[code]

[2022-07-08 07:24] samhita-alla commented on #2639
There's a section on how to set the `--image` flag [here](https://docs.flyte.org/en/latest/getting_started/index.html#executing-workflows-on-a-flyte-cluster) in _How to handle custom dependencies? Meet the `--image` flag_ dropdown. Should we elaborate more on this?

[2022-07-08 10:31] SmritiSatyanV commented on #2677
https://github.com/flyteorg/flytesnacks/pull/834

[2022-07-08 17:41] #2675 closed

[2022-07-09 10:01] #2654 closed

[2022-07-10 15:29] cosmicBboy opened #2686 "[Core feature] Support Pydantic Models for input/output task/workflow types"
### Motivation: Why do you think this is important?

[pydantic](https://pydantic-docs.helpmanual.io/) is a widely-used python data validation library. Similar to data classes, it offers a flexible way for users to create custom types that map field names to a variety of value types.

As a pydantic user, I can use my Model definitions in my Flyte workflows so that I don't have to re-implement my cu

[2022-07-11 12:48] samhita-alla commented on #1541
merged https://github.com/flyteorg/flytesnacks/pull/744

[2022-07-11 12:48] #1541 closed

[2022-07-11 20:32] marc-union commented on #1582
@eapolinario succeeded in finding the code that assigns the pod name:

https://github.com/flyteorg/flyteplugins/blob/master/go/tasks/pluginmachinery/flytek8s/container_helper.go#L208

Note: If the pod name doesn't conform to DNS1123, as required by k8s, then Flyte assigns a random string of 4 characters instead.

[2022-07-12 12:37] rozsasarpi commented on #1561
I could run the getting started code until [Executing Workflows on a Flyte Cluster](https://docs.flyte.org/en/latest/getting_started/index.html#executing-workflows-on-a-flyte-cluster).

Running this command:
[code]

Lead to this error:

.
E0712 14:32:41.849000000 24152 src/core/tsi/ssl_transport_security.cc:1495] Handshake failed with fatal error SSL_ERROR_SSL: error:100000f7:SSL routines:OPENSSL_

[2022-07-13 05:32] #2672 closed

[2022-07-13 06:36] #2643 closed

[2022-07-13 07:01] samhita-alla commented on #1561
@rozsasarpi, you'll have to export the following two environment variables:

[code]

Make sure you modify the path to point to the correct flytectl config and k3s YAML file.

[2022-07-13 07:18] #2553 closed

[2022-07-13 07:20] samhita-alla opened #2689 "[Docs] ONNX docs"
### Description

Add examples to demonstrate how to use ScikitLearn, PyTorch, and TensorFlow ONNX types.

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-07-13 08:43] rozsasarpi commented on #1561
@samhita-alla thanks, adding the environment variables solved the problem!

I successfully run all the Getting started code (`flytekit` and `flytectl`) using Windows.

The `KUBECONFIG` environmental variable that I ended up using (with your example):
[code]

[2022-07-13 15:25] wild-endeavor opened #2690 "Automated end-to-end testing using opta and cookbook examples"
WIP

[2022-07-13 15:26] brucearctor commented on #2690
lol

[2022-07-13 15:50] wild-endeavor commented on #2690
haha - let me fill this in with details.

[2022-07-13 16:11] brucearctor commented on #2690
I think this is covered by: https://github.com/flyteorg/flyte/issues/2419 and https://github.com/flyteorg/flyte/issues/2420 ?

[2022-07-13 16:12] #2690 closed, assigned to brucearctor

[2022-07-13 16:13] wild-endeavor commented on #2690
oops

[2022-07-13 17:31] eapolinario opened #2692 "[BUG] Cannot chain tasks in dynamic workflows in local executions"
### Describe the bug

Using [chained tasks](https://docs.flyte.org/projects/cookbook/en/latest/auto/core/control_flow/chain_tasks.html) in dynamic workflows fail with the following error:

[code]

### Expected behavior

We should be able to chain tasks in dynamic workflows.

### Additional context to reproduce

Tested it in all versions from 0.32.0 all the way to 1.1.0.

Here's the example code I

[2022-07-14 00:21] kumare3 opened #2693 "[Core feature] [Plugin] SparkML pipelineModel transformer"
### Motivation: Why do you think this is important?

Currently users cannot simply write this code. As the pipelineModel will be pickled and that is not the right way to transport the model
[code]

### Goal: What should the final outcome look like, ideally?

a transformer makes the above code snippet possible

### Describe alternatives you've considered

NA

###  Propose: Link/Inline OR Additional

[2022-07-14 01:56] sugatoray commented on #2636
Ideally, I would prefer to maintain multiple plugins in the same feedstock. But, I am not sure if that would be a wise dicision here.

Here are my concerns:

1. The number of plugins would most likely grow in future. Currently it is 23.
2. If you add all the plugins as separate subpackages in the same conda-forge feedstock, it could result in very long builds, as any change to any one of the subpa

[2022-07-14 04:46] brucearctor commented on #2420
New Error -- moving along!

`	debug_error_string = "{"created":"@1657773189.919078432","description":"Failed to pick subchannel","file":"src/core/ext/filters/client_channel/client_channel.cc","file_line":3260,"referenced_errors":[{"created":"@1657773189.919077232","description":"failed to connect to all addresses","file":"src/core/lib/transport/error_utils.cc","file_line":167,"grpc_status":14}]}"

[2022-07-14 16:26] brucearctor opened #2694 "[Docs] Publish Code Style Guide"
### Description

It is great for a project to have consistent code formatting/style.  This is often accomplished by a linting, and as part of pre-commit tests.  But, it would also be helpful if a styleguide were published to make the choices/opinions explicit.

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-07-15 05:13] pmahindrakar-oss commented on #2256
We need a way to solve this issue using lazy initialization of the adminServiceClient .
This will benefit all commands which don't require to talk to admin at all .
eg : flytectl config init

cc : @mayitbeegh  @EngHabu @katrogan

[2022-07-15 08:33] SmritiSatyanV opened #2696 "[Update] M1 doesn't support generating API docs"
### Description

Users of M1 mac can't execute `make generate` command to generate API docs in repos such as FlytePropeller, Flyteidl and so on.

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-07-15 09:45] #1757 closed

[2022-07-15 16:02] matheusMoreno commented on #2260
Hi! Any updates on this? I could help, but I really don't know where to start. Should I look at FlytePropeller? Which component is responsible for mounting secrets?

[2022-07-15 23:23] katrogan opened #2697 "[Docs] Notifications docs should include pagerduty and slack email integration instructions"
### Description

The usage guides [here](https://docs.flyte.org/projects/cookbook/en/latest/auto/deployment/lp_notifications.html#sphx-glr-auto-deployment-lp-notifications-py) and [here](https://docs.flyte.org/en/latest/deployment/cluster_config/notifications.html#deployment-cluster-config-notifications) should link to setting up email integrations with slack's "Create an email address for a chann

[2022-07-15 23:29] brucearctor commented on #2561
setup a GH Action on a schedule to pull/sync relative boilerplate ( by running `make sync_boilerplate`

[2022-07-16 09:14] evalsocket commented on #2561
@brucearctor nice catch, We are not syncing flyte boilerplate https://github.com/flyteorg/boilerplate/actions/runs/2423287649, We can add flyte repository here https://github.com/flyteorg/boilerplate/blob/master/.github/workflows/master.yaml#L14

In flyte we have a workflow for automation https://github.com/flyteorg/flyte/blob/master/.github/workflows/upgrade_automation.yml, Adding flyte repositor

[2022-07-16 13:41] cosmicBboy opened #2698 "🏃‍♀️🏃‍♂️ Scipy 2022 Sprint Meta-issue"
This weekend in the [Scipy 2022 sprints](https://www.scipy2022.scipy.org/sprints) and if you want to contribute read on!

### How?

1. Take a look at the [Flyte issues board](https://github.com/flyteorg/flyte/issues) and find an issue that you're interested in. The [good first issues](https://github.com/flyteorg/flyte/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22) and [documentation

[2022-07-16 16:37] brucearctor commented on #2561
Cool -- sounds like that might be worth [ at least eventually] updating.

Related:  even though this is sorta a push mechanism --> go to XX repo and sync from boilerplate, which 'features' are included is a function of what is in each repo.  Do I understand correctly that:  There is no knowledge of where all each feature has a dependency/is-used [ and there isn't a logging/trace/etc mechanism curr

[2022-07-18 08:30] evalsocket commented on #2561
No Actually whenever you merge anything in boilerplate, We trigger a GHWF https://github.com/flyteorg/boilerplate/blob/156fbc19864056fd0949389a8cd1cafaed4cabc2/.github/workflows/master.yaml#L4. This workflow will trigger the remote workflow and these remote workflow can be custom, You can add extra steps in a specific repo.

[2022-07-18 13:26] evalsocket commented on #2561
One more thing, Each repo has one Upgrade Boilerplate WF that we can trigger from any branch and it will automatically sync the boilerplate repo in flyte repository.

[2022-07-18 19:21] #2561 closed

[2022-07-18 19:38] brucearctor commented on #2561
👍

[2022-07-19 13:53] hamersaw commented on #2122
@MorpheusXAUT This should be done, probably just forgot to close it with so many PRs attached.

Yeah, map task secrets will not work without the flytekit update, basically it just sets the security context (which contains secret information). Please let me know if you still run into issues.

[2022-07-19 13:53] #2122 closed

[2022-07-19 16:22] vijaysaravana opened #2701 "[BUG] Map tasks running on SPOT instances - pods stuck in `terminating` state forever"
### Describe the bug

When map tasks are run on SPOT instances, when the node dies the pod stays in a "Terminating" state forever (but it never actually completes terminating and erroring out). This causes the subtask to think it is still "running" forever (instead of retrying). But seems to work correctly for other types of Flyte tasks.

### Expected behavior

If a SPOT instance is not available,

[2022-07-19 21:25] hamersaw opened #2703 "[Core feature] Add Container Configuration to Default PodTemplate"
### Motivation: Why do you think this is important?

Currently the default PodTemplate in FlytePropeller allows users to set a base PodSpec configuration for all k8s Pods started by Flyte. This is very flexible in supporting all Pod configuration options without requiring Flyte updates. However, this configuration does not extend into specific Containers. In the current approach, Flyte overrides t

[2022-07-19 22:44] wild-endeavor commented on #2260
already DM'ed but can't repro the main issue.  will keep this open for now though, want to investigate the flytekit casing issue as well.

[2022-07-20 04:41] #2697 closed

[2022-07-20 12:09] ckiosidis opened #2705 "[Core feature] Offload parts of CRD to storage"
### Motivation: Why do you think this is important?

The larger the execution the larger the flyteworkflow resource size.
At times we have observed flyteworkflow larger than 1.3MB, which is the upper size limit for crds in GKE.

We believe that updating large resources can also cause performance degradation issues.

Offloading some static parts of the CRD to storage (s3/gcs/etc) will help make the

[2022-07-20 15:38] iaroslav-ciupin opened #2706 "[BUG] pyflyte run cannot handle imperative workflows"
### Describe the bug

This docs page https://docs.flyte.org/projects/cookbook/en/latest/auto/core/flyte_basics/imperative_wf_style.html suggests to run imperative flow example like so:
```pyflyte run --remote imperative_wf_style.py wf --in1 hello --in2 foo```

but it fails with
[code]

### Expected behavior

example should successfully run

### Additional context to reproduce

_No response_

### S

[2022-07-20 16:23] brucearctor opened #2707 "[Core feature] Speed up Deployment of a cluster - esp. for getting started or testing"
### Motivation: Why do you think this is important?

Takes ~30 minutes to go through the various stages.  Explore, and ideally find ways, to get that time much less.

### Goal: What should the final outcome look like, ideally?

Faster cluster [ EKS ] and Flyte specific starting times.

### Describe alternatives you've considered

Not doing anything.

###  Propose: Link/Inline OR Additional context

[2022-07-20 17:12] #524 closed

[2022-07-21 02:04] brucearctor opened #2708 "[Core feature] SECRET FOR BUCKET NAME"
### Motivation: Why do you think this is important?

To address: https://github.com/flyteorg/flyte/issues/2421 , https://github.com/flyteorg/flyte/issues/2420 , etc...  It would be prudent to have a Bucket which name is not pubilcly viewable.  Having a GH SECRET in the repo with the bucket name would be most ideal.  Naturally, this means it is not obvious where/when there is an AWS Bucket [ whethe

[2022-07-21 06:12] #1582 closed, assigned to marc-union

[2022-07-21 07:44] MorpheusXAUT opened #2709 "[BUG] [flytekit] StructuredDataset handling fails when using Azure Blob Storage"
### Describe the bug

The `StructuredDataset` implementation enabled by default in https://github.com/flyteorg/flytekit/pull/885 lacks support for Azure Blob Storage, resulting in an error when trying to handle e.g. `pd.DataFrame` while using Azure backed storage.

[code]
The workflows in question use `flytekit v1.0.5`.

### Expected behavior

`StructuredDatasets/pd.DataFrames` are handled correct

[2022-07-21 07:53] MorpheusXAUT commented on #2709
Unfortunately, quite a few of our workflows are blocked by this/unable to upgrade to a newer version of `flytekit` (which in turn is required for some other fixes we need), preventing us from running our workloads on Azure at the moment - or requiring us to rewrite them to avoid `pd.DataFrame`.

As this is a quite time-sensitive issue to us, we're willing to provide a patch ourselves if that'd hel

[2022-07-21 09:44] pingsutw commented on #2709
@MorpheusXAUT I'm trying to fix it ASAP.

[2022-07-21 09:59] pingsutw commented on #2709
Yes, you are right. You can help us add `abfs` after we merge https://github.com/flyteorg/flytekit/pull/1107

@MorpheusXAUT To workaround the error, could you try to add below code to your workflow script and run again?
[code]

[2022-07-21 10:18] MorpheusXAUT commented on #2709
@pingsutw Thanks for looking into this so quickly, appreciated!

Sure thing, will do! I'll open a PR once https://github.com/flyteorg/flytekit/pull/1107 has been merged :slightly_smiling_face:
I've cherry-picked the commits from the draft PR onto our internal version for testing/verification and started working on a fix already which we can rebase onto `master` once the PR's done.

:+1: Works for

[2022-07-21 15:34] hamersaw commented on #2701
TL;DR I think the reproduce steps are explainable, but we may want to add a flag making it work as intended. It would help to have more information to debug this (Pod info on a SPOT instance).

OK, I've had some time to explore this in depth, a few things:
- With [this PR](https://github.com/flyteorg/flyteplugins/pull/244/files) we updated map tasks to use the same k8s execution code as regular k8

[2022-07-21 15:39] #2693 closed

[2022-07-21 16:44] #2426 closed

[2022-07-21 17:06] pingsutw commented on #2709
@MorpheusXAUT Could you wait for the other PR to be merged before submitting it. will ping you once we merge it.

[2022-07-21 17:17] wild-endeavor commented on #2709
merging the other pr soon.

[2022-07-21 17:32] #2489 closed

[2022-07-21 18:46] #2684 closed

[2022-07-21 18:46] wild-endeavor commented on #2709
merged

[2022-07-21 20:11] convexquad commented on #2701
@hamersaw FYI that Vijay is my intern (and his project is to try to use map tasks as a replacement for some of our Spark tasks). I'll try to get you a little bit more information about the exact sequence of things in order to determine why the finalizer isn't being removed properly from the subtask pods.

FYI that we don't actually use the `interruptible` label as we have a bunch of logic to add a

[2022-07-21 20:14] convexquad commented on #2701
Posting a link to subtask finalizer (for myself so that I can find it again): https://github.com/flyteorg/flyteplugins/blob/master/go/tasks/plugins/array/k8s/subtask.go#L216

[2022-07-21 20:26] wild-endeavor commented on #2476
python package yes.  dot-deliminated.  so like `a/b/c` would be represented as `a.b.c` from the folder that a/ lives in.  (and there would have to be init files in a, b, and c

[2022-07-21 22:50] seunggs commented on #2476
Ah ok - got it. Thank you!

[2022-07-22 15:48] hamersaw commented on #2701
@convexquad @vijaysaravana thanks for the clarification! I think this all sounds reasonable. I'll get started on adding a flag to FlytePropeller along the lines of `permit-external-deletion` that exposes the described functionality.

[2022-07-22 15:50] hamersaw commented on #2701
Should note that this code is a near copy-paste of the [plugin_manager](https://github.com/flyteorg/flytepropeller/blob/master/pkg/controller/nodes/task/k8s/plugin_manager.go) in FlytePropeller. We have an open issue to refactor this. I'm noting because this ensures that map task subtasks and regular k8s container and pod plugins execute almost identically. We will have to update both locations to

[2022-07-22 18:28] #2259 closed

[2022-07-22 18:32] wild-endeavor commented on #2256
@pmahindrakar-oss  is this done?  @pingsutw's PR... does it resolve this issue?

[2022-07-22 18:34] #294 closed

[2022-07-22 18:39] #1680 closed

[2022-07-22 18:41] wild-endeavor opened #2710 "Entity-relationship diagram of workflows, tasks, launch plans, and executions"

[2022-07-22 18:42] #2174 closed

[2022-07-22 18:52] wild-endeavor commented on #2655
this is hard to resolve... closing until there's a clear path forward.

[2022-07-22 18:52] #2655 closed

[2022-07-22 19:06] #2622 closed

[2022-07-22 19:19] #2601 closed

[2022-07-22 19:32] convexquad commented on #2701
I checked the sequence of events in my K8s audit logs and they do happen as we suspected:
- The node is marked as `NodeNotReady` and the pod ready status is set to false
- Our pods have a `NoExecute` toleration set for 300 seconds. When that time period expires, I see `taint_manager.go:106] "NoExecuteTaintManager is deleting pod" pod="dev/av7mzxptf95tfqdd97f7-n2-0-173"` try to delete the pod. I th

[2022-07-22 19:37] convexquad commented on #2701
FYI not trying to bribe you, but if we can successfully simplify some of our ETL pipelines with Flyte map tasks (in place of Spark tasks), we are planning to write a nice blog about it. I think it would gather a lot of attention as many, many people find Spark difficult to use (of course sometimes you absolutely need to use Spark, basically when you need shuffle->reduce operations, but we do have

[2022-07-22 21:40] #2625 closed

[2022-07-22 21:40] #2626 closed

[2022-07-22 22:34] brucearctor commented on #2259
This was closed as completed -- where is the link with the associated PR?

[2022-07-25 07:51] bmwilly commented on #2619
I'm still getting the same error, following the same steps as above (grpcio 1.47.0 is being installed).

[2022-07-25 12:14] MorpheusXAUT opened #3439 "[BUG] [Graph] Cannot read properties of null/undefined for workflows referencing launch plans"
We're currently seeing two variants of what appears to be an issue similar to flyteorg/flyteconsole#378:

![error1](https://i.imgur.com/AmDngYW.png)
![error2](https://i.imgur.com/IIOXuZF.png)

The first error encountered was the one reported by our developers, the second one was my attempt to reproduce this issue in a sample workflow.

Both errors were encountered using flyteconsole `v1.1.7`.
I be

[2022-07-25 13:35] ckiosidis commented on #2705
Should this behaviour be configurable from flyteadmin via configuration?

[2022-07-25 13:57] kumare3 commented on #2619
@eapolinario do you know if we have a fix?

[2022-07-25 14:17] eapolinario commented on #2619
The attached fix didn't go out with grpc 1.47.0, instead, it went out only in 1.48.0 (as can be attested in https://github.com/grpc/grpc/releases/tag/v1.48.0).

Working on a PR now.

[2022-07-25 14:57] eapolinario commented on #2619
@bmwilly , can you also confirm what exact steps you're following to reproduce the error?

[2022-07-25 15:13] hamersaw commented on #2705
I think so. To begin with, lets just add a top-level option which handles all workflows. If we find it would be helpful we could make this per-workflow as well.

[2022-07-25 15:30] hamersaw commented on #2701
This is great to hear, happy to validate that this is the actual problem.

Yes, in FlytePropeller we have an [informer](https://github.com/flyteorg/flytepropeller/blob/797db55d8463ff28309b9bf69617dfe2ac8011bc/pkg/controller/nodes/task/k8s/plugin_manager.go#L528-L553)which enqueues the parent workflow when a Pod is updated. Currently, deletes are ignored, but this logic should change in our case.

[2022-07-25 15:45] brucearctor opened #2714 "GCP Opta Deployment needs updating [ not to reference AWS instance type ]"
I'm interested in trying out Flyte on GCP with tasks that vary in CPU, memory, and GPU usage. I noticed [this tutorial](https://docs.flyte.org/en/latest/deployment/gcp/opta.html#deployment-gcp-opta) provides a deployment from Opta.

However, I saw in the yaml [here](https://github.com/flyteorg/flyte/blob/master/opta/gcp/env.yaml#L12-L15) it provides an autoscaling (3-6 node) e2-medium node pool fo

[2022-07-25 16:20] hamersaw commented on #2701
@convexquad @vijaysaravana looks like this may be much more simple than anticipated. PRs above to support external deletion of map task subtasks. I'll work on getting these pushed through quickly.

[2022-07-25 19:45] convexquad commented on #2701
@hamersaw thanks for the update, it is good to hear that this may be simple. Also thanks for your explanation about how the Flyte informer works.

One last request from me - if the `permit-external-deletion` flag is set and a subtask pod is indeed deleted by an external process (e.g. a `spot-termination-handler`), could you be sure to verify that if the subtask declares `retries` that Flyte does i

[2022-07-25 20:00] hamersaw commented on #2701
Great point. I will double check that everything is working correctly for this specific case, but we did change the map task implementation so that subtasks are retried individually with [this PR](https://github.com/flyteorg/flyteplugins/pull/236). So everything should be working as you described.

[2022-07-26 07:49] pingsutw commented on #2619
@bmwilly I found that this error only happened in [miniforge3](https://github.com/conda-forge/miniforge#download). To work around this error, you could use Anaconda.

[2022-07-26 10:09] SmritiSatyanV opened #2717 "[Docs] What is resource manager?"
### Description

[Discussion](https://unionai.slack.com/archives/C01H0FN1NJX/p1658766729399059)
Currently, we don't have any documentation on resource manager and its usage.

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-07-26 10:29] SmritiSatyanV commented on #1763
[Discussion](https://unionai.slack.com/archives/C01H0FN1NJX/p1658766729399059)

[2022-07-26 13:28] #2692 closed

[2022-07-26 13:48] ckiosidis opened #2718 "[BUG] Failed to store workflow inputs (as start node) to gcs"
### Describe the bug

Recently we worked on combining 2 writes to gcs into 1 in https://github.com/flyteorg/stow/pull/6
After this PR we saw a huge reduction on RESOURCE_EXHAUSTED errors and we forwarded some silenced errors on the controller.

The RESOURCE_EXHAUSTED errors reduced to almost nothing, but we still see some errors that seem to be related to the start-node outputs.pb
These errors see

[2022-07-26 13:54] nanohanno opened #2719 "[BUG] Demo cluster not starting on slow internet connection"
### Describe the bug

Starting the demo cluster via `flytectl demo start` returned after ~5 min with this error message
[code]
Running `flytectl demo exec -- kubectl describe pod -n flyte` shows that the pending pods are pulling the image before it exits. Also, it turned out that my internet connection was slow but increasing `
$FLYTE_TIMEOUT` as recommended in https://github.com/flyteorg/flyte/is

[2022-07-26 13:58] hamersaw commented on #2718
One additional note, this seems to happen on subworkflow execution and there are no other errors causing retries.

[2022-07-26 16:30] eapolinario commented on #2619
@pingsutw , just for completion, can you share the repro steps you used? Also, do you understand why `miniforge3` didn't benefit from the new `grpcio` version?

[2022-07-26 17:28] jdanbrown opened #2720 "[Core feature] Add Outputs() as the idiom for multiple outputs, to avoid user confusion on NamedTuple-vs-dataclass"
### Motivation: Why do you think this is important?

(Copying out a feature request from slack, hopefully I captured enough context here)

I now understand the (important) distinction between dataclasses and NamedTuple in flytekit:
- NamedTuple : output :: kwargs : input — this makes a lot of sense, because you want multiple outputs, with names
- NamedTuple cannot be used as a datatype, only as a

[2022-07-26 18:07] #2701 closed

[2022-07-26 21:43] hajapy opened #2721 "[Core feature] Upgrade Sagemaker integration to use sagemaker-controller"
### Motivation: Why do you think this is important?

Flyte's Sagemaker integration uses the [sagemaker-operator-for-k8s](https://github.com/aws/amazon-sagemaker-operator-for-k8s) which has not seen much activity and feature enhancements since May 25, 2021. The newer [sagemaker-controller](https://github.com/aws-controllers-k8s/sagemaker-controller) is more feature rich and appears more actively ma

[2022-07-26 21:49] kumare3 commented on #2721
@hajapy thank you for the great find and I think this would be the right path forward. Do you have a sense for the priority of this? how much of a blocker is this?

[2022-07-26 21:56] bmwilly commented on #2619
@eapolinario

Same steps that I wrote in this comment: https://github.com/flyteorg/flyte/issues/2619#issuecomment-1157693764

confirmed:

[code]

[2022-07-26 22:02] hajapy commented on #2721
It seems like it would open doors in terms of what type of workflows users could author that leverage more of Sagemaker while still using flyte to orchestrate and run parts of the workflows elsewhere. They could more easily create/update endpoints, ensure training jobs are tracked as parts of Experiments, etc.

Have a look at all the CRDs it supports: https://github.com/aws-controllers-k8s/sagemak

[2022-07-27 04:16] kumare3 commented on #2719
Hmm thank you for the bug, I wonder if it is one of the dockerhub images. Cc @evalsocket

[2022-07-27 05:53] evalsocket commented on #2719
It's not a bug, I just tested the demo start and it worked.

@nanohanno Can you please follow the troubleshooting docs https://docs.flyte.org/en/latest/community/troubleshoot.html#troubleshooting-guide and let us know what's happing in the cluster

[2022-07-27 10:42] nanohanno commented on #2719
Today with a fast internet connection it works again. During yesterday's attempts to start it I did what is recommended in the trouble shooting guide. This report is from shortly before it exited with the message posted above with the difference that in this attempt other pods were in pending or running status .:
[code]

[2022-07-27 10:56] #2709 closed

[2022-07-27 11:05] pingsutw commented on #2619
I installed `miniforge` from this [repo](https://github.com/conda-forge/miniforge) and the latest version of flytekit.
Then ran this [example](https://docs.flyte.org/en/latest/getting_started/index.html#create-a-workflow) by using `pyflyte run --remote  example.py wf --n 500 --mean 42 --sigma 2`

[2022-07-27 11:46] evalsocket commented on #2719
@nanohanno can you also post the logs of the crashing pod i.e. minio.

[2022-07-27 12:00] nanohanno commented on #2719
Unfortunately, I did not save the logs. I can try to reproduce it and save logs.

[2022-07-27 15:29] wild-endeavor opened #2722 "Change flytekit local dynamic task execution behavior"
[code]
this dynamic task should fail when run locally.

[2022-07-27 17:35] sbrunk opened #2723 "[BUG] Flytectl crashes on registration of workflow definitions coming from flytekit-java"
### Describe the bug

Flytectl 0.6.5, when trying to register serialized task/workflow definitions serialized with flytekit-java/jflyte, crashes with a segfault:

[code]

### Expected behavior

flytectl should not crash. It should succeed or produce a useful error message if the input is invalid.

### Additional context to reproduce

[code]

### Screenshots

_No response_

### Are you sure this is

[2022-07-27 21:20] katrogan opened #2724 "[UI Feature] Console should show resource names in task requests/limits"
### Motivation: Why do you think this is important?

It's difficult to debug what resource requests or limits are from the task sidebar when we use the enum name, e.g.
<img width="469" alt="Screen Shot 2022-07-27 at 2 19 54 PM" src="https://user-images.githubusercontent.com/953358/181374469-bb46bf1e-c664-46a5-b06c-c61ac16a90a9.png">

### Goal: What should the final outcome look like, ideally?

Ins

[2022-07-27 21:45] wild-endeavor commented on #2720
Didn't get a chance to keep up with the Slack thread in real time.  If I'm understanding this, the issues are:
* When users write tasks and workflows, oftentimes it's useful to be able to think of inputs/outputs as a group.
* The current documentation doesn't make it clear that NamedTuples were designed to resolve the "output-naming" problem, not the "output-bundling" problem.  Lack of guidance he

[2022-07-28 01:48] CalvinLeather commented on #2482
This would be super useful, even for bigger files in the context of hosted notebook environments (e.g., jupyter hub running on ECS, or sagemaker studio) where the downloads are usually pretty fast (S3 -> ec2/ecs). Taking a stab at thinking this through even though I'm still learning some of the flyte fundamentals.

In a perfect world, I could imagine something where you have a button, which copies

[2022-07-28 02:09] brucearctor opened #2725 "[Core feature] Create github.com/flyteorg/gh-badges repository"
### Motivation: Why do you think this is important?

While creating OSS testing, it is important for badges to live somewhere.  I would imagine that should be in the flyteorg GH organization.  And, a good repo for badges would be something like 'gh-badges' ( other names are OK too, ex 'flyte-badges', or ??? ).

### Goal: What should the final outcome look like, ideally?

A repo existing that can b

[2022-07-28 16:22] convexquad commented on #2701
@hamersaw we updated our Propeller and I do believe your fix has resolved the issue

[2022-07-28 16:26] hamersaw commented on #2701
@convexquad great to hear! Thanks for being so thoroughly descriptive and responsive, it really helps resolve these this quickly!

[2022-07-29 02:18] evalsocket commented on #2725
@eapolinario should we create a repository in flyteorg?

[2022-07-29 02:20] evalsocket commented on #2723
cc: @pmahindrakar-oss

[2022-07-29 08:04] pmahindrakar-oss commented on #2723
@sbrunk seems the serialized files  from flytekit-java might not be generating the identifier for the taskSpec
[code]
And hence throwing this nil pointer.

I agree we should handle this gracefully in flytectl though validation on the serialized files

[2022-07-29 13:27] nanohanno commented on #2719
I could reproduce the issue now with throttling the download speed using `wondershaper`. I did not observe the minio pod crashing but the initial behaviour was the same, that even though the timeout time was increased, it could not start the demo cluster:

`flytectl demo start --env FLYTE_TIMEOUT=1800` returned after ~5 min with
[code]
Before the container exited, `kubectl describe pod -n flyte` g

[2022-07-29 15:56] pmahindrakar-oss commented on #2256
The current change is causing nil pointer issues for some users when they try to call any other flytectl command other than init and without config.yaml file.
eg :
https://flyte-org.slack.com/archives/CREL4QVAQ/p1659058509465339

Earlier behavior won't have panicked and would have used an empty address in command context.

[2022-07-29 18:08] tszumowski commented on #2714
@brucearctor I believe the e2-medium is a valid instance type. I was able to deploy the cluster with this config (details [here](https://flyte-org.slack.com/archives/C01P3B761A6/p1658974292802369)). Suggest closing issue.

[2022-07-29 18:12] brucearctor commented on #2714
@tszumowski --> This was your issue: https://github.com/flyteorg/flyte/discussions/2713 so if solved, no reason for it to be open.

[2022-07-29 18:12] #2714 closed

[2022-07-29 18:19] tszumowski opened #2727 "[BUG] GCP Opta Deployment does not set roles and permissions"
### Describe the bug

When I run the opta GCP deployment steps, everything gets deployed including the service accounts. However, it did not apply the Roles or Permissions described [here](https://docs.flyte.org/en/latest/deployment/gcp/manual.html#permissions). I needed to manually follow those directions after running the Opta deployment in order for Flyte to work.

### Expected behavior

Create

[2022-07-29 18:28] tszumowski opened #2728 "[BUG] GCP deployments require a boto.cfg file in order to execute workflows with GCS storage"
### Describe the bug

Deployments to GCP using GCS for storage and GKE (with workload identity) (as described [here](https://docs.flyte.org/en/latest/deployment/gcp/manual.html)) do not work due to a missing file.

On pod init, it gets the following error:

[code]

Following [this slack thread](https://flyte-org.slack.com/archives/C01P3B761A6/p1659043775958279?thread_ts=1658974292.802369&cid=C01P3

[2022-07-29 18:35] tszumowski opened #2729 "[Docs] Provide an option to deploy to GCP via Opta without requiring a registered domain"
### Description

## Background

Ref: [This slack thread](https://flyte-org.slack.com/archives/C01P3B761A6/p1658974292802369). Some users may wish to have a simple deployment-to-GCP option, but do not currently have a registered domain they wish to bind to Flyte. @jeevb provided a sample Envoy configuration that allows one to port-forward a single port from Kubernetes and have access to the UI with

[2022-07-29 18:37] rahul-theorem opened #2730 "[BUG] `with_overrides` is failing in `dynamic` steps"
### Describe the bug

Currently Flyte supports overriding resources & other configurations at runtime with the `with_overrides` construct, ie. as described [here](https://docs.flyte.org/projects/cookbook/en/latest/auto/deployment/customizing_resources.html#using-with-overrides). However, it doesn't appear to be possible to specify overrides using arguments in a step decorated with `@flytekit.dynam

[2022-07-29 19:41] hamersaw commented on #2718
@ckiosidis great find again! Not sure how this one slipped through for so long. Basically, FlytePropeller is rewritting the subworkflow inputs file every time it evaluates the subworkflow. With GCS throttling writes, this means we see the errors you describe. I validated this locally by running a subworkflow and the update timestamp of the subworkflow inputs file was increased each time FlytePrope

[2022-07-29 22:34] wild-endeavor opened #2731 "[BUG] [flyteconsole] Dynamic task information not fully parsed"
# Describe the bug
When running a dynamic task like so
![image](https://user-images.githubusercontent.com/2896568/181854083-c3940b81-2ae0-4722-bb15-d9da4f557883.png)

clicking on the underlying generated task (n0-0-dn0), the pane that comes up on the right is for the parent dynamic task, not the underlying child task.

The frontend renders the graph correctly though
![image](https://user-images.gi

[2022-07-29 23:00] hank-stripe opened #2732 "[UI Feature] Validate input types in LaunchForm"
### Motivation: Why do you think this is important?

Currently, the "Launch" button remains enabled, and submitting the form does nothing, when attempting to launch a workflow/task with an input that does not conform to the specified type. This is a confusing experience.

### Goal: What should the final outcome look like, ideally?

When a required input is filled with a value that is invalid as pe

[2022-07-30 02:43] rahul-theorem commented on #2730
This was resolved after upgrading our sandbox EKS cluster to the most recent version of the flyte helm chart.

[2022-07-30 02:43] #2730 closed

[2022-07-30 12:20] #2718 closed

[2022-07-30 13:40] shivaylamba opened #2733 "[BUG] Flyte Logo not showing up in repository README"
### Describe the bug

 Flyte Logo is not showing up in repository README. Currently showing the following error:  Error 503 Backend is unhealthy

### Expected behavior

Logo should show up correctly

### Additional context to reproduce

_No response_

### Screenshots

<img width="1016" alt="image" src="https://user-images.githubusercontent.com/19529592/181917034-2815874a-12aa-4ee8-9118-443c7b85006

[2022-07-31 07:02] samhita-alla commented on #2733
@shivaylamba, I see the logo. Could you clear your cache or open the README in incognito?

<img width="927" alt="image" src="https://user-images.githubusercontent.com/27777173/182014167-3c0fe1b6-b23a-47f5-952f-46a6fe566924.png">

[2022-07-31 07:12] shivaylamba commented on #2733
Thanks it did show up after clearing the cache. For some reason earlier, it didn't even open in incognito.

[2022-07-31 07:12] #2733 closed

[2022-07-31 14:50] kumare3 commented on #2730
I am not sure how platform upgrade fixed it?

[2022-08-01 05:31] kumare3 commented on #2721
@hajapy this indeed looks really good. How should we proceed. The community prefers if there are volunteer organizations that will use the plugin so that we can ensure that we are developing for a user and it will remain maintained.

[2022-08-01 15:50] dylanwilder opened #2734 "[Core feature] Allow caching of launchplans/subworkflows"
### Motivation: Why do you think this is important?

Currently caching happens at the task level, this means from entire workflows which can be cached incur the cost of running the entire DAG.

### Goal: What should the final outcome look like, ideally?

Caching is configurable at the workflow/launch plan level.  Also, might make sense to supply a `with_overrides` flag to allow modifying cache beh

[2022-08-02 22:25] jdanbrown commented on #2720
@wild-endeavor Wait, I think you're missing a key high-level idea here:
- I'm proposing that NamedTuples/Outputs should only be used for "multiple/named outputs", and _not_ for anything about inputs
  - For inputs, we already have python kwargs for "multiple/named inputs"
  - And for structs/datatypes (arbitrarily nested) in inputs _and_ outputs, we already have dataclasses

So as a consequence of

[2022-08-02 22:42] jdanbrown commented on #2720
Important caveat: I have no idea if the inline usage of e.g. `Outputs(a=int, b=str)` _as a type_ is actually possible in python. :) If that doesn't work, then 👍 I guess the two-definition style is the only option.

[2022-08-04 18:44] samuel-sujith opened #2738 "[BUG] Unauthorized client error in flyteadmin - K8S with Keycloak"
### Describe the bug

I am using Keycloak as identity provider in my setup.

I have setup 2 clients, flytectl(access type public) and flytepropeller(access type confidential with client Id and secret).

I am following the keycloak section in the https://docs.flyte.org/en/latest/deployment/cluster_config/auth_setup.html#

My relevant values in the helm values file are as below

secrets:
  adminOaut

[2022-08-04 19:27] samuel-sujith commented on #2738
I can see that the propeller is unable to connect to the flyteadmin:81.

Please find below the entry in the propeller logs

{"json":{},"level":"error","msg":"failed to initialize token source provider. Err: failed to fetch auth metadata. Error: rpc error: code = Unavailable desc = connection error: desc = \"transport: Error while dialing dial tcp 10.255.51.95:81: i/o timeout\"","ts":"2022-08-04T19

[2022-08-05 01:40] pingsutw opened #2739 "[BUG] Failed to run a map task that fans out to 10000 tasks"
### Describe the bug

- k8s-array plugin

The below example works if the input is 1000
Sample code:
[code]
Error:
[code]

### Expected behavior

Support large fan-out tasks (10000+)

### Additional context to reproduce

_No response_

### Screenshots

_No response_

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-08-05 03:59] highfly22 commented on #1930
I agree this point. But the advantages of S3 protocol are cheap and scalable. In our most case, the CPU/GPU is the bottleneck. We are happy with the performance of S3 protocol. The posix compliant is not mandatory. A file-like object is enough for data processing and training. If the throughput matters, the compression should mitigate the speed issue. The compression rate of most dataset files is

[2022-08-05 04:20] samuel-sujith commented on #2738
The propeller error went away after I set the NO_PROXY env in propeller pod to flyteadmin. But the flyteadmin error is still there

{"json":{},"level":"error","msg":"Error when exchanging code oauth2: cannot fetch token: 401 Unauthorized\nResponse: {\"error\":\"unauthorized_client\",\"error_description\":\"Invalid client secret\"}","ts":"2022-08-05T04:18:48Z"}

[2022-08-05 04:31] kumare3 commented on #2739
This should have failed because of limits - cc @hamersaw

[2022-08-05 05:17] kumare3 commented on #2738
@samuel-sujith can you join slack.Flyte.org, few community members who use key cloak can help easily

[2022-08-05 05:35] samuel-sujith commented on #2738
I have raised in the slack. I will await any response on this issue.

[2022-08-05 06:44] samuel-sujith commented on #2606
Hello @nealf. Thanks ffor your issue.

In my flyte deployment, I have 3 clients- a user client(ndsmlclient), flytectl and flytepropeller.

in the secrets section
secrets:
  adminOauthClientCredentials:
    # -- If enabled is true, helm will create and manage `flyte-secret-auth` and populate it with `clientSecret`.
    # If enabled is false, it's up to the user to create `flyte-secret-auth` as desc

[2022-08-05 13:54] samuel-sujith commented on #2738
it was a basic mistake from my side.

Instead of putting the oidc_client_secret in the stringdata section, I had put in the data section, which was causing the secret to be not fetched correctly.

This is working fine now.

Thanks a lot for all the slack assistance.

[2022-08-05 13:54] #2738 closed

[2022-08-05 15:31] sugatoray commented on #2636
🎉 Okay. Some updates here:

I started working on this a while back. And the first PR is almost ready to be merged with **7** flytekit plugins.

- https://github.com/conda-forge/staged-recipes/pull/19891

[2022-08-05 15:35] sugatoray commented on #2636
## List of Plugins added as "group1"

I will add more plugins under different groups (this is just so it is easier to refer to them, does not change anything for the plugins).

Each plugin will have its own feedstock under conda-forge. This allows you to maintain and build them in parallel.

| SL# | Package Name | PyPI | Recipe Version | Notes |
|:---|:---|:---:|:---:|:---|
| 0. | `flytekitplugins

[2022-08-05 16:00] cosmicBboy commented on #2636
hey @sugatoray thanks for the work on this and apologies for being late on the feedback here:

Do you know if concern (2) and (3) have negatively effected other similar projects with the same type of plugin structure?

I'm all for future-proofing, as long as you think having one recipe per plugin isn't too much of a maintenance burden. Would this be a pain to maintain, esp. since we bump the plugi

[2022-08-05 16:17] sugatoray commented on #2636
I am not aware of. But knowing how conda-forge PRs are built, I would say `n` separate PRs is not that big a problem, as opposed to n subpackages which will not let you know if any of them has a problem in the recipe until it fails. The sequential build will make the life of a maintainer pretty much miserable.

In my professional opinion, based on the experience of authoring conda-forge packages s

[2022-08-05 16:21] sugatoray commented on #2636
My previous comment might have addressed most of this concern. Each recipe needs to be updated separately, as it's dependencies could change (not just flytekit).

So, the work in managing n plugins is the same as managing n different packages on conda-forge.

[2022-08-05 16:31] cosmicBboy commented on #2636
great! let's go with your proposal, it's true that flytekit plugins will only continue to grow

[2022-08-05 18:00] wild-endeavor commented on #2728
@samhita-alla @SmritiSatyanV - do you think you can find a place to add this to the docs somewhere?  We should also figure out how to support this in the default gcs case.

Also, i think @kumare3  found that if you use the fsspec plugin, it gets around this issue.

[2022-08-05 18:02] wild-endeavor commented on #2729
I think this is an issue for AWS as well.  You should be able to just remove the `-dns` section in the opta file, but i haven't tested this and it should be documented anyways.

[2022-08-05 18:04] wild-endeavor commented on #2734
This is something we've been thinking about for a while and do want to do.  Thanks for the issue.

[2022-08-05 18:07] #2616 closed

[2022-08-05 18:15] sugatoray commented on #2636
Also, just to be on the safe side I asked the conda-forge core team members about this. They confirmed that there is no such way of parallel runs for subpackages in the same feedstock.

**Question**:

**Answer**:

we've had requests for this for packages the are separate but are released concurrently
it would require changes to conda-smithy to implement

[2022-08-06 09:13] SmritiSatyanV commented on #2728
Sure @wild-endeavor , will take a look at this.

[2022-08-07 16:27] kumare3 commented on #1930
@highfly22 could you join slack.Flyte.org and help with ideas around this. Welcome to the community

[2022-08-08 03:20] evalsocket commented on #2725
@brucearctor It's done https://github.com/flyteorg/gh-badges

[2022-08-08 03:20] #2725 closed

[2022-08-08 03:28] evalsocket commented on #2420
@brucearctor bad news we are moving to terraform from opta. Opta just close an acquisition deal and they will not support the open source going forward.

[2022-08-08 03:33] evalsocket opened #2740 "[Docs] Add a note in opta deployment for depreciation"
### Description

<img width="1536" alt="Screenshot 2022-08-08 at 8 59 30 AM" src="https://user-images.githubusercontent.com/10830562/183332776-04724342-2a05-4eb5-80d4-01db2c8b7cd3.png">

We should add a note on the aws/GCP opta deployment page, Please also mention the opta migration guide https://docs.opta.dev/features/terraform/#migrate-from-opta-to-terraform

For the short term, users can genera

[2022-08-08 03:35] evalsocket commented on #2740
cc: @samhita-alla @SmritiSatyanV @wild-endeavor

[2022-08-08 03:37] brucearctor commented on #2420
that's ultimately better

[2022-08-08 03:37] brucearctor commented on #2420
I would have preferred Terraform from the start, a shame I bothered learning opta to help you guys in the first place

[2022-08-08 03:38] brucearctor commented on #2420
terraform WAY better [ I have used extensively ].  Opta was more trouble than it was worth

[2022-08-08 04:02] evalsocket commented on #2420
@brucearctor I am with you, terraform is pretty simple and used widely. Most of the developers are aware of it, But we should accept that production-grade TF is hard and it takes time that's where opta fits in the stack but defiantly it has a lot of limitations and a learning curve, and users don't want to learn a new tech just for flyte deployment.

[2022-08-08 05:01] samhita-alla commented on #2740
@SmritiSatyanV, do you mind adding the note/warning?

[2022-08-08 05:15] brucearctor commented on #2420
Agreed, that production-grade-anything requires attention to detail.

But, otherwise, I don't think I understand your point

[2022-08-08 07:43] SmritiSatyanV commented on #2740
Sure @samhita-alla , I will do that

[2022-08-08 08:45] evalsocket commented on #2420
I agree with you, It's not hard just needs proper attention.

[2022-08-08 11:53] CalvinLeather commented on #2482
Started prototyping this out today.

The friendly client (flytekit.clients.friendly.SynchronousFlyteClient) has a lot of the things needed for this... I think the codegen piece can just output something like:

[code]

and then maybe unpack the `node_execution_data.full_outputs`.

Working on testing this now, this is my first time using the client directly (i.e., not via cli) so working through som

[2022-08-08 13:02] CalvinLeather commented on #2482
Okay I have a working first pass on this running locally in a notebook. I did run into one interesting issue. First, will describe the implementation plan as it now stands after some prototyping:

1. Console has a new button on the inputs/outputs tab (e.g. "copy python code to clipboard")
2. FlyteAdmin does some codegen for this, basically just templating out a single import +  python call to a ne

[2022-08-08 17:18] brucearctor opened #2743 "add: ` alb.ingress.kubernetes.io/target-type: 'ip'` in the ingress annotation of value-eks.yaml"
This breaks the https://docs.flyte.org/en/latest/deployment/aws/manual.html#connecting-to-flyte

Now we will have to add:  ` alb.ingress.kubernetes.io/target-type: 'ip'` in the ingress annotation of value-eks.yaml

@brucearctor
@EngHabu

RE:  https://github.com/flyteorg/flyte/pull/2566
_Originally posted by @jw0515 in https://github.com/flyteorg/flyte/issues/2566#issuecomment-1208376512_

[2022-08-08 17:23] brucearctor commented on #2743
Not sure whether needed, but made an issue - due to @jw0515's comment, as seems to warrant exploration.

[2022-08-08 17:25] jw0515 commented on #2743
By default the alb.ingress.kubernetes.io/target-type will be "instance" which only works for NodePort/LoadBalancer type:
https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1695

[2022-08-08 17:31] brucearctor commented on #2743
@jw0515 -- I can't explore this.  Requires cloud compute resources ( AWS ), and that hasn't been set up for the Open Source project.  There is only cloud resources and testing infra for Union employees.  I don't want pay out of pocket for such cloud spend, so I'm not working on these sorts of things.  @EngHabu and team can take a look eventually.

Strong testing of the deployment guides to ensure

[2022-08-08 17:33] jw0515 commented on #2743
Makes sense!

[2022-08-08 17:34] katrogan opened #2744 "[Core feature] Support passing client secret credentials as an env var"
### Motivation: Why do you think this is important?

Currently the only way to use client secret credentials authentication is by passing the client secret by file path location.

### Goal: What should the final outcome look like, ideally?

We should permit specifying the client secret as an environment variable

### Describe alternatives you've considered

Current implementation which limits the

[2022-08-09 00:47] hamersaw commented on #2533
@ckiosidis @honnix any chance that these pods were parts of subworkflows? Just submitted a [PR ](https://github.com/flyteorg/flytepropeller/pull/468) fixing an issue with aborting subworkflows where FlytePropeller failed to cleanup Pods. I'm looking for any other location this could happen, but not finding anything right now.

[2022-08-09 03:34] highfly22 commented on #1930
Sure. I wrote a gist to demo my idea.

https://gist.github.com/highfly22/54f9d976254ff373037aac34196dcaaf

[2022-08-09 05:16] kumare3 commented on #1930
cc @wild-endeavor / @pingsutw wdyt?

[2022-08-09 08:03] pingsutw commented on #1930
@highfly22 Good idea. One suggestion, We can add [open](https://gist.github.com/highfly22/54f9d976254ff373037aac34196dcaaf#file-patch_flytefile-py-L45-L67) method to [dataPersistence](https://github.com/flyteorg/flytekit/blob/66e1007df4ef48e1eee49a5ac3e2a493c9f8db08/plugins/flytekit-data-fsspec/flytekitplugins/fsspec/persist.py#L37) and update your code to
[code]

[2022-08-09 08:50] honnix commented on #2533
@hamersaw Yes, we do have a lot of subworkflows and it won't be surprising those stuck ones are part of subworkflows. It is awesome you found the bug and we look forward to testing it. Thanks a lot!

[2022-08-09 09:02] ckiosidis commented on #2533
Hey @hamersaw I confirmed by checking some stuck Pods in our cluster currently.
The pods are indeed orphans, the flyteworkflow k8s resources are not in the cluster and the executions finished with errors.

[2022-08-09 10:30] pingsutw opened #2748 "[Core feature] Add Ray Dashboard URI to task logs"
### Motivation: Why do you think this is important?

We will start a ray cluster and ray dashboard when running ray tasks. Now, we are able to open dashboard UI through NodePort. However, some ingress configs are incorrect in Kuberay, so we are unable to connect the dashboard through Ingress.

Goal: Add dashboard URL to [task logs](https://github.com/flyteorg/flyteplugins/pull/279/files#diff-a2a96

[2022-08-09 10:31] pingsutw commented on #2748
I'll create a PR to fix the ingress issue in KubeRay

[2022-08-09 11:27] evalsocket commented on #2420
@brucearctor I Just published some terraform modules under unionai-oss, You can use them for flyte deployment, They are created from opta and now going forward we will maintain them. https://registry.terraform.io/modules/unionai-oss/opta/unionai/0.0.4

[2022-08-09 15:45] brucearctor opened #2751 "[Core feature] Create OSS Cloud Environments"
### Motivation: Why do you think this is important?

Community/Project could use Cloud Resources, currently - as I understand - these things are all Union-internal.

### Goal: What should the final outcome look like, ideally?

things running in flyte/open-source environments with permissions to condoned community members

### Describe alternatives you've considered

keeping things the way they are

[2022-08-09 16:41] jsonporter opened #3438 "Bug: Dict value loses 1 trailing character on UI Launch."
User reported that when working with a dictionary type - the last/trailing character is lost on launch. To repo this error launch an execution with a datatype of dictionary, then once that execution has been launched view the inputs/outpus tab and see that the last character is lost.

[2022-08-09 16:43] evalsocket commented on #2420
@brucearctor we have one problem with opta, Going forward they will not support anything, Meaning we need to maintain them, But we think It's not Flyte relevant that's why we are using `unionai-oss`, And Flyte can re-use them

But the thing is not decided yet, We are in early discussion and all feedback would be appreciated

[2022-08-09 17:01] brucearctor commented on #2420
Suggesting:  https://github.com/flyteorg/flyte/issues/2751

and, that eventually, with that setup, that there be terraform modules within flyte github repo/organization for the flyte deployment guides, etc

[2022-08-09 18:50] cosmicBboy opened #2752 "[Plugin] Sklearn integration"
Flyte is an ML- and data- aware orchestrator, it would make sense to support the most popular ML frameworks as first-class citizen types in the Flyte type system.

For `sklearn`, there's really only one base class, which is the [BaseEstimator](https://scikit-learn.org/stable/modules/generated/sklearn.base.BaseEstimator.html#sklearn.base.BaseEstimator).

We'll need to follow the conventions set in

[2022-08-09 18:51] cosmicBboy opened #2753 "[Plugin] Numpy dtypes integration"
Currently, only numpy arrays are supported by the numpy type extension. It would be useful to also support scalar data types as well.

So today, this code will not work:

[code]

Error:
[code]

Problem: flytekit doesn't know how to handle `numpy.<dtype>` scalar types. The code above will show up anywhere where a user wants to aggregate some values using numpy operations (including sklearn, and pro

[2022-08-09 20:48] wild-endeavor commented on #2744
Can this issue be closed?

[2022-08-09 20:56] katrogan commented on #2744
not until the flytectl change is in

[2022-08-09 21:22] wild-endeavor commented on #2482
Hey sorry for the delay!  And oops - should've told you about [FlyteRemote](https://github.com/flyteorg/flytekit/blob/master/flytekit/remote/remote.py) which is not nearly documented enough.

## Buttons/UI/Copying
I love the idea of having buttons that do copying.  But I will let @kumare3 and @jsonporter decide if we should do it and what it should look like.  Maybe we can have our ux designer chi

[2022-08-09 21:25] wild-endeavor commented on #2482
Forgot to mention the most important bit - without getting too far off track, i use case I'd really love to see is not only creating a python object that referenced any output, esp cached output, but that object being passable to a new execution using FlyteRemote.  `r.execute(some_wf, inputs={"a": <the output data object>})`

[2022-08-09 21:29] #2744 closed

[2022-08-10 06:53] evalsocket commented on #2420
cc: @wild-endeavor

[2022-08-10 14:02] SmritiSatyanV opened #2754 "[Docs] Document how to mount and dynamically create persistent volume"
### Description

[Slack conversation](https://flyte-org.slack.com/archives/CP2HDHKE1/p1660068983300349)
[code]
**Document :**
1. How to mount shared persistent volumes to Flyte tasks
2. How to dynamically create Persistent Volume Claims (PVCs) for project-domains

[2022-08-10 15:45] wild-endeavor opened #2755 "Fix structured dataset"
Noticed a design flaw in the implementation of the StructuredDataset transformer pattern.  While contributors should be able to specify which protocol they want their encoder/decoder to be applicable to, there should also be a default case where the transformer engine applies the encoder/decoder to all protocols supported by the data persistence layer.

[2022-08-10 16:04] wild-endeavor commented on #2419
We're removing opta entirely because it's no longer being supported.  We'll slowly transition to terraform, but also push more of the deployment responsibility to the user.

[2022-08-10 16:11] brucearctor commented on #2419
@wild-endeavor  -- check updated title/description.  Suggested for this issue to remain/re-open, to address [ using terraform and docs, rather than opta.  As discussed, Opta was more of a bandaid and distraction rather than a good idea over the non-immidiate term ]

[2022-08-10 16:12] brucearctor commented on #2419
Do share more about 'push more of the deployment responsibility to the user'?  That seems something an open source project would want to make really easy for the user?

[2022-08-10 16:48] wild-endeavor opened #2756 "Local caching for struct types not working"
See https://github.com/flyteorg/flytekit/pull/1126 for information.

This is a user reported issue.

[2022-08-10 17:36] wild-endeavor commented on #2419
This issue is kinda broad though... we know we have to move to TF, so if this issue is meant to encapsulate that whole project, I guess that's fine.  But like, "improve documentation" isn't really actionable. What specifically do you think should be improved and what is the metric for success/acceptance criteria?

[2022-08-10 17:46] brucearctor commented on #2419
Blocked by: https://github.com/flyteorg/flyte/issues/2421

[2022-08-10 17:46] brucearctor commented on #2419
Relies on https://github.com/flyteorg/flyte/issues/2420

[2022-08-10 17:49] brucearctor commented on #2419
changed to 'create' not improve'.  There is no deployment guide for relying on terraform - which is finally going to be the go-to for Flyte?  Also, why terraform ( as I hear that was decided), and not pulumi or other?  Where did that discussion happen [ I missed the discussion, can I see that ] -- was that an OSS community decision?  I'm not advocating for a different decision, but am advocating f

[2022-08-10 17:50] brucearctor commented on #2419
Also, @wild-endeavor Also, why was terraform ( as I hear that was decided) the choice, and not pulumi or other?  Where did that discussion happen [ I missed the discussion, can I see that ] -- was that an OSS community decision?  I'm not advocating for a different decision, but am advocating for transparent decision making as it relates to OSS project

[2022-08-11 08:20] samhita-alla commented on #2754
Hey Smriti! Can you paste the slack convo here, just in case the message vanishes when we hit the limit?

[2022-08-11 08:30] samhita-alla opened #2757 "[BUG] `--details` flag in flytectl command is erroring out"
### Describe the bug

When appending the `--details` flag to flytectl command, it throws a StructuredDataset error as follows:

[code]

Error:
[code]

### Expected behavior

The command should work.

### Additional context to reproduce

Run `flytectl get execution  -p flytesnacks -d development <execution-id> -o yaml  --details`

### Screenshots

_No response_

### Are you sure this issue hasn't b

[2022-08-11 08:31] samhita-alla commented on #2757
cc: @pmahindrakar-oss @wild-endeavor

[2022-08-11 09:15] SmritiSatyanV opened #2758 "[Docs] Describe with example how with_overrides can be used with dynamic workflows"
### Description

It is possible to mix @flytekit.dynamic & with_overrides. Pass a resource configuration object to a workflow at runtime and have the @dynamic step specify overrides at runtime. Document this with an example
[Github issue](https://github.com/flyteorg/flyte/issues/2730)

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X]

[2022-08-11 12:56] cosmicBboy opened #2759 "[Plugin] Keras types integration"
Flyte is an ML- and data- aware orchestrator, it would make sense to support the most popular ML frameworks as first-class citizen types in the Flyte type system.

One of the popular deep learning frameworks is [keras](https://keras.io/api/), which would make sense to support without installing plugins and simply be activated when a user has it installed, similar to how we're handling [pytorch](ht

[2022-08-11 12:56] cosmicBboy opened #2760 "[Plugin] Tensorflow types integration"
Add support for Tensorflow model/tensor types

[2022-08-11 13:35] samhita-alla commented on #2760
Hey @cosmicBboy! I've already created issues for TensorFlow: https://github.com/flyteorg/flyte/issues/2569, https://github.com/flyteorg/flyte/issues/2570, and https://github.com/flyteorg/flyte/issues/2571.

[2022-08-11 14:08] cosmicBboy commented on #2760
ah! nice didn't catch those. closing this.

[2022-08-11 14:08] #2760 closed

[2022-08-11 17:39] evalsocket opened #2761 "[Housekeeping] Helm doesn't like our notification config"
### Describe the issue

In Helm chart we are substituting the `[userSettings](https://github.com/flyteorg/flyte/blob/c56a1a4df382b0213ee587746a5da0619b87cc99/charts/flyte-core/values-eks.yaml#L309-L326)` and we have `[tpl](https://github.com/flyteorg/flyte/blob/master/charts/flyte-core/templates/admin/configmap.yaml#L46)` function inside our template.

If we enable the notification then helm will

[2022-08-11 19:53] kumare3 opened #2762 "[FlyteCTL Feature] flytectl better debugging"
### Describe the feature/command for FlyteCTL

[code]
Flytectl when fails to connect, should print the endpoint that was used and if auth was enabled and if SSL validation was enabled

### Provide a possible output or UX example

[code]

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-08-11 19:55] kumare3 opened #2763 "[FlyteCTL Feature] flytectl execution create - name"
### Describe the feature/command for FlyteCTL

When using flytectl create execution it is not possible to pass an explicit name for the execution. This is supported in the api

### Provide a possible output or UX example

[code]

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-08-12 03:58] SmritiSatyanV commented on #2752
Is this something I can take up? @cosmicBboy

[2022-08-12 07:55] SmritiSatyanV commented on #2753
Could I work on this? @cosmicBboy

[2022-08-12 14:23] matheusMoreno opened #2765 "[BUG] Flytekit ShellTask incorrectly checks Pod type"
### Describe the bug

In Flytekit, the shell task implementation checks if the `task_config` parameter is of the type `flytekitplugins.pod.task.Pod`. But if you look closely at how this check is made,

https://github.com/flyteorg/flytekit/blob/73eaad121df796ba4490b8af0706b4391ae8b28e/flytekit/extras/tasks/shell.py#L134-L136

You'll notice that it will always fail, because `str(type(task_config))`

[2022-08-13 00:24] thoughtworks-tom opened #2766 "Issue running container tasks in imperative workflows locally"
Container tasks run via imperative workflows locally seems to return None value outputs for all container tasks.

[code]
Returns

Is there an issue for running container tasks locally in imperative workflows? Above is an example of how to reproduce the issue. This makes use of the caclulate-ellipse-area.py script from the [docs](https://docs.flyte.org/projects/cookbook/en/stable/auto/core/containe

[2022-08-13 04:23] kumare3 commented on #2766
@thoughtworks-tom today raw containers do not have a local execution implications https://github.com/flyteorg/flytekit/blob/73eaad121df796ba4490b8af0706b4391ae8b28e/flytekit/core/container_task.py#L72

[2022-08-13 14:33] kumare3 commented on #2752
@cosmicBboy can we add a more detailed description- I think this is a great good first issue for open source contributors?

[2022-08-15 05:52] #2640 closed

[2022-08-15 08:27] pmahindrakar-oss opened #2767 "[BUG] flytectl sandbox /demo crash while switching kubecontext"
### Describe the bug

Slack thread https://flyte-org.slack.com/archives/CREL4QVAQ/p1659058509465339

[code]

### Expected behavior

flytectl shouldn't crash

### Additional context to reproduce

_No response_

### Screenshots

_No response_

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-08-15 12:02] YasmineHamdy commented on #2767
I am using Intel Mac and I have the same issue.

[2022-08-15 12:57] pmahindrakar-oss commented on #2767
@YasmineHamdy , i have a [PR](https://github.com/flyteorg/flytectl/pull/342) out and that seems to have fixed the issue. I think the issue arises with kube context  file of the user and if it contains a particular map structural data which hits reflect_map then we run into this issue and not specific to M1.

The utility function in apimachinery iterates over all the values in the kube context and

[2022-08-15 14:31] cosmicBboy commented on #2752
assigned @SmritiSatyanV to this, gonna fill out https://github.com/flyteorg/flyte/issues/2759 and https://github.com/flyteorg/flyte/issues/2753 for others to pick up.

@kumare3 as a side note, I think we should host OSS planning meetings (similar to UnionML) so that we can get better involvement.

[2022-08-15 16:56] #2767 closed

[2022-08-15 22:12] sethmz opened #2768 "[Core feature] Support default container configuration in default PodTemplates"
### Motivation: Why do you think this is important?

At my company, _all_ of our containers have some commonly required and default configurations (e.g. environment variables, volume mounts, etc). Flyte task pods should not be an exception. Although there is no k8s concept of a ContainerTemplate, we would like to put this common configuration into the default PodTemplate used by Flyte. Currently,

[2022-08-16 05:03] YasmineHamdy commented on #2767
@pmahindrakar-oss, thank you a lot.

[2022-08-16 06:43] pingsutw commented on #2768
@sethmz You want to add a default pod template that has `image`, `volume`, and `env` to the propeller configmap, and the pod template of the python task or raw container task will include those settings, right? I think it's a good idea.

[2022-08-16 08:16] pingsutw commented on #2768
It looks like we already support it. check this [PR](https://github.com/flyteorg/flyteplugins/pull/247).

[2022-08-16 09:50] samhita-alla commented on #2761
Hey @evalsocket! How quickly can we resolve this issue? One other user encountered the same issue: https://flyte-org.slack.com/archives/CNMKCU6FR/p1660629648020239.

[2022-08-16 10:12] samhita-alla opened #2769 "[Docs] FlyteRemote code snippets need to be added to the remote access section"
### Description

The "Remote Access" [section](https://docs.flyte.org/projects/cookbook/en/latest/auto/remote_access/remote_workflow.html) currently has `flytectl` commands to register and run flyte entities. FlyteRemote examples need to be appended to each of the doc pages to showcase accessing the backend programmatically through an API.

### Are you sure this issue hasn't been raised already?

[2022-08-16 10:14] samhita-alla commented on #2387
https://github.com/flyteorg/flytesnacks/pull/736

[2022-08-16 10:52] #2624 closed

[2022-08-16 10:54] #2717 closed

[2022-08-16 13:08] stephen37 opened #2771 "[BUG] Flytekit is using `no-sign-request` when using `pyflyte-fast-execute`"
### Describe the bug

When using fast-registration, during the initialisation of the task, we copy the code from S3 to the container. Flytekit is using `pyflyte-fast-execute` in that case, the problem is that by default we add the argument `--no-sign-request` when using AWS CLI for S3 and that makes it impossible to download the content from private S3 buckets.

### Expected behavior

Not being an

[2022-08-16 13:31] pingsutw commented on #2722
@wild-endeavor We could close it, right?

[2022-08-16 13:45] samhita-alla opened #2772 "Design a CI/CD workflow for production Flyte setups"
We should work on a CI/CD workflow replicating Lyft's way of handling Flyte code: https://docs.flyte.org/en/latest/deployment/ideal_flow.html#case-study-mlops-at-lyft. A new repository to house the GitHub actions might be a good solution.

[2022-08-16 13:45] samhita-alla commented on #2772
cc: @evalsocket

[2022-08-16 15:27] sethmz commented on #2768
@pingsutw thanks for taking a look. What I'm proposing is an extension to the feature introduced in that PR.

From the PR:

I want to use the first container in the containers field as a base for all containers in the pod.

[2022-08-16 16:04] sethmz commented on #2768
@hamersaw ah, I didn't see that issue, sorry! I was talking with Ketan about this yesterday and he suggested I open an issue.

I think the primary container will be sufficient for most of our cases. However, one use case we have for pod tasks is to support non-Python and legacy code that can't use flytekit natively. The primary container in this case is simply an interface to flyte, whereas the re

[2022-08-16 16:44] hamersaw commented on #2768
Oh sure, so right now we were going to apply the container configuration if the container name was "primary" (or something). I'm wondering if it makes sense to support two container names "primary" and "default" where default will serve as the base for ALL containers in the Pod and primary is only applied to the primary container. I think this would support almost all of the use cases I can envisi

[2022-08-16 17:08] sethmz commented on #2768
Supporting "primary" and "default" containers sounds good to me. :pray:

As for additional containers, it sounds like it might apply to use cases in which every pod needs some kind of proxy like in a service mesh. Although, I think such things are usually injected into pods by mutating webhooks via the k8s admission controller. So I would agree that it doesn't seem like a necessary use case at the

[2022-08-16 18:53] hankfanchiu opened #2774 "[UI Feature] Make Flyte Deck modal expandable"
### Motivation: Why do you think this is important?

We're using Flyte Deck to render static Jupyter notebooks serving as data reports. Given the current size of the Flyte Deck modal, some long notebook paragraphs are difficult to view.

### Goal: What should the final outcome look like, ideally?

The Flyte Deck modal should be enlarged, perhaps scaled based on the viewport size while having the e

[2022-08-16 19:29] dsweaver opened #2775 "[BUG] int values in Optional[int] dataclass fields are converted to floats when passed into Flyte tasks"
### Describe the bug

i'm trying to pass a dataclass that has a field with type `Optional[int]` to a Flyte task. When I pass the dataclass to the task, the field is converted to type `float` and becomes `1.0` instead of remaining type `int` and `1` as I expect. This is a problem for things like RNG seeds that expect either `None` or an `int`.

Input:
[code]
Output:
[code]

### Expected behavior

`

[2022-08-16 23:35] katrogan opened #2776 "[Docs] Activate launch plan docs are missing --version flag"
### Description

https://docs.flyte.org/projects/cookbook/en/latest/auto/core/scheduled_workflows/lp_schedules.html#activating-a-schedule Only a specific version of a launch plan can be activated
the docs should update the sample command to include `--version <foo>`

cc @SmritiSatyanV

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X]

[2022-08-17 00:15] katrogan commented on #2776
We should also update the docs to specify that a launch plan can be deactivated with the `--archive` flag

[2022-08-17 00:25] #2722 closed

[2022-08-17 00:25] wild-endeavor commented on #2722
Yes!

[2022-08-17 04:25] vannguyengalaxy commented on #2772
wow! This is very useful

[2022-08-17 07:34] pmahindrakar-oss opened #2777 "[FlyteCTL Feature] Add support for get workflow-meta,task-meta, launchplan-meta"
### Describe the feature/command for FlyteCTL

There are commands to update
launchplan-meta
https://docs.flyte.org/projects/flytectl/en/latest/gen/flytectl_update_launchplan-meta.html

task-meta
https://docs.flyte.org/projects/flytectl/en/latest/gen/flytectl_update_task-meta.html

workflow-meta
https://docs.flyte.org/projects/flytectl/en/latest/gen/flytectl_update_workflow-meta.html

But we don't

[2022-08-17 08:28] hovanvu26699 commented on #2772
hopefully it will be implemented soon

[2022-08-17 08:29] hovanvu26699 commented on #2772
hopefully it will be implemented soon

[2022-08-17 11:51] SmritiSatyanV commented on #2776
https://github.com/flyteorg/flytesnacks/pull/853

[2022-08-17 11:51] #2776 closed

[2022-08-17 12:57] #1763 closed

[2022-08-17 16:32] pingsutw commented on #2644
All PRs in phase 1 can be found here. https://github.com/flyteorg/flyte/issues/2641

[2022-08-17 16:42] hamersaw opened #2778 "[BUG] Collisions on subworkflow launchplan execution IDs"
### Describe the bug

When a launchplan is executed as part of a Flyte workflow FlytePropeller is responsible for generating an execution ID. This algorithm must be deterministic so that subsequent workflow processing checks the correct launchplan execution ID to retrieve status. Currently it [uses a 32bit hash](https://github.com/flyteorg/flyteplugins/blob/c4de2d719cb26f62b89d64f27023e84993906647

[2022-08-17 16:44] hamersaw commented on #2778
For an immediate fix we will update the hashing algorithm to 64bit (or 128bit?) to increase the length of the hash. This should significantly reduce the probability of a collision. However, in the very small chance a collision would still occur we should implement some additional logic to check for an existing execution before starting the launchplan.

[2022-08-17 20:51] #2775 closed

[2022-08-17 20:51] kumare3 commented on #2774
cc @jsonporter

[2022-08-17 20:52] kumare3 commented on #2766
@thoughtworks-tom btw, we are getting imperative workflows in pyflyte run ^

[2022-08-18 03:39] evalsocket commented on #2772
@samhita-alla Not sure I will get time for this? Please prioritize it in oss planning.

cc: @katrogan

[2022-08-18 10:18] samhita-alla opened #2782 "[Docs] Have a note specifying version shouldn't have a forward slash"
### Description

Reference Slack thread: https://discuss.flyte.org/t/2400153/i-have-solved-the-problem-not-found-error-i-mentioned-yester

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-08-18 10:44] samhita-alla opened #2783 "[Docs] `make` is resulting in an error when trying to build the flytesnacks docs"
### Description

There shouldn't be any errors. Will have to fix indentations, broken links, and RST styles.

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-08-18 12:31] hamersaw opened #2784 "[BUG] transparent failures on secrets webhook calls"
### Describe the bug

When the flyte-pod-webhook starts it registers a MutatingWebhookConfiguration with the k8s api server so that resources it is responsbile for (ie. Flyte Pods which require secret injection) will call the webhook during creation. However, in this configuration the `failurePolicy` is set to `Ignore`. This means that when FlytePropeller creates a Pod that requires a secret, if t

[2022-08-18 14:24] SmritiSatyanV opened #2785 "[Docs] Clean up caching page"
### Description

https://flyte-org.slack.com/archives/CP2HDHKE1/p1660746432560599
Python-in-RST wasn't rendered correctly

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-08-18 15:15] CalvinLeather opened #2786 "[BUG] Propeller Panic On K8s Array Task (datacatalog implicated)"
### Describe the bug

We ran a map task over a Python task that takes in a FlyteFile as input, and returns an int:

[code]

We have no special overrides on the map task, just:

[code]

When this runs (the first time), it fails (no pods are spun up, it fails all in flyte propeller before the map task launches at all.

It fails when we resume as well.

None of the map tasks in the workflow before th

[2022-08-18 15:15] CalvinLeather commented on #2786
Calvin dug into stack trace a bit here: https://flyte-org.slack.com/archives/CP2HDHKE1/p1660823498602129, and started figuring out a story for maybe why this involves propeller <> data catalogue communication (could IndexesToCache be nill or something? i.e., the warnings from datacatalog result in an unexpected state for the task state metadata about caching?)

[2022-08-18 15:27] shahwar9 opened #2787 "[FlyteCTL Feature] Flytectl needs to log the url and a config to skip browser opening while authenticating through Pkce"
### Describe the feature/command for FlyteCTL

When `flytectl` is used inside a container it tries to open a browser with `xdg-open`. This fails.

Ideally flytectl would have an option to only print the URI and not try to open it.
flytectl running in containers would really benefit from this by mounting a browser port onto the container and opening the URL by just copying and pasting the URL.

Var

[2022-08-18 15:35] CalvinLeather opened #2788 "[BUG] Possible interaction between map tasks/k8s-array, inject-finalizers, ASG AZ Rebalancing and AWS Node Termination Handler"
### Describe the bug

Okay this one is possibly multiple bugs that we are incorrectly lumping together (they are hard to reproduce, at-scale bugs with less clear error messages because they are low level/from K8s).

For a while now, in our production/at-scale deployment, when we scale up map tasks to decent scales (100s to low thousands of elements), we were getting these confusing errors (see bel

[2022-08-18 15:35] CalvinLeather commented on #2788
I will try to include more data from this later today (cloudwatch screenshots, timeline from an example failure etc.)

[2022-08-18 16:04] CalvinLeather commented on #2788
Moved here from https://flyte-org.slack.com/archives/CP2HDHKE1/p1658863230650909

[2022-08-18 16:21] pingsutw commented on #2771
At line [43](https://github.com/flyteorg/flytekit/blob/2ca5607d6b313fa9d6aeb88a807febcefcea7cdb/flytekit/extras/persistence/s3_awscli.py#L43), flytekit executes the command `aws s3 cp .. ` without `--no-sign-request`. If it fails, then flytekit will add `--no-sign-request`. We add that because some users may want to access the public bucket, which requires us to add `-no-sign-request` in the comma

[2022-08-18 16:46] CalvinLeather commented on #2786
Doing a big more exploration. I noticed IndexesToCache (which I think is the bitarray implicated in the panic above) is set by SetIndexesToCache in go/tasks/plugins/array/catalog.go. There are 3 calls to this function in that file, but the other 2 have logs before them. So I went into cloudwatch and searched for those two logs:
[code]

I found no occurences of those logs . I did find one occurence

[2022-08-18 16:54] CalvinLeather commented on #2786
Oh I don't know whether or not this matters but note that this is happening within a reference workflow

[2022-08-18 17:00] CalvinLeather commented on #2786
Okay I did a broader pull for all propeller + datacatalog pod log messages from the ~10 minutes around when the panic started happening. You can see them below... I didn't see a whole lot of interesting things.

`No plugin found for Handler-type [python-task], defaulting to [container]`
is one we see all the time (I think its not an issue, its not an error level log anyway

Propeller:
<img width="

[2022-08-18 18:04] hamersaw commented on #2786
@CalvinLeather alright, I'm diving into this all afternoon. Here are my initial thoughts, to mitigate performance issues where a FlytePropeller worker is blocked on cache lookups over 100's of items (like in large fanout map tasks) there is a mechanism to perform these lookups in the background. This is started [here](https://github.com/flyteorg/flyteplugins/blob/cdfc191012c2b2d5e3d956dec031df790b

[2022-08-18 18:05] hamersaw commented on #2786
Also, thanks for such in-depth information and for diving into this it really makes debugging much easier! I know it's a pretty daunting bit of code.

[2022-08-18 18:06] CalvinLeather commented on #2786
Thank you! Right the SetIndexesToCache doesn't get called in the ResponseNotReady branch

[2022-08-18 18:33] hamersaw commented on #2786
Alright, can confirm that this is indeed what happens. I think what should happen is that the plugin state should stay as "PhaseStart" and then the next round we will have a completed cache check and can progress. The `InitializeExternalResources` call is performed so that map task state can be returned to the UI, without it we are unable to track the evaluation. So I just want to make sure that a

[2022-08-18 18:34] jsonporter opened #3437 "Bug: certain actions on workflow pages create "Unexpected Error""
Users reported that certain actions on the workflow details page create an error "Cannot read property of undefined". To repo, open a workflow execution, click on the task to open the side panel and then click on a second task while the panel is open. The bug was reported in `v1.1.6`
![image (9)](https://user-images.githubusercontent.com/84735036/185468712-911181f9-dfec-4fab-9b2e-7628ee2c9b9e.png)

[2022-08-18 18:37] CalvinLeather commented on #2786
Need to review more carefully in the next hour (been stuck in meetings) so I can have a good opinion on the PhaseStart proposal. I wonder if it needs to eventually be able to short circuit/stop though (and maybe just assume the data isn't cached or something?) to prevent hanging/loops?

If this is the root cause, are there short term solutions as well? i.e., can I turn down the loop frequency in s

[2022-08-18 19:12] CalvinLeather commented on #2786
I suppose trying a dynamic task could also be a workaround, but I suspect the fact that this only happens with large inputs (seems like it anyway) suggests that the overhead for a dynamic will be high/problematic.

I may try that later today since thats a "not too horrible" thing to test out

[2022-08-18 19:17] mhoeger commented on #2786
We're on GCP btw. We have a map task of 1020 items and also cached.
[code]

Small difference, the stack trace wasn't showing up in the portal, but we found it in the FlyteWorkflow k8s object
<img width="1028" alt="Screen Shot 2022-08-18 at 12 09 40 PM" src="https://user-images.githubusercontent.com/8888531/185475061-740b8801-22fc-47c7-97bb-89304adaae87.png">
<details>
    <summary>Stack trace</sum

[2022-08-18 19:22] CalvinLeather commented on #2786
Another thought on long term solution...
go/tasks/pluginmachinery/catalog/async_client_impl.go in Download appears to make one request for each map element. It does look like its queue up these requests so they can be done asynchronously/in parallel, but it does seem reasonable to think the overhead of making N requests might be preventable (especially in this case where you have to await all of t

[2022-08-18 19:25] CalvinLeather commented on #2786
Okay @hamersaw my knowledge of futures in go is pretty poor, so don't know how much my opinion should count, but the idea of staying in PhaseState does seem reasonable so long as there is a way to escape infinite loops.

I'm going to try converting to a dynamic now to see if this large of a dynamic will work okay, to see if this gives us a short term workaround for this particularly large map task

[2022-08-18 19:49] CalvinLeather commented on #2786
Okay its running now as a dynamic... pods are running so seems fine so far. We have a little over 1000 elements in this dynamic DAG/map task, but we're running at smaller scale so it'll probably more like 5-10k at our full load, will be interesting to see if dynamic continues working (and obviously happy to help continue pushing on the map task tweaks, albeit with my novice understanding of flytep

[2022-08-18 20:05] hamersaw commented on #2786
I wouldn't cut yourself too short, this future should work the same as most. In this code we're basically offloading cache lookups to a backend process which maintains an LRU cache of lookup results. So each time through, we just check if all the cache lookups in the background completed - and if so we start executing the tasks which have not been cached. So without bugs, there should be nowhere f

[2022-08-18 20:38] hamersaw commented on #2786
Also, linking this [previous issue](https://github.com/flyteorg/flyte/issues/2739) for visibility.

[2022-08-18 20:39] CalvinLeather commented on #2786
Okay I may try to play with this this weekend, would like to get better at go anyway. Any recommendations on how to test this? I suppose I can look up go patterns for mocking out the request future so that it takes a while to resolve.

[2022-08-18 20:40] CalvinLeather commented on #2786
May also create some playground/test tasks to benchmark fanout so that folks at our company know what to expect is possible, what impacts etc.

[2022-08-18 21:30] nadasaiyed opened #2789 "[Core feature] Support for nested schema for spark DataFrames"
### Motivation: Why do you think this is important?

Flyte does not support nested `StructuredDatasets` for example:
[code]

This allows for enforcing nested schema during compile time for a `StructuredDataset`

Some datasets are naturally nested and it would be good if flyte could support that. Right now the current workaround is to not enforce schema type or flatten the dataset. But native suppo

[2022-08-18 23:05] #2756 closed

[2022-08-19 02:46] hamersaw commented on #2788
@CalvinLeather - OK, I have tracked this down and think I know the fix, but don't have time to test it tonight. Basically, when the map task detects that a subtask Pod has been deleted externally it reports that as a system failure. We are tracking this using the `SystemFailures` bit array and it is incremented [here](https://github.com/flyteorg/flyteplugins/blob/cdfc191012c2b2d5e3d956dec031df790b

[2022-08-19 02:51] hamersaw commented on #2788
However, we should note that it seems like the region load-balancer is deleting Pods. So this will fix the panic in FlytePropeller during map task evaluations, but the Pods will still be deleted and if that happens larger than the map task maximum number of retries than the subtasks will fail and ultimately the map task will fail. It would be interesting to dive a little deeper.

[2022-08-19 05:12] samhita-alla opened #2790 "[Docs] Docs on how to assign project-domain-specific permissions"
### Description

We need docs on how to define a service account at the project-domain level and annotate it with an env-user-role.

Reference Slack thread: https://discuss.flyte.org/t/2404214/yes-but-i-don-t-think-it-works-across-accounts-i-e-eks-is-de

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-08-19 05:13] samhita-alla commented on #2790
cc: @pmahindrakar-oss

[2022-08-19 05:15] kumare3 opened #2791 "[FlyteCTL Feature] Do not connect to Flyteadmin for some commands"
### Describe the feature/command for FlyteCTL

Commands like demo, sandbox, upgrade etc cause a connection to flyte backend if config exists. This is unnecessary and slows down the experience.

### Provide a possible output or UX example

avoid connecting

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-08-19 05:25] samhita-alla opened #2792 "[Docs] Update private container registry section"
### Description

i’m confused about what comes next. a some questions:

Slack thread: https://discuss.flyte.org/t/2405947/and-https-github-com-flyteorg-flyteadmin-blob-master-sampler

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-08-19 06:11] samhita-alla commented on #2789
@wild-endeavor @pingsutw, are we enforcing the schema if given as https://github.com/flyteorg/flytekit/blob/771aa8a72fbc3ded437b6ff8498404767fc438db/tests/flytekit/unit/types/structured_dataset/test_structured_dataset_workflow.py#L125-L127? I guess this can also be a nested schema.

[2022-08-19 08:14] pingsutw commented on #2789
@samhita-alla I'm not sure. if it can work, we should add a test for it. Will try it later today.

[2022-08-19 08:25] #2761 closed

[2022-08-19 08:38] #2678 closed

[2022-08-19 14:19] brandon-segal opened #2793 "[BUG] Flytkit Named Tuples cannot access be accessed if there is only one attribute"
## Description:
In Flytekit there is no way to mock a named tuple that only has a single member. Mocking a situation like the following results in a `AttributeError: 'Promise' object has no attribute 'uri'` error.

[code]

Ideally we would be able to do something like the following which we can do when the NamedTuple has two attributes:
[code]

[2022-08-19 17:38] #2791 closed

[2022-08-19 17:38] #2763 closed

[2022-08-19 17:38] #2762 closed

[2022-08-19 18:05] eapolinario commented on #2782
@pmahindrakar-oss , can we detect if a '/' is used in the version in flytectl instead of relying on a note in the docs? In other words, why is '/' a valid character in the version?

[2022-08-19 21:07] wild-endeavor opened #2794 "[Core feature] [flytekit] Run-time configuration for Structured Dataset"
# Structured Dataset Configuration
## Goal
The current encoders/decoders for Structured Dataset don't necessarily suit all use cases for all users at all times.  Specifically behaviour around the run-time column strictness - for example, in the following scenario

[code]
It's conceivable that sometimes you want this type conversion (from int to float) to happen and sometimes you do not.

What is t

[2022-08-19 21:15] wild-endeavor opened #2795 "[Core feature] [flytekit] Move big query writer to access storage layer directly"
## Goal: What should the final outcome look like, ideally?
The big query structured dataset reader currently reads from the storage client directly but the writer uses the higher level BigQuery client.  This has additional cost implications.  We should move the big query encoder to also use the storage layer directly.

## Misc
### Are you sure this issue hasn't been raised already?

- [X] Yes

###

[2022-08-19 21:46] #2785 closed

[2022-08-20 02:06] pmahindrakar-oss commented on #2782
@eapolinario from the conversation I couldn't get the info on which exact command they used for registration .
But we should prevent this from all clients and hence should be a flyteadmin change.there should be a validation for version names to not contains such characters.I agree instead of a Doc this should be a code change

[2022-08-22 05:15] samhita-alla opened #2796 "[Docs] Link tutorial- and doc-style blog posts to the concerning doc pages"
### Description

We have a couple of blog posts like https://blog.flyte.org/build-an-event-driven-neural-style-transfer-application-using-aws-lambda, https://blog.flyte.org/data-parallel-distributed-training-with-horovod-and-flyte that aren't linked to any of our doc pages. Would be nice to have the links in the concerning doc pages.

### Are you sure this issue hasn't been raised already?

- [X]

[2022-08-22 10:38] #1688 closed

[2022-08-22 10:43] stephen37 commented on #2771
Hey, thanks for your reply. You're indeed correct, it seems like the first time we use it we get a permission error so I guess that's why we call it with `--no-sign-request`

Some logs
[code]

[2022-08-22 15:30] cosmicBboy opened #2797 "[Plugin] MLflow integration"
The purpose of this task is to come up with a way of using mlflow in a flyte task.

The light-weight integration would simply be to use the [mlflow tracking](https://mlflow.org/docs/latest/tracking.html#) API within a Flyte task to log metrics. Indeed, some of our users are already doing this, and it might make sense to document this in an "MLflow" section in the [integration docs](https://docs.fl

[2022-08-22 15:31] CalvinLeather commented on #2739
@pingsutw would it be helpful if we created a broader load testing suite?
I'm thinking something like the k8s SIG (https://github.com/kubernetes/community/blob/master/sig-scalability/README.md) does for each release.

My company needs something like this in the short term to explore Flyte <> cluster autoscaling interactions at very large scale, but I'm thinking the same thing (if folded into flyte

[2022-08-22 16:08] cosmicBboy opened #2798 "[Plugin] Weights and Biases Integration"
Users can already use weights and biases in their Flyte workflows. For example, we have a tutorial that uses [W&B for metrics tracking](https://docs.flyte.org/projects/cookbook/en/latest/auto/case_studies/ml_training/mnist_classifier/pytorch_single_node_and_gpu.html#sphx-glr-auto-case-studies-ml-training-mnist-classifier-pytorch-single-node-and-gpu-py)

Similar to the mlflow integration proposal,

[2022-08-22 17:15] wild-endeavor commented on #2771
Yeah @stephen37 we couldn't figure out a way around this.  Some of the things we pull from s3 are public, and some are private.  There's no fallback option in the aws cli, at least that we could find at time of writing.  So we just have to make two calls.

We can try to clean up the logging so that it's less of a red-herring.

[2022-08-22 21:15] wild-endeavor commented on #1840
@bethebunny this was the original issue for async support.

Also related is this ticket https://github.com/flyteorg/flyte/issues/2483

[2022-08-23 03:16] annadcunningham opened #2800 "[BUG] Flyte execution IDs collide with past executions"
### Describe the bug

When running a Flyte workflow that generates subworkflows, the execution IDs of the subworkflows can collide with past executions of the same subworkflow. This causes the results to be read from the cache even though it is a new and unrelated execution.

### Expected behavior

We would expect that subworkflow execution IDs should not repeat, and new executions of the subworkf

[2022-08-23 04:17] kumare3 commented on #2797
I do agree task plugins don't make sense. Is decorator a better pattern?

[2022-08-23 04:21] kumare3 commented on #2800
Cc @EngHabu

[2022-08-23 07:42] NikeNano commented on #2138
I would be happy to work on this, will start to take a look at it.

[2022-08-23 08:34] SmritiSatyanV opened #2801 "[Improvement] Raise an error when there are two secrets: MY_SECRET and my_secret"
### Description

Yee: You can’t have a secret “MY_SECRET” and a different secret “my_secret”.  That will cause weird/undefined behavior in Flyte.  We should probably put in an issue in flyte to have that raise an error.

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-08-23 08:39] #2801 closed

[2022-08-23 16:28] cosmicBboy commented on #2797
How would that look like?

[2022-08-23 18:52] EngHabu commented on #2778
I've considered a few different options, after a brief chat with Dan, I think we should proceed with the one in the above PR.

Options:
1. Upgrade hashing algorithm to 64bit
   Pros: simple change.
   Cons: No easy way for backward compatibility. If an existing execution is in "flight", subsequent checks for the health/status of the execution will result in building a different execution id and su

[2022-08-24 10:49] #2644 closed

[2022-08-24 11:52] pmahindrakar-oss opened #2804 "[Docs] Broken image for external authorization server"
### Description

Following page https://docs.flyte.org/en/latest/deployment/cluster_config/auth_appendix.html#service-authentication-using-oauth2 has broken image
<img width="1318" alt="Screenshot 2022-08-24 at 5 21 43 PM" src="https://user-images.githubusercontent.com/77798312/186411643-e405bd41-f243-4a9c-9117-c0138a705469.png">

### Are you sure this issue hasn't been raised already?

- [X] Yes

[2022-08-24 11:52] pmahindrakar-oss commented on #2804
cc : @hampusrosvall

[2022-08-24 16:45] cosmicBboy commented on #2798
If we take inspiration from zenml, they have a simple `enable_wandb` interface that will probably work well for us:
https://github.com/zenml-io/zenml/tree/main/examples/wandb_tracking#using-wandbsettings

[2022-08-24 16:46] cosmicBboy commented on #2797
If we take inspiration for zenml, they have a simple `enable_mlflow` decorator:

https://github.com/zenml-io/zenml/tree/main/examples/mlflow_tracking#-how-the-example-is-implemented

[2022-08-24 22:13] hamersaw commented on #2778
@EngHabu my only comment deals with maintaining versions in differing locations moving forward, for example if we chose to add a CRD version we will have (1) individual component version (ie. eventing like you mentioned + current others), (2) our newly defined CRD version which is incremented for any changes moving forward, and (3) the k8s CRD resource version (currently v1alpha1), but I know we d

[2022-08-24 22:22] cosmicBboy opened #2806 "[BUG] By default, FlyteDirectory is empty when executing workflow on Flyte cluster"
### Describe the bug

To reproduce, register and run these tasks and workflows on a local `flytectl demo` cluster:

[code]

You'll find that the output of the `downstream_task` contains no filepath strings:
![image](https://user-images.githubusercontent.com/2816689/186533247-18d668a3-fa20-4cd6-a5dd-15b616aff85f.png)

### Expected behavior

I would expect the files to be in the `directory.path`. In

[2022-08-24 23:36] kumare3 opened #2807 "Plugin: petastorm datatype for structured dataset"
### Motivation: Why do you think this is important?

Working with large parquet files can be cumbersome and hard, especially in tight training loops. Petastorm can simplify this. This can be a simple type plugin for structureddataset in Flyte https://github.com/uber/petastorm

### Goal: What should the final outcome look like, ideally?

Work with large datasets

### Describe alternatives you've co

[2022-08-25 07:28] samhita-alla opened #2809 "[Docs] Add docs on how to handle a large response when using `FlyteRemote.sync`"
### Description

Slack thread: https://discuss.flyte.org/t/2423924/k-edit-cm-flyte-admin-base-config-n-flyte-server-grpcport-80

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-08-25 09:44] pingsutw commented on #2806
@cosmicBboy, It can be fixed by replacing `Path(directory.path)` with `Path(directory)`.

[Fspath](https://github.com/flyteorg/flytekit/blob/df6a949cb99169c7bc612cac593b46bc4a7586dc/flytekit/types/directory/types.py#L131-L139) will be invoked when we call Path(directory), which will trigger downloader to download the files

<img width="1118" alt="image" src="https://user-images.githubusercontent.c

[2022-08-25 11:07] ckiosidis commented on #2705
https://github.com/flyteorg/flytepropeller/pull/477

[2022-08-25 13:29] hajapy opened #2810 "[Core feature] Flytekit plugin termination hook"
### Motivation: Why do you think this is important?

As a flytekit plugin author, I would like to be able to define cleanup actions (in python) that should be run when a flyte task or workflow is aborted (or terminates unexpectedly). For example, this could be used to let the plugin cancel long-running operations in external services if a user aborts a workflow execution.

### Goal: What should th

[2022-08-25 14:52] #2732 closed

[2022-08-25 15:42] cosmicBboy commented on #2806
ah, nice! could we also maybe make `path` a private variable `self._path`, and make a property that does the same thing?

[code]

This will reduce confusion and make the behavior more consistent.

[2022-08-25 15:52] cosmicBboy commented on #2806
an alternative: don't expose a `path` property at all... this adds a possible execution path that does the wrong thing.

[2022-08-25 17:27] cosmicBboy opened #2811 "[Plugin] Plotly Flyte deck renderer"
Flyte supports visualizing arbitrary artifacts in html form via [Flyte Decks](https://docs.flyte.org/projects/cookbook/en/latest/auto/core/flyte_basics/deck.html#sphx-glr-auto-core-flyte-basics-deck-py).

Currenty the `flytekitplugins-deck-standard` contains a few renderers for dataframes, markdown, and box plots.

The purpose of the issue is to add another renderer class for arbitrary plotly grap

[2022-08-25 22:35] katrogan opened #2812 "[Core feature] Explore FlyteAdmin slow SQL"
### Motivation: Why do you think this is important?

A running Flyte deployment logs frequent slow SQL:

[code]

we should investigate indices or other performance optimizations to improve the query performance

### Goal: What should the final outcome look like, ideally?

Fast queries to select workflows and launch plans

### Describe alternatives you've considered

slower performance

###  Propos

[2022-08-26 03:22] #2661 closed

[2022-08-26 04:52] #2782 closed

[2022-08-26 05:26] SmritiSatyanV opened #2813 "[Docs] Update docstrings for pod plugin"
### Description

[Slack Reference](https://flyte-org.slack.com/archives/C01RXBFV1M5/p1660732189538789)
https://docs.flyte.org/projects/flytekit/en/latest/plugins/generated/flytekitplugins.pod.Pod.html#flytekitplugins-pod-pod - update docstrings here

``Ketan: By default every task is launched as a container in a pod. The pod itself is a platform wide config using pod templates (do not worry about

[2022-08-26 05:46] andrewwdye opened #2814 "[BUG] flyteadmin make generate has different results between go 1.18 and 1.19"
### Describe the bug

Running `make generate` on a clean flyteadmin repo produces different results between go versions 1.18 and 1.19. This causes the Check Go Generate checker to fail and prevents using the latest version of go for development.

Looks like this is related to `enumer` and https://github.com/alvaroloes/enumer/issues/68.

### Expected behavior

Running `make generate` on a clean fly

[2022-08-26 05:53] andrewwdye opened #2815 "[Housekeeping] flyteadmin should validate that goimports was run"
### Describe the issue

We should add a checker to ensure that `goimports` has run, similar to Check Go Generate, and based on guidance in the [README](https://github.com/flyteorg/flyteadmin/blob/master/README.md?plain=1#L34).

### What if we do not do this?

Anyone contributing to Flyte may start from an unclean `goimports` state

### Related component(s)

flyteadmin

### Are you sure this issue

[2022-08-26 14:18] #2728 closed

[2022-08-26 18:45] eugenejahn opened #2817 "[BUG] flytekit shows error when registering workflow with union type which contains enum"
### Describe the bug

I try to deploy a workflow with union type which contains enum.
here is the script I am using
[code]

Here is the command that I run
`pyflyte --config ./demo.yaml run  --remote main.py unionWorkflowV3 --a "qeqe"`

Here is the error message that I got
[code]

### Expected behavior

should be able to deploy the workflow to remote

### Additional context to reproduce

_No respon

[2022-08-26 22:28] kumare3 opened #2818 "[BUG] FlytePropeller trims error message, proactively"
### Describe the bug

CAses in which the flytekit generated error is more than 2KB (default), flytepropeller simply truncates the message.
This is undesirable.  Moreover, there is a default trimming done for all events at 100KB threshold

### Expected behavior

100KB+ messages are trimmed and a trimmed indicator is added

### Additional context to reproduce

_No response_

### Screenshots

_No res

[2022-08-27 14:06] ckiosidis opened #2819 "[BUG] stow causes resource exhausted errors on GCP"
### Describe the bug

stow does a double write on gcp which causes quotas being reached on multi-regional buckets

### Expected behavior

stow should do only 1 write per file

### Additional context to reproduce

_No response_

### Screenshots

_No response_

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-08-27 14:06] ckiosidis commented on #2819
https://github.com/flyteorg/stow/pull/6

[2022-08-29 04:50] SmritiSatyanV opened #2820 "[Docs] Use different regex when deploying using helm to define logs"
### Description

While configuring logging link for Splunk, set up a template URI like: ```https://splunk.something.com/en-US/app/search/search?q=search%20index%3Dmy_index%20kubernetes.namespace_name%3D{{ "{{" }}.namespace{{ "}}" }}%20kubernetes.container_name%3D{{ "{{" }}.containerName{{ "}}" }}%20kubernetes.pod_name%3D{{ "{{" }}.podName{{ "}}" }}&display.page.search.mode=smart&dispatch.sample_ra

[2022-08-29 06:56] SmritiSatyanV opened #2821 "[Docs] An example showing AWS EFS volume in eks cluster for ``ReadWriteMany``"
### Description

Provide an example that illustrates how EFS volume can be used in eks cluster.

Ketan:  I think we should have an example of using Efs
[Reference](https://flyte-org.slack.com/archives/CP2HDHKE1/p1660138337197199?thread_ts=1660068983.300349&cid=CP2HDHKE1)

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-08-29 11:31] pingsutw commented on #2817
There are some issues when using `enum` and `str` in the `Union` type at the same time. To unblock you, change the type hint to `Union[List[str], int, Color]`. it should work.

[2022-08-29 16:20] #2819 closed

[2022-08-29 19:30] CalvinLeather commented on #2788
That makes sense... I think the behaviour that load balancing/rebalancing activities causes retries up to the limit is reasonable/expected... just better to have the retries triggered than the panic that currently occurs.

I wish there was some reasonable way to indicate to users why the pod went away on each retry (vs the "pod not found, manually deleted" error I think will happen once this panic

[2022-08-29 22:28] wild-endeavor opened #2822 "[Housekeeping] [polish] Secrets handling"
# Secrets Related Cleanup
## To Investigate

### Single-Binary working
Checked out yes.

### Missing secret
If a secret is missing, handling is ungraceful.  The pod is stuck on container creating (tested on flytectl demo)

[code]

[code]

### Webhook Confusion
https://flyte-org.slack.com/archives/CP2HDHKE1/p1660840108152709?thread_ts=1660338586.829659&cid=CP2HDHKE1
[discuss](https://discuss.flyte.

[2022-08-30 03:27] rahul-theorem opened #2823 "[BUG] [flytekit] Serialization fails for unknown types that should fall back to pickle"
### Describe the bug

We encountered a couple of different failure modes when serializing workflows with the following types:

1. **Unknown type in a `Union`**:

In general, `Union[T, R]` where `T` is a known type (ie. `np.array` or `pd.DataFrame`) and `R` is unknown fails. We encountered failures with the following types:

[code]

Example error:
[code]

Interestingly this fails even in the case w

[2022-08-30 03:30] rahul-theorem opened #2824 "[REQUEST] Increase execution ID to 63 characters"
### Describe the issue

We'd like to allow users to be able to create named executions up to 63 characters in length (to mirror the limit in Argo Workflows). Currently, `flyteadmin` has a hard-coded limit of 20 characters: https://github.com/flyteorg/flyteadmin/blob/7b48c856e3a1e12c57f1abbf535bf6c29fa59d74/pkg/manager/impl/validation/execution_validator.go#L19

### What if we do not do this?

N/A

[2022-08-30 15:38] shivaylamba opened #2825 "[Docs] Create separate section for custom pip dependencies inside getting started series"
### Description

There should be a separate section inside getting started guide for handling custom pip dependencies. The section should teach the user how to run a task that relies on pip (or apt) dependencies that are not in the base image.  This should explain the fact that we used a default image in the first step, and how to build on it.

### Are you sure this issue hasn't been raised alread

[2022-08-30 16:55] shivaylamba opened #2826 "[Docs] Exploring tasks beyond Python: Using Spark based Tasks"
### Description

There should be a separate section inside getting started guide for explaining users how to use tasks that might not be Python based, for example: Spark based tasks.

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-08-30 16:57] shivaylamba opened #2827 "[Docs] Getting Started Guide section: different tasks using different images"
### Description

There should be a separate section inside getting started guide for explaining users how to handle different tasks using different images.  Here we explain how different tasks can use different images.

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-08-30 17:04] shivaylamba opened #2828 "[Docs] Getting Started Guide section on Scaling a project to a repository"
### Description

There should be a separate section inside getting started guide for on scaling a project to a repository using flyte register.  In this section we will teach the user how to work with and structure their code in a whole repo.

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-08-31 13:50] hajapy opened #2832 "[Core feature] Specifying TTL for flyte managed files"
### Motivation: Why do you think this is important?

Data that is passed from tasks in flyte workflows is typically in the form of a FlyteFile, which abstracts away how that data is stored on a remote object store, like s3. Regulatory requirements can often impose a lifetime on data, and there is no obvious way to specify the lifetime of such files that are managed by Flyte. By supporting a specif

[2022-08-31 14:17] #2705 closed

[2022-08-31 14:54] hamersaw commented on #2754
This is an interesting issue, I think there are two things to answer here:
(1) How do we mount volumes in Flyte tasks?
(2) How can we programmatically create persistent volumes and claims (PVCs) for new Flyte projects.

I think the former must be documented - as discussed in the google doc we can either use the pod plugin to define a VolumeMount in the PodSpec for the task or use the default PodTe

[2022-08-31 19:54] #2739 closed

[2022-08-31 19:54] #2786 closed

[2022-08-31 20:07] #2824 closed

[2022-09-01 14:48] hamersaw commented on #2768
Closing as duplicate of [this issue](https://github.com/flyteorg/flyte/issues/2703)

[2022-09-01 14:48] #2768 closed

[2022-09-01 15:07] #2546 closed

[2022-09-01 19:24] rafaelraposospot opened #2837 "[Core feature] Cleanup feature in Flyteadmin to automatically cleanup database when records older than X"
### Motivation: Why do you think this is important?

Right now our Db keeps piling up the tasks and growing massively, it would be great to have a feature in place where flyteadmin would only keep X amount of days of executions.

### Goal: What should the final outcome look like, ideally?

Flyteadmin clears the database records via command.

For example:
`flyteadmin cleanup -d 90`

This command ca

[2022-09-01 19:26] rafaelraposospot commented on #2837
WIP https://github.com/flyteorg/flyteadmin/pull/467

[2022-09-01 19:56] jacobbrookins opened #2839 "[BUG] Dataclass int field becomes float when passed to task"
### Describe the bug

It appears that when serializing/deserializing a dataclass, there is an issue where ints are cast to floats.

Dataclass
[code]

Workflow file
[code]

When running the task `run_action`, the `int` args are `float` and the code below is erroring, as an `int` is expected and defined in the `dataclass`

### Expected behavior

All inputs to `run_action` will have the type that was

[2022-09-01 21:07] katrogan opened #2840 "[BUG] Subworkflow recover mode is broken"
### Describe the bug

When recovering this [nested_parent_wf](https://github.com/flyteorg/flytesnacks/blob/1b86bdd84cb55ad65c9c97256d91da0c1a3e2610/cookbook/core/control_flow/subworkflows.py#L67), the second t1 was incorrectly recovered with the subworkflow outputs, not the task outputs:

<img width="1696" alt="Screen Shot 2022-09-01 at 2 05 12 PM" src="https://user-images.githubusercontent.com/95

[2022-09-01 21:07] katrogan commented on #2840
cc @hamersaw

[2022-09-01 21:36] katrogan opened #2841 "[Core feature] When getting unauthenticated errors, admin clients should re-initialize with a secure connection"
### Motivation: Why do you think this is important?

It's possible that due to transient failures, the clientset builder in flyteidl will [fall back to an unauthenticated provider](https://github.com/flyteorg/flyteidl/blob/1bbcb5b106d302b12bf4088edf1586fa11407f82/clients/go/admin/client.go#L188) however, in scenarios where authentication is enabled and required downstream callers of the client wil

[2022-09-02 05:39] SmritiSatyanV opened #2842 "[Docs] Change limit set in the platform configuration [1Gi] for memory in sandbox"
### Description

You can change the set limit using the below commands:

[code]

Add it in the environment guide setup or troubleshooting guide. The above config works for sandbox.

For demo cluster, you can't change config at runtime. Hence, change the config and build a custom image.
[code]

**OR**

``docker exec`` into the cluster and modify the flyte.yaml file.
``docker run -v my_flyte.yaml:fl

[2022-09-02 16:29] hamersaw commented on #2788
@CalvinLeather - do you recall if there was anything interesting in the `reason` or `message` fields in the pod status? So there are two cases where the "pod not found ... manually deleted" message occurs. either (1) the object is missing from k8s, in which case we can't really do anything because flyte parsing k8s logs is out of the question, or (2) the object has been marked as deleted by k8s, i

[2022-09-02 16:45] hamersaw opened #2843 "[Core feature] Decorate manually deleted k8s resources with error message"
### Motivation: Why do you think this is important?

Flyte Pods (or other k8s resources depending on the plugin) may be delete by an external process in the background. Flyte can detect this in two scenarios (1) the k8s object is missing or (2) the k8s object is marked as "deleted". In the latter case we should attempt to decorate the Flyte error message with the cause of deletion. In Pods there i

[2022-09-02 19:53] CalvinLeather opened #2844 "[BUG] Failure during flytekit remote launch w/ dataclass flytekit.core.type_engine.TypeTransformerFailedError: Type of Val 'XXXX' is not an instance of <class 'XXXX'>"
### Describe the bug

Originally reported in https://flyte-org.slack.com/archives/CREL4QVAQ/p1661266231263149, also encountered by our team. When launching a remote execution of a task that takes a dataclass as input, the type is incorrectly inferred. This results in a failure in flytekit before the task is launched. This error looks like:

[code]

We also found something that may be a related bug

[2022-09-02 19:54] CalvinLeather commented on #2844
[Some discussion of this happened in slack](https://flyte-org.slack.com/archives/CREL4QVAQ/p1661266231263149)

[2022-09-03 14:58] kumare3 commented on #2840
@katrogan  this is a correctness issue. Can we get on this

[2022-09-04 19:40] rahul-theorem opened #2845 "[BUG] Flyte Console crashes while rendering LaunchPlan page w/ complex JSON as a fixed or default input"
### Describe the bug

When registering a launch plan w/ a complex nested JSON object as a fixed or default input, Flyte Console crashes when attempting to render the launch plan page w/ the following error:

[code]

### Expected behavior

Launch plan page loads

### Additional context to reproduce

Register a LaunchPlan with the following as a default or fixed input:

[code]

### Screenshots

<img

[2022-09-04 20:00] rahul-theorem commented on #2845
This appears to be related to #567

[2022-09-05 05:37] #2792 closed

[2022-09-05 06:39] SmritiSatyanV opened #2846 "[Docs] Unable to view pod logs from console, elaborate how to use logging link"
### Description

``User: we configured own domain name and able to access the flyte console after running workflow. jobs are getting succeed but unable to view the pod logs from the console. link is pointing to http://localhost:30082/  like below but our flyte url is https://dev-flyte.example.com/.
please let me know anything need to be updated. also we dont see any logs are pushed to cloudwatch a

[2022-09-05 07:55] y8gao opened #2847 "How to add description for workflow? [Docs]"
### Description

I checked the webpages in docs, but not found any document that describes how to add description of workflow in FlyteUI.
And in Flyte UI, Description section always says "this workflow has no description".
![image](https://user-images.githubusercontent.com/5154290/188398062-c388280f-a8ed-4541-9ea1-517013df3c7e.png)

So my question is: how to add this description or where can I fin

[2022-09-05 11:32] pingsutw commented on #2847
You could update the description by using [flytectl](https://docs.flyte.org/projects/flytectl/en/latest/gen/flytectl_update_workflow-meta.html#).
[code]

[2022-09-05 11:51] pingsutw opened #2848 "[BUG] Failed to restart demo cluster"
### Describe the bug

FlyteAdmin failed to connect to Postgres after restarting the demo cluster

### Expected behavior

Successfully restart demo cluster

### Additional context to reproduce

[code]

### Screenshots

<img width="877" alt="image" src="https://user-images.githubusercontent.com/37936015/188442455-a3dfc2ee-5c44-4f6f-a420-f2ba0da64fad.png">

### Are you sure this issue hasn't been rai

[2022-09-05 15:52] bimtauer opened #2849 "[BUG] Flyteadmin authzserver rejects Basic Authorization header - ClientSecret auth flow with SynchronousFlyteClient fails"
### Describe the bug

In order to do some automated integration testing from within github actions we're trying to use flytekits `SynchronousFlyteClient` with "ClientSecret" to launch executions and check results.

flytekit correctly parses the authType setting and tries to put together an HTTP Basic auth request (see [code](https://github.com/flyteorg/flytekit/blob/master/flytekit/clients/raw.py#

[2022-09-06 17:34] pingsutw opened #2852 "[Core feature] Use fast_package in pyflyte run"
### Motivation: Why do you think this is important?

Currently, pyflyte run use [register_script](https://github.com/flyteorg/flytekit/blob/aff19cb8bd59c5376cd638cef4ee39f05786a3a8/flytekit/clis/sdk_in_container/run.py#L543-L551), and it has some limitations. such as
1. Failed to run the workflow on the remote cluster if workflow script imports other files because pyflyte run only uploads a single

[2022-09-06 17:34] pingsutw commented on #2852
cc @wild-endeavor

[2022-09-06 18:28] #2845 closed

[2022-09-06 18:37] ursucarina opened #3436 "Investigate noneType test failures"
After fixing a prop error in tests [in this PR ](https://github.com/flyteorg/flyteconsole/pull/579),, we are getting actual test failures for noneTypes

![Image](https://user-images.githubusercontent.com/6610300/188713426-9b9b1d6b-0467-43df-9217-4075c669d847.png)

[2022-09-06 19:22] hamersaw commented on #2840
This seems to be happening because we use the node ID from the node execution context to retrieve the node information during recovery [here](https://github.com/flyteorg/flytepropeller/blob/aa3e9a6dae446a3a4cbb7e92faa37d2ba75883a0/pkg/controller/nodes/executor.go#L158). This function doesn't prepend the node ID with the parent, so in the case of our subworkflow the node IDs are "n0" and "n1" rathe

[2022-09-06 20:51] katrogan commented on #2840
nice find! thank you @hamersaw for looking into this!

[2022-09-06 22:23] #2788 closed

[2022-09-07 03:53] hamersaw commented on #2840
OK, this is actually pretty complex - and can confirm dynamic tasks are broken too, but maybe worse. As explained above when we attempt to recover the node execution we use the [NodeID from the NodeExecutionMetadata](https://github.com/flyteorg/flytepropeller/blob/aa3e9a6dae446a3a4cbb7e92faa37d2ba75883a0/pkg/controller/nodes/recovery/client.go#L25). This means that nodes with parents will not incl

[2022-09-07 06:54] SmritiSatyanV opened #2853 "[Docs] pyflyte register examples"
### Description

To improve searchability of ``pyflyte register``, add more examples mentioning ``pyflyte register``

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-09-07 06:57] SmritiSatyanV opened #2854 "[Docs] Improve the deploying workflows-registration page"
### Description

User: We have Flyte deployed already and now we are looking into best practices of Flyte usage, particularly how to structure, build and deploy  projects, workflows, and tasks, but we have too many questions. Particularly we were reading the doc page [Deploying Workflows - Registration](https://docs.flyte.org/projects/cookbook/en/latest/auto/deployment/deploying_workflows.html) ,

[2022-09-07 07:06] eapolinario opened #2855 "[BUG] flytekit docker images failed to build in beta version 1.2.0b0"
### Describe the bug

As can be seen in https://github.com/flyteorg/flytekit/runs/7887779364?check_suite_focus=true, the flytekit docker images fail to build to a version incompatibility in the plugins.

We should invest in automation to catch this kind of error earlier in the process, preferably as part of creating a release.

### Expected behavior

Docker images should have been built successful

[2022-09-07 14:36] hamersaw opened #2856 "[Housekeeping] Enqueue in subqueue only on terminal Pod phase"
### Describe the issue

Currently the FlytePropeller workqueue contains two levels. The first is where FlytePropeller pulls workflows from the periodically evaluate. The second is used as a batching queue to ensure fast downstream node evaluations while mitigating issues caused by high frequency execution. FlytePropeller adds workflows the the subqueue when [k8s resource updates are observed](http

[2022-09-07 14:48] hamersaw opened #2857 "[Housekeeping] Use passthrough workflowstore to perform CRD terminations / manipulations"
### Describe the issue

FlytePropeller uses the workflowstore to abstract FltyeWorkflow CRD updates and retrievals from the k8s API. To provide additional functionality, this API is designed to wrap other implementations with additional layers. In the default-case this manifests as:
(1) the [passthrough workflowstore](https://github.com/flyteorg/flytepropeller/blob/master/pkg/controller/workflowst

[2022-09-07 18:10] andrewwdye opened #2858 "[BUG] NodeExecutionRepo.ListEvents is broken"
### Describe the bug

Simple call to `NodeExecutionRepo.ListEvents` fails with
[code]
Looks like this interface is unused and can likely be removed

### Expected behavior

Query succeeds

### Additional context to reproduce

[code]

### Screenshots

_No response_

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-09-07 18:33] slauth-io-tal opened #2859 "[Core feature] Per-domain secrets mounting"
### Motivation: Why do you think this is important?

When running a task within a certain domain (production/staging/development), it should be (security-)isolated from other domains. Meaning, secrets should be bound to a single domain and shouldn't be accessible to other domains.

An example - while the same task in different domains might require a database secret, the tasks running in the devel

[2022-09-07 22:27] #2755 closed

[2022-09-08 06:06] #2689 closed

[2022-09-08 06:35] pmahindrakar-oss opened #2860 "[BUG] Flyteadmin crashes on scp claims returning string from auth server token"
### Describe the bug

[code]

### Expected behavior

Admin should not crash

### Additional context to reproduce

_No response_

### Screenshots

_No response_

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-09-08 13:44] #2533 closed

[2022-09-08 13:44] #2574 closed, assigned to hamersaw

[2022-09-08 15:44] hamersaw opened #2861 "[BUG] Recovery of dynamic tasks may result in duplicate evaluations"
### Describe the bug

The [node recovery lookup operations](https://github.com/flyteorg/flytepropeller/blob/8b8e5a8a3db1bdc7a2ad0e66ba78015e6120e97b/pkg/controller/nodes/recovery/client.go#L13-L16) use a node ID to retrieve the most recent node execution. Since task event version 1 these [node IDs are fully qualified](https://github.com/flyteorg/flytepropeller/blob/8b8e5a8a3db1bdc7a2ad0e66ba78015e

[2022-09-08 17:17] #2840 closed

[2022-09-08 21:50] wild-endeavor commented on #2848
We just saw this on a call with someone.  In that instance, it was memory issues at the docker engine level.  User increased memory and disk space considerably and it worked after that.

I think the right thing to do here though is to figure out a way to not run postgres at all in the k3s cluster.  And we should get rid of minio too.  Not sure what's the best way to do this.

[2022-09-09 04:25] kumare3 commented on #2138
The database can be set to sqlite3 using
[code]
And the best way to work on this is to use the single binary development
the local config is here - https://github.com/flyteorg/flyte/blob/5f801cd4f66b9a19f8321b3b420ec2a73dc6702f/flyte_local_k3d.yaml#L27-L33

And you can setup a local development environment using
https://github.com/flyteorg/flyte/blob/5f801cd4f66b9a19f8321b3b420ec2a73dc6702f/Makefi

[2022-09-09 06:26] pmahindrakar-oss opened #2862 "[FlyteCTL Feature] Pass audience field in device auth flow"
### Describe the feature/command for FlyteCTL

Device auth flow relied on the default audience configuration on the auth server and this is how its configured by most of our users.

For security purposes its better not to have this default audience and instead have the client send the audience in the request and the auth server returns the token with the claims populated with it.

Allow passing an

[2022-09-09 17:14] #2855 closed

[2022-09-09 17:41] eapolinario commented on #2859
cc: @katrogan , do you have a good idea of how this could be implemented? Also in terms of prioritization, where this should fall?

[2022-09-09 17:42] eapolinario commented on #2858
@andrewwdye , can we close this?

[2022-09-09 17:44] eapolinario commented on #2853
@SmritiSatyanV , can you quantify what needs to happen here? List the examples we want to add.

[2022-09-09 17:48] andrewwdye commented on #2858
Ah yes. I expected it to auto-close based on the reference in https://github.com/flyteorg/flyteadmin/pull/473

[2022-09-09 17:48] #2858 closed

[2022-09-09 17:49] eapolinario commented on #2848
@kumare3 , can you leave a brief description of what you're trying to do with removing the postgres dependency? The idea is to use sqlite?

[2022-09-09 17:52] eapolinario commented on #2846
@SmritiSatyanV , can you add more context? Link to the slack thread at the very least.

[2022-09-09 17:52] eapolinario commented on #2844
@pingsutw , can we close this?

[2022-09-09 17:53] wild-endeavor commented on #2847
You shouldn't have to use flytectl though... there's ongoing work to bring in user comments.  In the hopefully near future, the registration process will just pick up comments from the code for tasks, workflows, and input parameters (and output parameters? @pingsutw )

[2022-09-09 17:55] pingsutw commented on #2844
yes, closed it.

[2022-09-09 17:55] #2844 closed

[2022-09-09 18:26] wild-endeavor commented on #2847
Adding pingsutw to this ticket, he's working on it next week.  we'll post updates here when we have them.  thank

[2022-09-09 19:44] #2841 closed

[2022-09-09 19:49] #2778 closed

[2022-09-09 20:07] katrogan commented on #2859
@eapolinario unfortunately flyteadmin has no concept of domain-default values, matchable attributes are per-project or per-workflow currently. Ideally I'd like us to add domain-wide matchable attributes for this and all other use-cases

Ideally we could add default secrets to the [WorkflowExecutionConfig](https://github.com/flyteorg/flyteidl/blob/master/protos/flyteidl/admin/matchable_resource.pro

[2022-09-09 21:04] katrogan commented on #2138
this is an incredibly stale PR, but this is how far we made it last time trying to get sqlite in admin working: https://github.com/flyteorg/flyteadmin/pull/374

[2022-09-12 02:46] wild-endeavor commented on #2842
hey @SmritiSatyanV let's hold off on making this change.  we are making some changes to the way flytectl brings up the demo cluster that will change the steps here.  let's circle back to this in six weeks or so?

[2022-09-12 02:48] wild-endeavor commented on #2852
@pingsutw if you haven't started working on this, can we maybe split this into two tickets?  I talked to eduardo about this and we both feel that the addition of the `--pkg` switch is kinda unrelated to the change we wanted to make here.  pyflyte run commands as they are today, just need to do more - the behavior today is basically just buggy, and we should fix the bugs.  adding the pkg switch I t

[2022-09-12 03:39] SmritiSatyanV commented on #2846
The conversation I have mentioned above is the only context in slack.. @eapolinario

[2022-09-12 03:43] SmritiSatyanV commented on #2842
Absolutely @wild-endeavor , thank you for the update..

[2022-09-12 04:03] kumare3 opened #2863 "[Core feature] Use https://github.com/Textualize/rich for pyflyte commands to help build great UX"
### Motivation: Why do you think this is important?

Sometimes errors are not easy to understand, sometimes stack traces are raised. Also tables and other things can be rendered much better with rich

### Goal: What should the final outcome look like, ideally?

Beautiful rendering of the CLI

### Describe alternatives you've considered

NA

###  Propose: Link/Inline OR Additional context

_No resp

[2022-09-12 07:44] pingsutw opened #2864 "[BUG] Failed to run BQ task when cache is enabled"
### Describe the bug

[Slack Thread](https://flyte-org.slack.com/archives/CREL4QVAQ/p1662676755605089)

Failed to run BQ task when the cache is enabled because [type validation](https://github.com/flyteorg/flytepropeller/blob/9cf5368793e5d60113cb819a6e496a7b6accd619/pkg/compiler/validators/typing.go#L157) is failing.

[code]

When the cache is enabled, we'll retrieve artifacts from datacatalog and

[2022-09-12 07:47] pingsutw commented on #2864
cc @wild-endeavor

[2022-09-12 08:29] pingsutw opened #2865 "[Core feature] Add support for duckdb with structured dataset"
### Motivation: Why do you think this is important?

[duckdb](https://github.com/velascoluis/serverless-duckdb) is a serverless DB deployed at GCP. we could integrate it with Flyte, and write task output, like `pandas.DataFrame` or `arrow.Tables`, to duckdb transparently.

[code]

### Goal: What should the final outcome look like, ideally?

Add a duckDB plugin in flytekit, and add a structured dat

[2022-09-12 11:10] samhita-alla commented on #2754
@hamersaw, I agree with you. (2) relies on the CI/CD setup. If you think documenting (2) isn't a good idea, let's skip it. But should we be guiding the user somehow without being specific? Do you have any ideas on how we can do that?

[2022-09-12 14:36] SmritiSatyanV opened #2866 "[Docs] Specify fluent-bit's requirement while pushing logs from Flyte to cloudwatch"
### Description

Amazon recommends using that https://aws.amazon.com/premiumsupport/knowledge-center/cloudwatch-stream-container-logs-eks/
for streaming logs from eks containers https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/Container-Insights-EKS-logs.html

If there are logs in cloudwatch, user needs to use fluent-bit to push logs from Flyte to Cloudwatch.
[Slack conversation](htt

[2022-09-12 15:01] MorpheusXAUT opened #2867 "[Core feature] Cache eviction override for a single execution"
### Motivation: Why do you think this is important?

As suggested in https://github.com/flyteorg/flyte/pull/2633, cache eviction/cleanup functionality provides Flyte users as well as administrators with more control about what data is to be cached by Flyte and allows for cleanup of no longer required results.

### Goal: What should the final outcome look like, ideally?

This issue tracks implement

[2022-09-12 15:03] MorpheusXAUT commented on #2867
I'm currently in the process of implementing this based on our RFC. This issue was mainly created as a tracking issue for the various PRs to come across Flyte repos.

If you'd prefer, I can also split this into smaller issues per Flyte component.

[2022-09-12 15:06] hamersaw commented on #2754
Unfortunately I don't have a great idea. In our recent OSS planning meeting there was some push towards github discussions? That way these things are searchable, it's basically what stackoverflow was designed for. I don't know if that is the correct direction either - it would be perfect to have some way that these issues don't bloat the docs but are still available if necessary.

[2022-09-12 15:27] fg91 opened #2868 "[BUG] New flytectl version ignores storage settings from config file"
### Describe the bug

flytectl `v0.6.12` ignores the storage settings, e.g. endpoint url, in the config file while `v0.5.8` does not.

[code]

(I have not tested whether other settings are ignored as well.)

### Expected behavior

The new version should not ignore the storage settings.

### Additional context to reproduce

I'm executing the following script in a container with either `v0.6.12` (la

[2022-09-12 20:02] hamersaw commented on #2822
@wild-endeavor I have a PR open adding optional flags on k8s secrets for file mounts and env vars. This works when I manually create Pods for both, for example:
[code]
I can see /tmp/healthy exists after 10 seconds but the secret is not mounted. This should allow flytekit to execute in the container and fail when the secret is missing. (this works similarly for env vars). However, when I tested th

[2022-09-12 21:37] eapolinario opened #2870 "[BUG] Do not use TypeVar to denote the extension of a Flytefile"
### Describe the bug

Linters like [pylint](https://pylint.pycqa.org/en/latest/) are not happy with the [blessed way of defining `FlyteFile` extensions](https://github.com/flyteorg/flytekit/blob/master/flytekit/types/file/__init__.py#L28-L82) today. A user reported seeing this error when pylint in the sagemaker example:

[code]

We use this pattern in other places as well, e.g. https://github.com/

[2022-09-12 21:38] eapolinario commented on #2870
We should invest in using `Annotated` to define the extension of `FlyteFile` objects.

[2022-09-12 23:11] hamersaw opened #2871 "[BUG] Flyte pod webhook uses certs with a 1 year expiration"
### Describe the bug

Currently the flyte pod webhook, which is responsible for injecting secrets, [creates a self signed cert](https://github.com/flyteorg/flytepropeller/blob/9cf5368793e5d60113cb819a6e496a7b6accd619/pkg/webhook/init_cert.go#L164) with a 1 year expiration. This is problematic for long-running Flyte deployments because once the certificate expires all calls to the webhook will fail

[2022-09-13 02:09] kumare3 commented on #2868
@fg91 we have gone away from these settings and use FlyteAdmin to generate the storage request using signed urls

[2022-09-13 11:50] fg91 commented on #2868
Makes sense, I recently assigned the `iam.serviceAccounts.signBlob` permission to the flyte admin service accounts in our GKE clusters and fast registration works there without a problem.

In the current scenario I use the `flyte-deps` and `flyte-core` helm charts with the sandbox values for an MLOps tutorial. The underlying bucket, thus, is minio.
In the tutorial I'm trying to demonstrate how fly

[2022-09-13 16:11] alexdt1982 commented on #2870
Hey, I'm looking to make my first open source contribution. Can I work on this?

[2022-09-13 20:18] wild-endeavor opened #2874 "[Housekeeping] [plugins] Remove Hive/Presto"
### Describe the issue

Remove Hive & Presto plugins

### What if we do not do this?

They will continue to confuse potential contributors.

### Related component(s)

flytekit, flyteplugins.

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-09-13 21:36] sakthi-tech4th opened #2875 "flytecl register throws Error on Windows"
Hi,

I'm trying to create flyte workflows in Windows and tried to follow the 'Getting Started' instructions.
When I try to register the packaged files, I'm getting this error.
**Error: CreateFile /tmp: The system cannot find the file specified.**
Here is a screenshot:
![Screenshot 2022-09-13 172839](https://user-images.githubusercontent.com/110414092/190013418-60409c3e-1c9a-42fc-9f1d-bc3af8e57020.

[2022-09-13 23:36] mounesi opened #2879 "[Housekeeping] Papermill example failure?"
### Describe the issue

I have followed the steps to get the papermill extension working with the jupyter notebook. I have ran into 500 GET error.
https://docs.flyte.org/projects/cookbook/en/latest/auto/integrations/flytekit_plugins/papermilltasks/index.html

### What if we do not do this?

People who want to get a quick try and experience of Flyte will fail running this jupyter integration and ma

[2022-09-14 05:30] pmahindrakar-oss commented on #2875
Hi @sakthi-tech4th , thanks for reporting the issue, It does support windows but seems archive flow is having an issue.
https://github.com/flyteorg/flytectl/blob/master/cmd/register/register_util.go#L513
Can you help with a small contribution to fix this https://github.com/flyteorg/flytectl/blob/master/cmd/register/register_util.go#L513
You can try the change locally by doing `make compile` and th

[2022-09-14 10:10] highfly22 opened #2880 "[BUG] Integer type cannot be reserved when changing python dict type to struct_pb2"
### Describe the bug

If I pass an argument as dict, then the argument can not be reserved the integer type. So I have to use YAML string directly.

[code]

### Expected behavior

I expect the result of the following code is integer 1 not float 1.0.

### Additional context to reproduce

_No response_

### Screenshots

_No response_

### Are you sure this issue hasn't been raised already?

- [X] Ye

[2022-09-14 13:29] sakthi-tech4th commented on #2875
Sure, I'll create a bug fix branch 'bug-fix-2875' and commit as soon as possible.

[2022-09-14 15:18] hamersaw commented on #2864
I'm not sure I have enough context on StructuredDatasets to completely understand this issue. It sounds like this type supports many different formats (ie. parquet, csv, etc), but the column definitions are not known at compile-time. So currently, we type check only the format. The issue is that sometimes the format can be defined as empty (ie. "")? It seems like with how opinionated Flyte is with

[2022-09-14 18:33] sakthi-tech4th commented on #2875
Hi @pmahindrakar-oss , I have made the fix and was able to run it locally.
I have created a local branch 'bug-fix-2875' with the changes and tried to push it to the repo but I got an access denied message.
![Screenshot 2022-09-14 142916](https://user-images.githubusercontent.com/110414092/190234528-df97c107-2e66-423a-9fea-9a50ba319dfb.png)
I will appreciate, if you could guide me here. Thanks...

[2022-09-14 18:45] katrogan opened #2881 "[Core feature] Flytekit execution models should expose more fields"
### Motivation: Why do you think this is important?

Currently the [execution models](https://github.com/flyteorg/flytekit/blob/master/flytekit/models/execution.py) expose a subset of the underlying [execution fields](https://github.com/flyteorg/flyteidl/blob/master/protos/flyteidl/admin/execution.proto).

We should expose the abort_metadata in the closure and reference execution in the metadata

[2022-09-14 18:45] katrogan commented on #2881
cc @wild-endeavor

[2022-09-14 21:34] wild-endeavor commented on #2849
Actually I'm having trouble repro'ing this (small caveat see below).  I'm able to get this to work.  `test-config.yaml` has

[code]
where `/opt/local/newsecret` has the password.

The code I'm running is

[code]

The caveat is that the password file cannot have a newline in it.  The current code doesn't strip.  Will add this stripping in a PR for the next release.  cc @eapolinario

[2022-09-15 05:19] #2860 closed

[2022-09-15 05:28] pmahindrakar-oss commented on #2875
Hi @sakthi-tech4th , please fork the repo and send a PR to this repo's master branch

[2022-09-15 06:21] Antaxify opened #2882 "[Core feature] Add default execution cluster option for a multi-cluster setup"
### Motivation: Why do you think this is important?

In our company, we run an specialized on-premise cluster and want to join it as an execution cluster to our Flyte installation in the cloud. This way we can easily interchange results between on on-premise / cloud and write launch plans using both clusters using launch plans. However, we only want specific workflows/tasks to run on the on-premis

[2022-09-15 06:24] Antaxify commented on #2882
We already have a working solution for this and would like to contribute it, if the outlined solution is acceptable.

[2022-09-15 07:03] #2740 closed

[2022-09-15 09:17] honnix opened #2883 "[Core feature] Supporting customized k8s client in various k8s plugins"
### Motivation: Why do you think this is important?

Organizations may have different Flyte setup, where one could set up centrally managed k8s clusters to run different types of jobs: batch, ML, etc.; while another setup could be different teams managing their own k8s clusters for different purposes.

It would be great to be able to configure the [core k8s plugins](https://github.com/flyteorg/fly

[2022-09-15 09:59] #2813 closed

[2022-09-15 11:12] tamis-laan opened #2884 "[BUG] Getting started guide, can't run on local cluster"
### Describe the bug

I'm trying out Flyte locally running through the getting started guide:
https://docs.flyte.org/en/latest/getting_started/index.html

The code runs great using `pyflyte` but doesn't work properly when running on the local demo cluster.

running:
[code]
results in the error:
[code]

### Expected behavior

The example code should run on the local cluster I created using:
[code]

[2022-09-15 11:15] #2618 closed

[2022-09-15 12:40] pingsutw commented on #2864
Type validation happens at compile(register) time and runtime.

[code]

- Compile time
In above example, flytekit will serialize `StructuredDataset` to [StructuredDatasetType](https://github.com/flyteorg/flyteidl/blob/fc9ab1e1196e697347b68555db49fcdd7623d4a0/protos/flyteidl/core/types.proto#L46-L70)(columns="", format="parquet"), which means the dataframe will be serialized to a parquet file by de

[2022-09-15 14:22] pmahindrakar-oss opened #2885 "[BUG] [Flytescheduler] Fixed rate scheduler doesn't respect the initial startTime after a restart"
### Describe the bug

Fixed rate scheduler allows to schedule flyte executions at defined regular intervals.
Rates supported are hour, day and minutes.

When scheduler starts and its given a fixed rate schedule then it uses the current time to schedule new executions at an interval provided by fixed rate

In case the scheduler restarts , it should use the last known time stamp of the execution if

[2022-09-15 18:06] hamersaw commented on #2864
OK, last two questions:
(1) Does the format ever matter in a StructuredDataset? It seems that it can be used arbitrarily, and then if it doesn't matter why do we include it in type checking?
(2) If I understand correctly, this breaks because the function returns a different type; although not to the same extent, this is same as:

    @task
    def foo() -> int:
        return "a"

In this case it

[2022-09-15 18:14] hamersaw opened #2886 "[Core feature] Fast cache hit success"
### Motivation: Why do you think this is important?

Currently a cached task requires a sequence of state changes to successfully proceed within FlytePropeller. For example, (1) copying inputs from previous nodes, (2) performing cache lookup, (3) writing outputs. Each of these stages requires additional I/O (and time overhead) in committing workflow state at each stage, which may have significant

[2022-09-15 18:23] hamersaw commented on #2864
Quick update - the following example:
[code]
fails with:
[code]
I'm still wondering if it makes sense to remove the runtime check on the data type during the cache lookup and just let flytekit fail if there's an issue?!?!

[2022-09-15 19:26] pingsutw commented on #2864
There are still some benefits to do a runtime check on the data type during the cache. For example, If the error happens on the propeller side, then we don't need to spend additional time and resources to run the task.

I think you're probably right.

[code]
In the above example, it fails at compile time because the format in the SD doesn't match.
However, I think It is not necessary for users to

[2022-09-15 23:56] glammers-zymergen opened #2887 "[BUG] Cannot resolve flytekit dependencies"
It looks like a [new version](https://pypi.org/project/grpcio-status/1.49.0/) of `grpcio-status` was released which requires protobuf >= 4.21.3. flytekit only allows protobuf < 4, so attempting to simply run `pipenv install flytekit` fails.

Not sure whether to submit a PR that restricts the version of `grpcio-status` [here](https://github.com/flyteorg/flytekit/blob/aedcfd40a0d5cb11c60f97e71b71198

[2022-09-16 02:22] #2800 closed

[2022-09-16 02:23] hamersaw commented on #2800
tracked in duplicate issue - https://github.com/flyteorg/flyte/issues/2778

[2022-09-16 03:13] #2784 closed

[2022-09-16 11:17] SmritiSatyanV opened #2888 "[Docs] API reference for pyflyte"
### Description

Need API references for ``pyflyte`` init, local-cache, package, register, run, and serialize

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-09-16 14:58] #2706 closed

[2022-09-16 16:01] hamersaw opened #2889 "[Core feature] Add task_execution_deadline configuration to propeller"
### Motivation: Why do you think this is important?

Currenlty, FlytePropeller supports configuration of [node and workflow execution and active deadlines](https://github.com/flyteorg/flytepropeller/blob/287f39269b2b071ca85376af7ebe287d0b5fdd13/pkg/controller/config/config.go#L205-L216). These configuration are used as an upper bound to `abort` the specified resources if they have been active or r

[2022-09-16 17:06] #2823 closed

[2022-09-16 17:10] eapolinario commented on #2787
@pmahindrakar-oss , can we close this?

[2022-09-16 17:30] pmahindrakar-oss commented on #2787
yes closing this. One issue is pending with [PR](https://github.com/flyteorg/flyteidl/pull/314)  which is tracked [separately](https://github.com/flyteorg/flyte/issues/2862)  . Also  we didn't implement logging of the URL as mentioned in the main title but instead settled on implementing the Device flow of Oauth2.0. If needed we can change the title and description or leave it as it is

[2022-09-16 17:30] #2787 closed

[2022-09-16 17:40] eapolinario commented on #2884
We are suspecting that it's an initialization issue. We'll investigate and comment here with what we discover.

[2022-09-16 18:06] eapolinario commented on #2866
@SmritiSatyanV , can you link to the slack thread where this conversation happneed?

[2022-09-16 18:54] eapolinario opened #2890 "[FlyteCTL Feature] Remove support for storage flag"
### Describe the feature/command for FlyteCTL

We should drop the `storage` flag entirely now that past Flyte 1.0.

In https://github.com/flyteorg/flytectl/pull/296 we removed the need for users to define a `storage` stanza in their config files and in https://github.com/flyteorg/flytectl/pull/319 we stopped inserting that stanza in the generated config files, however the flag is still present in

[2022-09-16 18:54] eapolinario commented on #2868
@fg91 , as @kumare3 mentioned, we now rely on `flyteadmin` to produce signed urls which are then used by the clients to upload the artifacts. In this particular case, you mentioned you're using the sandbox helm charts, in there you'll find [this](https://github.com/flyteorg/flyte/blob/master/deployment/sandbox/flyte_helm_generated.yaml#L327-L329) override. Can you remove that block and redeploy th

[2022-09-17 00:58] eapolinario commented on #2880
@highfly22 , can you expand on the problem here? In what context are you using the `DictTransformer` directly? Maybe give an example of how you're seeing this behavior.

[2022-09-17 12:21] hamersaw commented on #722
Completed in https://github.com/flyteorg/flyte/issues/2705

[2022-09-17 12:21] #722 closed

[2022-09-17 12:25] hamersaw commented on #170
Closing in favor of https://github.com/flyteorg/flyte/issues/2867

[2022-09-17 12:25] #170 closed

[2022-09-17 12:25] hamersaw commented on #1303
Closing in favor of https://github.com/flyteorg/flyte/issues/2867

[2022-09-17 12:25] #1303 closed

[2022-09-17 17:52] timle2 commented on #2887
I had to pin `grpcio-status==1.48.1` to get the install to work.
Otherwise we see:
[code]

[2022-09-18 10:31] tamis-laan commented on #2884
@eapolinario
This is standing in the way of evaluating Flyte for our use case, is there a working version I can revert to?

[2022-09-19 02:18] highfly22 commented on #2880
I parse a YAML configuration file to dict, then pass it as context argument. The configuration contains some integer data. When I try to access the integer data, an invalid parameter exception is raised. Because the integer data has been casted to a float value.

So I make a new Class to wrapper the configuration, and serialize it into a string.

[2022-09-19 05:32] SmritiSatyanV opened #2893 "[Docs] Document how to set up SSL while using pyflyte run on gcloud cluster"
### Description

[Slack conversation](https://flyte-org.slack.com/archives/C01P3B761A6/p1663432297323919)
User fixed SSL setup while using pyflyte run after setting up their cluster on gcloud. Used the below steps as mentioned in [google doc](https://docs.google.com/document/d/1skJWmt3hJoIuPQr_RfR-gB9wlatVSIcSD5VlBylJqd8/edit):

Contents of above doc:
1. Follow tutorial upto [SSL cert](https://doc

[2022-09-19 06:24] y8gao commented on #2847
Good to know this updates. Thanks, and I will try this new version after it is ready.  Thanks for your comments.

[2022-09-19 13:02] #2557 closed

[2022-09-19 17:24] andrewwdye opened #2894 "[BUG] PreviousCheckpointPath assumes attempt-1"
### Describe the bug

When retrying a task we pass the previous checkpoint path in the task context. Today [we assume that the most recently available checkpoint is from the prior attempt](https://github.com/flyteorg/flytepropeller/blob/9cf5368793e5d60113cb819a6e496a7b6accd619/pkg/controller/nodes/task/taskexec_context.go#L226); however, this may not be correct if the prior attempt failed before r

[2022-09-19 17:40] andrewwdye commented on #2254
I'm tackling the first part of this feature request -- passing the previous checkpoint to a recovered execution (like we do for retried tasks). I intend to include the path in the node execution closure and store in the admin DB. This will require changes in both propeller and admin.

I will defer treating checkpoints as meta outputs and optionally passing them as meta inputs to a separate workflo

[2022-09-19 19:00] pingsutw opened #2895 "[BUG] Dataclass becomes empty after running ray remote function"
### Describe the bug

[Slack thread](https://flyte-org.slack.com/archives/CREL4QVAQ/p1663569726857659)

Failed to serialize dataclass because the value became empty for some reason after running ray remote function

### Expected behavior

Successfully serialize the dataclass

### Additional context to reproduce

[code]

### Screenshots

_No response_

### Are you sure this issue hasn't been raised

[2022-09-19 19:54] jevers-bc opened #2896 "[Docs] Flyte Tensorflow cookbook example doesn't work on Macbooks with Silicon Chip"
### Description

Trying to run the Tensorflow example from the Flyte cookbook results in an error for users with the Mac silicon chip.

Tutorial - [link](https://github.com/flyteorg/flytesnacks/tree/master/cookbook/integrations/kubernetes/kftensorflow)

Tensorflow can be installed on a user's local machine via `pip install tensorflow-macos`, but using base image for the tutorial (`tensorflow/tenso

[2022-09-19 20:02] cosmicBboy opened #2897 "[Docs] WhyLogs integration page needs pip install instructions"
### Description

https://docs.flyte.org/projects/cookbook/en/latest/auto/integrations/flytekit_plugins/whylogs_examples/index.html

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-09-19 22:11] kumare3 opened #2898 "[BUG] [flyte-scheduler] Error handling can lead to very high backoff"
### Describe the bug

Flyte Scheduler uses backoffs to try and recover from errors in communicating with FlyteAdmin.

But, the backoff logic can lead to extremely large back-offs.
https://github.com/flyteorg/flyteadmin/blob/f0e4c890ee4e872d32541a6e9f02adbeb2656f47/scheduler/executor/executor_impl.go#L99

### Expected behavior

The back-off should be capped at a few miinutes and lower bound should

[2022-09-20 00:59] eapolinario commented on #2884
@tamis-laan , first of all, sorry for your trouble. Can you say a bit more about how you're running this? The initial suspicion I had turned out to not be true, so I'm very interested in knowing what's happening in your case.

For example, after you run `flytectl demo start` are you able to open http://localhost:30080/console? Can you also double-check the existence of the config file mentioned af

[2022-09-20 05:24] samhita-alla opened #2899 "[BUG] Cached task is oblivious to the code changes"
### Describe the bug

New code changes aren't getting picked up when the task is cached.

### Expected behavior

Cached outputs need to be discarded when code changes are introduced in the cached task.

### Additional context to reproduce

[code]

1. Register the workflow
2. Run the workflow
3. Change the output to 3
4. Re-register the workflow
5. The output of t1 is still 2 (fetch from cache)

##

[2022-09-20 10:58] SmritiSatyanV opened #2901 "[Housekeeping] Deleted CRON schedule shorthands"
### Describe the issue

Keep tabs on flytekit to support CRON schedule shorthand.

Currently, flytekit doesn’t support this format but the scheduler does.Use the regular 5 field standard cron for now.
Ensure that shorthands work with the upcoming flytekit versions

### What if we do not do this?

Users won't be able to use CRON shorthands.

### Related component(s)

_No response_

### Are you sure

[2022-09-20 12:57] hamersaw commented on #2899
@samhita-alla did you increment the `cache_version`? Cache keys are determined by the task id, cache version, and input values. There is currently no mechanism in Flyte to configure caching based on internal code changes.

[2022-09-20 13:04] hamersaw opened #2902 "[BUG] Task events in FlytePropeller fail on AlreadyExists"
### Describe the bug

The node execution events have a [wrapper function](https://github.com/flyteorg/flytepropeller/blob/db244d4a384094812846e4778e88e340713ae794/pkg/controller/nodes/executor.go#L123) which ensures idempotent events. This function includes gracefully handling situations where identical events are sent which can happen in case of a failure between FlytePropeller sending an event a

[2022-09-20 13:07] samhita-alla commented on #2899
@hamersaw, oh okay. @pingsutw said this is a valid issue, though: https://flyte-org.slack.com/archives/CP2HDHKE1/p1663345443691509?thread_ts=1663234563.754209&cid=CP2HDHKE1.

I'll close the issue.

[2022-09-20 13:07] #2899 closed

[2022-09-20 13:51] hamersaw commented on #2902
Jumped the gun on this one - this functionality is implemented in [the taskEventRecorder](https://github.com/flyteorg/flytepropeller/blob/master/pkg/controller/nodes/task_event_recorder.go) under the node package.

[2022-09-20 13:51] #2902 closed

[2022-09-20 14:47] ChenpiDog opened #2903 "[Deployment] Flyte on k3s."
### Description

Provide the deployment guidance of flyte on k3s, as detailed as possible, thank you.

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-09-20 18:06] eapolinario commented on #2884
@tamis-laan , also worth checking if you're setting the environment vars mentioned after `flytectl demo start` finishes. For example:
[code]

[2022-09-21 08:07] tamis-laan commented on #2884
The console is reachable but I don't have a `~/.flyte/config.yaml` I do have a `~/.flyte/config-sandbox.yaml`:
[code]

[2022-09-21 08:11] tamis-laan commented on #2884
[code]

I have set both environment variables:
[code]

Still I het the same error:
[code]

[2022-09-21 08:18] SmritiSatyanV opened #2905 "[Docs] Render flytekit.configuration.FastSerializationSettings as a clickable entity"
### Description

[Here](https://docs.flyte.org/projects/flytekit/en/latest/generated/flytekit.configuration.SerializationSettings.html#flytekit.configuration.SerializationSettings), render the class definition ``FastSerializationSettings`` as rendered in the flytekit repo.

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-09-21 18:32] kpalen opened #2908 "[UI Feature] Set timestamps to local timezone in console"
### Motivation: Why do you think this is important?

Folks checking on the status of workflows and tasks in the Flyte console sometimes have trouble with time zone conversion in their head.

### Goal: What should the final outcome look like, ideally?

Users would like to set the timezone on their console to their local timezone instead of UTC.

### Propose: Link/Inline OR Additional context

_No r

[2022-09-22 01:12] CalvinLeather opened #2910 "[Core feature] Support for File Families/Files With Indices Indices"
### Motivation: Why do you think this is important?

In bioinformatics work especially, file families, or files with indices, are common. This occurs when multiple files with the same stem, but different suffixes, jointly contain a dataset. This occurs either because a single csv-like has a index allowing for efficient lookups (e.g., a .vcf file and a [tabix-based .vcf index)](http://www.htslib.or

[2022-09-22 01:12] CalvinLeather commented on #2910
This discussion started [in slack](https://flyte-org.slack.com/archives/CP2HDHKE1/p1663692816505609)

[2022-09-22 07:49] tamis-laan commented on #2884
@eapolinario

Is there a way to revert to a working version?

[2022-09-22 11:23] #1679 closed

[2022-09-22 11:25] samhita-alla commented on #1616
@evalsocket, is this issue resolved?

[2022-09-22 11:26] jamindy commented on #1616
您好，已收到您的邮件，我会尽快给您回复。

[2022-09-22 11:31] samhita-alla commented on #2183
@pmahindrakar-oss @evalsocket, is this issue resolved?

[2022-09-22 11:32] samhita-alla commented on #1030
@wild-endeavor @pingsutw, has the issue been resolved?

[2022-09-22 15:30] evalsocket commented on #1616
Yes

[2022-09-22 15:30] #1616 closed

[2022-09-22 22:26] eapolinario opened #2911 "[Housekeeping] Dockerize call to "go generate" in flyteidl makefile"
### Describe the issue

Differences in the versions of the go toolchain cause the build scripts to fail (e.g. in https://github.com/flyteorg/flyteidl/pull/321 we noticed that the build failed because we were running `make generate` with versions 1.18.6 and 1.19).

Instead, we should control the environment in which the calls to `go generate` happen, by, for example, running that in a docker contai

[2022-09-23 00:12] eapolinario opened #2912 "[BUG] Lift restrictions on the definition of HashMethod"
### Describe the bug

Currently we only allow for the hash of pandas dataframes and StructuredDatasets to be overridden, but we found out that users are interested in overriding the hash of any value, including primitive types.

### Expected behavior

We should lift the restriction on the definition of HashMethod and let any value have its hash overridden.

### Additional context to reproduce

Not

[2022-09-23 04:07] kumare3 opened #2913 "[UI Feature] FlyteConsole launchForm should allow naming an execution"
### Motivation: Why do you think this is important?

Executions in Flyte can be named using this [parameter](https://github.com/flyteorg/flyteidl/blob/c4ea1f9824ce60b18d56d6bd109e89089f23c1ec/protos/flyteidl/admin/execution.proto#L30)

### Goal: What should the final outcome look like, ideally?

Users are optionally able to enter the name for an execution

### Propose: Link/Inline OR Additional co

[2022-09-23 04:08] kumare3 opened #2914 "[UI Feature] Users should be able to create new schedules on the UI"
### Motivation: Why do you think this is important?

LaunchPlan creation and schedule creation should be supported in the UI

### Goal: What should the final outcome look like, ideally?

Users can create new schedules for workflows from the UI

### Propose: Link/Inline OR Additional context

_No response_

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Co

[2022-09-23 09:42] samhita-alla commented on #1550
@katrogan, has this issue been resolved?

[2022-09-23 09:48] samhita-alla commented on #2897
Also, need to ensure whylogs doc is rendering properly.

[2022-09-23 09:51] samhita-alla commented on #2820
@SmritiSatyanV, what should be done exactly? Is there a slack thread?

[2022-09-23 09:53] samhita-alla commented on #2796
Need to also fix the broken YouTube video links in the flyte docs and add the relevant ones.

Blog: https://blog.flyte.org/
YouTube: https://www.youtube.com/channel/UCNduEoLOToNo3nFVly-vUTQ

[2022-09-23 09:59] samhita-alla commented on #2694
@SmritiSatyanV, could you link the google doc we have? Should we have the page in the community tab of our docs?

The task here is to convert the google doc to a flyte doc page.

[2022-09-23 10:01] samhita-alla commented on #2499
@SmritiSatyanV, has this issue been resolved?

[2022-09-23 10:05] samhita-alla commented on #2662
@SmritiSatyanV, any idea what this means?

[2022-09-23 10:36] samhita-alla opened #2917 "Flyte Hacktoberfest 2022: Issues, Ideas and Guidelines"
Hello hello 👋!

It's that time of year again! We're excited to kick off Hacktoberfest and get you started on your open-source contributions. As a product that's dedicated to a better tech future, we love the message behind this event: that by collaborating and encouraging each other, we can all make a difference. ✨

This issue tracks all the engineering, content-related ideas, issues and contribut

[2022-09-23 12:00] sanjaychouhan-adf opened #2918 "Deploy Flyte Sandbox to a Cloud Kubernetes Cluster doc is missing a command"
### Description

The doc https://docs.flyte.org/en/latest/deployment/sandbox.html#deploy-flyte-sandbox-to-a-cloud-kubernetes-cluster need one more step to configure the minio url in configmap of flyteadmin.

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-09-23 12:29] evalsocket commented on #2918
User need minio access at 30084, So they need to run `kubectl port-forward --address 0.0.0.0 svc/postgres 30084:9000 -n flyte` in the background,

@eapolinario I faced this issue with a few on-prem user before also, They want to configure signed URL from helm so they don't need to port forward, But our helm chart only support sandbox(local) https://github.com/flyteorg/flyte/blob/master/charts/flyt

[2022-09-23 17:52] cosmicBboy commented on #2888
Use [sphinx click](https://sphinx-click.readthedocs.io/en/latest/) to generate CLI reference docs

See [here](https://github.com/unionai-oss/unionml/blob/main/docs/source/cli_reference.rst) for example usage

[2022-09-23 18:12] #2818 closed

[2022-09-23 18:41] eapolinario commented on #2918
Just linking https://github.com/flyteorg/flyte/issues/2868 as that is the exact same issue.

[2022-09-24 04:15] andrewwdye opened #2921 "[BUG] flytekit setup doesn't support testing on arm/M1"
### Describe the bug

Running `make unit_test` from an M1 machine fails with
[code]

### Expected behavior

`make unit_test` succeeds on a clean repo

### Additional context to reproduce

1. git clone https://github.com/flyteorg/flytekit.git
2. `make setup`
3. `make unit_test`

### Screenshots

_No response_

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the

[2022-09-24 04:25] andrewwdye commented on #2921
Looks like protobuf 4.21.x adds support for universal wheels and arm (https://github.com/protocolbuffers/protobuf/issues/8820), although this is incompatible with flyte kit dependencies

[2022-09-24 04:26] andrewwdye commented on #2921
Just found the duplicate issue -- https://github.com/flyteorg/flyte/issues/2261

[2022-09-24 04:26] #2921 closed

[2022-09-25 21:12] jdanbrown opened #2924 "[BUG] Spurious cache misses on dicts that are nested (_calculate_cache_key is nondeterministic)"
### Describe the bug

- Spurious cache misses caused by nondeterministic dict key ordering when dicts are contained deeply within a task's inputs, i.e. not just a single dict at the top level
- Follow up to https://github.com/flyteorg/flytekit/pull/1126, where this was fixed for top-level dicts but it appears to still be broken for dicts nested more deeply
- Below is a repro showing the behavior u

[2022-09-26 04:52] #2918 closed

[2022-09-26 05:04] SmritiSatyanV commented on #2662
https://docs.flyte.org/projects/flytekit/en/latest/_modules/flytekit/core/schedule.html#CronSchedule isn't rendered correctly.
This could be something I recently saw on Slack. This PR: https://github.com/flyteorg/flyte/pull/2900

[2022-09-26 05:25] samhita-alla commented on #2662
If you think the issue's resolved, can we close it?

[2022-09-26 05:32] SmritiSatyanV commented on #2662
Yep

[2022-09-26 05:32] #2662 closed

[2022-09-26 05:34] SmritiSatyanV commented on #2820
The contents of slack thread is the description of the issue. Added the link to slack convo @samhita-alla

[2022-09-26 05:36] SmritiSatyanV commented on #2694
https://docs.google.com/document/d/1rhEZqd3Ae8Y9HUxg7yF6LarHrfIHKnPyeke8aMSPgis/edit?usp=sharing - here's the google doc

[2022-09-26 05:40] SmritiSatyanV commented on #2694
The user specifies code guide here. What we have is a documentation style guide. I think we need to have a separate code style guide..

[2022-09-26 10:33] pmahindrakar-oss commented on #2183
Dont see this issue anymore . Closing it
[code]

[2022-09-26 10:33] #2183 closed

[2022-09-26 12:29] #2854 closed

[2022-09-26 13:17] samhita-alla commented on #2694
Oh, okay. Do we have an issue for porting the doc style guide to our docs?

[2022-09-26 13:17] samhita-alla commented on #2820
Could you please link the discuss.flyte.org thread?

[2022-09-26 14:39] hamersaw commented on #2883
Adding a bit of context here. The Flyte Flink plugin [exposes configuration for the kubeclient](https://github.com/spotify/flyte-flink-plugin/blob/072809cf4f594253d1a395e5887104433e4baa34/pkg/flink/auth.go#L25-L30). This is then [passed to FlytePropeller instance](https://github.com/spotify/flyte-flink-plugin/blob/072809cf4f594253d1a395e5887104433e4baa34/pkg/flink/executor.go#L42-L55) during the r

[2022-09-26 14:47] hamersaw commented on #2883
This should be a relatively easy change. However, this deployment model is something that we don't suggest. This complicates things like secret management, inter-cluster management, exposing multiple failure domains, etc. For these reasons it's likely this will not get implemented unless it comes as a community contribution. We are very happy to help with anything, feel free to reach out.

[2022-09-26 15:57] pmahindrakar-oss opened #2925 "[Housekeeping] Flytescheduler improvements"
### Describe the issue

- [ ] Improve flytescheduler logs to list the execution ID it launched and whether the execution’s already existed.
- [ ] Automate resetting the scheduler snapshots when needed.
- [ ] Add a link to the Workflow/Task linked to the LP from the launch plan flyteconsole page
- [ ] The LP UI should show the past & upcoming schedules and also show any missed scheduled by correlat

[2022-09-26 20:50] shivaylamba opened #2926 "[BUG] flytectl table view doesn't display state value"
### Describe the bug

On changing the value of the state of a launchplan and running the command to fetch the launchplan details, `flytectl` table view doesn't display the value for the state. Using the `-o yaml` does display the state value.

Example:
``
flytectl -c /Users/shivaylamba/union.yaml \
        get launchplan \
        -p flytesnacks \
        -d development \
       --version v0.3.135

[2022-09-27 04:28] hankfanchiu opened #2927 "[Core feature] Support mapping `principal` to Kubernetes namespace"
### Motivation: Why do you think this is important?

At Stripe, Flyte users will be able to register and then launch workflows on an ad hoc basis, without second party review. Within these workflows, some tasks may access sensitive data. From a security perspective, we must be able to thread the identity of a Flyte user through Flyte Admin and Kubernetes to downstream, internal services or resourc

[2022-09-27 21:16] wild-endeavor commented on #2849
@bimtauer is this still an issue?

[2022-09-27 21:54] #2202 closed

[2022-09-27 22:08] sakthi-tech4th opened #2929 "Flyte Console - ValueError: Generic Type typing.Union not supported currently in Flytekit"
Hi,

I'm trying to launch a workflow in the Flyte Console (Sandbox Environment in a Windows Machine) and I'm getting the above mentioned error for a task that accept pandas DataFrames (2 data frames) and returns a DataFrame.

`[1/1] currentAttempt done. Last Error: USER::Pod failed. No message received from kubernetes.

[adbrq7s7x2kbwln2k5df-n0-0] terminated with exit code (1). Reason [Error]. Mes

[2022-09-28 09:03] hamersaw opened #2930 "[BUG] FlyteDecks do not persist during workflow recovery"
### Describe the bug

Recovered workflows do not maintain FlyteDecks from tasks that succeeded in the previous workflow. This seems to be because during workflow recovery we [check for the existence of the FlyteDeck](https://github.com/flyteorg/flytepropeller/blob/9c173bd106dec326018ca6380e636cdc50f31e40/pkg/controller/nodes/executor.go#L254) based on the current node execution context. In this sc

[2022-09-28 14:22] bimtauer commented on #2849
Hey @wild-endeavor, thanks for checking up on this. The newline issue indeed fixed this for me. Thanks for including this in the next release 🙏🏼

[2022-09-28 14:22] #2849 closed

[2022-09-28 15:27] eapolinario commented on #2162
@pingsutw , can you leavea  comment explaining why this was closed?

[2022-09-28 15:57] pingsutw commented on #2162
@eapolinario Spotify is still using sys_ptrace in the raw container, so we keep it in flytecopilot.
btw, we already have file access mode (Upload the literal once the SUCCESS file is present) in copilot. These two modes (file access and sys_ptrace) are configurable now.

[2022-09-28 21:22] eapolinario commented on #2903
@ChenpiDog , we support a [number of deployments](https://docs.flyte.org/en/latest/deployment/index.html) in our docs and it'd be unwieldy if we decided to officially support yet another deployment strategy. Unfortunately we don't have the capacity to maintain yet another deployment story.

Having said that, the sandbox development environment uses k3s under the covers. You can read about it [here

[2022-09-28 21:22] #2903 closed

[2022-09-28 21:46] #1721 closed

[2022-09-29 00:36] sakthi-tech4th opened #2931 "Issue with registering files to projects in flytectl"
After, packaging the files with pyflyte, I have been trying to register them to flytesnacks project in the flyteconsole.
FlyteConsole is up and running in the Sandbox cluster. However, I'm getting the following error:
![image](https://user-images.githubusercontent.com/110414092/192912523-76e890bd-a818-44fc-8624-ec1d6203d828.png)

Any idea on the cause of this error? Is there a quick fix, i can wor

[2022-09-29 05:00] Ln11211 commented on #2809
Hey there,
@samhita-alla
I went through the thread and I understood that updating/increasing the `maxMessageSizeBytes` was the fix to Anna's problem, but I wanted to know more about the problem and wonder how the fix works, so I checked for documentation and files about `FlyteRemote.sync` and couldn't find any.. So, should I just reference Anna's problem in the documentation ?

Are there other doc

[2022-09-29 05:01] Ln11211 commented on #2809
#self-assign

[2022-09-29 05:59] samhita-alla commented on #2809
@Ln11211, thanks for assigning yourself to the issue. Here's the documentation on sync: https://docs.flyte.org/projects/flytekit/en/latest/design/control_plane.html#retrieving-inspecting-executions. Please add the fix to this page and the [troubleshooting guide](https://docs.flyte.org/en/latest/community/troubleshoot.html#troubleshoot) as well.

[2022-09-29 16:24] hamersaw opened #2933 "[Core feature] Fast fail tasks if resource quota request exceeds k8s quota limits"
### Motivation: Why do you think this is important?

Currently, FlytePropeller [detects resource quota issues](https://github.com/flyteorg/flytepropeller/blob/c8493d25e4dcaea5635f451df55beb56b26513e4/pkg/controller/nodes/task/k8s/plugin_manager.go#L229-L230) using k8s error messages with code 403 and "exceeds quota" in the message. However, this approach is unable to differentiate between scenario

[2022-09-29 16:24] hamersaw commented on #2933
cc @btang-stripe

[2022-09-29 17:05] hajapy opened #2934 "[Docs] Getting started - installing flytectl more securely"
### Description

In the getting started guide, the process to [install flytectl for other operating systems suggests](https://github.com/flyteorg/flyte/blob/v1.2.0-b3/rsts/getting_started/index.rst#creating-a-demo-flyte-cluster):

[code]

Passing in an arbitrary script to bash with sudo privileges is a recipe for bad things to happen (eg. codecov incident).

Given that installing flytectl can be a

[2022-09-29 17:46] pwnb0y commented on #2917
I am very interested in contributing to Flyte

[2022-09-29 20:38] hajapy opened #2935 "[Housekeeping] Produce multi-arch images in CI/CD pipelines"
### Describe the issue

Update the build pipelines to also produce arm64 images.

At a glance, I think these workflows would need to be updated:

https://github.com/flyteorg/flytetools/blob/master/.github/workflows/docker_build.yml#L34
https://github.com/flyteorg/flytetools/blob/master/.github/workflows/publish.yml#L36
https://github.com/flyteorg/flyte/blob/master/.github/workflows/create_release.

[2022-09-30 00:32] EngHabu commented on #2927
@hankfanchiu thank you for filing the issue...

There are two parts to this change:
1. The cluster resource sync (that attempts to create/update K8s resources for each project/domain): you will have to disable that because there is no realistic way for it to pickup the principals. Is that your expectation as well? the provisioning of namespaces/service accounts... etc. will happen out of band?
2.

[2022-09-30 04:04] sanjaychouhan-adf opened #2937 "Workflow name changes based on the script name or package structure when registering"
### Describe the feature/command for FlyteCTL

Detail :
https://flyte-org.slack.com/archives/CP2HDHKE1/p1664440196382279

Basically we should have option to not prepend the workflow or task names with the script file name and the package structure.

### Provide a possible output or UX example

Workflow and task names on the UI should be just the function name and not the scriptname.functionname

#

[2022-09-30 04:14] kumare3 commented on #2937
@sanjaychouhan-adf lets take an example
[code]
then you want the workflow name to be `my_wf`. But, what if the same `function` name exists in 2 different scripts? I guess UI can still show both the names?

Or do you prefer
[code]

[2022-09-30 04:16] kumare3 commented on #2931
@sakthi-tech4th seems like your setup is incorrect? Some core tables do not exist. this is really odd.
can you ensure that the `flytectl demo start` completed successfully

cc @evalsocket

[2022-09-30 04:29] sanjaychouhan-adf commented on #2937
@kumare3
The second option looks better.

[2022-09-30 05:26] samhita-alla commented on #2917
@pwnb0y, awesome! Please feel free to assign yourself to the issues you want to work on.

[2022-09-30 07:00] Azanul commented on #2926
I'd like to start work on this.

[2022-09-30 07:02] Azanul commented on #2635
I'd like to work on this.

[2022-09-30 08:26] Ln11211 commented on #2796
@samhita-alla , I am interested in doing this.

#self-assign

[2022-09-30 09:22] mkubdev commented on #2388
Hi, can I be assigned to this issue, please?

[2022-09-30 13:19] Azanul commented on #2926
```#self-assign```

[2022-09-30 13:32] Azanul commented on #2926
#take

[2022-09-30 13:34] Azanul commented on #2926
#take

[2022-09-30 13:35] Azanul commented on #2635
#take

[2022-09-30 13:42] Azanul commented on #2917
@samhita-alla, there is no self-assign action here.

[2022-09-30 14:46] samhita-alla commented on #2917
My bad! Updated the description now.

[2022-09-30 14:50] Azanul commented on #2635
#self-assign

[2022-09-30 14:55] Azanul commented on #2917
I still don't understand how we could assign ourselves

[2022-09-30 16:33] Shrey-Nahar commented on #2908
@eapolinario are there any resources or docs for reference for this issue so that i can go through them and try making my contribution..