[2022-09-30 16:35] btang-stripe commented on #2933
I think you mean *more than k8s resource quota limits

[2022-09-30 16:38] hamersaw commented on #2933
I think you're right! Updated, and working on this right now.

[2022-09-30 17:00] hankfanchiu commented on #2927
Yes, that is our expectation -- we will manage the principal-based namespaces and service accounts out of band.

Looks straightforward enough. Thank you for the guidance, @EngHabu!

[2022-09-30 17:50] hankfanchiu commented on #2927
Within `clusterresource.controller.Sync()`, how should we handle not having a principal to pass to `common.GetNamespaceName()`?

https://github.com/flyteorg/flyteadmin/blob/281172edf55fe6800959238fc128964ead6d9101/pkg/clusterresource/controller.go#L580

[2022-09-30 18:05] #2642 closed

[2022-09-30 19:55] Rutam21 commented on #2388
#self-assign

[2022-09-30 21:03] DoraTheExplorax commented on #2897
Hi, can you assign me this issue?

[2022-09-30 23:36] 3t8 commented on #2897
I fixed the rendering of the code blocks. Now you can see the pip installation instructions

[2022-10-01 01:27] 3t8 commented on #2796
I added blog links for horovod and airflow. Not too sure in which part of the documentation the AWS post would fit better

[2022-10-01 03:27] Ln11211 commented on #2796
Hey there @samhita-alla  ,Although I was assigned to this, It seems people have raised PRs for this first thing today and they seem to almost complete the task mentioned here so, should I let go off this issue or can I go ahead with doing this? :)

[2022-10-01 05:31] aniketh-varma commented on #2388
#self-assign

[2022-10-01 05:34] aniketh-varma commented on #2870
Hi @samhita-alla, can I work on this issue?

#self-assign

[2022-10-01 05:36] samhita-alla commented on #2917
@Azanul, click "assign yourself".

<img width="431" alt="image" src="https://user-images.githubusercontent.com/27777173/193394373-06d6f608-186f-4cf1-b86f-c89ecaf38acd.png">

[2022-10-01 05:41] samhita-alla commented on #2870
@alexdt1982 / @aniketh-varma, please feel free to create a PR. It's first-come, first-serve.

[2022-10-01 05:55] Azanul commented on #2917
@samhita-alla, I don't think I've sufficient permissions for doing that.

![Screenshot_20221001_112256](https://user-images.githubusercontent.com/42029519/193394890-6a893f5c-8ba9-4d9b-a22c-5ecd61c028cc.png)

[2022-10-01 06:08] Ln11211 commented on #2796
Hey @samhita-alla & @kumare3  , I went through some blog posts checking for broken links and I found couple of them that redirect to `LYFT Engineering blog` and I know you guys moved to your own blog(blog.flyte.org) for publishing posts so I am going to go ahead and try to fix these links :)

[2022-10-01 07:22] trishitapingolia commented on #2388
I have already started working on this issue, please assign me to it.

[2022-10-01 07:49] aryamans29002 commented on #2753
can i work on this @cosmicBboy

[2022-10-01 13:17] navyansh007 commented on #2908
Hello, I am eager to work on this issue, please do assign me this issue, and will push the code as soon as work is done

[2022-10-01 15:43] kumare3 commented on #2908
Cc @jsonporter

[2022-10-01 15:48] trishitapingolia commented on #2388
Let me know if i should continue this.

[2022-10-01 15:52] BAGEERADHAN commented on #2917
I would like to contribute on some blogs. So can you assign that to me

[2022-10-02 03:29] dennisobrien opened #2941 "[BUG] Running make test on a computer with a GPU causes some test failures"
### Describe the bug

After following the instructions in the [Flytekit contribution guide](https://docs.flyte.org/projects/flytekit/en/latest/contributing.html) I ran `make test` from the project root and got two test failures.  The laptop I am running the tests on has a GPU device.

[code]

I temporarily disabled the GPU with
[code]
Then re-ran the tests with no failures.

It seems like the test

[2022-10-02 10:01] samhita-alla commented on #2917
@Azanul, ah okay! Why don't you leave a comment? I'll assign the issue to you.

[2022-10-02 10:06] Azanul commented on #2635
@samhita-alla here

[2022-10-02 10:06] Azanul commented on #2926
@samhita-alla and here

[2022-10-02 10:08] samhita-alla commented on #2897
Thanks, @3t8 for creating the PR. Will review it shortly.

[2022-10-02 10:09] samhita-alla commented on #2796
Thanks, @3t8 for creating the PRs. Will review them shortly.

[2022-10-02 10:13] samhita-alla commented on #2917
@BAGEERADHAN, there's no issue for blog posts. If you're willing to work on one, please feel free to create a draft and share it here or on Slack. You can create a PR later for the same.

[2022-10-02 10:41] AnirudhDaya opened #2942 "A developer environment, for faster and efficient contributions"
### Feature request

Hello maintainers.
I would like to add gitpod to your repo to help beginners contribute.
 - Gitpod is an online IDE which can be launched from any GitHub page. Within seconds, Gitpod provides a fully working development environment, including a VS Code-powered IDE and a cloud-based Linux container explicitly configured for the project
- Gitpod is highly contextual, such that i

[2022-10-02 21:26] dennisobrien commented on #2941
The cause of this issue appears to be that in the `to_python_value` method of `PyTorchTypeTransformer` the return object is loaded on GPU if it is available and CPU otherwise.

[code]

But in the test `test_to_python_value_and_literal` in `tests/flytekit/unit/extras/pytorch/test_transformations.py` the test objects are by default loaded onto the CPU and then being compared to objects loaded onto t

[2022-10-03 05:12] sanjus-robotic-studio commented on #2888
#self-assign

[2022-10-03 05:13] sanjus-robotic-studio commented on #2888
Hey can you Assign this issue to me?

[2022-10-03 06:24] pmahindrakar-oss opened #2943 "[Housekeeping] Add precheck in demo and sandox commands for local kubeconfig"
### Describe the issue

sandbox and demo clusters copies the kubecontext to connect to the cluster into the local machines default kubecontext and switches over to it.

In case the kubecontext doesn't exist locally then the command fails at the this step which is after sandbox is successfully up

Add this precheck for demo and sandbox both
https://github.com/flyteorg/flytectl/blob/master/cmd/demo/

[2022-10-03 06:46] samhita-alla commented on #2942
cc: @kumare3 @eapolinario, do we need gitpod in any of our flyte repositories?

[2022-10-03 06:59] aryabyte21 commented on #2917
https://aryabyte.hashnode.dev/mlops-for-data-scientist tried out a blog

[2022-10-03 07:04] samhita-alla commented on #2796
@3t8, can you also link https://blog.flyte.org/ray-and-flyte to the ray integration doc page, https://blog.flyte.org/bring-ml-close-to-data-using-feast-and-flyte to the feast tutorial page, https://blog.flyte.org/data-quality-enforcement-using-great-expectations-and-flyte to the great expectations integration page, https://blog.flyte.org/map-tasks-in-flyte to the map task page (in user guide / con

[2022-10-03 07:19] samhita-alla commented on #2897
@3t8, could you please fix the grammar of https://docs.flyte.org/projects/cookbook/en/latest/auto/integrations/flytekit_plugins/whylogs_examples/whylogs_example.html#sphx-glr-auto-integrations-flytekit-plugins-whylogs-examples-whylogs-example-py page as well? There's one class that isn't rendering properly as well; please fix that too.

<img width="663" alt="image" src="https://user-images.githubu

[2022-10-03 07:47] samhita-alla commented on #2917
@aryabyte21, thanks for sending the article along! Will review it shortly.

[2022-10-03 18:23] wild-endeavor commented on #208
this is the final flytekit api @hamersaw
[code]

[2022-10-03 18:48] geodavic commented on #2734
Agree this would be useful. Is this equivalent to caching every task within the workflow (assuming tasks are deterministic)?

[2022-10-03 19:16] rajagurunath commented on #2865
Hi Team, I was new to Flyte, Shall I take this task and try this integration of flytekit and DuckDB?
(if no one was working on this issue !)

Thanks in Advance

[2022-10-03 21:46] adithyaakrishna commented on #2908
@samhita-alla Can I take this up?

[2022-10-04 04:38] CAG07 commented on #2821
Has this been assigned or can I work on it @eapolinario ?

[2022-10-04 05:04] samhita-alla commented on #2908
@adithyaakrishna / @navyansh007 / @Shrey-Nahar, please go ahead! It's first-come, first-serve; whosoever creates a PR first will be considered. If you need help, please join the `#hacktoberfest-2022` channel on our [Slack](https://slack.flyte.org/). I'll make sure your questions are answered there.

[2022-10-04 08:48] #2820 closed

[2022-10-04 09:00] rithvikshetty commented on #2888
#self-assign

[2022-10-04 09:11] rithvikshetty commented on #2888
I'm a first time contributor, is this a good first issue?
@cosmicBboy

[2022-10-04 09:55] samhita-alla commented on #2897
@3t8, are you done, or are you fixing the grammar as well?

[2022-10-04 11:32] ryankarlos commented on #2676
Hi @samhita-alla can this be assigned to me please

[2022-10-04 12:32] hamersaw opened #2950 "[Core feature] Set FlytePropeller node and workflow deadlines to infinite"
### Motivation: Why do you think this is important?

FlytePropeller uses a few configuration values, namely `node-execution-deadline`, `node-active-deadline`, and `workflow-active-deadline` to restrict the runtimes of workflows and nodes. These configuration are applied during long-running node and workflow executions. Currently, the defaults are 48h for node deadlines and 72h for workflow deadlin

[2022-10-04 12:36] pmahindrakar-oss commented on #2943
@Icelain I meant we don't do a check for local kubecontext and use the k8sclient to copy over the sandbox context to local kube context https://github.com/flyteorg/flytectl/blob/d2baa0907f7b4ca527bbcc5677483ae8692fd7e6/pkg/sandbox/start.go#L265
and which is after all the sandbox cluster is up and running and fails at these last few steps.

Instead of failing here, it should fail early by validatin

[2022-10-04 14:16] techytushar commented on #2570
Hey @samhita-alla ,
Is someone working on this, can I pick this up?

[2022-10-04 15:21] hamersaw commented on #2822
@wild-endeavor pinging again on this. With the aforementioned PR, we can successfully create and start Pods with missing secrets (both file and env mounted) - but the Pods just hang and do not do anything. I tried to manually execute the `pyflyte execute` command in the Pod container to see if there was any output and there was nothing. After about 90s the Pods fail with "Matplotlib is building th

[2022-10-04 17:32] div-devs commented on #2843
can you assign this to me please

[2022-10-04 17:35] hankfanchiu opened #2951 "[Core feature] Force-enable Flyte Admin's auth endpoints by config, without actually enabling authentication"
### Motivation: Why do you think this is important?

At Stripe, we plan to implement custom, internally consistent authorization, without setting up Flyte's built-in authentication, by:
1. Introducing a Flyte Admin middleware that evaluates some `x-stripe-*` request header containing an access token;
2. Updating every Flyte client to pass this header.

We would like to use Flyte Admin's [`auth.htt

[2022-10-04 18:02] katrogan commented on #1550
I don't recall, but the error message looks [unchanged](https://github.com/flyteorg/flytestdlib/blame/master/storage/stow_store.go#L418)

[2022-10-04 18:08] hankfanchiu commented on #2927
@katrogan, what do you think?

[2022-10-04 18:41] #2882 closed

[2022-10-04 20:05] katrogan commented on #2927
hey @hankfanchiu do you plan on running cluster resource controller to provision user-based namespaces?

[2022-10-04 20:37] wild-endeavor opened #2952 "[Core feature] CI/CD for Flyte binary image"
# Flyte Binary CI/CD
## Background
The Flyte binary combines the Flyte components together into one executable. Something is already updating the relevant go-based components (like how Admin gets bumped [here](https://github.com/flyteorg/flyte/pull/2944/files#diff-33ef32bf6c23acb95f5902d7097b7a1d5128ca061167ec0716715b0b9eeaa5f6R7) in the Flyte release).  But there is no CI/CD to build the image.

[2022-10-04 21:11] hankfanchiu commented on #2927
No, we will separately create user/principal-based namespaces with our own cron job that syncs with an LDAP group's membership list.

[2022-10-04 23:33] eapolinario opened #2953 "[BUG] DataclassTransformer cannot handle members of type Optional[List[T]]"
### Describe the bug

The following code throws:
[code]

Running example using pyflyte run throws this error:
[code]

### Expected behavior

The DataclassTransformer should be able to handle dataclass objects that contain members of type `Optional[List[T]]`.

### Additional context to reproduce

_No response_

### Screenshots

_No response_

### Are you sure this issue hasn't been raised already?

[2022-10-05 02:58] #2641 closed

[2022-10-05 02:58] #2374 closed

[2022-10-05 02:58] #2673 closed

[2022-10-05 03:06] eapolinario commented on #2884
We sync'd offline on this.

The tldr is that the default DNS resolver used by the python grpc client (C-ares according to the [docs](https://github.com/grpc/grpc/blob/master/doc/environment_variables.md)) is unable to resolve the name `localhost`. Forcing the client to use the OS's native dns resolver (by setting the environment variable `GRPC_DNS_RESOLVER=native` unblocks the issue. It's still un

[2022-10-05 06:00] samhita-alla commented on #2570
@techytushar, absolutely! Assigned the issue to you.

[2022-10-05 11:58] roek5803 opened #2955 "Chain dependencies between multiple promises"
### Motivation: Why do you think this is important?

Right now to chain tasks which returns `None` within a workflow you can do that in multiple ways. One of the ways is with `>>`, though when doing it you can only chain 2 promises like: `promise1 >> promise2`, but you can not chain more promises like: `promise1 >> promise2 >> promise3` then i get this error: `TypeError: unsupported operand type(s

[2022-10-05 13:29] srini047 commented on #2917
Hi team! I would like to work on **What is Data Orchestration?**

Here is the [draft](https://dev.to/srini047/what-is-data-orchestration-4kfb-temp-slug-7953970?preview=44f2a4a274977f9272ea655b1c6839766e9d423bd8ae68c54d7223fba32443a0094b8e7455b66550cb1c5ad94e5d3eab3465b770d3b6de80b2574723) to look for updates if required.

[2022-10-05 14:25] kumare3 commented on #2942
I am not opposed to it, but have never used it myself

[2022-10-05 15:58] VPraharsha03 commented on #2569
I'd like to work on this issue. Can you please assign me ?

[2022-10-05 17:21] #2862 closed

[2022-10-05 17:34] trishitapingolia commented on #2796
Can I be assigned to this issue if no one is working on it.

[2022-10-05 19:34] katrogan opened #2957 "[Core feature] Have authorization flow optionally call GetPublicClientConfig"
### Motivation: Why do you think this is important?

The call to GetPublicClientConfig is used to populate the allowable scopes for authenticated flyte deployments, however the endpoint call is not strictly necessary when the scopes are specified in the auth config

### Goal: What should the final outcome look like, ideally?

Much like the optional call to get Oauth2Metadata to find the URL of the

[2022-10-05 21:39] 3t8 commented on #2796
I added all the additional links

[2022-10-05 21:51] 3t8 commented on #2897
I'm done. I also fixed a few wrong capitalized words

[2022-10-05 22:01] ryankarlos commented on #2571
@samhita-alla  ill pick this up

[2022-10-05 22:45] #2957 closed

[2022-10-06 02:05] DarthBenro008 commented on #2472
I think this issue is already resolved under https://github.com/flyteorg/flytectl/pull/329 . Is there any other action item for this issue that's pending?

[2022-10-06 02:47] GrayFlash commented on #2491
Hey @pmahindrakar-oss @samhita-alla can I pick up this issue??

[2022-10-06 07:31] samhita-alla commented on #2942
@AnirudhDaya, we aren't very sure about how gitpod works. How about you include gitpod in the flytesnacks repository and then we could see if it makes sense to include it in our other repositories?

[2022-10-06 07:40] samhita-alla commented on #2491
@GrayFlash, will have to assign it to Hemanth as he created a PR already.

[2022-10-06 07:54] samhita-alla commented on #2796
@3t8, left two suggestions.

[2022-10-06 08:02] samhita-alla commented on #2897
@3t8, merged one PR; awaiting the checks to pass in the other PR. Thanks for working on this issue!

[2022-10-06 14:02] 26tanishabanik commented on #2843
/assign

[2022-10-06 16:16] shahwar9 opened #2959 "[Core feature] Add Audience parameter in ClientSecret Authentication flow."
### Motivation: Why do you think this is important?

We are deploying Flyte as its ML Workflow orchestrator. Auth0 server expects that authentication flow uses `Audience` in its handshake process. When using Flyte with Authentication enabled, Flyte Scheduler and Flyte Propeller talk to Auth0 server with ClientSecret flow. Having no option to set Audience parameter in ClientSecret flow has halted o

[2022-10-06 16:47] iaroslav-ciupin opened #2960 "[UI Feature] Relaunch/recover execution with same clusterPool as original execution"
### Motivation: Why do you think this is important?

flyteidl was recently updated to support specifying cluster pool when creating new execution. We need to make sure when we recover/relaunch execution, same cluster pool is sent in CreateExecution request.

### Goal: What should the final outcome look like, ideally?

On hitting relaunch/recover button, new CreateExecution request must take same c

[2022-10-06 17:32] GrayFlash commented on #2491
oh no issues. @samhita-alla is there any decent feature related issue I can work on?? flytectl repo seems to have no such issues.

[2022-10-06 23:22] #2955 closed

[2022-10-07 02:19] dennisobrien commented on #2941
Another way to force this test to pass when run from a computer with a gpu (and just run the relevant pytorch tests):
[code]

[2022-10-07 06:14] samhita-alla commented on #2491
@GrayFlash, have you seen https://github.com/flyteorg/flyte/issues/2777?

[2022-10-07 07:34] GrayFlash commented on #2491
Sure working on it @samhita-alla  going through the codebase and docs properly.!!

[2022-10-07 07:37] #2953 closed

[2022-10-07 11:01] Perseus-Jackson477 commented on #2753
I would like to work on this @cosmicBboy

[2022-10-07 11:03] Perseus-Jackson477 commented on #2856
I would like to work on this issue @samhita-alla @hamersaw

[2022-10-07 11:05] Perseus-Jackson477 commented on #2856
I would love some guidance on this issue. I am familiar with the language but I am participating in open source projects for the first time

[2022-10-07 16:53] srini047 commented on #2917
I just submitted the draft to show my interest. Will update after I complete the draft.

[2022-10-07 17:30] eapolinario opened #2963 "[Core feature] Integrate with Soda.io"
### Motivation: Why do you think this is important?

[Soda](https://www.soda.io/) is a data quality tool.

### Goal: What should the final outcome look like, ideally?

Similar to the dbt plugin, we should have a soda flytekit plugin.

### Describe alternatives you've considered

Integrations are welcome.

###  Propose: Link/Inline OR Additional context

_No response_

### Are you sure this issue h

[2022-10-07 17:37] eapolinario commented on #2960
Can you open this issue in the [flyteconsole repo](https://github.com/flyteorg/flyteconsole/issues)?

[2022-10-07 17:38] eapolinario commented on #2959
@shahwar9 , I'm assigning this to you. We can sync offline (on slack) if you need any help.

[2022-10-07 17:40] iaroslav-ciupin commented on #2960
@eapolinario https://github.com/flyteorg/flyteconsole/issues/618 done

[2022-10-07 17:57] eapolinario commented on #2925
@pmahindrakar-oss , do you have time to work on this?

[2022-10-07 18:04] AyushK-101 commented on #2950
I would like to work on this

[2022-10-07 19:30] cosmicBboy opened #2965 "[Docs] Add DBT plugin integrations page"
### Description

The purpose of this issue is to create an [integrations page](https://docs.flyte.org/projects/cookbook/en/latest/integrations.html) for DBT.

This should follow the existing structure of these pages:
- an entrypoint `README.rst` page with an intro and installation instructions
- a sphinx gallery python script with code examples and explanation of how to use the plugin

See the [ex

[2022-10-07 19:32] cosmicBboy opened #2966 "[Docs] Add DBT plugin API reference"
### Description

Need to update the flytekit repo with API reference to the new DBT plugin:
https://docs.flyte.org/projects/flytekit/en/latest/plugins/index.html

Update the plugin docs https://github.com/flyteorg/flytekit/tree/master/docs/source/plugins to include the dbt plugin module.

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

-

[2022-10-07 21:46] #2822 closed

[2022-10-08 00:30] wild-endeavor opened #2968 "[BUG] Propeller secrets webhook should respect service name"
# Secrets Webhook Config Mismatch
## Description
The self-signed certs that propeller [creates](https://github.com/flyteorg/flytepropeller/blob/a9b831b28ece9ea487a4d47ec16e39861f7df121/pkg/webhook/init_cert.go#L194) to register the webhook are always set to the const `flyte-pod-webhook`.  But the service name itself is part of the [configuration object](https://github.com/flyteorg/flytepropeller/b

[2022-10-08 00:34] wild-endeavor commented on #2968
cc @jeevb

[2022-10-08 11:47] VanshajPoonia commented on #2917
Hey! I am interested in converting the Docs and Blogs into Spanish, Chinese, Japanese, Korean, Italian, French, or Russian
I can also try out Portuguese and Arabic

Just tell them the language in which you want them to be, and I will start working on them.

[2022-10-08 17:37] hamersaw commented on #2734
@dylanwilder / @geodavic do you think this is something that should be done implicitly or explicitly? For example, if all of the top-level tasks in a subworkflow are cacheable then we could infer that the subworkflow is cacheable. The explicit approach would require an API update (that will have to be discussed) as to how subworkflows / launchplans are marked as cacheable when used by another work

[2022-10-08 18:33] DarthBenro008 opened #2969 "[FlyteCTL Feature] Add verbose logging for other components while using `--verbose`"
### Describe the feature/command for FlyteCTL

As discussed in https://github.com/flyteorg/flytectl/pull/359#pullrequestreview-1132613482 of https://github.com/flyteorg/flytectl/pull/359

The `--verbose` flag of `flytectl sandbox start/teardown` and `flytectl demo start/teardown` only captures logs of `helm/k8s` commands, we would want to capture the logs of other components as well like `docker`,

[2022-10-08 19:03] akarsh-jain-790 commented on #2694
Hey, I would like to work on this issue.

[2022-10-08 19:05] akarsh-jain-790 commented on #2694
If I'm right I just have to convert the google doc to a flyte doc page ?

[2022-10-09 06:19] arpitbhardwaj commented on #2966
Let me know if i can pick it up.

[2022-10-09 07:04] falconcode16 commented on #2952
Hello, I cannot find the dockerfile that you have attached here. I think its an invalid link.

[2022-10-09 08:42] VoidCupboard commented on #2908
Is this issue already fixed?

[2022-10-09 15:32] Alcadeus0 commented on #2965
Hello, i'd love to take this issue

[2022-10-09 16:01] Alcadeus0 commented on #2769
Hello, can i work on this :)

[2022-10-09 22:02] sisco0 commented on #2968
@wild-endeavor Could you kindly set a review over the files in the PR and see what kind of testing could be added?
Thank you!

[2022-10-10 00:02] ryankarlos commented on #701
@samhita-alla  Ive added PR #1230 for this issue. Could this be assigned to me please

[2022-10-10 02:06] Smartmind12 commented on #2934
@hajapy Could you assign this issue to me so that i can work on it ...Thanks!

[2022-10-10 02:09] Smartmind12 commented on #1254
@brucearctor Can you assign this issue to me as i would like to work on it...Thanks!

[2022-10-10 02:11] Smartmind12 commented on #2893
@SmritiSatyanV Can you assign this issue to me as i would like to work on it...Thanks!

[2022-10-10 02:21] Smartmind12 commented on #2660
@marc-union Can you assign this issue to me as i would like to work on it...Thanks!

[2022-10-10 04:02] prabhu43 commented on #2935
Hi,
I am interested to pick this up

[2022-10-10 05:17] brucearctor commented on #1254
@Smartmind12 - this issue isn't narrow enough, and is more of a meta-issue.

There is related work [ in more tractable pieces ] to address.

Ex:
* Generate Java Docs
* Extend Java Docs in code [ for what gets generated ]
* Update webpage to point to Javadocs
* ... etc ...

Suggesting to create issues for each more tractable piece, and then address them one by one.  I'm happy to comment on things,

[2022-10-10 07:04] #2796 closed

[2022-10-10 07:28] samhita-alla commented on #2388
@trishitapingolia, thanks for creating the PR. Will review it shortly.

[2022-10-10 13:25] samhita-alla commented on #2917
@VanshajPoonia, sorry, we don't need our docs to be available in multiple languages for now.

[2022-10-10 14:22] adicoder95 commented on #2888
I am willing to work on this issue as Hacktoberfest participant.
can you assign to me

[2022-10-10 15:20] samhita-alla commented on #2865
@rajagurunath, please go ahead! Do you want me to assign the issue to you?

[2022-10-10 16:43] hamersaw opened #2974 "[BUG] flyte-pod-webhook bind address already in use on startup"
### Describe the bug

When attempting to start a Flyte deployment using the official Flyte helm charts users are experiencing an error regarding failure to bind to the 8080 port:
[code]
Internally this is the port defaulted for the k8s controller-runtime manager, which is specified in the error message.

### Expected behavior

The flyte-pod-webhook should start with no issue.

### Additional conte

[2022-10-10 23:24] hamersaw opened #2975 "[Core feature] serve k8s controller-runtime manager metrics in flytepropeller"
### Motivation: Why do you think this is important?

Currently FlytePropeller uses a k8s controller-runtime manager to aid in k8s informers, caches, etc. This tool includes a metrics endpoint which serves prometheus metrics. In [this PR](https://github.com/flyteorg/flytepropeller/pull/492) that metrics endpoint was disabled to enable Flyte deployments in environments where host networking is requi

[2022-10-11 05:22] rajagurunath commented on #2865
Thanks a lot, @samhita-alla, please assign this issue to me!

[2022-10-11 06:28] Ln11211 commented on #2950
@hamersaw I opened a [PR](https://github.com/flyteorg/flytepropeller/pull/493) , could you please review it? :)

[2022-10-11 08:06] pmahindrakar-oss commented on #2925
Hi @eapolinario , i don't think i can pick this up for next couple of weeks atleast but i can get back to you after that

[2022-10-11 13:26] prabhu43 commented on #2935
Hi
I could not find the usage of this workflow https://github.com/flyteorg/flytetools/blob/master/.github/workflows/docker_build.yml.

Can someone help me to gain some context?

[2022-10-11 15:24] #2974 closed

[2022-10-11 16:05] pingsutw opened #2977 "Failed to create a launch plan for FlyteWorkflow"
### Motivation: Why do you think this is important?

For now, we can only create a launch plan for [WorkflowBase](https://github.com/flyteorg/flytekit/blob/0bb512255c01d48e5233de1e68d8e445ad91f15a/flytekit/core/workflow.py#L165), and we'll get the following error if we try to create LP for [FlyteWorkflow](https://github.com/flyteorg/flytekit/blob/a6363ca18ce23b467f0625e254ca57f83050743f/flytekit/r

[2022-10-11 17:19] prabhu43 commented on #2935
@eapolinario I changed 2 workflows in flytetools to publish multi-arch images.
Since https://github.com/flyteorg/flyte/blob/master/.github/workflows/create_release.yml does not have docker build step, its not applicable there.

[2022-10-11 18:37] Smartmind12 commented on #2934
@cosmicBboy @eapolinario @hajapy Kindly review the PR and recommend any changes if need be...Thanks!!

[2022-10-12 03:07] Smartmind12 commented on #1254
It would be helpful if you could create a list of all subsections you want in the document??...So considering those i will move forward and implement

[2022-10-12 05:19] samhita-alla commented on #2865
@rajagurunath, hey I'm going to unassign you as my team will work on this issue. I hope you haven't started working on it. Sorry!

[2022-10-12 05:29] shivaylamba commented on #2865
Hi @samhita-alla I would like to take up the issue

[2022-10-12 05:51] #2809 closed

[2022-10-12 06:32] samhita-alla commented on #2969
@DarthBenro008, if you could work on this issue as well, that'd be awesome!

[2022-10-12 06:33] DarthBenro008 commented on #2969
I'd be happy to send a PR, can you kindly assign the issue to me?

[2022-10-12 12:47] rajagurunath commented on #2865
sure No problem @samhita-alla Thanks, yeah kind of started with an initial exploration of the code base and saving the data frame to duckdb, etc, will have a look at the list and pick other issues.

Please let me know @shivaylamba, for any help needed from my side!

[2022-10-12 15:05] #2968 closed

[2022-10-12 19:17] #2766 closed

[2022-10-12 19:53] wild-endeavor commented on #2927
Can we close this @hankfanchiu ?

[2022-10-13 02:41] Smartmind12 commented on #2893
@Smartmind12 @cosmicBboy Can you tell me if you would like the document to be editited on [Pyflyte](https://docs.flyte.org/projects/flytekit/en/latest/design/clis.html) or you want a new document to be created ??

[2022-10-13 03:32] jerempy commented on #2522
I'm taking a whack at this one, just FYI

[2022-10-13 07:39] jw0515 opened #2979 "[BUG] AWS batch job failed and plugin report failed but flyte console shows task still running"
### Describe the bug

When there's an exception happened, flyte will catch the error and the AWS batch job status goes into a SUCCEEDED state and the flyte AWS batch plugin reports catch the error back. So when clicking the running task on the execution page the task "Map Execution" tab will show the  AWS batch job failed. But on the execution page, the task's status is still "running" and never s

[2022-10-13 08:28] honnix commented on #2883
Sorry for replying back.

I understand why this is not a recommended deployment model, but in practice, it is not always feasible to have a flytepropeller running in a k8s cluster. As examples, the cluster could be dedicated to run a specific type of load and due to security reason nothing else is allowed to run there; and the cluster could even be owned by a 3rd-party.

I think having this capabi

[2022-10-13 11:37] tekumara opened #2980 "[BUG] Task returning NamedTuple fails with USER::Pod failed. No message received from kubernetes"
### Describe the bug

A task with the following signature:
[code]

Fails with

[code]

### Expected behavior

No failure

### Additional context to reproduce

flytekit 1.2.1
flyte admin 1.1.46

### Screenshots

<img width="1340" alt="Screen Shot 2022-10-13 at 10 36 58 pm" src="https://user-images.githubusercontent.com/125105/195586278-7f5d3305-05b9-4ddc-b6c3-246058c0569c.png">

### Are you sure th

[2022-10-13 13:59] 26tanishabanik commented on #2790
@samhita-alla , I have gone through the discussion, but not able to figure out, where from should I refer for the documentation, also, I am not able to join the slack community

[2022-10-13 17:29] #2912 closed

[2022-10-13 18:02] katrogan opened #2981 "[FlyteCTL Feature] Be more resilient to config endpoint strings"
### Describe the feature/command for FlyteCTL

Flytectl currently expects the host endpoint in the config to be precisely of the format `dns:///myflyte.com`
This is fairly brittle (e.g. trailing slashes aren't stripped) and leads to hard to determine errors

### Provide a possible output or UX example

flytectl config options should be more resilient to common user-error patterns

### Are you sure

[2022-10-13 20:01] jerempy commented on #2522
@samhita-alla I got a couple PRs up for this one 😎

[2022-10-13 21:07] jerempy commented on #2870
@samhita-alla I opened a PR for this: https://github.com/flyteorg/flytekit/pull/1236
Could you assign the issue to me?

[2022-10-13 23:32] #2966 closed

[2022-10-14 03:31] Alcadeus0 commented on #2769
@jerempy yeah i'm on it

[2022-10-14 04:05] jerempy commented on #2769
ok coolio. @samhita-alla can you re-assign when you get a chance?

[2022-10-14 05:29] samhita-alla commented on #2790
@26tanishabanik, you can join our Slack using [this](https://slack.flyte.org/) link.

@pmahindrakar-oss, what's the best place to document the above discussion -- which section in https://docs.flyte.org/en/latest/deployment/aws/manual.html page precisely? I'm confused between (4) in https://docs.flyte.org/en/latest/deployment/aws/manual.html#installing-flyte and https://docs.flyte.org/en/latest/de

[2022-10-14 07:02] samhita-alla commented on #2934
@pmahindrakar-oss, is this a valid issue? If so, can you review the PR?

[2022-10-14 12:35] jw0515 commented on #2979
Ok, it seems no matter if the batch job state is succeeded or failed the flyte console is always hanging, this time the exception is thrown instead of captured in a batch job, so the batch job goes to the "FAILED" state. Flyte console still show it running.
<img width="1181" alt="image" src="https://user-images.githubusercontent.com/106815366/195848290-21c261d6-7614-4ca6-ac3f-5d32649aea20.png">
@p

[2022-10-14 15:21] pingsutw commented on #2979
@jw0515 Thanks, I'm looking at this issue. will get back to you once I know how to address this issue.

[2022-10-14 15:38] jerempy commented on #2769
@samhita-alla thanks for assign. PR up to add the requested snippets to docs: https://github.com/flyteorg/flytesnacks/pull/910 😎

[2022-10-14 17:22] #2941 closed

[2022-10-14 20:59] fredrickprashanth opened #2985 "[Core feature] : Support disabling profiler"
### Motivation: Why do you think this is important?

Currently pprof is enabled by default on all golang components flytepropeller, flyte-pod-webhook etc.
Profiler should be default disabled.
Please add an option in the config to enable/disable the profiler.
It should be allowed to enable only via config option as it serves mainly developement.

### Goal: What should the final outcome look like, i

[2022-10-15 07:03] samhita-alla commented on #2917
#self-assign (test)

[2022-10-15 07:09] Azanul commented on #2917
#take

[2022-10-15 07:17] Azanul commented on #2635
#self-assign

[2022-10-15 07:17] Azanul commented on #2926
#take

[2022-10-15 07:22] Azanul commented on #2917
#take

[2022-10-15 07:22] Ambareen09 commented on #2917
#take

[2022-10-15 07:24] Azanul commented on #2917
@samhita-alla Are you allowing multiple assignments to the same issue?
If not, I'd like to fix a couple of things

[2022-10-15 07:30] samhita-alla commented on #2917
Please don't assign yourself to this issue. If you'd like to work on an issue that's there in the description, go ahead.

[2022-10-15 07:31] Azanul commented on #2917
@samhita-alla I was just testing the self-assign

[2022-10-15 07:36] Azanul commented on #2917
@samhita-alla Can I implement
1. blocking multiple users self-assign
2. unassigning automatically if no activity for 15 days

[2022-10-15 07:39] samhita-alla commented on #2917
I like (2). Might not want (1).

[2022-10-15 07:43] Azanul commented on #2917
How about auto-closing issues when their respective PR is merged?

[2022-10-15 07:47] samhita-alla commented on #2917
That's possible through linked PRs, right?

[2022-10-15 07:55] Azanul commented on #2917
Yes, but I don't think it is being used. Many of us are simply unaware of the proper syntax. It'd help if you mention it.
[How to link an issue to a PR](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue)

[2022-10-15 10:48] Thusal06 commented on #2790
Can you assign me? @samhita-alla

[2022-10-15 12:10] Azanul commented on #2917
@samhita-alla Should I deal with stale PRs in the same or leave them as they are?

[2022-10-15 20:44] mertbozkir commented on #2676
Hello @ryankarlos,

Are you still working on this issue? If not I would like to take over on it. 🙃 I want to contribute Flyte😅

[2022-10-15 20:46] mertbozkir commented on #2965
Hello, @Alcadeus0

Are you still working on this issue? If not I would like to contribute! 🙃

[2022-10-15 20:49] mertbozkir commented on #2569
Hello, @VPraharsha03

Are you still working on this issue? If not I would like to contribute! 🙃

[2022-10-15 22:54] ryankarlos commented on #2676
@mertbozkir yes I am, i will be making  a PR today or tomorrow.

[2022-10-16 06:39] samhita-alla commented on #2917
@Azanul, what stale PRs are you talking about?

[2022-10-16 06:41] samhita-alla commented on #2790
@Thusal06, please go ahead and create a PR. It's first-come, first-serve.

[2022-10-16 06:42] Azanul commented on #2917
PRs that have been inactive for a specific time, like 30 days or something. Like this one: [Stale PR](https://github.com/flyteorg/flyte/pull/165)

[2022-10-16 06:49] samhita-alla commented on #2917
Um, okay. Can you push the changes to the same PR? You can keep it like 120 days because some of our PRs are valid for a long time.

[2022-10-16 14:17] VPraharsha03 commented on #2569
@mertbozkir I'm sorry but I'm still working on this issue

[2022-10-16 15:40] Alcadeus0 commented on #2965
Sure go ahead!

[2022-10-17 07:18] aliabbasjaffri opened #2990 "[BUG] Dashboard components overlap with each other when user goes back to dashboard after terminating a workflow"
### Describe the bug

I was running flytesnacks, and wanted to terminate a workflow. After i clicked terminate, and then went back to the dashboard using the `<-` button, the UI of some components appears to be overlapping with each other.

### Expected behavior

The UI should remain consistent. After user refreshes the page, the UI gets consistent again.

### Additional context to reproduce

_No

[2022-10-17 14:23] hamersaw commented on #2985
@fredrickprashanth thanks for submitting the issue for this! We should be very careful here to note that this port it not used just for pprof, which I agree should probably be disabled in production environments. It also serves the prometheus HTTP handler, an L7 health check, a version endpoint, and a config dump as [noted here](https://github.com/flyteorg/flytestdlib/blob/c43dadec6e4560275be25a8e

[2022-10-17 19:27] ryankarlos commented on #2676
@samhita-alla  added a PR now, any initial comments would be helpful before i progress further

[2022-10-17 19:57] fredrickprashanth commented on #2985
Ah I see. I did not know the fact that it serves prometheus metrics also in the same endpoint. Then let's just address the problem of disabling pprof in this ticket.

[2022-10-17 23:16] pingsutw commented on #2980
Could you also share the error message in the pod? I just tried it, it's working for me.

My task
[code]

[2022-10-17 23:59] hamersaw opened #2991 "[Core feature] Plugin loading failures"
### Motivation: Why do you think this is important?

Currently failures incurred during plugin setup cascade up through FlytePropeller startup and fail the entire application. This means a misconfigured plugin will stop a FlytePropeller Pod from successfully deploying.

### Goal: What should the final outcome look like, ideally?

If a plugin fails to load without error it should be noted as 'disab

[2022-10-18 00:00] hamersaw commented on #2991
cc @honnix does this correctly summarize the plugin loading issue?

[2022-10-18 00:10] katrogan opened #2992 "[Docs] Stale link to launch plans overview"
### Description

The link on this page: https://docs.flyte.org/en/latest/concepts/launchplans.html#divedeep-launchplans under
"See [here](https://docs.google.com/drawings/d/1xtG7lyk3es2S42pNnh5OGXW59jvnRIyPXCrdjPJm-3c/edit?usp=sharing) for an overview." links to an inaccessible google doc. This should either be updated or the whole block removed.

### Are you sure this issue hasn't been raised alr

[2022-10-18 00:43] wild-endeavor opened #2993 "[Housekeeping] Flyte Deployment journey and documentation"
# Revamp Flyte Deployment
This ticket encompasses all the work for revamping the Flyte deployment journey.  Specifically this covers

* Updates to the flyte sandbox-lite image
* Changes to flytectl
* Documentation updates
* Helm chart updates

More information to follow.

## Flyte Local Demo Experience
* Persist state to user's local workstation
* Run a registry so we can deprecate the --source fl

[2022-10-18 02:48] ryankarlos commented on #2571
@samhita-alla  Ive had a go at the PR

[2022-10-18 08:41] honnix commented on #2991
Thank you for putting this together. Looks great!

[2022-10-18 10:29] tekumara commented on #2980
Unfortunately there is no error message in the pod logs 😢

[2022-10-18 19:12] techytushar commented on #2752
I can pick this up, I have already worked on adding TypeTransformer for Tensorflow Models here: https://github.com/flyteorg/flytekit/pull/1241
this seems to be very similar to it

[2022-10-18 19:15] ryankarlos commented on #1030
@samhita-alla  is this issue still open - if so, I don;t mind fixing a few of these.

Also, i can see some issues #1427 #1447 closed, with associate PR merged in.a year ago but i can still see some mypy errors
related to  `Incompatible types` - im presuming these are from more recent merges ?

[code]

[2022-10-18 20:46] jerempy opened #2997 "[Housekeeping] Makefile commands not working on windows 10"
### Describe the issue

On windows 10, in https://github.com/flyteorg/flyteidl and unable to use make commands for `make download_tooling ` or `make generate` in order to compile proto buffs.
Using wsl2 get this error:
[code]

Also tried running the make commands in windows shell wth wsl, in wsl shell directly, in git bash. - no results.

### What if we do not do this?

Some windows developers mig

[2022-10-18 21:30] pingsutw commented on #1030
Thank you @ryankarlos, we still have some linting errors which aren't fixed yet. Feel free to open a pr in the flytekit repo 😄

[2022-10-18 21:33] ryankarlos commented on #2759
Ill pick this up

[2022-10-18 21:40] eapolinario opened #2998 "[Core feature] Support launchplans in pyflyte run"
### Motivation: Why do you think this is important?

Currently we only support launching tasks and workflows in `pyflyte run`. We should add support launchplans as well.

### Goal: What should the final outcome look like, ideally?

We should be able to use the same experience currently offered in `pyflyte run` to kickoff launchplans, i.e. users should be able to execute:
[code]

### Describe alter

[2022-10-18 21:48] ryankarlos commented on #1030
Thanks @pingsutw ,  ive run `make lint` in the flytekit repo - im assuming i can attempt to fix any of these or do you want to focus on AttributeError, Class name not defined etc following on from the previous closed issues linked in this issue ?
Also, ok if i split these between multiple PRs ?

[2022-10-18 22:43] pingsutw opened #2999 "[Core feature] Add support native python type in the condition task"
### Motivation: Why do you think this is important?

For now, The variable in the `_if` in the `condition` must be a promise, and can't use a native python type in the if statement.

[code]

[code]

### Goal: What should the final outcome look like, ideally?

Both promise and native python types should be supported in the conditions

### Describe alternatives you've considered

Users must create a

[2022-10-18 23:04] eapolinario opened #3000 "[Core feature] GCS-enabled sandbox deployment"
### Motivation: Why do you think this is important?

The current sandbox deployment relies on minio as the blob storage, this forces users to install `awscli` in their images so that flytekit can interact with the blob storage.

This arrangement excludes users who:
1. have Flyte deployments on GCP
2. want to use sandbox for local deployment and want to share the dockerfiles between development and

[2022-10-19 00:44] ryankarlos commented on #1030
thanks im working on a PR. do you mind assigning me and also labelling hacktoberfest 😄

[2022-10-19 07:52] MorpheusXAUT opened #3001 "[BUG] syncresources deployment does not handle multicluster configuration"
### Describe the bug

Using the `flyte-core` helm chart provided in this repository, the `syncresources` deployment created will not handle a multi-cluster configuration properly.
The namespaces and configured templates will only be created on the default cluster the deployment is running on, but is not synced to any other configured clusters, resulting in errors when executions are performed on t

[2022-10-19 09:57] roek5803 opened #3003 "[BUG] flytekitplugins-dbt not logging std output"
### Describe the bug

When running a DBT task with the flytekit DBT plugin we expect it to log the std output so we can see what is happening. Looking at the code, the current implementation collects the logs from std output but will only print it in case of an error.

### Expected behavior

We would expect the library to print the std output of the DBT commands ideally with some controlling mecha

[2022-10-19 10:19] ryankarlos commented on #2759
take

[2022-10-19 10:22] ryankarlos commented on #2759
#take

[2022-10-19 15:38] daniel-shuy commented on #2943
I've created a PR for this at flyteorg/flytectl#363

@pmahindrakar-oss can you help to review it?

[2022-10-19 16:54] techytushar commented on #2783
Hi @samhita-alla ,
Please can you give some more info on how to reproduce this, from which folder do we need to run the `make` command.
I ran the `make rsts` and `make html` command from `cookbook/docs` folder and it worked without any errors (it did throw some warnings though)

[2022-10-19 19:02] cosmicBboy opened #3004 "[BUG] pyflyte run fails with `dict` input"
### Describe the bug

When using `pyflyte run ... --dict_input '{"key": value}'` to execute a workflow with a `dict` input, an error is raised:

[code]

### Expected behavior

`pyflyte run` should be able to parse a json string to a dictionary

### Additional context to reproduce

Flytekit version:
[code]

Script:

[code]

Run locally:

[code]

Exception:
[code]

### Screenshots

_No response_

##

[2022-10-19 19:15] pingsutw opened #3005 "[Core feature] Skyplane flytekit plugin"
### Motivation: Why do you think this is important?

[SkyPlane](https://github.com/skyplane-project/skyplane) make transferring data much faster and cheaper. Currently, we use awscli to upload/download data from s3, and awscli doesn't have a good performance on I/O. However, We can probably reduce overhead on I/O if we replace awscli with Skyplane.

We could add a Skyplane flytekit plugin first, a

[2022-10-20 03:38] daniel-shuy commented on #2472
Added a PR (flyteorg/flytectl#364) to refactor the remaining `start` command

[2022-10-20 05:40] dennisobrien opened #3006 "[BUG] Running make dev-requirements.txt fails due to incompatible versions of protobuf"
### Describe the bug

I'm trying to so all the setup necessary to work on some features for flytekit but I'm getting hung up on running `make dev-requirements.txt`  I was able to do the initial setup described in the [Contributing guide](https://docs.flyte.org/projects/flytekit/en/latest/contributing.html), but as I understand it, for extras and plugins, we should add these optional requirements t

[2022-10-20 06:17] samhita-alla commented on #2783
@techytushar, yeah, we'll need to fix the warnings. Try running `make linkcheck` and you'll see some errors. We'll also need to fix the broken links.

[2022-10-20 06:22] #2698 closed

[2022-10-20 08:37] #3006 closed

[2022-10-20 09:46] daniel-shuy commented on #2857
I think the logic to clear CRD managed fields should be moved to the passthrough workflowstore, while the logic to track terminated workflows seems like it should be its own new wrapped workflowstore.

Question is, should the workflowstore to track terminated workflows wrap the passthrough workflowstore or the resource version caching workflowstore? The logic to track terminated workflows is unrel

[2022-10-20 09:51] daniel-shuy commented on #2857
Another approach is to rework the workflow config to take in a list of policies, then chain them together. For example, if a new `PolicyTrackTerminated` policy is added, specifying both `PolicyResourceVersionCaching` and `PolicyTrackTerminated` will initialize a track terminated workflowstore that wraps a resource version caching workflowstore, which in turn wraps the passthrough workflowstore.

T

[2022-10-20 17:48] #3004 closed

[2022-10-20 23:05] pingsutw commented on #2992
@hitarth01 absolutely, assigned it to you.

[2022-10-20 23:09] pingsutw commented on #2980
could you use dataclass instead? I think it should work.

[2022-10-21 05:41] dennisobrien commented on #2759
There is another issue that is probably a duplicate of this.  https://github.com/flyteorg/flyte/issues/2570
And that issue also has a PR in progress. https://github.com/flyteorg/flytekit/pull/1241

[2022-10-21 07:11] eapolinario opened #3008 "[BUG] Running parameterless tasks via pyflyte run throws an error"
### Describe the bug

`pyflyte run` is capable of scheduling executions for both workflows and tasks, however, currently it fails in the case of parameterless tasks with this error:
[code]

As per @hamersaw, this indicates that FlyteAdmin is unable to create the FlyteWorkflow CRD due to the specified error.

### Expected behavior

`pyflyte run` should be capable of running parameterless tasks.

##

[2022-10-21 17:29] #2934 closed

[2022-10-21 22:01] cosmicBboy opened #3010 "[BUG] pd.DataFrame type doesn't work with dataclasses"
### Describe the bug

using `pd.DataFrame` with dataclasses raises an error:

[code]

### Expected behavior

this should work like structured dataset

### Additional context to reproduce

Using this type in a task

[code]

will lead to the error above

### Screenshots

_No response_

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Y

[2022-10-21 22:03] cosmicBboy opened #3011 "[BUG] Annotated StructuredDataset with kwtypes leads raises TypeError"
### Describe the bug

Using an `Annotated[StructuredDataset, kwtypes(...)]` leads to this error:

[code]

### Expected behavior

This should work like un-annotated `StructuredDataset`

### Additional context to reproduce

Example:

[code]

Using this in a workflow will lead to the error above

### Screenshots

_No response_

### Are you sure this issue hasn't been raised already?

- [X] Yes

### H

[2022-10-21 22:58] pingsutw commented on #3010
cc @cosmicBboy we can't use non-dataclass type in dataclass. However, you could change the type hint to `data: StrucutredDataset`, and it should work.

[2022-10-22 05:10] Devolta05 commented on #2777
Hello, I would like to work on this if possible. Thanks.

[2022-10-22 07:02] Devolta05 commented on #2888
Hello I want to contribute to this issue. I am having a lot of troubles, the documentation doesn't make it clear where & how to run the workflow of documentation building (to my knowledge, please reference it) locally, neither does it give specific locations for API reference to `pyflyte` & conflicts with `flytectl`. It is very confusing with respect to the flow of documentation & code. Kindly all

[2022-10-22 11:55] Azanul commented on #2926
@shivaylamba What was it bedore and how did you update it?

[2022-10-22 13:46] Devolta05 commented on #2917
Hey @samhita-alla, can you open some more `Good First Issues` & `Hacktoberfest` based Issues? Most of the issues have been taken up & some people are working on them, others are not. I am not able to contribute. Thanks

[2022-10-22 13:54] Smartmind12 commented on #2893
@eapolinario @SmritiSatyanV Kindly review the PR and suggest changes if any…Thanks!

[2022-10-22 17:43] Smartmind12 commented on #2635
@samhita-alla Kindly review the PR and let me know if any changes are required...Thanks!

[2022-10-22 19:58] kumare3 commented on #3005
the only thing is that it seems skyplane needs to launch a machine

[2022-10-22 20:03] kumare3 opened #3013 "[Core feature] [plugin] Type - Model analysis using WeightWatcher"
### Motivation: Why do you think this is important?

For trained models, using WeightWatcher to analyze a deep learning model can help provide default analysis for a model

https://github.com/CalculatedContent/WeightWatcher

### Goal: What should the final outcome look like, ideally?

Note: this is a proposal only. May not be the ideal implementation

[code]

### Describe alternatives you've consi

[2022-10-23 02:12] john-wallace-dev commented on #2619
I resolved this by doing:

pip uninstall grpcio
conda install grpcio
conda install grpcio-tools

This correctly installed the M1 versions. For info, see: https://stackoverflow.com/questions/72620996/apple-m1-symbol-not-found-cfrelease-while-running-python-app

I was using Python 3.9.12

[2022-10-23 06:03] Smartmind12 commented on #2905
@SmritiSatyanV Can you tell me where to edit the doc because it gives PAGE EDIT online is sending an error link...
https://github.com/flyteorg/flytekit/blob/master/docs/source/generated/flytekit.configuration.SerializationSettings.rst

[2022-10-23 06:26] Smartmind12 commented on #2992
@eapolinario @katrogan Raised a PR for solving this issue by removing the Link Block from the documentation. Kindly review & let me know if any new link needs to be added as a replacement...Thanks!

[2022-10-23 07:01] Azanul commented on #2783
@techytushar Are you looking into it or can I give it a go?

[2022-10-23 07:03] Azanul commented on #2888
@adicoder95 Are you working on it?

[2022-10-23 09:27] adicoder95 commented on #2888
@Azanul yes, but facing lots of trouble. That's why taking time.

[2022-10-23 09:31] Azanul commented on #2888
@adicoder95 In which parts are you facing issues? I might be able to help

[2022-10-23 13:21] hitarth01 commented on #2992
Hi @katrogan @pingsutw. I have raised a PR. Please let me know if anything requires changes.

[2022-10-23 13:32] hajapy commented on #2870
What is the origin of the `typing.TypeVar('csv')` mechanism? As far as I can tell tracing through https://github.com/flyteorg/flytekit/blob/master/flytekit/types/file/file.py#L151-L167, both `FlyteFile['csv']` and `FlyteFile[typing.TypeVar('csv')]` are essentially normalized to the same thing.

[code]

Would it be appropriate to simply switch using the simple str form and deprecate the `typing.Typ

[2022-10-24 06:51] samhita-alla opened #3016 "[Docs] Decks is an opt-in feature; update the same in docs"
### Description

Flyte Decks is an opt-in feature now -- https://github.com/flyteorg/flytekit/pull/1251. Update the same in the flyte decks docs page.

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-10-24 09:26] samhita-alla commented on #2759
@dennisobrien, you're right. @cosmicBboy, which PR shall we close?

[2022-10-24 09:33] samhita-alla commented on #2917
@Devolta05, take a look at the unassigned issues here: https://github.com/flyteorg/flyte/issues?page=1&q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest. We might not be able to create more of them. If say, it has been a week or so but the assigned issue doesn't have a PR yet, then feel free to create one; I can re-assign it to you.

[2022-10-24 09:38] Azanul commented on #2783
Taking this up as it seems stale

[2022-10-24 09:38] Azanul commented on #2783
#take

[2022-10-24 09:45] samhita-alla commented on #2888
The changes need to be made in the flytekit directory. The API docs should be rendered [here](https://docs.flyte.org/projects/flytekit/en/latest/).

[2022-10-24 09:47] samhita-alla commented on #2870
@eapolinario / @pingsutw ^^^

[2022-10-24 10:30] ryankarlos commented on #2759
@samhita-alla  Ive also added support for Sequential class in this PR - i could port that over once PR for https://github.com/flyteorg/flyte/issues/2570 is merged in.
Not sure if support for type transformer for https://keras.io/api/layers/ would be useful as well.

[2022-10-24 10:43] Smartmind12 commented on #3016
@samhita-alla Can i work on this issue?

[2022-10-24 13:01] 3t8 opened #3017 "[Docs] Update shields in README"
### Description

The shields section of the `readme` file needs to be updated

- Fix underscores (on hover) caused by newline in html
- Update milestone version
- Add missing links
- Make shields consistent

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-10-24 13:03] 3t8 commented on #3017
Proposed fix #3018

[2022-10-24 14:53] hamersaw commented on #2985
@fredrickprashanth OK, so just want to make sure this issue is scoped correctly. Since we obviously can not use a 0 port to disable pprof (because it's used to serve other services), we want to introduce a `pprof-enabled` flag to specifically disable the service? Presumably we should add flags for the other services as well?

[2022-10-24 15:46] #2950 closed

[2022-10-24 16:50] #3001 closed

[2022-10-24 17:12] #2857 closed

[2022-10-24 17:58] Bisht13 commented on #2908
Picking this up

[2022-10-24 18:03] mounesi opened #3020 "[UI Feature] Logout button feature"
### Motivation: Why do you think this is important?

The logout button will allow the user to logout from the account. It provides a security level if the user is using someone else computer to make sure their data is not accessible by the same endpoint .

### Goal: What should the final outcome look like, ideally?

The outcome should be a button to click on and logging out. I should also redirect

[2022-10-24 18:14] srini047 commented on #2917
I have updated the draft.

[2022-10-24 18:41] cosmicBboy commented on #3010
@pingsutw is this a technical issue or a philosophical one? surely we can update the dataclass transformer to be able to handle `pd.DataFrame` annotations as `StructuredDataset`s under the hood?

[2022-10-25 00:04] kumare3 opened #3022 "[BUG] Fast registration does not work for Non root containers, with missing destination directory"
### Describe the bug

When running pyflyte run or running code without destination dir in the container, fails with aws cli or fsspec

### Expected behavior

it should work as `/root`

### Additional context to reproduce

Create a non root container and do not make the dest dir for fast registration as part of the docker image

### Screenshots

_No response_

### Are you sure this issue hasn't bee

[2022-10-25 06:10] samhita-alla commented on #2992
@hitarth01, could you share the PR link?

[2022-10-25 07:06] hitarth01 commented on #2992
https://github.com/flyteorg/flyte/pull/3015

[2022-10-25 11:01] pmahindrakar-oss commented on #2790
@samhita-alla this should go in the manual installation doc where we specify creating only one flyte-user-role across environments currently. For GCP we create each one separate https://docs.flyte.org/en/latest/deployment/gcp/manual.html#time-for-helm

[2022-10-25 11:42] adithyaakrishna commented on #2908
@Bisht13 Definitely! Happy Hacking 🚀

[2022-10-25 12:36] samhita-alla commented on #3016
@Smartmind12, sure. You'll need to add a note saying this isn't enabled by default and *** is how you need to enable it. https://docs.flyte.org/projects/cookbook/en/latest/auto/core/flyte_basics/deck.html is the concerning docs page.

[2022-10-25 12:39] #2992 closed

[2022-10-25 15:50] eapolinario commented on #2870
The reason why we use `typing.TypeVar` as a parameter to `FlyteFile` is to satisfy python's static type checkers. For example, if you have:
[code]
here's what mypy has to say about this code:
[code]

Notice how we can't simpy use a string as a type variable.

That's why my initial suggestion to solve this problem was to use `typing.Annotated` as  @samhita-alla [suggested in the PR](https://github.

[2022-10-25 18:15] wild-endeavor commented on #2472
@evalsocket can we close this ticket?

[2022-10-25 18:52] evalsocket commented on #2472
Yes

[2022-10-25 18:52] #2472 closed

[2022-10-25 20:07] hamersaw opened #3025 "[BUG] Deep recursion can exceed S3 filename maximum length"
### Describe the bug

In scenarios where a Flyte workflow has deep recursion, for example bayesian optimizaiton where training tasks are launched based on the outputs of others, the storage paths for node inputs / outputs may become very large. This is because these paths include all of the parent information (ie. node ID), for example node recursion with IDs `n0`, `n1`, `n2`, ..., `nM` has the fi

[2022-10-25 21:55] dennisobrien opened #3026 "[Core feature] Add type transformer for datetime.date"
### Motivation: Why do you think this is important?

Flyte currently does not support the `datetime.date` object for passing to or from tasks.

[code]

In `flytekit/core/type_engine.py` there are transformers for `datetime.datetime` and `datetime.timedelta`, but not for `datetime.date`.

### Goal: What should the final outcome look like, ideally?

Flyte tasks should be able to accept and return `d

[2022-10-25 22:16] pingsutw commented on #2278
@zm8597 which version of flytekit are you using? how did you register the workflow? pyflyte register or pyflyte run?

it works for me.
<img width="1830" alt="image" src="https://user-images.githubusercontent.com/37936015/197892348-38f4c950-ebd0-4a47-a31b-cf31dfddd2c7.png">

[2022-10-25 22:22] jerempy opened #3027 "[Housekeeping] Better Task proto buff errors"
### Describe the issue

https://github.com/flyteorg/flyte/issues/2522 This raised the issue of missing data for CreateWorkflowRequests. This lead to creating new protobufs: https://github.com/jerempy/flyteidl/blob/8a7a0df7788c5ae817f234ef3bf980fee1d1ee9e/protos/flyteidl/admin/workflow.proto#L70-L85

And new errors from flyteadmin:
https://github.com/flyteorg/flyteadmin/blob/f12dd2a674a3ac3bca43dd1

[2022-10-26 04:58] pmahindrakar-oss opened #3028 "[BUG] UI sends an invalid request when selecting my executions on an unauthenticated admin"
### Describe the bug

UI has a new feature to filter executions by user and which is shown as checkbox on the project dashboard page.
But this checkbox doesn't make sense when the UI is talking to non-Oauth enabled admin
eg request :
http://localhost:30080/api/v1/executions/flytesnacks/development?filters=eq(user,)&limit=25&sort_by.direction=DESCENDING&sort_by.key=created_at

<img width="1781" alt

[2022-10-26 04:58] pmahindrakar-oss commented on #3028
cc : @jsonporter

[2022-10-26 05:09] Smartmind12 commented on #3016
@samhita-alla Kindly review the PR and let me know if any changes are required ...Thanks!

[2022-10-26 10:44] pmahindrakar-oss opened #3029 "[Docs] Add steps for configuring self auth server"
### Description

Current docs for authentication https://docs.flyte.org/en/latest/deployment/cluster_config/auth_setup.html for flyte don't mention how to setup self Auth server and related config changes.

Add a section where we details steps for these for setting up auth for
* user auth using flyteconsole
* app auth for flytescheduler, flytepropeller

https://flyte-org.slack.com/archives/CP2HDHK

[2022-10-26 18:11] Azanul commented on #2783
@samhita-alla I don't know how to fix this
[code]

[2022-10-27 03:01] Smartmind12 commented on #2804
I wanted to work on this issue so i have pushed a PR for the same!

[2022-10-27 06:25] samhita-alla commented on #3026
@eapolinario

[2022-10-27 07:21] samhita-alla commented on #2783
Um I'm not sure if there's a way to fix them. For now, please ignore the anchor not found warnings.

[2022-10-27 07:44] #2769 closed

[2022-10-27 07:51] zm8597 commented on #2278
Hey, this got fixed with new versions. I don't know what version we were using at the time we raised this issue. Thank you for your response! :smiley:

[2022-10-27 07:51] #2278 closed

[2022-10-27 08:19] #2943 closed

[2022-10-27 09:11] #3017 closed

[2022-10-27 23:08] cervantes opened #3031 "[BUG] Unexpected node selector merge strategy when using Pod plugin"
### Describe the bug

I have a default-node-selector set like so:
[code]

but in my pod task, I add a V1PodSpec with a different node-selector

[code]

However, when I look at the yaml that ultimately gets generated, it seems to be a merge of the two different node-selectors

[code]

### Expected behavior

Nodeselector from the V1PodSpec should take preference
[code]

### Additional context to rep

[2022-10-27 23:18] #3022 closed

[2022-10-28 00:32] eapolinario opened #3032 "[BUG] Dictionaries are not supported as return type in @dynamic"
### Describe the bug

The type engine fails to produce the literals @dynamic tasks if the dictionaries are returned.

Here's the error message:
[code]

### Expected behavior

@dynamic should be able to return dictionaries.

### Additional context to reproduce

example_dynamic.py:
[code]

Run it with `pyflyte run`:
[code]

### Screenshots

_No response_

### Are you sure this issue hasn't been rais

[2022-10-28 04:46] #701 closed

[2022-10-28 06:26] #2804 closed

[2022-10-28 11:15] #3016 closed

[2022-10-28 11:18] samhita-alla commented on #2783
@Azanul when can you create a PR?

[2022-10-28 11:24] Azanul commented on #2783
@samhita-alla I'll try by tonight.

[2022-10-28 17:25] EngHabu opened #3034 "[Core feature] Deprecate CreateDownloadLocation API to allow for a more controllable CreateDownloadLink API."
### Motivation: Why do you think this is important?

There are a few issues with the current API:

* Admin is unable to link the request to an actual execution's output. It's, therefore, unable to enforce any authorization rules.
* It exposes the entirety of the s3 bucket admin has access to, to be downloaded through the API with no meaningful Audit logs to record.
* It assumes the deck/output fil

[2022-10-28 19:36] davidmirror-ops opened #3035 "[Docs] Add Flyte's architecture diagram"
### Description

Currently, docs have a [`Component Architecture`](https://docs.flyte.org/en/latest/concepts/architecture.html) section is mainly text with the only diagram being the one for `FlytePropeller`

A high-level diagram describing Flyte's architecture and the role of each component would be a good starting point to understand the inner mechanisms of the project.

This issue is related to

[2022-10-28 21:22] ryankarlos opened #3036 "[Core feature] [Flytekit] Implement Multipart upload and download for flyteplugins-vaex"
### Motivation: Why do you think this is important?

vaex plugin currently implemented https://github.com/flyteorg/flytekit/pull/1230 only supports writing chunks to single file using `df.export(...)` as explained in the docs.
We would ideally also like to support cases where if the dataframe is large, we can export the chunks in parallel to multiple parts using `df.export_many(...)` as demostrate

[2022-10-28 21:27] ryankarlos commented on #3036
@samhita-alla @pingsutw
As requested added this issue to implement as requested https://github.com/flyteorg/flytekit/pull/1230#discussion_r1007602826

Maybe worth discussing what threshold to use for dataframe size to trigger multipart upload (in vaex docs - chunks of around 1M rows are exported separately)

[2022-10-28 22:00] ryankarlos opened #3037 "[Core feature] [Flytekit] Add support for HDF5 and Arrow in flyteplugins-vaex"
### Motivation: Why do you think this is important?

Currently `flyteplugins-vaex` supports automatic serialization and deserialization of vaex dataframe between consecutive tasks using parquet https://github.com/flyteorg/flytekit/pull/1230

It would be good to extend this to HDF5 and arrow for performance and interoperability, when data sets are too large to fit into memory https://vaex.readthedo

[2022-10-28 22:03] ryankarlos commented on #3037
@samhita-alla  @pingsutw  As discussed in https://github.com/flyteorg/flytekit/pull/1230#discussion_r1007594191

[2022-10-28 22:04] ryankarlos commented on #3036
#take

[2022-10-28 23:25] #2522 closed

[2022-10-29 03:42] daniel-shuy commented on #2856
@hamersaw Looking through the code, I see that the `WorkerPool` is getting the workflow namespace and name from the subqueue (https://github.com/flyteorg/flytepropeller/blob/26ad85757c57cda41bf23a2b054d49eccaa8145d/pkg/controller/workers.go#L39-L91) and calling [Propeller.Handle()](https://github.com/flyteorg/flytepropeller/blob/26ad85757c57cda41bf23a2b054d49eccaa8145d/pkg/controller/handler.go#L1

[2022-10-29 07:45] pingsutw commented on #3036
fixed by https://github.com/flyteorg/flytekit/pull/1230#discussion_r1007602826

[2022-10-29 13:13] ryankarlos commented on #3036
@pingsutw do we not want to implement this anymore ? That PR does not implement multipart export and load

[2022-10-29 16:53] dennisobrien opened #3038 "[Plugin] TypeTransformer for TensorFlow tf.data.Dataset"
### Motivation: Why do you think this is important?

The `tf.data.Dataset` object encapsulates data as well as a preprocessing pipeline.  It can be used in model `fit`, `predict`, and `evaluate` methods.  It is widely used in Tensorflow tutorials and documentation and is considered a best practice when creating pipelines that saturate GPU resources.

### Goal: What should the final outcome look li

[2022-10-29 17:51] andrusha opened #3039 "[Housekeeping] Inconsistent naming on the storage buckets"
### Describe the issue

A good security practice is to give each workflow only access rights required to perform its function. The naming scheme for the bucket is currently inconsistent, which makes it complicated to create a policy per workflow.

Eg on S3 we're currently getting files like this:
[code]

Having consistent names would allow to give access to `<bucket>/<project>/<env>/*` instead of

[2022-10-31 06:00] samhita-alla commented on #3038
@dennisobrien, thanks for creating the issue!

Have a few questions:

1. Do we need to support `tf.data.Dataset` as a Flyte type if `TFRecordFile` and `TFRecordDirectory` Flyte types can handle that beneath? (see https://github.com/flyteorg/flytekit/pull/1240 PR for reference)
2. Will [`tf.data.experimental.TFRecordWriter`](https://www.tensorflow.org/tutorials/load_data/tfrecord#writing_a_tfrecord

[2022-10-31 08:57] #2759 closed

[2022-10-31 10:11] daniel-shuy commented on #2911
I've created a PR to implement this in flyteorg/flyteidl#338, which not only dockerizes `go generate`, but the entire dev environment

[2022-10-31 10:57] samhita-alla commented on #1030
@pingsutw, is it okay to close this PR or are there any more fixes that need to go in?

[2022-10-31 12:43] hridaya423 opened #3040 "[Docs] Added my Blog Post"
### Description

I created a Blog Post: https://dev.to/learnearnfun/quickstart-to-flyte-39ml

Please review and add!

Please add the hacktoberfest labels too!

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-10-31 12:44] hridaya423 commented on #2917
Hi I've added a new blog: https://dev.to/learnearnfun/quickstart-to-flyte-39ml

[2022-10-31 12:53] hridaya423 commented on #3040
@samhita-alla Could you please review my blog?

[2022-10-31 13:24] samhita-alla commented on #3040
Um sorry, I'll have to not consider this as a hacktoberfest contribution as it's a repetition of the getting started guide.

[2022-10-31 13:24] #3040 closed

[2022-10-31 13:32] hridaya423 commented on #3040
It also explains about flyte

[2022-10-31 13:33] hridaya423 commented on #3040
Ok, If i make a video version, does that work?

[2022-10-31 13:42] samhita-alla commented on #3040
I guess no because we aren't accepting videos as part of hacktoberfest. Sorry again!

[2022-10-31 13:43] hridaya423 commented on #3040
ok

[2022-10-31 14:54] Azanul commented on #2783
`/workspaces/flytesnacks/cookbook/docs/auto/core/control_flow/subworkflows.rst:175: WARNING: undefined label: 'using multiple kubernetes clusters'
/workspaces/flytesnacks/cookbook/docs/auto/core/type_system/structured_dataset.rst:86: WARNING: py:class reference target not found: flytekit.types.schema.FlyteSchema
/workspaces/flytesnacks/cookbook/docs/auto/core/type_system/typed_schema.rst:62: WARNI

[2022-10-31 14:57] hamersaw commented on #2856
@daniel-shuy I think I may not have been clear enough in the description. So the [workqueue retrieval](https://github.com/flyteorg/flytepropeller/blob/26ad85757c57cda41bf23a2b054d49eccaa8145d/pkg/controller/workers.go#L42) that you linked to is for the top-level queue. When we create the queue we create a [two-tiered structure](https://github.com/flyteorg/flytepropeller/blob/26ad85757c57cda41bf23a

[2022-10-31 18:10] #2870 closed

[2022-10-31 20:09] pingsutw commented on #1030
Still have some mypy errors needed to be fixed. @ryankarlos is working on it.

[2022-10-31 20:53] ryankarlos commented on #1030
@pingsutw  I may not get around to fixing the others immediately - as got a few other PRs to complete as well.  Feel free to unassign me for the time being if someone else wants to tackle some of the remaining.

[2022-10-31 21:39] #3032 closed

[2022-10-31 22:04] hamersaw commented on #3031
@cervantes thanks for opening this issue! We have been having a LOT of internal discussion on this -- and are having difficulty coming up with a reasonable solution. The challenge lies in supporting this functionality without breaking existing users. So be design we append to these tolerations - those defined in the k8s plugin configuration are defined to apply to every Pod that Flyte creates, but

[2022-10-31 22:05] ryaminal opened #3041 "[Core feature] Podman support for `flytectl sandbox/demo`"
### Motivation: Why do you think this is important?

Currently I'm unable to start a sandbox or demo instance, easily, because I don't use Docker.

### Goal: What should the final outcome look like, ideally?

Preferably `flytectl sandbox --engine podman` would work properly and setup an environment. Or, for those of us that use a wrapper that turns `docker` commands in to `podman`, then perhaps th

[2022-10-31 22:05] hamersaw commented on #3031
Also, have you explored the [default PodTemplates paradigm](https://docs.flyte.org/en/latest/deployment/cluster_config/general.html#using-default-k8s-podtemplates)? I'm not sure it is applicable here, but it allows you to set Pod configuration based on namespace - so you could have a separate set of `default-node-selectors` for each namespace.

[2022-11-01 04:22] samhita-alla commented on #2783
Have you created a PR?

[2022-11-01 06:08] Azanul commented on #2783
Yes, but in draft

[2022-11-01 06:39] pmahindrakar-oss opened #3042 "[BUG] Flyte protobuf registration should explicitly have a type information"
### Describe the bug

Flyte protobuf serialization produces the following type of objects and written to files
* [admin.LaunchPlan](https://github.com/flyteorg/flyteidl/blob/master/protos/flyteidl/admin/launch_plan.proto#L45)
* [admin.WorkflowSpec](https://github.com/flyteorg/flyteidl/blob/master/protos/flyteidl/admin/workflow.proto#L50)
* [admin.TaskSpec](https://github.com/flyteorg/flyteidl/blob

[2022-11-01 06:39] pmahindrakar-oss commented on #3042
cc : @wild-endeavor @EngHabu @eapolinario

[2022-11-01 14:45] kumare3 commented on #3041
@ryaminal this is absolutely right. Infact the underlying command can simply be exposed as all of Flyte is packaged as a simple docker image and flytectl simply just starts it

What if we have a command like
'Flytectl demo print-command'?

[2022-11-01 15:58] cosmicBboy commented on #3038
Curious about the answers to @samhita-alla's questions above.

My additional question:
- do people typically subclass `tf.data.Dataset` to define their own dataset classes, or is `tf.data.Dataset` the primary class they use?

It would also help @dennisobrien if you could come up with some pseudocode snippets for how `tf.data.Dataset` would be used at the interface of two Flyte tasks. This would cl

[2022-11-01 16:45] bimtauer opened #3043 "[BUG] IAM roles are not passed on to MPI Launcher and worker pods"
### Describe the bug

An IAM role defined in the launch dialog, in a launchplan or in the k8s defaults will not be passed on to an MPI Job's launcher and worker pods and thus results in S3 errors if iam role authentication is used.

This also concerns the default IAM role if declared which according to my understanding is usually applied together with other defaults as part of [AddObjectMetadata](

[2022-11-01 17:16] ryaminal commented on #3041
@kumare3 I think a `print-command` subcommand for demo/sandbox would be great.
I looked around flytectl a bit, I imagine the change would be somewhere around https://github.com/flyteorg/flytectl/blob/939df7392e44b57505cc2e6e7dbe441d3a7b3c74/pkg/docker/docker_util.go#L173 ?

[2022-11-01 22:07] #2930 closed

[2022-11-02 20:34] jsonporter opened #3434 "Feat: Add support to archive launch plans"
Users have requested the ability to archive a launch plan. Note: We will need to investigate the best way to handle how this feature will coincide with things like Relaunch flows.

Acceptance Criteria:
 - User can archive/unarchive LP from launch plan search
 - Solution for relaunch flows when dealing with archived launch plans

[2022-11-02 23:37] cast-stripe opened #3045 "[FlyteCTL Feature] Enable attaching custom headers through flyte config script"
### Describe the feature/command for FlyteCTL

At Stripe, we plan to implement custom, internally consistent authorization, without setting up Flyte's built-in authentication, by:

1. Introducing a Flyte Admin middleware that evaluates some x-stripe-* request header containing an access token;
2. Updating every Flyte client to pass this header.

A custom token as a header is therefore needed acros

[2022-11-03 06:40] pmahindrakar-oss opened #3046 "[BUG] Flytectl registration should check parameter behavior for default inputs during scheduled launchplan validation"
### Describe the bug

Add a check for scheduled launch plan spec
For a scheduled launchplan either fixedInputs or defaultInputs with defaultValues have to be provided.

defaultInputs can be of two types  based on the [behavior](https://github.com/flyteorg/flyteidl/blob/446b575f56444a976ab4ef0759bd0877035652cc/gen/pb-go/flyteidl/core/interface.pb.go#L172) :

* [defaultValue](https://github.com/flyt

[2022-11-03 07:15] pmahindrakar-oss opened #3047 "[Core feature] Add configurable UTC timezone option for scheduler"
### Motivation: Why do you think this is important?

Currently the flytescheduler provides cron expression in default local timezone.

Provide a scheduler configuration to override this behavior by providing a boolean flag to use UTC timezone.

### Goal: What should the final outcome look like, ideally?

Provide a configurable useUTCTz option to run the scheduler jobs in UTC timezone.

### Describ

[2022-11-03 20:47] katrogan opened #3048 "[UI Feature] Distinguish between task and workflow executions in the UI"
### Motivation: Why do you think this is important?

In the list executions view it would be useful to differentiate whether an execution belongs to a single task or workflow.

### Goal: What should the final outcome look like, ideally?

Clear to pinpoint the original type of entity used to launch an execution.

### Propose: Link/Inline OR Additional context

_No response_

### Are you sure this i

[2022-11-04 04:51] eapolinario opened #3049 "[Core feature] Use nightly flytekit builds in functional tests"
### Motivation: Why do you think this is important?

The release cycle for new flytekit versions is extremely long, requiring a (manual) process. This makes the feedback loop for catching errors in build steps more error-prone than necessary.

### Goal: What should the final outcome look like, ideally?

Invest in nightly flytekit builds and use them in functional tests.

### Describe alternatives

[2022-11-04 05:40] #3046 closed

[2022-11-04 10:46] #2837 closed

[2022-11-04 16:46] #3047 closed

[2022-11-04 17:20] eapolinario commented on #3003
@roek5803 , two things:
1. just to unblock this you can increase the logging verbosity of flytekit logs in the image by setting the environment variable `FLYTE_SDK_LOGGING_LEVEL` to 10 or 20.
2. What would be a good way to expose the logs in case the verbose flag is set? Right now the output of a `DBTRun` task is a [dataclass](https://github.com/flyteorg/flytekit/blob/master/plugins/flytekit-dbt/f

[2022-11-04 18:03] #3027 closed

[2022-11-04 18:56] eapolinario opened #3050 "[BUG] flytekit python3.10 image size is 3.14G"
### Describe the bug

The size of the python 3.10 images is substantially higher than the other images:
[code]

After closer inspection, the `tangled_up_in_unicode` package is the culprit:
[code]

That project is tracking the issue in https://github.com/dylan-profiler/tangled-up-in-unicode/issues/10.

### Expected behavior

The sizes of all images should be close to each other.

### Additional con

[2022-11-04 18:59] eapolinario commented on #3050
This will be less of an issue when we update `pandas-profiling` due to https://github.com/ydataai/pandas-profiling/pull/1070.

[2022-11-04 20:26] eapolinario commented on #3037
@ryankarlos , are you planning to work on this?

[2022-11-04 20:37] eapolinario commented on #3029
Here's a link to the security advisory: https://github.com/flyteorg/flyteadmin/security/advisories/GHSA-67x4-qr35-qvrm

And a slack thread where we shared a python one-liner to produce a secret: https://flyte-org.slack.com/archives/CP2HDHKE1/p1666196304611219?thread_ts=1666169843.332409&cid=CP2HDHKE1

[2022-11-04 20:58] ryankarlos commented on #3037
@eapolinario  I planned to  but i wont have time until end of month to complete it. Feel free to work on it

[2022-11-04 21:41] honnix opened #3051 "[BUG] flytekit-java tries to discover slf4j implementation through parent class loader"
### Describe the bug

slf4j uses class loader to discover its implementations at runtime. `ChildFirstClassLoader` in flytekit-java first discovers implementations locally and then delegate to its parent class loader. While this makes sense for many scenarios, it does not work for slf4j because mixing an implementation and API from different class loaders will certainly cause class loading problem.

[2022-11-04 22:21] hajapy opened #3052 "[Housekeeping] Remove unused retry dependency in flytekit"
### Describe the issue

Remove the unused `retry` library dependency declared by flytekit: https://github.com/flyteorg/flytekit/blob/3b5d15acb5389d99b86ba342a77e1cab5ce8546d/setup.py#L68

This library is not used anywhere within flytekit that I can find searching for `import retry` or `from retry`, except in the sagemaker plugin: https://github.com/flyteorg/flytekit/blob/3b5d15acb5389d99b86ba342a7

[2022-11-05 11:23] flixr opened #3053 "[Core feature] control ENV var name for injected secrets"
### Motivation: Why do you think this is important?

Split out from https://github.com/flyteorg/flytekit/pull/1307:

I need to inject k8s secrets as env vars into my raw ContainerTasks (and actually for PythonTasks as well).
As an example I want to inject `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY`.
Essentially I want to do what k8s already nicely provides:
https://kubernetes.io/docs/tasks/inj

[2022-11-05 17:09] dennisobrien commented on #3038
Sorry for the delay in responding.

The `tf.data.Dataset` is a very different from a `TFRecord`.  The `TFRecord` is really a binary format for data, while a `tf.data.Dataset` is a pipeline that can define transformations, filtering, repeating, batching, shuffling, and more.  That said, once you serialize then deserialize your `tf.data.Dataset`, it will be very similar to a `TFRecord` in that it wi

[2022-11-05 19:59] flixr commented on #3053
An alternative could be using the Pod plugin, but any env specified there is overwritten and when trying to use `env_from` serialization fails.
Also ContainerTask currently doesn't allow specifying Pod via `task_config`...

[2022-11-06 11:27] samhita-alla commented on #3038
Um, gotcha. I think that's expected cause the compute is serialized, too. And I think that's okay as long as we let the user know about it and the compute is supported by serialization.

I agree. I was referring to handling `tf.data.Dataset` with a `TFRecordFile` Flyte type.

[code]

[2022-11-07 09:37] #2676 closed

[2022-11-07 13:25] flixr opened #3055 "[Core feature] support pod plugin for ContainerTasks"
### Motivation: Why do you think this is important?

ContainerTasks currently don't support the [pod plugin](https://docs.flyte.org/projects/cookbook/en/latest/auto/integrations/kubernetes/pod/pod.html) so we can't use it to control the pod and e.g. mount additional volumes or inject env vars and secrets.

### Goal: What should the final outcome look like, ideally?

ContainerTask supports specifyi

[2022-11-07 15:18] sakthi-tech4th opened #3056 "Issue in running 'pyflyte run --remote'"
Hi,
I'm trying to set up the Flyte Infrastructure in my local system and tried to run the example.py in the flytecl demo cluster using the following command:
`pyflyte run --remote example.py wf --n 500 --mean 42 --sigma 2`.

This throws the following error:
![image](https://user-images.githubusercontent.com/110414092/200345940-bfc653a4-0e49-45d8-909a-bba07fc9b5d2.png)

**I couldn't find any stacko

[2022-11-07 16:11] hamersaw commented on #3055
To add a little more context here - this issue is very similar to the existing request to add [Pod configuration to python tasks](https://github.com/flyteorg/flyte/issues/2255). However, this should apply specifically to the `ContainerTask`, so something like:
[code]

[2022-11-07 20:22] eapolinario opened #3057 "[Core feature] Test "Getting started" code in multiple architectures"
### Motivation: Why do you think this is important?

Recently we found out that the code in our Getting Started guide was causing OOM if run on M1 Macs. Part of the solution was to build multi-arch images, but we should take the next step and ensure that this does not regress in the future.

### Goal: What should the final outcome look like, ideally?

Add a step in the functional tests where we ru

[2022-11-07 21:24] eapolinario opened #3058 "[Core feature] Provide a way to ignore portions of the signature for cache key calculation purposes"
### Motivation: Why do you think this is important?

It's useful to skip some inputs for cache key calculation purposes

For example, let's say we have this task:
[code]

According to the [docs](https://docs.flyte.org/projects/cookbook/en/latest/auto/core/flyte_basics/task_cache.html#how-does-caching-work), one of the inputs to cache key calculation is the task signature, but in the case of this e

[2022-11-08 02:13] hamersaw opened #3059 "[BUG] Environment variables in PodTask primary container are erased"
### Describe the bug

When using the pod plugin, if you set environment variable on the primary container they are dropped when compiling the PodSpec. This means that they will not exist on the actual created Pod. However, variables set on any container that is not the primary are correctly maintained.

Presumably [this line](https://github.com/flyteorg/flytekit/blob/3b5d15acb5389d99b86ba342a77e1c

[2022-11-08 02:16] mounesi opened #3060 "[Core feature] Adding pyflyte config init"
### Motivation: Why do you think this is important?

It will eliminate confusion for flytectl different use cases. So they don't have install flytectl for fast registration.

### Goal: What should the final outcome look like, ideally?

`pyflyte config init --host <endpoint>union.ai`

### Describe alternatives you've considered

NA

###  Propose: Link/Inline OR Additional context

_No response_

##

[2022-11-08 06:35] pmahindrakar-oss commented on #3041
@ryaminal let us know if the solution works for you and if yes we can close this ticket

[2022-11-08 19:00] mounesi commented on #3060
@EngHabu

[2022-11-08 23:11] hamersaw commented on #3043
@bimtauer thanks for filing this issue! It looks like this is not just and MPI job issue but should probably be propagated through to the pytorch and tensorflow plugins as well.

So the `AddObjectMetadata` you mentioned is only meant to be executed on the top-level k8s resource as you observed. Do you expect it to add labels / annotations / etc to the underlying worker pods (etc) as well?

As far

[2022-11-08 23:15] eapolinario commented on #3026
This is a good first issue as it'll touch a few of the components, at least `flyteidl` (to add the new field) and `flytekit`.

[2022-11-08 23:28] pingsutw commented on #3060
flytekit has a command `flyte-cli setup-config` to generate the config, but it's TOML format

[2022-11-09 01:10] ryaminal commented on #3041
Works for me. Unfortunate that we have to run it with `--privileged`, but that is a conversation for another time, perhaps.

[2022-11-09 01:10] #3041 closed

[2022-11-09 07:22] mounesi commented on #3060
Can we change it to make Yaml config?

On Tue, Nov 8, 2022 at 3:29 PM Kevin Su ***@***.***> wrote:

--
Alireza Mounesisohi
Ph.D. in Mechanical Engineering and Aerospace
LinkedIn Profile: https://www.linkedin.com/in/mounesi/
<https://www.linkedin.com/public-profile/settings?trk=prof-edit-edit-public_profile>

[2022-11-09 10:24] bimtauer commented on #3043
@hamersaw thanks for looking into this. And yes we expect to run into the same issue with Spark jobs or any other complex manifest rendered by Flyte that itself declares own PodTemplates.

My first thought went back to `AddObjectmetadata`  since I in the past once submitted a proposal for implementing some templating logic there - I think since then you have created a more powerful templating logi

[2022-11-09 19:26] eapolinario commented on #3048
@katrogan , can you say a bit more about this? Are you talking about an icon in the list of executions?

[2022-11-09 19:54] katrogan commented on #3048
yes or some kind of tag in the row

[2022-11-09 20:06] hajapy opened #3063 "[FlyteCTL Feature] Make flytectl config init respect config flag"
### Describe the feature/command for FlyteCTL

The global `--config` cli flag is not respected by `flytectl config init`. Instead, this config always writes to `~/.flyte/config.yaml`. The presence of this global flag and yet it being ignored is confusing.

(Relatedly, could flytectl suppress describing global flags that are meaningless to a specific subcommand in its help output?)

### Provide a p

[2022-11-10 09:54] honnix commented on #3051
Closed by https://github.com/flyteorg/flytekit-java/pull/145

[2022-11-10 09:54] #3051 closed

[2022-11-10 20:04] pingsutw commented on #3060
There are some differences between those two configs. For example, the name of the key is different. Therefore, we can't directly convert it to yaml, but we'll deprecate this legacy config and support generating the flytectl config.

config.toml
[code]

config.yaml
[code]

[2022-11-11 00:53] wild-endeavor commented on #3039
This is related to https://github.com/flyteorg/flyte/issues/2545 and https://github.com/flyteorg/flyteadmin/pull/489.

This will address this problem right?

[2022-11-11 10:14] flixr opened #3065 "[BUG] project/domain resource limits don't overwrite global task_resource_defaults"
### Describe the bug

Raising task_resources limits for a project/domain doesn't work if the limit is higher than the global default limits in task_resource_defaults.yaml configmap.

### Expected behavior

If an admin configures higher defaults/limit for a project/domain as per https://docs.flyte.org/en/latest/deployment/cluster_config/general.html#task-resources those should overwrite the global

[2022-11-11 14:09] andrusha commented on #3039
@wild-endeavor it only changes where the prefix is set, it doesn't address the order of other parameters. I think the domain/project should go first, and then shard, since otherwise it's hard to create meaningful policy

[2022-11-11 18:14] wild-endeavor commented on #3039
Please see comments on the PR linked above.

[2022-11-11 18:52] wild-endeavor commented on #3039
We agree with you - just removing the entire shard is better for now.

I know when we talked on slack i said something about the raw output prefix setting that's associated (or can be associated) with each project/project-domain combination.  Please ignore that - that is not a good idea.  If we were to do that, the guarantee you'd have to make is - whenever you upload via data proxy on projA/domai

[2022-11-13 00:45] dennisobrien opened #3067 "[Housekeeping] Allow more recent versions of pyarow"
### Describe the issue

Currently `flytekit` requires `"pyarrow>=4.0.0,<7.0.0"`.  At the time this version constraint was added (December 2021) the latest version of `pyarrow` was `6.0.1`.  There have been a few releases since then and the current release is `10.0.0`.  If `flytekit` will actually work with later versions of `pyarrow`, it would be nice to relax this constraint.

### What if we do n

[2022-11-14 16:03] fg91 opened #3068 "[BUG] Dictionary key is unintentionally modified by Flyte when using custom python objects to configure tasks"
### Describe the bug

When [configuring Flyte tasks with Python dataclasses](https://docs.flyte.org/projects/cookbook/en/stable/auto/core/type_system/custom_objects.html) and when using dictionaries within those dataclasses, flyte, under certain circumstances, replaces the name of the key with the name of the dictionary.

### Expected behavior

Flyte should not modify the arguments.

### Additiona

[2022-11-15 06:28] pmahindrakar-oss commented on #3041
The following script requires the privileged access cgroup-v2-hack.sh .
Adding  @eapolinario @wild-endeavor for more info regarding this script due to which we need the privileged access

[2022-11-15 07:05] ariefrahmansyah opened #3070 "[BUG] Missing GCP field in notifications configuration"
### Describe the bug

When trying to update to Flyte 1.2.0, `helm diff` command shows `notifications.gcp` field in `flyte-admin-base-config` would be deleted:

[code]

This gcp field got removed on Helm templates in #2781. However, the gcp field seems still needed as shown in [flyteadmin config](https://github.com/flyteorg/flyteadmin/blob/master/pkg/runtime/interfaces/application_configuration.go#

[2022-11-15 16:21] cosmicBboy opened #3071 "[Docs] Add documentation for Dask integration"
### Description

The Dask integration PRs:

- https://github.com/flyteorg/flyteidl/pull/339
- https://github.com/flyteorg/flyteplugins/pull/275
- Python PR TBD

Should be quickly followed by documentation in flytesnacks showing how to configure the backend plugin and how to use it with flytekit.

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Cond

[2022-11-15 19:21] #2783 closed

[2022-11-15 19:26] Azanul commented on #2783
@samhita-alla just wasted my work.

[2022-11-15 19:32] cosmicBboy opened #3073 "[Core feature] add support for numpy.typing.NDArray generic"
### Motivation: Why do you think this is important?

Flytekit supports the `np.ndarray` type, but it doesn't support the `np.typing.NDArray` generic: https://numpy.org/devdocs/reference/typing.html#numpy.typing.NDArray

This would enable flytekit users to express the actual datatypes of an ndarray.

### Goal: What should the final outcome look like, ideally?

The user-facing API would be simple:

[2022-11-15 22:30] #2545 closed

[2022-11-16 02:03] huxuan opened #3077 "[BUG] Lack of defaultBackend for ingress helm chart templates."
### Describe the bug

When deploy to self-hosted kubernetes cluster, it will complains about lack of default backend [1] for the ingress settings.

[1] https://kubernetes.io/docs/concepts/services-networking/ingress/#default-backend

### Expected behavior

Maybe we should have default value with

[code]

under the spec section?

### Additional context to reproduce

_No response_

### Screenshots

[2022-11-16 05:35] samhita-alla commented on #2783
@Azanul, you haven't linked any PR, so I assumed you haven't worked on it.

[2022-11-16 05:46] Azanul commented on #2783
@samhita-alla
![flyte_ss](https://user-images.githubusercontent.com/42029519/202093898-6116c5a4-b1dd-40b6-ba10-993bd1b23838.png)

[2022-11-16 06:02] samhita-alla commented on #2783
Oh, I'm sorry. I missed it somehow. I saw your message and thought you haven't linked it yet. Sorry!

[2022-11-16 06:31] techytushar commented on #2917
Hey @samhita-alla ,
Is there any update on the swags and prizes ? How and when we'll get them ?

[2022-11-16 09:39] samhita-alla opened #3078 "[Docs] Add tags to doc pages"
### Description

Having tag(s) associated with the relevant doc pages is essential to facilitate docs search and it provides a clean interface to read through the docs topic-wise.

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-11-16 12:04] nmichlo commented on #2563
Took me a while to figure out this functionality, came across https://github.com/flyteorg/flyte/issues/1619 too.

Archiving instead of deleting, by adding `--archive` to the update command for a project was a little unintuitive.

[2022-11-16 14:45] honnix opened #3079 "[BUG] gRPC upper bound seems to be wrong in flytekit"
### Describe the bug

gRPC dependency of flytekit seems to have wrong upper bound: https://github.com/flyteorg/flytekit/blob/da905a8f206cdf25be1cb37140b1577fc3bba60c/setup.py#L53

`grpcio>=1.43.0,!=1.45.0,<1.49.1,<2.0` where `<2.0` feels wrong because it essentially overrides  `<1.49.1`.

After I installed flytekit==1.2.3, I got
[code]
The mismatching versions seem to be undesired.

Also running `

[2022-11-16 18:34] wild-endeavor opened #3080 "[Housekeeping] Issues with bundled demo image"
# New Bundled Sandbox Image
This ticket is to collect issues with the new bundled sandbox environment image.  This image is the result of the following PRs:
https://github.com/flyteorg/flyte/pull/3066
https://github.com/flyteorg/flytectl/pull/370
https://github.com/flyteorg/flyte/pull/2994
https://github.com/flyteorg/flyte/pull/3137

## Cluster Resource Cron
* Need more investigation but either it

[2022-11-16 20:07] flixr commented on #3055
Actually I think this should be labeled as a bug not a feature...
Here is a simple repro:

Run this workflow and check the logs which should print the `POD_SPEC_VAR` env var:
[code]

[2022-11-16 21:39] honnix commented on #3079
I guess I misunderstood this and 1.2.4 should fix it.

[2022-11-16 21:39] #3079 closed

[2022-11-17 00:04] EngHabu opened #3082 "[BUG] file is too large error is misleading"
### Describe the bug

This error message shows up regardless of whether it's complaining about the error file or the output file.
`error file @[s3://.../error.pb] is too large [11070265] bytes, max allowed [10485760] bytes`

### Expected behavior

It should refer to the output or error file when appropriate

### Additional context to reproduce

_No response_

### Screenshots

_No response_

### Ar

[2022-11-17 00:54] #3082 closed

[2022-11-17 06:48] samhita-alla commented on #2917
@techytushar, we'll start shipping swag at the end of November.

[2022-11-17 06:59] samhita-alla opened #3084 "[Docs] Yellowbrick and Cleanlab visualizations in FlyteDeck"
### Description

FlyteDeck can be used to visualize data with https://github.com/DistrictDataLabs/yellowbrick & https://github.com/cleanlab/cleanlab libraries. We'll need to showcase the same in the documentation: https://docs.flyte.org/projects/cookbook/en/latest/auto/core/flyte_basics/deck.html (may have to add [renderers](https://docs.flyte.org/projects/cookbook/en/latest/auto_examples/developm

[2022-11-17 18:26] andrewwdye opened #3086 "[Core feature] Improve cluster resource controller dynamic updates"
### Motivation: Why do you think this is important?

There are two issues with cluster resource controller updates today

1. Resource updates are [only made if the underlying template file was changed](https://github.com/flyteorg/flyteadmin/blob/1c6a0f033df49b41f6c6bc4f8b4d542714ba8fe5/pkg/clusterresource/controller.go#L301). Default template values and per project/domain overrides are not conside

[2022-11-18 01:13] #3078 closed

[2022-11-18 17:03] flixr commented on #3086
Is this related to #3065 ?

[2022-11-19 12:50] flixr commented on #2141
Seems this can be closed as it's already implemented...

[2022-11-19 12:54] flixr commented on #1831
@eapolinario seems this can be closed as it's implemented...

[2022-11-19 13:23] flixr commented on #3059
Fix works and is released, this can be closed...

[2022-11-19 17:27] #2141 closed

[2022-11-19 20:14] andife opened #3090 "[Housekeeping] flyte.org, image incubation project => gratuated project"
### Describe the issue

Flyte seems to be a "gratuated project" at lfaidata. The landing page flyte.org still has an image with incubation project.

### What if we do not do this?

webpage might be a bit longer outdated

### Related component(s)

_No response_

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-11-21 05:04] samhita-alla commented on #3090
@andife, not sure what you're referring to. Could you be more specific?

<img width="1433" alt="image" src="https://user-images.githubusercontent.com/27777173/202969587-f07e365d-e698-4480-8d12-37094063bf6d.png">

[2022-11-21 05:42] andife commented on #3090
![grafik](https://user-images.githubusercontent.com/20612932/202974032-1632930f-68e6-4648-a303-ac8d7b5d822b.png)

[2022-11-21 10:17] bimtauer commented on #3043
@hamersaw Thanks for this summary, this sounds very much like what we need.

One small point that still confuses me is when you would recommend using [PodTemplates](https://docs.flyte.org/en/latest/deployment/cluster_config/general.html#using-default-k8s-podtemplates) VS using the [k8s plugin config fields](https://github.com/flyteorg/flyteplugins/blob/902b902fcf487f30ebb5dbeee3bb14e17eb0ec21/go/t

[2022-11-21 19:30] eapolinario opened #3091 "[Core feature] Break down the time spent in SDK/user code"
### Motivation: Why do you think this is important?

Users should have access to a breakdown of total time spent during a task execution. This breakdown should show the time spent in SDK activities (e.g. download inputs from blob storage, writing inputs to blob storage) and user code.

### Goal: What should the final outcome look like, ideally?

Ideally users would get granular metrics exposed in

[2022-11-21 20:34] honnix opened #3092 "[Core feature] Support overriding node name"
### Motivation: Why do you think this is important?

When composing a workflow out of tasks, it is not always good enough to use the task name as is (Python function name) for node name, and sometimes it is better give a more meaningful node name. This is currently not supported by flytekit.

### Goal: What should the final outcome look like, ideally?

Users can override node name using `with_over

[2022-11-21 23:07] wild-endeavor opened #3093 "[BUG] [flytekite] Dynamic local execution doesn't use promises"
Please see the PR description for additional information
https://github.com/flyteorg/flytekit/pull/1343

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-11-22 03:51] andrewwdye commented on #3086
@flixr I don't think this is explicitly related to #3065. This issue is specific to cluster resource controller and how it determines if a template file needs to be reprocessed (logic [here](https://github.com/andrewwdye/flyteadmin/blob/cdc5c3d43ca902107b7fc49ce9aec42c0d88f038/pkg/clusterresource/controller.go#L301-L305)).

I'm not familiar with the end-to-end logic for #3065, but looks like task

[2022-11-23 00:26] #2752 closed

[2022-11-23 05:55] pmahindrakar-oss opened #3094 "[BUG] Support union and structured data set types"
### Describe the bug

Currently flytectl doesn't support creating /extracting union types and hence is not able to creation executions for tasks which utilize these types.

Add support for these in the following files and consume the updated idl in flytectl
https://github.com/flyteorg/flyteidl/blob/master/clients/go/coreutils/literals.go
https://github.com/flyteorg/flyteidl/blob/master/clients/go/

[2022-11-23 07:19] samhita-alla opened #3095 "[Docs] SynchronousFlyteClient API reference"
### Description

Add `SynchronousFlyteClient` to Flytekit API reference guide.

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-11-23 10:26] MorpheusXAUT opened #3096 "[BUG] Cache status of dynamic (parent) tasks is not updated properly"
### Describe the bug

When executing a dynamic task, the cache status in flyteadmin's database is not updated after all child tasks execute successfully even though datacatalog contains stored data.
Relaunching the same workflow/task with identical inputs leads to flytepropeller immediately recognising the stored data in datacatalog and skipping execution in favor of returning cached outputs.

Whi

[2022-11-23 10:28] MorpheusXAUT commented on #3096
I've encountered this bug while implementing the second part of the proposed [cache eviction](https://github.com/flyteorg/flyte/issues/2867) - the simple fix is already implemented in my caching branch, however I figured it might be worth to mention as a separate issue/fix independently before the rest of caching is completed. Will open a small propeller PR for this shortly.

[2022-11-23 14:03] andresgomezfrr opened #3097 "[BUG] Support custom build target architecture on flytekit_build_image.sh"
### Describe the bug

Currently, the [flytekit_build_image.sh](https://github.com/flyteorg/flytekit/blob/master/flytekit_scripts/flytekit_build_image.sh) doesn't allow the user to choose the target platform build, so when you build the image and you use a different architecture for building and executing you could have issues.

For example:

I'm building the docker image using my M1 Mac laptop and

[2022-11-23 14:26] evalsocket opened #3098 "[Housekeeping] Add Healthcheck in datacatalog"
### Describe the issue

Currently, we only have health check for flyteadmin deployment in the helm chart, Datacatalog doesn't have any health check. https://github.com/flyteorg/flyte/blob/f5348192e92b205be0e5d2ad6e23f436242d3230/charts/flyte-core/templates/datacatalog/deployment.yaml

### What if we do not do this?

NA

### Related component(s)

datacatalog

### Are you sure this issue hasn't been

[2022-11-23 14:26] evalsocket commented on #3098
cc: @eapolinario

[2022-11-23 18:20] #2817 closed

[2022-11-23 19:18] hamersaw commented on #3043
@bimtauer so the default PodTemplate work was done because we believe it is a much better mechanism than exposing configuration through the k8s plugin. So you are 100% correct, we are hoping users slowly transition from k8s plugin config fields to entirely using PodTemplates.

[2022-11-24 18:20] andresgomezfrr opened #3100 "[BUG] Chain a task with a remote task that doesn't have outputs doesn't work correctly."
### Describe the bug

Chain a task with a remote task that doesn't have outputs doesn't work correctly.

[code]

**Traceback:**
[code]

**More info:**
I've checked that the NoneType is other.ref.

### Expected behavior

The chaining should work correctly for remoteTask with no outputs instead of getting an exception.

[code]

The `remote_task_without_outputs` must wait until the `task_1`finish.

#

[2022-11-25 11:51] honnix opened #3101 "[BUG] VoidPromise built from a remote task does not refer to node output"
### Describe the bug

When fetching a remote task and invoke `__call__`, a `VoidPromise` is returned, but the `ref` is `None`. Then when applying `foo >> bar`, where `bar` is a `VoidPromise`, compilation fails with
[code]

### Expected behavior

`foo >> bar` works when `bar` is a `VoidPromise`.

### Additional context to reproduce

[code]
This would fail.

### Screenshots

_No response_

### Are y

[2022-11-25 13:09] honnix commented on #3101
This duplicates #3100

[2022-11-25 13:09] #3101 closed

[2022-11-25 15:57] andrusha commented on #2635
This assumes that the cluster is going to be deployed with FluentBit by-default, while FluentD is valid and recommended options, to which the older configuration is pointing to. This change will not be applicable for the all users.

[2022-11-26 14:36] honnix opened #3102 "[BUG] flytekit-java does not retry on gRPC internal error"
### Describe the bug

In case of gRPC internal error, flytekit-java does not retry. Internal error is often retryable, so it is better to retry before giving up.

### Expected behavior

Retry happens when internal error received.

### Additional context to reproduce

_No response_

### Screenshots

_No response_

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read

[2022-11-26 15:19] honnix opened #3103 "[BUG] Service loading fails in flytekit-java"
### Describe the bug

Exception `java.util.ServiceConfigurationError: io.grpc.ManagedChannelProvider: io.grpc.netty.UdsNettyChannelProvider not a subtype` happens when executing a task created by flytekit-java.

### Expected behavior

The task should work.

### Additional context to reproduce

* Create a task depending on grpc version 1.45.1
* Using jflyte that depends on grpc version 1.49.2
* Dep

[2022-11-26 15:32] EngHabu commented on #2635
@andrusha do you mind elaborating on this? Are you commenting on the discussion we are having on the PR? https://github.com/flyteorg/flyteplugins/pull/293#issuecomment-1328066538

[2022-11-26 16:08] andrusha commented on #2635
I was answering to the premise of this ticket. The log link is not broken if you use FluentD out of the box, it’s only broken if you’re using FluentBit, which is a default for EKS cluster. FluentBit can be ran in FluentD compatibility mode as well. Overriding default like will inevitably break it for the other group of users.

I think this is not a bug and supporting multiple templates is better s

[2022-11-26 19:05] EngHabu commented on #2635
Aha, I understand, I agree changing the default can break other people, do you know for a fact that FlutentBit in compatibility mode works out of the box? I vaguely recall hostname was still a requirement though, no?

Perhaps a better approach is to:
1. Still add support for a host name template parameter
2. Instead of changing the default, add another CloudWatchV2Enabled flag that default to the

[2022-11-28 12:17] #3102 closed

[2022-11-28 12:56] honnix commented on #3092
Note that this issue is not fully addressed because of https://github.com/flyteorg/flyte/issues/3092

[2022-11-28 16:14] andife commented on #3090
![image](https://user-images.githubusercontent.com/20612932/204327000-f7753746-2e86-45fd-94dd-2c8435cb6df7.png)

[2022-11-28 17:01] wild-endeavor commented on #3039
Gonna close this... will be in the next release.

[2022-11-28 17:01] #3039 closed

[2022-11-28 17:22] wild-endeavor opened #3104 "[BUG] [flytekit] Nested dataclass with same value gets converted multiple times."
### Describe the bug

fdsa

### Expected behavior

fdsa

### Additional context to reproduce

_No response_

### Screenshots

_No response_

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2022-11-28 19:07] #3100 closed

[2022-11-28 22:18] cosmicBboy opened #3107 "[Core feature] BentoML plugin"
### Motivation: Why do you think this is important?

Flyte is great for data processing/model training in potentially long-running compute processes, and in the context of machine learning, currently it only supports batch prediction.

To make Flyte part of the full-stack ML model lifecycle, rather than extending the core scope of Flyte, we can integrate with tools like BentoML, which is a model s

[2022-11-28 22:22] cosmicBboy opened #3108 "[Docs] Improve Flyte Secrets documentation"
### Description

The [current documentation](https://docs.flyte.org/projects/cookbook/en/latest/auto/core/containerization/use_secrets.html#sphx-glr-auto-core-containerization-use-secrets-py) on using secrets in Flyte tasks only shows how to access them in the task/workflow definitions.

The purpose of this this issue is to improve the docs by adding code examples on how exactly to add secret key/

[2022-11-28 23:37] wild-endeavor opened #3109 "[FlyteCTL Feature] Schedule ergonomics"
# Improve scheduled workflow handling

## Poor UX currently
There's a few ux issues around how scheduled workflows are handled today.
* When you register a new launch plan with a schedule, it doesn't become active without manual intervention.  And there's no easy way to set this (like a `--set-active` or some option).
* When a user deletes a launch plan from code, and the user doesn't manually dea

[2022-11-29 01:02] EngHabu commented on #3109
I'm all for these commands:
Activate all launch plans at a specific version:
[code]

Latest:
[code]

Deactivate all launch plans [at a specific version]:
[code]

What I'm struggling with is the `--remove-old` part... There is an inherit assumption here that all things registered to a given project belong to the same "source tree" to a degree. Right?
We really want to detect things that used to get

[2022-11-29 01:56] alex-dr opened #3110 "[BUG] [flyteconsole] Can't launch task with nested dataclasses as input"
### Describe the bug

I'm having an issue launching tasks from the Flyte Console with nested dataclasses as an input.

My workflow itself runs fine from the CLI and the task inputs/metadata can be viewed as expected.

However, the RERUN button from a workflow task, or Launch Task from the Tasks interface seems to arbitrarily either:

1. Show an error message in the UI saying `Could not find a defi

[2022-11-29 02:14] alex-dr commented on #3110
If rampant speculation is appropriate - the issue could be one of:

- the jsonschema document being 'literalized' by Flyte into `definitions.structValue.fields.LiteralsonlySchema.structValue.fields...` etc breaks the `$ref`
- the document is not properly 'de-literalized' before passing it to JSONSchema
- it's passing the wrong level of this document to the JSONSchema parser, so `definitions` is no

[2022-11-29 04:26] jeevb commented on #3080
Error message:
[code]

[code]
should be:
[code]

and the `flyte` service account is missing permissions to create service accounts, roles, and rolebindings.

[2022-11-29 04:36] jeevb commented on #3080
Updating the configmap by adding new templates does not work without a pod restart. Flyte is likely not watching for file changes in that directory.

[2022-11-29 06:09] pmahindrakar-oss opened #3113 "[BUG] Turn on strictMode for propeller and propeller-manager config load"
### Describe the bug

Currently though the configAccessor is [defined](https://github.com/flyteorg/flytepropeller/blob/master/cmd/controller/cmd/root.go#L44) to load the config in strictMode which makes sure incorrect config keys cause a fast failure , but it turned off during app initialization [here](https://github.com/flyteorg/flytepropeller/blob/master/cmd/controller/cmd/root.go#L92)

Similar

[2022-11-29 08:57] hamersaw opened #3114 "[BUG] Failure to recover task without a deck"
### Describe the bug

FlytePropeller fails to recover tasks if they do not have an associated deck. The specific error is located below:
`{"json":{"exec_id":"avlm5m29zkdrxmt8h7tc","node":"n0","ns":"flytesnacks-development","res_ver":"20063","routine":"worker-3","src":"executor.go:271","wf":"flytesnacks:development:dynamic-dict.dynamic_dict_wf"},"level":"error","msg":"Failed to check the existence

[2022-11-29 20:37] honnix opened #3115 "[BUG] flyteadmin returns inaccurate gRPC error code"
### Describe the bug

When submitting an invalid workflow, e.g. referencing to a remote task with wrong variable name, flyteadmin returns `INTERNAL` error code (see https://github.com/flyteorg/flyteadmin/blob/1817f38b977e9e821f732fb439cdd2f0acaead21/pkg/manager/impl/workflow_manager.go#L149). This complicates client side retry because in many cases an `INTERNAL` error is considered to be retryable

[2022-11-29 21:48] #3067 closed

[2022-11-29 22:14] #3086 closed

[2022-11-29 22:17] #3059 closed

[2022-11-30 02:14] Apophyllite opened #3117 "[BUG] flyteadmin kafka sender panic"
### Describe the bug

Hello all, it seems like a bug.

https://github.com/flyteorg/flyteadmin/blob/master/pkg/async/cloudevent/factory.go#L71
the kafka sender/producer will close immediately after the NewCloudEventsPublisher initialized.

I am getting the following error:

[code]

### Expected behavior

kafka publisher can send cloudevents.

### Additional context to reproduce

_No response_

###

[2022-11-30 03:51] shaowei-su opened #3118 "[BUG] Remote execution failed on sandbox clusters"
### Describe the bug

Followed the get_started guide here: https://docs.flyte.org/en/latest/getting_started/index.html#executing-workflows-on-a-flyte-cluster

By invoking `--remote` option, the execution failed with error
[code]

### Expected behavior

Expect correct submission and execution of the example workflow.

### Additional context to reproduce

The sandbox deployment is made to on-prem cl

[2022-11-30 04:54] kumare3 commented on #2810
There has been no progress on this one, but it is infact doable. Only thing is we need async support.

[2022-11-30 04:57] kumare3 commented on #2810
From the thread to preserve it
---

i have a custom task plugin which creates an AWS resource. what i want is, when i execute this task as part of workflow, and i terminate the workflow, the AWS resource should be deleted. i would assume that when a workflow is aborted a SIGTERM is sent to the pod running that task (lmk if thats not the case?) and i am trying to define a shutdown hook which will r

[2022-11-30 04:57] kumare3 commented on #2810
Work is to be done to make pyflyte execute handle sigint and sigterm

[2022-11-30 06:22] shaowei-su commented on #3118
It turns out the data proxy is not configured for envoy:
[code]
Close this issue.

[2022-11-30 06:22] #3118 closed

[2022-11-30 06:22] shaowei-su commented on #2729
[code]
The data proxy service is missing in the example configmap.

[2022-11-30 09:01] hamersaw opened #3426 "Enable FlyteDeck button for recovered tasks"
This [PR](https://github.com/flyteorg/flytepropeller/pull/506) enables task FlyteDecks to be recovered from previous workflow executions. However, the FlyteDeck button on the UI is disabled even though the information is successfully recovered. I suspect this is because the [FlyteDeck button is disabled](https://github.com/flyteorg/flyteconsole/blob/ab19c5433c0b1c01ae7f414a7221aa32c5b46066/package

[2022-11-30 14:03] andife opened #3119 "https://cr.flyte.org/v2/": x509: certificate signed by unknown authority."
Hello,
I'm trying to start the flyte-sandbox behind a company proxy

[code]

Can someone help?

BTW: the following works:

[code]

[2022-11-30 15:02] klekass opened #3120 "[Core feature] Map tasks with default arguments"
### Motivation: Why do you think this is important?

Currently map_tasks does not provide an option to pass default arguments to the mapped function. The [documentation](https://docs.flyte.org/projects/cookbook/en/stable/auto/core/control_flow/map_task.html) suggests to create an additional input preparation task, to prepare parallelized input and default inputs in a single paralellizable list, wh

[2022-11-30 17:13] hamersaw opened #3121 "[BUG] Incorrect output data when recovering partially completed dynamic workflows"
### Describe the bug

Dynamic workflows work by compiling a workflow closure defining subnodes which is then subsequently evaluated. In this process, Flyte assigns each subnode an incremental unique node ID which is used to track status, etc. Since these node IDs are incremental values, in scenarios where the dynamic task has some non-deterministic ordering a node ID in one execution of the dynami

[2022-11-30 18:10] mounesi opened #3122 "[BUG] Flytekit doesn't preview "successful Login" message after authentication is completed"
### Describe the bug

running `pyflyte run --remote` initiate a login URI for authentication process. After logging in successfully the page is just blank without any message on it.

### Expected behavior

The expected behavior is to see the message "Logged in successfully" or similar message.

### Additional context to reproduce

_No response_

### Screenshots

_No response_

### Are you sure thi

[2022-11-30 19:21] hamersaw opened #3123 "[Core feature] Add PodTemplate configuration to flytekit task definitions"
### Motivation: Why do you think this is important?

Many users require more complex k8s configuration within the Flyte ecosystem. This may include specifying task-specific tolerations, volume mounts, etc. Currently this is unsupported within flytekit, where the API favors ergonomics in abstracting away the complexities of k8s configuration from end-users. However, some use-cases require this comp

[2022-11-30 20:37] wild-endeavor opened #3124 "[Housekeeping] [flytekit] Move input parsing to importable package"
## Task
Small cleanup task.  The [literal converter](https://github.com/flyteorg/flytekit/blob/fb10e4b6d9629019a8100cc073d1f1a473ade1a0/flytekit/clis/sdk_in_container/run.py#L132) that works with click parsing would be useful to have separately.  Move this out to a different folder so we can use it in other parts of the codebase.

Related to https://github.com/flyteorg/flyte/issues/208

## Misc
##

[2022-11-30 21:41] fg91 commented on #3123
I really like this proposal since it would solve a problem I currently face:

Our ML engineers would like to have the ability to switch between T4, A100, and V100 GPUs. The resource name is the same for every GPU type on GKE. Instead, GKE adds a label to the nodes. One could use a Pod task configured with a node selector. However, this only works as a replacement for Python tasks whereas we need t