[2021-07-22 07:33] pmahindrakar-oss commented on #1233
This looks good . @evalsocket can we also check what it displays for linux and windows

[2021-07-22 07:49] #1249 closed

[2021-07-22 13:12] sinwoobang commented on #1248
![image](https://user-images.githubusercontent.com/6701124/126644385-9cccfaa0-117a-484d-b72b-ab7461c34a07.png)

I found this docker is set to use `amd64` as CPU platform.
I would like to revise this settings and try. Could anyone let me know where the settings is?

[2021-07-22 16:54] cosmicBboy commented on #1116
@kanterov we'll make it so! if not in the MVP release of the `remote` module, then as a quick follow-up

[2021-07-22 17:32] evalsocket commented on #1233
@pmahindrakar-oss https://equinox.io/blog/shutting-down

[2021-07-22 21:06] migueltol22 opened #1276 "[BUG] Flyte Map Tasks should only retry subtasks"
**Describe the bug**
Currently map tasks will retry the entire map task(all sub tasks) if a single subtask fails and count the retry toward the entire map task. This isn't ideal and should only be retried for that specific subtask that failed and be counted toward a single subtask retry.

We can technically get around this by setting retries to a very large number and with caching at some point it

[2021-07-22 23:04] cosmicBboy commented on #1197
fixed by #547

[2021-07-22 23:04] #1197 closed

[2021-07-22 23:05] cosmicBboy commented on #1196
fixed by #547

[2021-07-22 23:05] #1196 closed

[2021-07-22 23:05] cosmicBboy commented on #1195
fixed by #547

[2021-07-22 23:05] #1195 closed

[2021-07-22 23:05] cosmicBboy commented on #1194
fixed by #547

[2021-07-22 23:05] #1194 closed

[2021-07-22 23:05] cosmicBboy commented on #973
fixed by #547

[2021-07-22 23:05] #973 closed

[2021-07-23 00:02] kumare3 opened #1278 "[Docs]Standardize flytekit plugins and improve the readme.md"
**Describe the documentation update**
Currently every plugin does not have a standardized name in flytekit/plugins.
There are no hints given as to how the plugins should be written / developed.

[2021-07-23 00:05] kumare3 opened #1279 "[Docs]Auto-generate flytekit/plugins (api) documentation"
**Describe the documentation update**
Flytekit plugins are mostly developed in the flytekit repo. It should be possible to generate an deploy the plugin documentation.

[2021-07-23 01:26] varshaparthay commented on #634
Thanks Ketan, I will get started on this by next week and share a document on impl details

[2021-07-23 04:17] kumare3 commented on #1260
@kanterov we should add a serialize command, as we want to standardize this tooling and it helps with debugging, porting things over and sharing protobufs. It also decouples the logic of `registration`, various authentication support etc that jflyte would need to do otherwise.

Also I think this should be feasible

[2021-07-23 04:53] #1278 closed

[2021-07-23 07:44] kanterov commented on #1260
Agree. I was working on refactoring to support dynamic workflow tasks and can add implementation for serialization for it. Due to dynamic tasks, we had to change how serialization is done because the execution of dynamic workflow tasks looks similar to registration.

[2021-07-23 07:45] kanterov commented on #1260
One detail, due to how registration is done, we have to stage jars during serialization. Otherwise, we have to put a lot of logic that is subject to change into flytectl.

[2021-07-23 17:23] katrogan opened #1281 "[Flytectl Feature] Render descriptions in flytectl"
**Describe the feature/command for flytectl**
Now that we properly serialize and store flyte workflow and task input/output strings we should use/render these in flytectl and auto-fill them when generating an execution spec template.

**Provide a possible output or ux example**

**Describing inputs and outputs in get calls**
The yaml and json rendering for tasks and workflows should already includ

[2021-07-23 18:02] maximsmol opened #1282 "[BUG] Launch plan fails to parse large integer"
**Describe the bug**
When running `flytectl create --admin.endpoint $ADMIN_URL --admin.insecure execution -p 1 -d development --execFile lp.yaml`

using a launchplan with the number `8888888` as an integer parameter,

`Error: failed to parse integer value: strconv.ParseInt: parsing "8.888888e+06": invalid syntax`

**Expected behavior**
Launch plan executes parses without an error

**Additional con

[2021-07-23 22:22] katrogan commented on #1282
@pmahindrakar-oss mind taking a look at this one? this is a valid int input on flyteconsole so i think the execConfig parsing might be breaking somewhere

[2021-07-25 07:08] pmahindrakar-oss commented on #1282
Hi @katrogan / @maximsmol ,
I checked the code for this and heres the reason it fails for large numbers.

The json decoder decode the json numbers as float64
https://cs.opensource.google/go/go/+/go1.16.6:src/encoding/json/decode.go;l=96

[code]

Now when Golang uses  fmt.Sprintf(“%v”,v) on such values, it automatically converts %g
https://stackoverflow.com/questions/48337330/how-to-print-float-as-

[2021-07-26 06:20] #1251 closed

[2021-07-26 15:35] #1253 closed

[2021-07-26 16:55] maximsmol commented on #1282
Since `8.888888e+06` is just a different (scientific) notation for an **integer,** imo the correct solution is this:
- Parse the value as float to avoid the limitations of the Go parser
- Verify the value is an integer by checking `truncate(x) == x`
- Store `truncate(x)` cast to an integer type as the final parameter value

There should by definition be no difference in behavior between equivalent

[2021-07-26 17:26] katrogan commented on #1282
I don't think we should be reading it as a string because Flyte is built around type-support and this breaks it, no?

+1 to @maximsmol's suggestions, especially since the user-defined input itself isn't using a different or less conventional notation and we're failing due to go parsing quirks

[2021-07-26 18:51] #1235 closed

[2021-07-26 19:05] wild-endeavor commented on #823
will make a new ticket for the remaining item

[2021-07-26 19:37] #823 closed

[2021-07-26 19:39] wild-endeavor opened #1290 "[flytekit] Flyte Remote - List recent executions"
**Motivation: Why do you think this is important?**
Following on https://github.com/flyteorg/flyte/issues/823 we should add the ability to list recent wf executions.

[2021-07-26 20:08] #1198 closed

[2021-07-27 11:04] pmahindrakar-oss opened #1291 "[Docs] The search results are cluttering in the left panel probably due to size restrictions"
**Describe the documentation update**
Search keyword : filter

<img width="1274" alt="Screenshot 2021-07-27 at 4 32 00 PM" src="https://user-images.githubusercontent.com/77798312/127143538-6ec16b86-cc3f-4066-bd48-c5eb798ae880.png">

[2021-07-27 11:10] samhita-alla commented on #1291
@pmahindrakar-oss: Niels mistakenly deleted the CSS. https://github.com/flyteorg/furo/commit/f60e59c218be6a4c30ebe3bb6b325d3fc6e1ea5f. I've pushed the change already. We'll have to rebuild the docs.

[2021-07-27 18:25] pmahindrakar-oss commented on #1291
Thanks @samhita-alla for checking on this .You can close this one once it's merged

[2021-07-27 18:56] brucearctor commented on #1256
This was solved by https://github.com/flyteorg/flytekit-java/pull/29

[2021-07-27 18:56] #1256 closed

[2021-07-27 19:00] brucearctor opened #1292 "[Housekeeping] [flytekit-java] Publish artifacts"
**Describe the Issue**
https://github.com/flyteorg/flyte/issues/995 <- we are publishing artifacts.  Ideally those are accessible to anyone?

**What if we do not do this?**
People will not have easy access to the artifact.

**Proposed solution**
Make the released artifact (ex:  ghcr.io/flyteorg/flytekit-java:0.3.0-SNAPSHOT  ) available publicly.  And, update docs that say we do not publishing an a

[2021-07-27 19:01] brucearctor commented on #1292
@evalsocket , or @kanterov  -- any issues with this approach?  Am I missing something here?

[2021-07-27 19:02] brucearctor commented on #1008
This could be a good one for me to step into help with -- esp. once/if my primary employer chooses to Adopt Flyte.  Let's see how that process goes.  Until then, certainly open to anyone wanting to lend a hand.

[2021-07-27 19:58] katrogan opened #1293 "[UI Feature] Add recover option to console"
**Motivation: Why do you think this is important?**
Similar to relaunch, it might be useful to trigger a recovery execution from the console directly.

**Goal: What should the final outcome look like, ideally?**
Users should be able to trigger a recovery execution which calls this [API service method](https://github.com/flyteorg/flyteidl/blob/2537302a1c19f17a0a2834fb9db1d38a4a6eeeba/protos/flyteid

[2021-07-27 19:59] katrogan commented on #1293
cc @jsonporter @Pianist038801 this is pretty low priority but wanted to make sure to keep track of it

[2021-07-28 07:49] anton-malakhov opened #1294 "[Core Feature] Support Modin data types"
**Motivation**
Modin is an emerging drop-in replacement or rather extension of Pandas. But it is not directly supported by Flyte, which is asking to register a new transformer. That disrupts out-of-the box experience for data scientists. Can we integrate Modin as a first-class citizen like Pandas?

**Goal**
Support Modin data types with pre-packaged transformers.

**Alternatives**
Let users to wri

[2021-07-28 11:02] pmahindrakar-oss commented on #1282
Thanks @maximsmol  for the suggestion . I have implemented the same here https://github.com/flyteorg/flyteidl/pull/202
@katrogan i agree we should preserve the type support and we do this to most extent while trying to convert it to the mapped type of the param and fail it if it cannot be converted. This one is a corner case and has been handled now. Please have a look.

Also @maximsmol for your s

[2021-07-29 04:14] kumare3 commented on #1294
Hi @anton-malakhov firstly, thank you for opening this issue. I have been following modin and does seems really promising. When we started with the 2020 update of flytekit (this is the version that you see right now), we made a decision that Flytekit core itself will be very minimal, lightweight and devoid of major dependencies. We broke this rule for pandas, because we wanted a simplistic way to

[2021-07-29 04:20] kumare3 commented on #1242
cc @jsonporter the new graph UX and similarly the nodes ux should fix this one?

[2021-07-29 04:24] kumare3 commented on #1294
Also cc @cosmicBboy, @wild-endeavor we should probably update pandera plugins setup.py to be auto-loaded? - https://github.com/flyteorg/flytekit/tree/master/plugins/flytekit-pandera. Samething for GE plugin @samhita-alla ?

[2021-07-29 04:28] samhita-alla commented on #1252
@kumare3, I haven't updated the code of conduct in flytekit-java as they've Spotify's code of conduct. I'm not sure if we want to modify it.

[2021-07-29 04:33] brucearctor commented on #1252
Imagining all projects in github.com/Flyteorg need to say they follow LF AI's Code of Conduct?  The specifics of Spotify/other policy and wording isn't troubling to me, but highlighting what I imagine is expected from projects within the foundation (and probably worth confirming)....

[2021-07-29 04:34] kumare3 commented on #1252
@samhita-alla yes we should be updating the code of conduct in flytekit-java. So flytekit-java is now part of flyteorg, and no longer a spotify only project. They have donated it to LF AI (pending announcement)  - cc @kanterov

[2021-07-29 15:27] anton-malakhov commented on #1294
thank you @kumare3 for the fast and full answer! We are looking into what we can contribute, no promises though yet.

[2021-07-29 16:14] kumare3 commented on #1294
@anton-malakhov absolutely. We are working on the data persistence and auto load systems. No hurry and any contributions are super welcome.

Also please join our slack channel. The community would love to pitch in help wherever we can

[2021-07-29 22:20] brucearctor commented on #1292
cool -- ya, I found a super hacky workaround for now.

Thanks!

On Thu, Jul 29, 2021 at 5:16 AM Yuvraj ***@***.***> wrote:

[2021-07-31 08:33] tekumara opened #1300 "[BUG] FlyteFile type parameter causes type checker failures"
FlyteFile uses type parameters to specify metadata about the file type, [eg](https://github.com/flyteorg/flytesnacks/blob/ff4e179abe231d65fe06f24a181f96ad737d40ee/cookbook/core/flyte_basics/files.py#L55
):
[code]

This causes my type checker (pylance/pyright) to complain because `"jpg"` is not defined. And when a type parameter isn't supplied in a signature (ie: it's just [FlyteFile](https://githu

[2021-07-31 08:38] tekumara commented on #1300
Some workarounds:

1. Use a Literal type, eg: `return FlyteFile[Literal["jpg"]](path=out_path)`
2. Remove `typing.Generic[T]` from the FlyteFile type signature, eg: `class FlyteFile(os.PathLike):`

Both of these keep the use of type parameters. I wonder though if there's a more intuitive or Pythonic way to specify the format metadata. Eg: if it's only needed at runtime, then it could be part of th

[2021-07-31 08:39] tekumara commented on #1300
Some workarounds:

1. Use a Literal type, eg: `return FlyteFile[Literal["jpg"]](path=out_path)`
2. Remove `typing.Generic[T]` from the FlyteFile type signature, eg: `class FlyteFile(os.PathLike):`

Both of these keep the use of type parameters. I wonder though if there's a more intuitive or Pythonic way to specify the file format metadata rather than using type parameters. Eg: if it's only needed

[2021-08-01 14:40] kumare3 commented on #1300
@tekumara this has been a sticking point for me too.

The problem statement is avoid a cheap/intuitive way for users to provide file formats without needing to define new classes etc. and this has to be in declaration of the task not a implicit return attribute as in the return statement as the Flyte compiler does not introspect the code.

The lint error can be solved if you use JPG=typing.TypeVar

[2021-08-02 18:07] brucearctor opened #1302 "[Docs] Not just Flytekit Python code example -- reword docs/sentence"
From: https://docs.flyte.org/en/latest/

"The core unit of execution in Flyte is the task, which you can easily write with the Flytekit Python SDK:"

Since that is followed immidiately by code examples in Scala, Java, and Python, this should be reworded to not be Flyetkit Python specific.

<img width="1190" alt="Screen Shot 2021-08-02 at 11 03 17 AM" src="https://user-images.githubusercontent.com/

[2021-08-02 20:42] katrogan opened #1303 "[Core Feature] Disable caching for an exectuion"
**Motivation: Why do you think this is important?**
At execution time, sometimes users prefer to overwrite individual task cache attributes by not reading from the cache for an execution. Or, as in https://github.com/flyteorg/flyte/issues/170 we could consider overwriting the cache (separate issue though :) )

**Goal: What should the final outcome look like, ideally?**
To implement this we should

[2021-08-02 20:45] katrogan commented on #1303
cc @eapolinario (let's chat about this before you begin the work!)

[2021-08-03 11:32] kimoktm opened #1306 "[BUG] Dynamic tasks fail if function name is too long"
**Describe the bug**
Dynamic tasks workflow fails, raising `malformed dynamic workflow` error when the dynamic task function name is 52 characters or longer.

Raised error:
[code]

**Expected behavior**
The dynamic workflow should work even if function names are longer than 52 characters

**Additional context**
***To Reproduce***
Here is a quick snippet to reproduce the issue:
[code]

Renaming the

[2021-08-03 13:22] jeevb commented on #1234
Possibly relevant: https://bugzilla.redhat.com/show_bug.cgi?id=1785399

[2021-08-03 13:57] marcoskv opened #1307 "[BUG] FlyteConsole --> Login returns "Not found""
**Describe the bug**
On FlyteConsole, once I click on Login, I receive a "Not found" error.

**Expected behavior**
I was expecting a form to log in with some credentials.

**[Optional] Additional context**
***To Reproduce***
Steps to reproduce the behavior:
1. Installed k3s on a Centos 7 VM (IP 192.168.60.5)
[code]

2. From the host, I installed flyte with
[code]
3. Opened FlyteConsole (URL: http:

[2021-08-03 16:20] jeevb commented on #1234
@kumare3 @EngHabu: Which of this do you think makes more sense for this:
1. Mark `CreateContainerError` as retryable failure if message contains `failed to reserve container name`. Would propeller delete and requeue if this is the case?
2. Mark as initializing, but with a timeout of 5 mins (should this be configurable?). If timeout is exceeded, mark as failed.

[2021-08-03 16:31] kumare3 commented on #1307
@marcoskv flyte does not ship with some basic auth today (maybe we should). It ships with full oauth2 support which you need to enable for your deployment. The guide for setting it up is available here - https://docs.flyte.org/en/latest/deployment/cluster_config/auth_setup.html#deployment-cluster-config-auth-setup

Thus Flyte will not have a login form, but just use your IDP, like google SSO etc

[2021-08-04 07:05] marcoskv commented on #1307
Many thanks for your quick reply!

In the [sandbox documentation](https://docs.flyte.org/en/latest/deployment/sandbox.html), this extra step was not clear. Will take a look at the authentication docs. Thanks

[2021-08-04 07:05] #1307 closed

[2021-08-04 14:24] anton-malakhov commented on #971
@kumare3 is there a known solution to the issues with proxy? thanks

[2021-08-04 15:56] kumare3 commented on #971
@anton-malakhov ya restart your docker daemon. Another reason for failure can be disk pressure (out of logical disk space for your docker daemon)

[2021-08-04 16:05] anton-malakhov commented on #971
it doesn't help unfortunately. Do you have a guide how to run Flyte behind corporate proxy?

[2021-08-04 17:20] kumare3 commented on #971
Try this out, don't know your setup, can you join the slack channel and we can help - https://docs.flyte.org/en/latest/community/troubleshoot.html

[2021-08-04 20:46] kumare3 commented on #1306
@kimoktm thank you for the issue, we will definitely look into this soon, but as a work-around if you name the task something smaller does it work?
also cc @katrogan / @EngHabu

[2021-08-05 08:49] samhita-alla opened #1312 "[BUG][flytekit] Default input argument not being considered in PythonInstanceTask"
**Describe the bug**
The default input argument is not being considered when calling the `PythonInstanceTask`. Observed this when building a task plugin.

Task's `__init__()`:
[code]

Example:
[code]

Error:
[code]

**Expected behavior**
The above code shouldn't be throwing an error.

**[Optional] Additional context**
***To Reproduce***
Steps to reproduce the behavior:
1. Same as the above code fl

[2021-08-05 16:58] #1281 closed

[2021-08-06 10:47] pmahindrakar-oss opened #1314 "[BUG] Flytectl execution details fails on schema type"
**Describe the bug**

Flytectl currently doesn't support schema type on execution details

[code]

**Expected behavior**

**[Optional] Additional context**

***Screenshots***

[2021-08-06 16:33] #494 closed

[2021-08-06 16:41] EngHabu opened #1316 "[BUG] flytekit no longer supports python 3.6 while it's not reached end of life yet"
**Describe the bug**
Python 3.6 end of life is set for [December, 23rd, 2021](https://endoflife.date/python). flytekit should continue to support 3.6 until then.

[2021-08-06 17:11] kumare3 commented on #1316
I think the new annotations API does not work (well) for python 3.6. But yes for the legacy users, we can support python3.6. This is the pre-annotations api. cc @wild-endeavor

[2021-08-06 18:02] EngHabu commented on #1234
Apologies for the delay... was still catching up...
If I understand the linked issue correctly, this pod will move "back" from a `Failed` Phase to `Running` when CRI-O fixes the name issue? this is disturbing... breaks the fundamental assumption that `Succeeded` and `Failed` are terminal phases for a Pod... pretty bad design...

RE: the proposed solutions:
1. Yes, but given the description of the

[2021-08-06 21:00] #1316 closed

[2021-08-06 21:26] georgesnelling commented on #1276
@EngHabu @katrogan:  Is this propeller or admin or both?

[2021-08-06 21:31] jeevb commented on #1234
No worries, thanks for responding @EngHabu.

It's not clear to me that it's in a `Failed` phase. I believe it's still in the `Pending` phase. I can check, but this is pretty hard to reproduce.

1. That is fair. But there is the possibility that it will reschedule on a less loaded node.
2. That's right. The comments in the linked issue above seem to suggest that it resolves in 2-3 mins on its own.

[2021-08-06 22:57] EngHabu commented on #1234
The pod status [here](https://github.com/flyteorg/flyte/issues/1234#issuecomment-881000387) represents a Pod that actually failed because of that issue? like kubelet tried and eventually gave up or something?

so we hit this line: https://github.com/flyteorg/flyteplugins/blob/master/go/tasks/pluginmachinery/flytek8s/pod_helper.go#L185 ic ic... I think I'm now caught up :-)

So it looks like what h

[2021-08-07 05:28] jeevb commented on #1234
I don't think we gave kubelet enough time to resolve this. The task was marked as failed and the workflow short-circuited without retries.

<img width="2560" alt="Screen Shot 2021-08-06 at 10 28 18 PM" src="https://user-images.githubusercontent.com/10869815/128589213-6f338374-d109-4f1c-818e-19c738e06e60.png">

I think your breakdown is correct per my understanding.

[2021-08-07 09:16] tekumara commented on #1300
@kumare3 what do you think about using `Annotated` from [PEP-593](https://www.python.org/dev/peps/pep-0593/) for this? It seems like it was introduced for this sort of use case.

eg:

[code]

or even more explict:

[code]

[2021-08-07 10:52] tekumara opened #1318 "[BUG] pima_diabetes example fails to register"
**Describe the bug**
[code]

flytesnacks commit ff4e179 (v0.2.155)

[2021-08-07 11:11] tekumara commented on #1318
Ah this was because of a incorrect change I made, and not something in the original code.

[2021-08-07 11:11] #1318 closed

[2021-08-07 11:51] tekumara opened #1319 "[BUG] Flyte sandbox: Back-off pulling image"
**Describe the bug**

Execution inside flyte sandbox fails with:

[code]

***To Reproduce***

I'm following the [flytesnacks readme](https://github.com/flyteorg/flytesnacks):
[code]

***Screenshots***
If applicable, add screenshots to help explain your problem.

[2021-08-07 11:54] tekumara opened #1320 "[BUG] flytectl get execution details - nil pointer dereference"
[code]

[code]

[2021-08-07 15:04] kumare3 commented on #1320
Cc @pmahindrakar-oss
I think this is a transitional npe. Still a bug

[2021-08-09 01:28] arcangelsalazar opened #1321 "[BUG] unable to start flyte in Docker windows"
Just trying to execute

`docker run --rm --privileged -p 30081:30081 -p 30084:30084 cr.flyte.org/flyteorg/flyte-sandbox`

in windows 10 pro with hyper-v docker desktop gives the output:

[code]

[code]

[code]

[2021-08-09 02:49] kumare3 commented on #1321
This should have worked - cc @evalsocket

[2021-08-09 05:16] kumare3 commented on #634
@varshaparthay one more thing we might want to consider is that we may want to keep the checkpoints between different retries distinct. Thus Propeller may need logic to pass the checkpoints between retries. This should be doable, but is some work

[2021-08-09 10:11] kimoktm commented on #1306
Thanks for looking into it @kumare3!
Yes, renaming the task a shorter name works fine, so I'm not currently blocked

[2021-08-09 16:46] evalsocket commented on #1321
@arcangelsalazar i found the issue and issue exist in non dind image. This will work in dind image
[code]

I will create a hotfix today

[2021-08-09 23:33] EngHabu commented on #1276
There is precedence for us passing the "retry count" down to the downstream system (e.g. Qubole) to do the retries there... I think the right thing here is to follow that and do the retrying in the K8s Array Plugin. One way to do this is:

1. The ArrayStatuses we track in the plugin should be expanded by the factor of retry count...
2. We should append the attempt number to the Pod name.
3. We sho

[2021-08-10 07:36] jeevb opened #1323 "[BUG] Task node resource overrides do not apply to sidecar/pod tasks"
**Describe the bug**
Task node resource overrides via `.with_overrides` in `flytekit` do not apply to sidecar/pod tasks.

**Expected behavior**
Task node resource overrides set via `.with_overrides` in `flytekit` correctly overrides primary container resource requirements in sidecar/pod tasks.

**[Optional] Additional context**
***To Reproduce***
[code]

Running this task with `flytekit==0.21.2` a

[2021-08-10 07:38] jeevb commented on #1323
Making the following change to `flyteplugins` appears to fix the issue:
[code]

[2021-08-10 07:40] jeevb commented on #1323
I believe this also fixes the issue where sidecar tasks don't inherit the plugin's default resource requirements in the absence of user-specified resource requirements.

[2021-08-10 17:55] katrogan opened #1324 "[Housekeeping] Refactor container task, pod task and respective array task plugin impls"
**Describe the Issue**
The container task and pod task resource plugin implementations both build up a k8s pod spec using [different task template targets](https://github.com/flyteorg/flyteidl/blob/e18a183490605a2079e0a23a3b5c525e3aa07cc3/protos/flyteidl/core/tasks.proto#L121,L124). These implementations have developed organically and sometimes share code to add flyte-configured overrides for env

[2021-08-10 17:56] katrogan commented on #1324
cc @jeevb

[2021-08-10 18:18] vsbus opened #1325 "[BUG] Flytekit 0.21.0 doesn't support empty/default protobufs"
**Describe the bug**
When input parameter is like this: `task_main_params_proto:{}` a task fails with
[code]
https://github.com/flyteorg/flytekit/blame/68cd7beb1800bd32e7bb6b7b77fad7fecec01998/flytekit/core/type_engine.py#L274

However, the proto value here is valid, just all elements have default value. Proto definition is:
message TaskMainParams {
  bool force_sensor_data_cache = 1;
}
when force

[2021-08-10 19:54] #1325 closed

[2021-08-10 23:26] michaels-lyft commented on #878
Hi @kumare3 Just wondering if there's an update on this issue?

[2021-08-10 23:26] michaels-lyft commented on #872
Hi @kumare3 Just wondering if there's an update on this issue?

[2021-08-10 23:27] kumare3 commented on #872
@milton0825 do you have an update?

[2021-08-11 00:18] #1323 closed

[2021-08-11 00:22] milton0825 commented on #872
Unfortunately haven't been able to find time to work on this. Feel free to grab it.

[2021-08-11 20:23] katrogan commented on #190
duplicate of https://github.com/flyteorg/flyte/issues/1276

[2021-08-11 20:23] #190 closed

[2021-08-11 20:27] katrogan commented on #647
thanks @asahalyft for the background! as part of https://github.com/flyteorg/flyte/issues/531 we want to expand the domain of what's searchable to include descriptions, labels, tags and more.

cc @mayitbeegh

[2021-08-11 22:09] katrogan opened #1327 "[Core Feature] Pass outputs inline with execution event data."
**Motivation: Why do you think this is important?**
For a distributed propeller deployment it's useful to pass executions outputs inline rather than as an offloaded URI. Permissions access may mean that blobstore bucket propeller has write access to may not necessarily be readable by the flyteadmin deployment.

**Goal: What should the final outcome look like, ideally?**
Raw outputs should be sent

[2021-08-11 22:14] kumare3 opened #1328 "[Plugin][Pod] Support local execution of simple pod tasks"
**Why would this plugin be helpful to the Flyte community**
K8sPods are supported as a separate entity from regular tasks in Flyte. Pods allow developers to access raw K8s features and are useful for extending infrastructure from the user pov. In many cases users of Flyte are forced to use pod tasks, because container tasks do not expose things like affinity, node pools etc. This is by design to a

[2021-08-12 17:37] evalsocket commented on #1319
@tekumara Your image doesn't exist inside the  [sandbox cluster](https://docs.flyte.org/en/latest/deployment/sandbox.html#deployment-sandbox).   that's why you are getting the error image doesn't exist.

You can check the docker image inside the container
[code]

If you didn't go through the getting started then please first try the [getting started](https://docs.flyte.org/en/latest/getting_starte

[2021-08-12 17:40] evalsocket commented on #1320
@tekumara @kumare3 i am ware about the issue. Currently we didn't support some data types in flytectl that's it is failing while retrieving the input and output of a execution

[2021-08-12 17:41] evalsocket commented on #1320
Related https://github.com/flyteorg/flyte/issues/1314

[2021-08-12 17:42] #1292 closed

[2021-08-12 22:50] EngHabu commented on #1137
These two links no longer point to a valid page. Mind updating and clarifying what needs to happen here? @cosmicBboy

[2021-08-12 22:52] EngHabu commented on #1123
Mind clarifying what additional checks this would give us? is it possible to generate an invalid pod spec if we are using kube client library?

[2021-08-13 01:05] katrogan commented on #1123
@EngHabu yes, there's been multiple cases on slack where someone entered an instance of something instead of a list (e.g. volume mounts) and deserialization at execution time failed confusingly

[2021-08-13 04:54] jeevb commented on #1234
Here's another one that appears to either be a transient error or a system-level retryable error:
[code]

[2021-08-13 04:58] jeevb commented on #1234
Looks like others are seeing this issue as well: https://serverfault.com/q/1036683

[2021-08-13 19:21] cosmicBboy opened #1335 "[BUG] TypeEngine can't convert FlyteDirectory/File from Flyte literal to python value"
**Describe the bug**

The `remote.FlyteRemote` class uses the `TypeEngine` to convert Flyte literals to python values. However, FlyteFile/Directory Flyte literals cannot be converted to the corresponding python values because the associated type transformers don't have a `guess_python_type` method.

See [here](https://flyte-org.slack.com/archives/CREL4QVAQ/p1628872335150600) for more context

**Ex

[2021-08-13 19:23] kumare3 commented on #1177
@EngHabu after thinking a bit more, this seems to be not possible, or harder than it appears. This is because the internal structure can dynamically be altered based on inputs to the dynamic task. These inputs are not known at the time of resolving the inner task

[2021-08-13 20:19] jeevb commented on #1234
@EngHabu @kumare3: Do we have consensus on the path forward for this?

[2021-08-13 22:17] EngHabu commented on #892
Done

[2021-08-13 22:17] #892 closed

[2021-08-13 22:32] #1324 closed

[2021-08-13 22:32] jsonporter commented on #1217
Support for this feature has been merged to master and will be included in the next release.

https://github.com/flyteorg/flyteconsole/pull/178

[2021-08-13 23:22] EngHabu opened #1336 "[BUG] Tasks with no resource requests should default to platform defaults for both requests and limits"
**Describe the bug**
What I see is that when I launch a task that doesn't have requests nor limits, flyteadmin now applies the task_resources defaults to requests and limits to limits... Because of how resource allocation works in K8s, the schedulers waits for a node that has enough resources (factoring in overcommit ratios and all) to accommodate limits . I wonder if the right behavior is to use

[2021-08-14 01:56] #1336 closed

[2021-08-14 07:14] tekumara commented on #1319
Thanks @evalsocket if I run register using the sandbox shell it works, ie:

[code]

Would you accept a flytesnacks PR to update the docs as above?

[2021-08-14 15:01] tekumara opened #1337 "flytekit - support NamedTuple as input type"
**Motivation: Why do you think this is important?**

[NamedTuples](https://docs.flyte.org/projects/cookbook/en/latest/auto/core/flyte_basics/named_outputs.html) can be used to name outputs of tasks and workflows. But when used as inputs to a task, eg:

[code]

Flytekit will error with:

[code]

**Goal: What should the final outcome look like, ideally?**

Ideally a NamedTuple could be passed direct

[2021-08-14 16:18] kumare3 commented on #1337
@tekumara we have reserved namedtuples to created named outputs from tasks and workflows.
You can instead use- data classes would that not suffice?

[2021-08-14 16:22] #1217 closed

[2021-08-15 01:10] kumare3 commented on #1319
@tekumara we always accept great Prs please do not hesitate to open one. What you suggest is interesting, we are thinking of further streamlining flytesnacks to match getting started

[2021-08-15 01:51] tekumara commented on #1337
Dataclasses would work but would require converting the output into a dataclass before passing to the next task I think?

A NamedTuple input would be more fluent when composing workflows, eg: composing the tasks above could just be

[code]

[2021-08-15 03:11] tekumara opened #1338 "[Flytectl Feature] support local registry for sandbox"
**Describe the feature/command for flytectl**

Any locally built images need to be created inside the sandbox. This means mounting the local directory at sandbox creation time, and entering the sandbox to build the image. The sandbox can only build images for the mounted directory (ie: repo) it was started with. To switch repos, a new sandbox needs to be created. Overall the process is a little un

[2021-08-15 05:30] tekumara opened #1339 "[Core Feature] flytekit - support positional args when calling tasks"
Flytekit doesn't support positional args for calling tasks in a workflow, eg:

[code]

Will error with

[code]

**Motivation: Why do you think this is important?**

Supporting positional args would reduce friction when converting existing Python scripts to Flyte workflows.

[2021-08-15 06:20] tekumara opened #1340 "[Core Feature] flytekit - option to disable logging input/output contents"
Provide an option to disable the logging of the contents of inputs and outputs of tasks/workflows.

**Motivation: Why do you think this is important?**

Inputs/outputs can include sensitive data, and also flood the logs when the inputs/outputs are large. This is particularly true of a large FlyteSchema/Dataframe.

[2021-08-15 06:46] kumare3 commented on #1340
@tekumara where do we log the input/outputs, if we are doing it, this is probably a bug, i.e for debugging. Are you talking about in the UI?

[2021-08-15 09:46] tekumara opened #1341 "[BUG] flytectl get launchplan - panic: assignment to entry in nil map"
**Describe the bug**

[code]

[code]

[2021-08-15 09:54] tekumara commented on #1341
This is for workflow that has no inputs or outputs:

[code]

[2021-08-15 10:12] tekumara commented on #1340
flytekit logs on stderr, which appear in the kubernetes logs, eg:

[code]

[2021-08-15 11:21] tekumara opened #1343 "[BUG] flyteconsole: executions outputs tab renders (empty) for a NamedTuple output"
**Describe the bug**
The executions outputs tab renders _(empty)_ for a NamedTuple output.

**Expected behavior**
A clear and concise description of what you expected to happen.

**[Optional] Additional context**

Here's the task:
[code]

***Screenshots***

<img width="434" alt="Screen Shot 2021-08-15 at 9 18 52 pm" src="https://user-images.githubusercontent.com/125105/129476687-35ff1933-0e86-47ba

[2021-08-15 11:25] tekumara opened #1344 "[BUG] flyteconsole: executions inputs tab renders (empty) for complex input"
**Describe the bug**

flyteconsole executions inputs tab renders (empty) for complex input

**[Optional] Additional context**

Task details:
[code]

***Screenshots***

<img width="432" alt="Screen Shot 2021-08-15 at 9 24 04 pm" src="https://user-images.githubusercontent.com/125105/129476828-7aa89649-898f-4e37-9b74-18f3c511d3fc.png">

[2021-08-15 11:25] tekumara commented on #1344
May be related to https://github.com/flyteorg/flyte/issues/1343

[2021-08-16 04:23] kumare3 commented on #1340
ohh these are debugging logs, we are cleaning up the logs - cc @wild-endeavor. Thank you for the suggestion

[2021-08-16 04:23] kumare3 commented on #1341
cc @pmahindrakar-oss

[2021-08-16 04:50] georgesnelling commented on #1340
@wild-endeavor @eapolinario:  good issue to address together perhaps as a step to hand-off...

[2021-08-16 12:49] clairemcginty opened #1345 "[Plugin] Support custom resource cleanup policy in Plugin interface"
**Why would this plugin be helpful to the Flyte community**
I'd like to propose adding a 5th method to the [Plugin interface](https://github.com/flyteorg/flyteplugins/blob/master/go/tasks/pluginmachinery/k8s/plugin.go#L78) allowing users to customize how they want their resource to be cleaned up at the conclusion of the task. By default in Flytepropeller the task is cleaned up just by [deleting th

[2021-08-16 17:33] cosmicBboy commented on #1137
@EngHabu I think this issue is now defunct since our documentation sprint

[2021-08-17 05:21] jeevb commented on #1234
More weirdness on stress testing (not related to Flyte, but to failure modes in GKE under load):
[code]

[2021-08-17 06:26] kumare3 commented on #1234
Wow this is a broken state machine

[2021-08-17 18:16] EngHabu commented on #1177
I agree with that... I think the problem stands though... the solution can be different... or maybe the workaround I did is what we want to support (and document) ?

[2021-08-17 19:14] wild-endeavor opened #1349 "[Core Feature] Support Union types in Flyte IDL"
**Motivation: Why do you think this is important?**
The lack of union types, specifically for Optional/Some types, has come up multiple times in the past (most recently [here](https://flyte-org.slack.com/archives/CREL4QVAQ/p1628629829069000)).

We should add Union/Optional as a top-level type in FlyteIDL.

**Goal: What should the final outcome look like, ideally?**
Users should be able to define s

[2021-08-17 20:08] jsonporter commented on #977
This has been fixed; current supported version is node 14.

[2021-08-17 20:08] #977 closed

[2021-08-17 20:28] georgesnelling commented on #1047
Hey @wild-endeavor, can you provide a link to the demo site that shows this?  We're missing the context of the DM mentioned above.

[2021-08-17 20:44] jsonporter commented on #503
Hey I am new to the team and was looking through the backlog and I was not able to repoduce this bug.  I suspect it may have been fixed?  Could you verify?

[2021-08-17 20:53] #761 closed

[2021-08-17 21:11] bnsblue commented on #503
@jsonporter It has been almost a year so I can't remember exactly. It probably has been fixed. Haven't noticed this behavior recently.

[2021-08-17 21:20] kumare3 commented on #761
@CodeMySky this has been checked in, you can use the pre-release or try it out with next Flyte release

[2021-08-17 21:45] kumare3 commented on #1282
@pmahindrakar-oss / @maximsmol can we close this issue?

[2021-08-18 07:09] samhita-alla opened #1351 "[BUG] Workflow set for on:release not triggering"
**Describe the bug**
Workflow set for `on:release` is not triggering when the release was first a draft and later published.

**Expected behavior**
Workflow has to get triggered.

***To Reproduce***
Steps to reproduce the behavior:
1. Publish a draft release

[2021-08-18 13:22] pmahindrakar-oss commented on #1282
Yes this is fixed in the latest release .

[2021-08-18 16:47] csirius commented on #885
@katrogan
The issue is that currently api response doesn't have `started_at` field.
From the backend code, I noticed it only returns this field if it's not `nil` value.

So two possibilities:
- `started_at` field is `nil` for the specified `task_execution` record.
- `started_at` is not processed at all.

FYI @jsonporter

[2021-08-18 16:51] #336 closed

[2021-08-18 18:28] EngHabu commented on #1234
I'm actually ok with a `Pod.Phase == 'Running'` while containers are not ready... that's ok as long as it means Kubelet hasn't given up yet and is still trying... I'm not ok, however, with `Pod.Phase =='Running'` -> `Failed` -> `Running`... that's a disaster if true... have you seen cases like that?

[2021-08-18 19:23] wild-endeavor opened #1352 "[flytekit] Plugins - Move tests into each individual plugin"
**Describe the Issue**
We modeled the new plugin structure off of this [microlib](https://medium.com/@jherreras/python-microlibs-5be9461ad979) structure a while back, but we never moved the tests into each individual plugin.  We should do that. There may or may not have been a reason

Should probably also move GH workflows to install each plugin and test each plugin separate from the other plugins

[2021-08-18 20:30] EngHabu commented on #878
Hey @michaels-lyft,

I wanted to clarify whether the try-finally behavior proposed will solve your problem. The behavior we are proposing is something like this:

[code]

If `my_wf()` fails at any point during execution, it'll call `my_error_handler()` task and will pass some context (error info... etc.) to allow it to handle the error. The expectation is that `my_error_handler()` would do things

[2021-08-18 21:19] #1032 closed

[2021-08-18 21:36] wild-endeavor opened #1353 "[BUG] [flytekit] - FlyteRemote can't fetch subworkflow"
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

***To Reproduce***
[code]

[2021-08-18 22:03] #1282 closed

[2021-08-18 22:52] #1261 closed

[2021-08-19 09:03] pmahindrakar-oss opened #1354 "[BUG] Flyteadmin shouldn't allow launching an execution in archived state"
**Describe the bug**
Each launch plan can be in one of two states.
- Archived
- Active

Admin exposes an api to toggle between these two states.

But in case a user launches an execution for a launchplan then this state flag is ignored.

**Expected behavior**
Flyteadmin create execution should throw an error in case the launch plan state is archived.

**[Optional] Additional context**
***To Reprod

[2021-08-19 09:04] pmahindrakar-oss commented on #1354
cc : @katrogan @kumare3

[2021-08-19 14:23] #918 closed

[2021-08-19 16:15] wild-endeavor opened #1355 "[Core Feature] [flytekit] Task configuration modification within dynamic tasks"
**Motivation: Why do you think this is important?**
Allow a better interface to modify the definition of tasks within dynamic tasks.  See this [thread](https://flyte-org.slack.com/archives/CREL4QVAQ/p1628882234154200) for more information.

When users call tasks within a dynamic task, because the definition of those tasks is explicitly included in the [subworkflow returned](https://github.com/flyt

[2021-08-19 16:21] wild-endeavor commented on #1340
Should work alongside https://github.com/flyteorg/flyte/issues/1034

[2021-08-19 16:48] wild-endeavor opened #1356 "[flytekit] Revisit retry behavior"
**Motivation: Why do you think this is important?**
Users [do not find](https://flyte-org.slack.com/archives/CREL4QVAQ/p1628747383115900) the current retry behavior intuitive.  Retry behavior in the native API was [recently changed ](https://github.com/flyteorg/flytekit/pull/543)to reflect the old API, namely

* Exceptions raised when user code is running are considered non-retriable unless it's a

[2021-08-19 16:53] #885 closed

[2021-08-19 17:00] #809 closed

[2021-08-19 17:22] wild-endeavor opened #1359 "[flytekit] Pyflyte package needs to store serialization context"
**Motivation: Why do you think this is important?**
We introduced the `pyflyte package` command to make the registration experience cleaner (by removing certain options for example).  One of the examples that we removed was the `--in-container-config-path` setting.  This setting gets stored as the `FLYTE_INTERNAL_CONFIGURATION_PATH` environment variable, which flytekit then looks up at run time to

[2021-08-19 19:38] katrogan opened #1361 "[Core Feature] Centralize task resource assignment at execution time"
**Motivation: Why do you think this is important?**
Numerous issues keep cropping up because task resource resolution is convoluted and handled in multiple repos at multiple points in the registration -> execution lifecycle.

For example

- container target task types (and only those) have resources [validated](https://github.com/flyteorg/flyteadmin/blob/263d52c5d4b6e229324994a1a77f1c340ce7bbaa/pk

[2021-08-19 19:38] jeevb commented on #1234
No I don't believe I have. But this is generally hard to reproduce and track. I may have just missed it.

[2021-08-19 19:38] katrogan commented on #1361
cc @jeevb @EngHabu

[2021-08-19 19:52] cosmicBboy opened #1362 "[Core Feature]: Add support for python pickle type in flytekit/flyte"
**Motivation: Why do you think this is important?**

Currently, all of the types declared in tasks/workflows via the flytekit-python SDK must be backed by a corresponding [`TypeTransformer`](https://github.com/flyteorg/flytekit/blob/a13747246ccadb74800aa8288b2ec100834b34aa/flytekit/core/type_engine.py#L35). This class specifies how to convert python data structures to and from the flyte idl.

The

[2021-08-19 19:58] michaels-lyft commented on #878
Hi @EngHabu, thanks for the proposal! I don't think it would work for our use case since downstream workflows rely on this workflow to be marked as successful in order for it to be executed. If this ended up being the implementation for try-catch, then I think we would need option 1 in the description in order for our use case to work.

I can think of a very hacky workaround using the proposed try

[2021-08-19 20:02] kumare3 commented on #1362
cc @tekumara. We have a solution here

[2021-08-19 20:07] kumare3 opened #1363 "[Core Feature] Logical types: static type checking for higher level user defined types."
**Motivation: Why do you think this is important?**
Flytekit and in the future other SDK's support progressive typing and allowing users to define their types. The `TypeTransformers` today in flytekit, effectively result in type-erasure at runtime. The higher level types are converted to underlying flyte types and on retrieval the information of the source type is lost. This works in theory as the

[2021-08-19 20:20] kumare3 commented on #1362
Also We can further enhance this proposal by using logical types in the backend as described in here - https://github.com/flyteorg/flyte/issues/1363

[2021-08-19 20:22] wild-endeavor opened #1364 "[flytekit] pytest-flyte and integration test framework"
**Motivation: Why do you think this is important?**
This issue should probably be a design doc instead of an issue, but let's start here.  We currently have a pytest [plugin](https://github.com/flyteorg/pytest-flyte) that is lightly used to do some integration [testing](https://github.com/flyteorg/flytekit/tree/master/tests/flytekit/integration) in flytekit.

There are many places where we could u

[2021-08-19 20:34] wild-endeavor opened #1365 "[BUG] FlyteRemote not respecting launch plan auth role"
**Describe the bug**
https://flyte-org.slack.com/archives/CREL4QVAQ/p1629398529205500

[2021-08-23 04:57] #1335 closed

[2021-08-23 15:54] EngHabu commented on #611
This is now implemented in the new `remote` package.
CC @cosmicBboy

[2021-08-23 15:54] #611 closed

[2021-08-23 15:55] EngHabu commented on #610
Do we still need this? @wild-endeavor

[2021-08-23 15:56] EngHabu commented on #610
Won't Fix... per @wild-endeavor

[2021-08-23 15:56] #610 closed

[2021-08-23 15:56] wild-endeavor commented on #610
I don't think so.

[2021-08-23 15:56] EngHabu commented on #607
Won't Fix... per @wild-endeavor

[2021-08-23 15:56] #607 closed

[2021-08-23 16:01] evalsocket opened #1368 "[BUG] Pyflyte should complain about duplicate task name in serialize."
**Describe the bug**
Example workflow :- https://github.com/flyteorg/flytesnacks/blob/73cfdfc2c4a97987ab873fbce592cebc3fc96f11/cookbook/integrations/kubernetes/pod/pod.py

Example workflow has two tasks with the duplicate name `my_pod_task`. It got serialize successfully but on the register, it got failed because of a duplicate name.

**Expected behavior**
Pyflyte should complain about duplicate n

[2021-08-23 16:01] evalsocket commented on #1368
CC: @kumare3  @wild-endeavor  @katrogan

[2021-08-23 16:03] #1233 closed

[2021-08-23 16:04] #939 closed

[2021-08-23 16:10] #901 closed

[2021-08-23 16:21] evalsocket commented on #839
@tnsetting I want to work on the issue if you are not working on it.
CC @kumare3

[2021-08-23 16:23] evalsocket commented on #1319
@tekumara thanks for the contribution. I am closing this issue for now

[2021-08-23 16:23] #1319 closed

[2021-08-23 17:26] evalsocket commented on #1264
@kumare3 Where do we want the documentation ? In getting started guide or sandbox documnetation

[2021-08-23 17:32] katrogan commented on #1368
hey @evalsocket are you using pyflyte serialize or pyflyte package? I'm not sure how the former could always detect identical task names, but certainly makes sense that the latter should!

[2021-08-23 18:32] katrogan commented on #704
As part of this change, we'll want to introduce a SQL query target as a first class [task template target](https://github.com/flyteorg/flyteidl/blob/e18a183490605a2079e0a23a3b5c525e3aa07cc3/protos/flyteidl/core/tasks.proto#L121).

After doing this, we'll need to update [get_serializable_task](https://github.com/flyteorg/flytekit/blob/7c26017c4a3ec9ca03bca0e09a4a9035c350229b/flytekit/common/transla

[2021-08-23 22:43] #1234 closed

[2021-08-24 00:34] katrogan opened #1369 "[Core Feature] Capture and save documentation from flytekit entities"
**Motivation: Why do you think this is important?**
See https://github.com/flyteorg/flyte/issues/531 for a richer discussion on this feature. For this specific issue, we will want to capture user documentation, links to source code and commit version and pipe that through the Flyte system and make entity descriptions for tasks, workflows, launch plans and executions retrievable via a separate endp

[2021-08-24 04:33] SteVwonder commented on #1321
Just wanted to note that I am running into the issue with the `latest` tag even after #1322 was merged. It does work with the `dind` tag though.  Maybe a deploy of `latest` failed?  Or there was a regression?  Or maybe this is expected because the `latest` tag is only updated with a new tagged version? (I'll admit to being unfamiliar with your deploy process).

[code]

[2021-08-24 07:18] kumare3 commented on #1321
@SteVwonder thank you for the issue report. Cc @evalsocket

[2021-08-24 08:28] evalsocket commented on #1321
@SteVwonder The issue is fixed in the master branch. It is not working because we only build sandbox images on release time.

[2021-08-24 08:30] evalsocket commented on #1368
I tested it with the pyflyte package and serialize both. Same issue

[2021-08-24 20:33] #1216 closed

[2021-08-24 23:50] wild-endeavor opened #1370 "[BUG] [flytekit] TypeEngine doesn't infer enough interfaces"
**Describe the bug**
`Typedict_to_literal_map` doesn't actually have enough information to do what it says it does outside of the most primitive types.  This is because the type information that is used to the conversions within that function are just from `type(...)`, which doesn't have enough information for even trivial things like a list of integers.  That is, what we want is `typing.List[int]

[2021-08-25 07:22] tnsetting commented on #839
Sure. Please go ahead.

[2021-08-25 13:00] pingsutw opened #1375 "[Core Feature] Support Kubeflow training-operator"
**Motivation: Why do you think this is important?**
Currently, Flyte leverages the kubeflow operator, `PyTorch-operator` and `tf-operator`. However, we can only use `training-operator` in the future.
Kubeflow design a new operator named `training-operator` that supports all kinds of ML frameworks.

https://github.com/kubeflow/tf-operator/releases
More background can be found in design doc [All-in-

[2021-08-25 15:52] kumare3 commented on #1375
this is interesting, @pingsutw, @evalsocket maybe we should just drop support for mpi operator and move to this single operator?

@pingsutw can you work with @evalsocket on this?

[2021-08-25 15:53] kumare3 commented on #1375
@jeffwan, we would love to use the new operator in Flyte, would you be open to collaboration?

[2021-08-25 16:07] pingsutw commented on #1375
@kumare3 sure, my pleasure.

[2021-08-25 16:37] Jeffwan commented on #1375
@kumare3 I would love to see this collaboration. I can help check current usage in Flyte and give some suggestions on next steps.

[2021-08-25 16:45] evalsocket commented on #1375
@pingsutw  Ah, interesting.....Yes, we can use that. I just need to dig deeper into the operator.

[2021-08-25 16:47] kumare3 commented on #1375
@jeffwan that would be wonderful, so we are trying to make a very seamless SDK experience for all users of Flyte. We already have this for TF Operator, Pytorch operator and were about to add MPI operator. But I very much prefer to just use one!. Do you mind joining our slack channel?

[2021-08-26 02:15] tekumara opened #1378 "[BUG] flyteconsole - Spark task logs link to minio"
**Describe the bug**

In Flyte Console, when clicking on the links to logs for a Spark Task, I am taken to the minio browser rather than the kubernetes dashboard.

**Expected behavior**

To be taken to the kubernetes dashboard to see the logs

***Screenshots***

The link is:
http://localhost:30084/#!/log/flyteexamples-development/mid1d9v0j2-n0-0-driver/pod?namespace=flyteexamples-development

![sp

[2021-08-26 08:00] csenel opened #1379 "[BUG] Worker calls Get method on Webapi plugin long after it's completed"
**Describe the bug**
We have observed that Get method on webapi plugin is called by worker long after it's marked as succeeded on Flyte UI. For the particular case, we are using bigquery plugin and added logging to debug a separate issue when observed this behavior.

Restarting the flytepropeller stops the calls made by worker. Although we haven't observed when the calls would be stopped on their

[2021-08-26 12:27] tekumara opened #1380 "[BUG] datetime generated in execFile is invalid"
**Describe the bug**

datetime inputs are generated as invalid dates in the execFile.

**Expected behavior**

The generated execFile should be valid.

***To Reproduce***
Steps to reproduce the behavior:
1. Create a workflow with a datetime input, eg:
[code]
2. Register the workflow
2. Generate a launchplan:
[code]
2. Execute the launchplan:
[code]

[2021-08-26 17:54] gabriel-milan opened #1381 "[BUG] error: unable to find one of 'kustomization.yaml', 'kustomization.yml' or 'Kustomization' in directory '/flyteorg/share'"
**Describe the bug**
Flyte sandbox is failing to start. The output is the following:

[code]

**Expected behavior**
As the instructions on README.md, I should run `docker run --rm --privileged -p 30081:30081 -p 30084:30084 cr.flyte.org/flyteorg/flyte-sandbox` and get my flyte-sandbox up and running.

** Setup information **
- `docker version`
[code]

***To Reproduce***
Steps to reproduce the behav

[2021-08-26 18:29] convexquad opened #1382 "[BUG] Container plugin coding issue results in panic"
**Describe the bug**
A user reported a failing task whose stack trace contained a `panic` (stack trace shown below). Going through the trace, the issue is a poorly coded series of conditional checks immediately preceeding https://github.com/flyteorg/flyteplugins/blob/v0.5.54/go/tasks/pluginmachinery/flytek8s/pod_helper.go#L269.

@katrogan at line https://github.com/flyteorg/flyteplugins/blob/v0.5.

[2021-08-26 18:54] evalsocket opened #1384 "[Housekeeping] Write a script to copy latest proto from flyteidl to flytekit-java"
**Describe the Issue**
Context:- https://flyte-org.slack.com/archives/CP2HDHKE1/p1629490579048600

Currently, we are moving the latest flyteidl proto in flytekit-java manually. Need an automated way like `update_boilerplate` in the makefile of flytekit-java.

Solution:
- Add a new make target `update_flyteidl` in makefile(https://github.com/flyteorg/flytekit-java/blob/master/Makefile)
- Write a sh

[2021-08-26 19:36] evalsocket opened #1385 "[Housekeeping] Use flytectl sandbox for all CI pipeline"
**Describe the Issue**
Currently, in flyteadmin, We are using the kind cluster for running integration tests, In that case, we need to maintain kind.

**What if we do not do this?**
Need to maintain kind as dependency

***Related component***
flyteadmin

[2021-08-26 22:21] #1381 closed, assigned to yindia

[2021-08-27 17:15] jsonporter opened #1386 "[UI Feature]: Add support for Workflow Versions"
**Motivation:**
Flyte allows users to create and use different workflow versions however the current UX does not do a good job of surfacing this functionality.

**Goal:**
Implement new views that present users a list of workflow versions as well as metadata about that version. In the new flow, after selecting a workflow users will now see that workflow's versions (in addition to the current experi

[2021-08-27 19:20] #1378 closed, assigned to EngHabu

[2021-08-27 20:54] katrogan opened #1388 "[Housekeeping] Remove execution time task resource resolution from flyteadmin"
**Describe the Issue**
As part of https://github.com/flyteorg/flyte/issues/1361 we introduce task resource resolution in propeller, rather than flyteadmin. However to support backwards compatibility during the upgrade process, the existing code in flyteadmin needs to be cleaned up in a subsequent release.

**What if we do not do this?**
Convoluted task resource resolution at execution time within

[2021-08-27 21:51] kumare3 opened #1390 "[Docs][Deployment][GCP] There should be documentation on how to deploy Flyte to GCP and get started"
**Describe the documentation update**
Currently the deployment guides have an incomplete documentation for deploying to GCP. This should be available for all users and potential users of GCP

[2021-08-28 08:28] evalsocket opened #1391 "[Housekeeping] Cleanup gh-pages"
**Describe the Issue**
- Currently, we have old documentation in gh-pages but now we are not using the gh-pages for documentation and Add documentation for helm in gh-pages README
https://github.com/flyteorg/flyte/tree/gh-pages

**What if we do not do this?**
-

***Related component***
Either Specific / all

[2021-08-29 05:10] kumare3 commented on #1382
Bug fix PR - https://github.com/flyteorg/flyteplugins/pull/206. cc @katrogan

[2021-08-29 17:35] #1382 closed

[2021-08-30 05:55] rajatk-31 commented on #1384
I would like to work on this.

[2021-08-30 06:06] evalsocket commented on #1384
@rajatk-31 thanks for picking up this task

[2021-08-30 15:34] jsonporter commented on #1293
Finished and added to milestones.

[2021-08-30 15:34] #1293 closed

[2021-08-30 15:39] #1321 closed

[2021-08-30 15:49] #1365 closed

[2021-08-30 15:58] kumare3 opened #1392 "[UI Feature] Additional information when a Task is in a non terminal state"
**Motivation: Why do you think this is important?**
Currently the user has no idea why a task is not `Running`. It may be due to variety of reasons as the task proceed through the following states, as shown [here](https://docs.flyte.org/en/latest/concepts/state_machine.html)

An example for this could be
State: `WaitingForResources`: `15/15 GPU nodes busy, no GPU's available.`

**Goal: What should

[2021-08-30 17:29] kumare3 opened #1393 "[UI Feature] TaskType is not correctly shown in the Executions View"
**Motivation: Why do you think this is important?**
When a TaskExecution is retrieved, it contains the TaskType for the execution. It seems the UI today, only shows some tasktypes - PythonTask, SubWorkflow, dynamic etc. But the task types are actually a free form string field and can be arbitrary

![Screen Shot 2021-08-30 at 10 20 15 AM](https://user-images.githubusercontent.com/16888709/131379528

[2021-08-30 18:15] wild-endeavor opened #1394 "[Feature] [flytekit] FlyteRemote listing of workflows and launch plans"
**Motivation: Why do you think this is important?**
This issue is a continuation of https://github.com/flyteorg/flyte/issues/1290.  That PR only provided for the listing of tasks and executions.

The reason for this is because of the `promote_from_model` logic for `FlyteWorkflow` and `FlyteLaunchPlan`.

For workflows, when promoting from model, we also need the definition of any launch plan nodes.

[2021-08-30 23:50] EngHabu commented on #900
Should be addressed in flyteadmin v0.6.20

[2021-08-30 23:50] #900 closed

[2021-08-30 23:57] EngHabu commented on #515
Closing per above comments

[2021-08-30 23:57] #515 closed

[2021-08-31 00:01] EngHabu commented on #365
I think our window of investigation might have closed... will investigate further if it comes up again..

[2021-08-31 00:01] #365 closed

[2021-08-31 00:03] EngHabu commented on #326
I believe this has been fixed. @anandswaminathan @akhurana001

[2021-08-31 00:03] #326 closed

[2021-08-31 00:05] EngHabu commented on #280
Not enough information to go on. Please reopen if it's persistently happening... and we can jump on slack to debug it..

[2021-08-31 00:05] #280 closed

[2021-08-31 00:05] EngHabu commented on #250
Please reopen if you disagree. @jonathanburns

[2021-08-31 00:05] #250 closed

[2021-08-31 00:06] EngHabu commented on #232
Closing in favor of the more detailed bug here https://github.com/flyteorg/flyte/issues/408

[2021-08-31 00:06] #232 closed

[2021-08-31 00:07] EngHabu commented on #229
Fixed here https://github.com/flyteorg/flyte/issues/494

[2021-08-31 00:07] #229 closed

[2021-08-31 00:09] EngHabu commented on #162
Fixed in https://github.com/flyteorg/flyte/releases/tag/v0.16.1

[2021-08-31 00:09] #162 closed

[2021-08-31 00:40] EngHabu commented on #920
This is only supported in the new API as indicated above. There are currently no plans to back-port it to the old one. Please reopen if there is a reason you can't move to the new API and let's figure out a path forward.

[2021-08-31 00:40] #920 closed

[2021-08-31 00:40] EngHabu commented on #954
dupe of https://github.com/flyteorg/flyte/issues/1392

[2021-08-31 00:40] #954 closed

[2021-08-31 12:45] vglocus opened #1396 "[BUG] flytectl panic on get for resource w/o expected output"
**Describe the bug**
`flytectl get task/workflow/launchplan -o table` panics if resource has no expected output variables.
We encountered `FormatVariableDescriptions at pkg/printer/printer.go:173` to panic when using the get command on a resource without expected output.
This happened with both explicit table output as well as default.

Replicated on latest master
[code]

**Expected behavior**
The

[2021-08-31 16:03] vglocus opened #1399 "[BUG] flytectl execution spec generation writes datetime default in failing format"
**Describe the bug**
I have a sample workflow `demo-1.example` with a datetime parameter

[code]

Generating an execution spec by:

`flytectl get launchplans -p demo-1 -d development --latest -o yaml demo-1.example --execFile execution_spec.yaml`

The execution spec comes out looking like:

[code]

The output format corresponds to protobuffs representation and is not executable by `flytectl create

[2021-08-31 16:48] kumare3 commented on #1399
@vglocus this is related to - https://github.com/flyteorg/flyte/issues/1380

[2021-08-31 16:49] kumare3 commented on #1399
cc @pmahindrakar-oss  / @evalsocket

[2021-08-31 17:55] EngHabu commented on #817
Hey @kanterov, is this something you think you can ship (flytekit portion) in August?

[2021-08-31 20:15] EngHabu commented on #1354
I think we should not fail all archived requests... It's ok to fail user-initiated launches (like from flytectl/UI) but if the origin of the launch is system (e.g. propeller), it should let it be...

[2021-08-31 20:45] EngHabu commented on #878
Hey @michaels-lyft, can you elaborate on how will you implement that function to make it handle the error and return a successful run? specially if you have a workflow that returns an output. Like this:

[code]

Let's say it fails in executing `n2`. How will you handle the error and populate the final output of the workflow?

[2021-08-31 21:09] katrogan opened #1403 "[Housekeeping] Make FlyteAdmin matchable task resources use a structured quantity"
**Describe the Issue**
Currently the protobuf definition uses a string to represent resource quantities:https://github.com/flyteorg/flyteidl/blob/081a8526ef0f5d4bc8f0db9eade686744ad855b1/protos/flyteidl/admin/matchable_resource.proto#L35

Using a structured quantity message would improve runtime execution by bumping validation to serialization time.

**What if we do not do this?**
Short descriptio

[2021-08-31 23:17] kumare3 opened #1404 "[BUG] flytectl register examples should use the version of the flytesnacks release"
**Describe the bug**
Currently when we register examples, it defaults to using version `v1`. We should instead use the version of the release in flytesnacks.

**Expected behavior**
Use the release version from flytesnacks

**[Optional] Additional context**
***To Reproduce***
[code]

[2021-08-31 23:50] kumare3 opened #1405 "[BUG] flytectl register examples - release version should be configurable"
**Describe the bug**
`flytectl register examples` uses the latest release. We should make this configurable

**Expected behavior**
`flytectl register examples --release v0.1.67`

[2021-08-31 23:53] kumare3 opened #1406 "[BUG] flytesnacks release and associated tars - race!"
**Describe the bug**
We add all the archives of protos to the release. But, this causes a race condition when using flytectl register examples.
the latest examples may not be available as the github workflow slowly populates all the archives

**Expected behavior**
When register examples is run, all archives in the manifest should be available.

**Potential solution**
Flytesnacks can create the lat

[2021-09-01 01:23] SteVwonder commented on #1321
Confirmed it works.  Thanks!

[2021-09-01 07:52] evalsocket commented on #1405
Addon: Also remove the dependency from `flyte_test_manifest.yaml` and use GitHub client to fetch all the assets and then register them.

[2021-09-01 14:55] EngHabu opened #1409 "[BUG] Flyteadmin fails the request if there are no inputs/outputs for a node"
**Describe the bug**
I've a workflow with a single athena-query node. It doesn't take inputs nor does it produce outputs. The workflow succeeds but when I click on the inputs/outputs tabs for the task execution, I get 500 error.

Admin logs show this:
flyteadmin-5498f9cc6d-q4m7l flyteadmin {"json":{"exec_id":"hkbya2soci","node":"n0","src":"aws_remote_url.go:68"},"level":"debug","msg":"failed to ge

[2021-09-01 14:56] EngHabu commented on #1409
cc @katrogan

[2021-09-01 15:28] EngHabu opened #1410 "[BUG] `flytectl register examples` doesn't accept k8ServiceAccount"
**Describe the bug**
`flytectl register examples` doesn't accept k8ServiceAccount as a flag.

**Expected behavior**
flytectl register examples should accept all the flags flytectl register files accept.

[2021-09-01 16:31] wild-endeavor commented on #1312
Can we discuss this a bit more before committing this to the bug squash?  As I understand it, Flytekit/Flyte IDL doesn't really support default inputs for tasks, only for launch plans.

[2021-09-01 17:11] evalsocket commented on #1404
@mayitbeegh I want some more changes in `register example`. Currently, we read the `flyte-test-manifest.yaml` from the flytesnack example and then generate the URL for all examples.....but I found that we have an extra dependency to update flyte-test-manifest.yaml in flytesnacks each time....it is an overhead...and can be overcome with GitHub client.

Using GitHub client we can read all assets of

[2021-09-01 17:14] evalsocket commented on #1406
@kumare3 I am planning to remove dependency from flyte-test-manifest.yaml....I added a comment in issue https://github.com/flyteorg/flyte/issues/1404

[2021-09-01 17:19] evalsocket commented on #1410
@EngHabu I think we use same pflag for both subcommands i.e. `files` & `example`

[2021-09-01 17:43] hongxunjin opened #1411 "[BUG] Scroll bar & empty space UI issues in workflow landing page of Flyte Console"
**Describe the bug**
In workflow landing page of Flyte Console,
1. There's empty white section below the versions.
2. The scroll bar is only locked to the executions.

**Expected behavior**
In workflow landing page of Flyte Console,
1. The empty white section below the versions should be eliminated.
2. The scroll bar should not only be locked to the executions, the users should be able to scroll t

[2021-09-01 18:26] EngHabu commented on #1410
I think I might have been on an old version! thank you for looking into it!

[2021-09-01 18:30] katrogan commented on #1409
This occurs when the signed url is fetched for input/output execution data here: https://github.com/flyteorg/flyteadmin/blob/2d81c1eec24cffb43346b56fc0017fd29db33a38/pkg/data/implementations/aws_remote_url.go#L55

we should skip the call to even get the data when the execution interface indicates that there is no input and/or output or handle not founds gracefully somehow (by omitting the signed u

[2021-09-01 19:13] kumare3 commented on #1406
i actually like that we know all the files to get? ya the dependency may not be needed, but we need to handle the race as well

[2021-09-01 20:15] evalsocket commented on #1406
@kumare3 there is no race condition.....If there is a release and assets are not available then flytectl will not fail. For more details please check https://github.com/flyteorg/flytectl/pull/172

[2021-09-01 20:43] #1380 closed

[2021-09-01 20:43] #1399 closed

[2021-09-01 23:02] kumare3 commented on #1048
@hamersaw we should not handle ExecutionNotFound in all cases, there is one degenerate case.
So Flyteadmin when launches an execution it does the following 2 step process
1. Write the execution to Kube
2. Write a record to Admin

Sometimes the time between 1&2 is more than what Propeller takes to send a Running for workflow event. In this case we should be careful.

[2021-09-01 23:51] kumare3 opened #1414 "[BUG] Datacatalog error checking is broken after upgrading Gorm versions"
**Describe the bug**
In some cases datacatalog memoization was not working. This was especially true, when the same taskID was repeated. This is because FlytePropeller, ignores failures to Put to DataCatalog. and Put failed to create a DataSet, as the dataSet matched.
The reason why this existed is because, a recent PR to Datacatalog upgraded Gorm version, this broken the error checking logic (Go'

[2021-09-02 00:37] #1414 closed

[2021-09-02 04:39] pmahindrakar-oss opened #1415 "[Docs] Move the schedules examples from deployment to remote_access"
**Describe the documentation update**
With the flyte native scheduler it now possible to run the cron and fixed rate schedules in sandbox environment.

Following examples which only used to work on AWS can now work in local sandbox using the native scheduler
 https://docs.flyte.org/projects/cookbook/en/latest/auto/deployment/lp_schedules.html#sphx-glr-auto-deployment-lp-schedules-py

Move to
https

[2021-09-02 04:39] pmahindrakar-oss commented on #1415
cc : @kumare3

[2021-09-02 08:22] pingsutw commented on #1396
This issue is already been resolved. https://github.com/flyteorg/flytectl/commit/142cb8070623c9e0e6f522ae58ef4fa649de0314

[2021-09-02 20:24] EngHabu opened #1416 "[BUG] Recover button shows up even for successful executions"
**Describe the bug**

`Recover` button should only show up for failed executions. It currently show up for all executions.

![image](https://user-images.githubusercontent.com/27159/131911063-f2a9f791-81cf-41f8-98ab-18aadba8bdc2.png)

It should show for `Failed`, `Timed Out` and maybe `Aborted` as well...

[2021-09-02 21:09] kumare3 commented on #1406
@evalsocket I have different opinion. this is a race. The race is - the github process writing the tars and flytectl downloading them. The behaviour that we will download only some tars in the case when only some tars are partially uploaded and all tars otherwise is a definition of a data race.
I actually really like the idea of a manifest, as this way, we know what should exist. Any thing that is

[2021-09-02 21:26] EngHabu commented on #1396
v0.2.42

[2021-09-02 21:26] #1396 closed

[2021-09-02 21:27] EngHabu commented on #1361
This is done, right? we will keep the housekeeping item for backward compatibility.

[2021-09-02 21:27] #1361 closed

[2021-09-02 21:27] evalsocket commented on #1406
@kumare3 ok I understand the data race condition and I will create a separate PR in flytesnacks. Do you want to use manifest for registering the example? currently I made some changes and used GitHub client to register all example

[2021-09-02 21:41] yunhao-qing opened #1417 "Creating new spark_sql_task"
**Why would this plugin be helpful to the Flyte community**

_spark_sql_task_ will allow users to submit a query that will run a Spark. It will not necessarily run on native Spark kubernetes operator. It will be similar structure to current _hive_task_ or _presto_task_.

**Type of Plugin**
- [x] Python/Java interface only plugin
- [ ] Web Service (e.g. AWS Sagemaker, GCP DataFlow, Qubole etc...)
-

[2021-09-02 21:58] EngHabu opened #1418 "[BUG] Relaunch doesn't repopulate input fields for struct/json types"
**Describe the bug**
Relaunching a wf/task that has an input of type struct/dataclass/json type doesn't seem to repopulate the input values.
E.g. core.type_system.custom_objects.add.

**Expected behavior**
Inputs should always be repopulated.

***Screenshots***

![image](https://user-images.githubusercontent.com/27159/131921591-ae88e6b8-ae63-4034-aa96-5740e681fca9.png)
![image](https://user-images

[2021-09-02 22:02] EngHabu opened #1419 "[BUG] JSON Launch Form should show field types like other inputs"
**Describe the bug**
The UI renders types of inputs for fields see green-highlighted inputs in screenshots below. But it doesn't do the same for fields inside structs/json objects.

***Screenshots***
![image](https://user-images.githubusercontent.com/27159/131922033-6024a677-1250-439a-af59-2b80db98c94a.png)
![Screen Shot 2021-09-02 at 3 00 02 PM](https://user-images.githubusercontent.com/27159/131

[2021-09-02 22:08] akhurana001 commented on #1417
@kumare3 @EngHabu  FYI on this. @yunhao-qing  wants to explore adding a new spark_sql_task to Flyte.  Do we have any good documentation on adding a new plugin which  @yunhao-qing  can follow ?

Also Let us know if there are any questions.

[2021-09-02 22:15] katrogan opened #1420 "[Core Feature] Implement recovery for flytekit remote"
**Motivation: Why do you think this is important?**
Now that recovery mode is implemented, see https://github.com/flyteorg/flyte/issues/1151 it would be helpful to interact with executions by recovering them in flytekit remote. Note, this issue only covers flytekit remote.

**Goal: What should the final outcome look like, ideally?**
It should be possible to recover executions using flytekit remote

[2021-09-02 22:16] #1151 closed

[2021-09-03 04:20] pmahindrakar-oss opened #1422 "[Core Feature] Support pause and unpause in scheduler in case admin is down"
**Motivation: Why do you think this is important?**
Scheduler uses admin for sending workflow executions at the scheduled time.
But in case of admin being down currently we have a retry mechanism which through configured number of steps using exponential backoff.

Admin being down is a special case where all scheduled workflows will go in this retry loop.
The proposal is to introduce a pause mecha

[2021-09-03 05:10] kumare3 commented on #1422
@pmahindrakar-oss I think this would complicate the scheduler and IMO will impact the overall stability. I think we should fundamentally question, why will FlyteAdmin be unavailable. If it were a separate micro-service, you might just introduce a throttle /backpressure handling mechanism in the client right? And If I am correct, you do have an exponential backoff and retry system.

One improvement

[2021-09-03 05:37] vsbus opened #1423 "[BUG] Non-descriptive error messages"
**Describe the bug**
I had been spending quite a bit of time debugging issues with types in the last weeks. It would be super-super helpful if error messages include names of the parameters that are causing issues. Often we try to guess the bad parameter but suspect a wrong thing and spending a lot of time trying to fix a wrong path. If error messages point to the concerning parameter / function /

[2021-09-03 06:50] #1405 closed

[2021-09-03 06:51] #1404 closed

[2021-09-03 06:56] #1227 closed

[2021-09-03 09:32] pmahindrakar-oss commented on #1048
FYI, i ran into this again and my setup was unusable until i reset by docker desktop kubernetes cluster.

[2021-09-03 15:10] pingsutw opened #1427 "[BUG] [flytekit][mypy] Fix Incompatible types"
**Describe the bug**
Related to https://github.com/flyteorg/flyte/issues/1030
Fix mypy errors like "Incompatible types  ..."
[code]

**Expected behavior**
Should pass the mypy checks.

**[Optional] Additional context**
***To Reproduce***
Steps to reproduce the behavior:
1. `make test | grep "Incompatible"`

***Screenshots***
If applicable, add screenshots to help explain your problem.

[2021-09-03 15:10] pingsutw commented on #1030
There are too many errors, I broke out this task into more granular ones:
[ ] https://github.com/flyteorg/flyte/issues/1029
[ ] https://github.com/flyteorg/flyte/issues/1427

Feel free to add more details/edits to those as needed

[2021-09-03 15:16] pingsutw opened #1428 "[BUG] [flytekit][mypy] Fix class name is not defined"
**Describe the bug**
Related to https://github.com/flyteorg/flyte/issues/1030
Fix mypy errors like "Name "Builder" is not defined"
[code]

**Expected behavior**
Should pass the mypy checks.

**[Optional] Additional context**
***To Reproduce***
Steps to reproduce the behavior:
1. `make test | grep "not defined"`

***Screenshots***
If applicable, add screenshots to help explain your problem.

[2021-09-03 15:20] kumare3 commented on #1428
Woohoo

[2021-09-03 15:22] kumare3 commented on #1048
@hamersaw this is a little more than meets the eye. We can have a quick chat when you have time

[2021-09-03 18:36] evalsocket opened #1430 "[BUG] Changes for helm in flytectl"
**Describe the bug**
After the new sandbox image, the Flytectl sandbox `--version` flag will not work because now we are using helm in sandbox

**Expected behavior**
Currently, in flyte, we only publish sandbox images with `dind-sha` and users only understand the version. So flytectl should be able to find sha against a release from a tag or if `--version` flag is not passed then use `dind` tag

A

[2021-09-03 20:19] #1267 closed

[2021-09-04 10:27] tekumara opened #1432 "[Core Feature] restartable sandbox"
**Motivation: Why do you think this is important?**

Trying to start a stopped sandbox fails:
[code]

**Goal: What should the final outcome look like, ideally?**

Ideally it would be possible to restart a stopped sandbox, and reuse any previously built images. This would save having to recreate a sandbox each time.

**[Optional] Propose: Link/Inline OR Additional context**

The sandbox dockerd log

[2021-09-04 21:28] kumare3 commented on #1423
@vsbus we can definitely highlight the variable name in the error message and in most cases improve the message. But there are some cases in which we cannot do so, until we implement #1363. As Currently flytekit is more expressive in types than Flyte itself and this causes some type-erasure. But as you can see, we will work on 1363 and that should improve the error messaging - even in case of dire

[2021-09-05 02:52] tekumara opened #1433 "[BUG] Workflow launch button is disabled"
**Describe the bug**

Workflow launch button is disabled

**Expected behavior**

The workflow can be launched from the console UI

**[Optional] Additional context**
***To Reproduce***

Register the following workflow, taken from the [docs](https://docs.flyte.org/en/latest/), in the sandbox:

[code]

***Screenshots***

<img width="984" alt="Screen Shot 2021-09-05 at 12 49 17 pm" src="https://user-i

[2021-09-05 02:59] tekumara commented on #1433
Here's the proto:
[code]

[2021-09-05 05:05] georgesnelling commented on #1423
@ketan would it make sense to separate the two fixes, and at least plumb through the erring parameter name now before we implement the entire #1363 enchilada?  @vsbus would that have saved you time?

[2021-09-05 06:30] tekumara opened #1434 "[BUG] invalid logs url for python task"
**Describe the bug**

The logs URL for Python tasks is http://localhost:30082/#/log///pod?namespace=

**Expected behavior**

A valid Kubernetes dashboard URL

**[Optional] Additional context**

Run a python task in the sandbox

***Screenshots***

<img width="1068" alt="Screen Shot 2021-09-05 at 4 28 16 pm" src="https://user-images.githubusercontent.com/125105/132117720-2fb954aa-2b73-4a54-8e9f-bea1

[2021-09-05 06:38] tekumara opened #1435 "[BUG] Spark driver logs not accessible via dashboard"
**Describe the bug**

Cannot view Kubernetes driver logs in the dashboard.

**Expected behavior**

Driver logs are accessible in the Kubernetes dashboard.

**[Optional] Additional context**
***To Reproduce***
Steps to reproduce the behavior:
1. Configure the sandbox to run spark jobs as per the [docs](https://docs.flyte.org/projects/cookbook/en/latest/auto/integrations/kubernetes/k8s_spark/index.h

[2021-09-05 15:24] kumare3 commented on #1423
@georgesnelling yup, that's the plan

[2021-09-05 18:43] evalsocket commented on #1435
@tekumara this because of our recent changes. We migrated sandbox from kustomize to helm. It helm values issue. I will create a patch for that. For mean time you change k8s dashboard cluster-role-binding to cluster-admin and it will unblock you

[2021-09-05 18:58] evalsocket commented on #1432
@tekumara We can change our entry point script, Where we will start the docker first and then start the k3s cluster.

[2021-09-05 19:03] evalsocket commented on #1434
Thanks for reporting it

Related to release v0.17.1 sandbox changes

[2021-09-06 04:32] kumare3 commented on #1423
I have a PR in progress

[2021-09-06 04:34] kumare3 commented on #1415
@wild-endeavor / @cosmicBboy - I think we should get all schedule related docs as part of the regular flow as it works in sandbox

[2021-09-06 04:40] pmahindrakar-oss commented on #1415
We will have to wait for this to be checked in https://github.com/flyteorg/flyte/pull/1374 to work in sandbox e2e

[2021-09-06 09:34] evalsocket opened #1436 "[BUG] Fast Register command is not working with flyte-cli"
**Describe the bug**
In flytesnacks fast register make target is not working. Issue with flyte-cli
[code]
Full Logs : https://github.com/flyteorg/flytesnacks/runs/3518558381#step:5:1201

**Expected behavior**
A clear and concise description of what you expected to happen.

**[Optional] Additional context**
***To Reproduce***
Steps to reproduce the behavior:
1.
2.

***Screenshots***
If applicable,

[2021-09-06 09:46] evalsocket opened #1437 "[Core Feature] Add .flyteignore for excluding the generated files from fast register package"
**Motivation: Why do you think this is important?**
Currently, if we have extra files like `env`, generated tar, and Large CSV for testing then pyflyte includes those files in the package for fast register. In this case size of the source increases and now if you execute the task then you will see an error

[code]

Here the issue is the size of the source, If you delete all those extra files then

[2021-09-06 10:39] michaels-lyft commented on #878
Our workflow looks more like:
[code]

Ideally, the `allow_failure_ratio` setting should work here. But it doesn't because it's yielding sub-workflows rather than sub-python-task. If it worked, then our use case would be addressed.

If the above approach doesn't work (ie. requires more work to fix), then I think the try-except scenario would work as long as there's a `recover()` functionality that

[2021-09-06 11:05] evalsocket commented on #1436
Related to helm sandbox.  flyte-cli needs the bucket name, it will not create a bucket if that does not exist.

[2021-09-06 18:08] kumare3 opened #1439 "[BUG] Type is not enforced at compile-time for Primitive types"
**Describe the bug**
For a given task `foo`, with the following definition and its invocation, this should raise an error earlier than much later
[code]
But, this does not raise an error. This is because for SimpleTypeTransformer, strict type validation is not performed.

**Expected behavior**
the above local execution should fail with an AssertionError

[2021-09-07 12:06] pmahindrakar-oss commented on #1341
@tekumara this should be fixed now . Can you try `flytectl upgrade` to get the latest and check if you still see this issue.
https://github.com/flyteorg/flytectl/pull/168

[2021-09-07 13:44] #362 closed

[2021-09-07 14:27] #1368 closed

[2021-09-07 17:47] EngHabu opened #1442 "[Core Feature] Integrate Analytics into user-facing tools"
**Motivation: Why do you think this is important?**
Flyte UX surface is pretty huge as is and one of the important indicators for what features to double down on and what features to cut is users' interactions/engagement with these features.

**Goal: What should the final outcome look like, ideally?**
* Integrate analytics into `flyteconsole`, `flytectl` and `flyte-cli`.
* GA settings should be ea

[2021-09-07 20:18] yunhao-qing commented on #1417
@kumare3 @EngHabu Could you please provide some suggestions if you have time? Thank you.

[2021-09-07 20:21] stormy-ua opened #1443 "[Housekeeping] Migrate to com.softwaremill magnolia"
**Describe the Issue**
`com.softwaremill` magnolia is the successor of the `com.propensive` magnolia. The latter wouldn't be supported anymore in the future. Having two magnolia's on the classpath might cause a runtime issue.

We have recently migrated scio to `softwaremill` magnolia and mixing `flytekit-java` with `scio 0.11.0` causes coder derivation issues due to the breaking changes in the `ma

[2021-09-07 21:28] kumare3 commented on #1417
@yunhao-qing can you please join the slack channel and we can discuss. [Join Here](https://forms.gle/UVuek9WfBoweiqcJA)

[2021-09-08 04:14] #512 closed

[2021-09-08 04:35] pmahindrakar-oss commented on #1341
Following was the PR which fixed the trace https://github.com/flyteorg/flytectl/pull/174
Closing the issue

[2021-09-08 04:35] #1341 closed

[2021-09-08 05:45] pingsutw commented on #1266
This issue seems to be resolved by https://github.com/flyteorg/flyteadmin/pull/222/files

[2021-09-08 05:56] georgesnelling opened #1445 "[Docs] Document Maptask Backend Plugin"
Client docs here:  https://docs.flyte.org/projects/flytekit/en/latest/generated/flytekit.map_task.html?highlight=map%20task

We need to document the backend.  Context here:  https://github.com/flyteorg/flyte/discussions/1444.

[2021-09-08 10:26] pingsutw opened #1447 "[BUG] [flytekit][mypy] Fix item has no attribute error"
**Describe the bug**
Related to https://github.com/flyteorg/flyte/issues/1030
Fix mypy errors like "Item "None" of "Optional[Interface]" has no attribute "inputs"
[code]

**Expected behavior**
Should pass the mypy checks.

**[Optional] Additional context**
***To Reproduce***
Steps to reproduce the behavior:
1. `make test | grep "attribute"`

***Screenshots***
If applicable, add screenshots to help

[2021-09-08 10:56] RustamovAzer opened #1448 "[BUG] Error registering file due to rpc error: code = Unavailable dec = connection error: desc = “transport: Error while dialing dial tcp ...:443: i/o timeout”"
**Describe the bug**
I want to create a Flyte Cluster on AWS, upload my workflows on that cluster and run them with different cluster count. I ran into several problems, some of them I managed to circumvent, but I ran into the problem when I tried to upload my workflows.

**Expected behavior**
`flytectl register files` should not result in error

**[Optional] Additional context**
***To Reproduce**

[2021-09-08 15:00] evalsocket commented on #1448
CC: @pmahindrakar-oss

[2021-09-08 15:12] evalsocket commented on #1448
@RustamovAzer If you are not using the secure connection then use `--insecure` flag

[2021-09-08 15:46] #1436 closed

[2021-09-08 15:48] evalsocket commented on #1435
@tekumara It is fixed in the master branch and a fix will be available in the next patch release.

[2021-09-08 15:48] #1435 closed

[2021-09-08 15:48] evalsocket commented on #1434
@tekumara It is fixed in the master branch and a fix will be available in the next patch release.

[2021-09-08 15:48] #1434 closed

[2021-09-08 16:51] katrogan opened #1450 "[BUG] Differentiate between node overrides and platform default resources"
**Describe the bug**
The introduction of https://github.com/flyteorg/flytepropeller/pull/310 means that platform resource defaults are now applied as task resource defaults in the absence of task decorator resource specifications. For container tasks, this is fine. For pod tasks this results in the pod spec primary container definition resource spec being overwritten by the platform defaults. The

[2021-09-08 16:52] katrogan opened #1451 "[BUG] Secret volumes do not get mounted for sidecar/pod tasks"
**Describe the bug**
Secret volumes should be mounted for all pod task containers as defined in the pod spec.

**Expected behavior**
Secrets should be added to pod task executions.

**[Optional] Additional context**
***To Reproduce***
Steps to reproduce the behavior:
1.
2.

***Screenshots***
If applicable, add screenshots to help explain your problem.

[2021-09-08 16:54] katrogan opened #1452 "[BUG] Gpu resources no longer being applied for pod tasks"
**Describe the bug**
User reports: We specify resource requirements in the pod for various reasons, one of them is that using "gpu" results in the following error:

[code]

(found this closed issue, mb I'm doing something wrong: https://github.com/flyteorg/flyte/issues/180)

**Expected behavior**
Specifying a gpu resource for a sidecar task should result in the resource being allocated without pro

[2021-09-08 17:55] vsbus commented on #1423
Splitting fixes makes sense. Incremental improvements totally make sense and good for our use case.
Thanks!

[2021-09-08 21:52] juandiegopalomino commented on #1448
What where the exact errors you where getting with opta when you saw Error: error creating public access block policy for S3 bucket ?

[2021-09-08 22:58] mayitbeegh commented on #1320
Fixed in https://github.com/flyteorg/flytectl/pull/176/files

[2021-09-08 22:58] #1320 closed

[2021-09-08 23:13] juandiegopalomino commented on #1448
also, could you drop in your opta file?

[2021-09-09 04:28] kumare3 commented on #1354
@EngHabu I guess you are saying so for the cases when we have a nested launchplan within another workflow.
But, IMO the solution is that deactivate / deprecate should
1. Not allow new executions from UI, CLI, Flytecl etc
2. Not allow new schedules to go through. this can happen because there is potentially a delay between the deactivation and the scheduler actually stopping the schedules. There ma

[2021-09-09 09:11] #1430 closed

[2021-09-09 12:07] RustamovAzer commented on #1448
@evalsocket Tried that today, sadly, got the same error.

@juandiegopalomino Do you need every error? I'm pretty sure they are the same type:
![error3](https://i.snipboard.io/yQeYsz.jpg)
If you do, I can give them to you, but it will take some time.

Also, what do you mean by opta file? I got the attached files are from `helm` branch in `opta` folder
[files.zip](https://github.com/flyteorg/flyte/f

[2021-09-09 17:04] katrogan commented on #1354
maybe it's worth decoupling the schedule state (active|inactive) from the launch plan state and then focusing around disallowing archived _launch plans_ from being executed if we want to be strict with semantics

for 2) this should already be the case, upon dequeuing a pending execution we should still validate whether an active version of the reference launch plan exists

@kumare3 are you saying

[2021-09-09 18:19] pingsutw commented on #1433
@tekumara sorry for the late reply.
Try to upgrade `flytekit` to v0.21.5. It works for me.

[2021-09-09 19:39] kumare3 commented on #1363
One more requirement: LogicalTypes should be able to support meta-outputs that are associated with the core type. For example, when you run a Great Expectations assertion, the result is a markdown or an HTML file that has the results. Flyte does support having multiple outputs for a task, but some outputs can automatically be associated with some meta data, like in this case the test suite results

[2021-09-09 23:36] wild-endeavor opened #1455 "[flytekit] Move overrides functionality to static constructor in FlyteRemote"
FlyteRemote currently comes with an override [function](https://github.com/flyteorg/flytekit/blob/master/flytekit/remote/remote.py#L266) that returns a deep copy of itself.  I haven't found this to be terribly useful and find myself more often wanting to set the parameters directly at [instantiation time](https://github.com/flyteorg/flytekit/blob/320daff95335f54b46fd78145e52c9a458f150b5/flytekit/r

[2021-09-10 03:50] kumare3 opened #1456 "[Core Feature]Generic Schemas should detect the schema at runtime"
**Motivation: Why do you think this is important?**
It is possible to use  Schema's in Flyte, without individual columns. this may be desirable for cases in which the schema is not completely known ahead of time. But, it might be useful to automatically detect the schema and populate it in the runtime transport Schema layer. the Transport allows us to carry the schema type

**Goal: What should the

[2021-09-10 11:34] tekumara commented on #1435
Thanks @evalsocket I've tested this and I have fewer auth issues but the logs still don't appear.

The link goes to

http://localhost:30082/#!/log/flyteexamples-development/f118d43a570c34e84a32-n0-0-driver/pod?namespace=flyteexamples-development

instead of

http://localhost:30082/#/log/flyteexamples-development/f118d43a570c34e84a32-n0-0-driver/pod?namespace=flyteexamples-development

[2021-09-10 11:35] tekumara commented on #1433
Thanks @pingsutw `flytekit==0.22.1` works for me.

[2021-09-10 11:35] #1433 closed

[2021-09-10 15:59] kumare3 opened #1457 "[Docs] Improve debugging documentation for Flytepropeller logs"
**Describe the documentation update**
FlytePropeller has logs of the following form
[code]

There should be a document that explains how to filter logs to get only the logs for one specific workflow / execution id etc

[2021-09-10 16:39] kumare3 opened #1459 "[Docs] Explain compiler, intermediate representation and execution format in the concepts"
**Describe the documentation update**
Currently the docs do not clearly explain how this process is driven and what are the possibilities.
https://docs.flyte.org/en/latest/concepts/registration.html

[2021-09-10 17:01] juandiegopalomino commented on #1448
Reading the error, it looks like you don't have the required IAM permissions.
Please make sure you have PutBucketPublicAccessBlock for all buckets, PutAccountPublicAccessBlock, PutBucketPolicy, DeleteBucketPolicy, PutBucketAcl and try running again after changing the opta terraform files to the original state

[2021-09-10 18:02] EngHabu opened #1460 "[BUG] Flytesnacks CI doesn't serialize all sub-directories"
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**[Optional] Additional context**
***To Reproduce***
Steps to reproduce the behavior:
1.
2.

***Screenshots***
If applicable, add screenshots to help explain your problem.

[2021-09-13 10:55] pmahindrakar-oss opened #1464 "[BUG] Remove defaultIamRole from helm values file"
**Describe the bug**
Currently we have defaultIamRole as part of value file but its only used in case of aws.
https://github.com/flyteorg/flyte/blob/master/charts/flyte-core/values.yaml#L547

We should remove this from the chart

**Expected behavior**
No presence of aws specific stuff in values.yaml

**[Optional] Additional context**
***To Reproduce***

***Screenshots***
If applicable, add screens

[2021-09-13 10:57] pmahindrakar-oss commented on #1464
cc : @evalsocket

[2021-09-13 15:30] jsonporter opened #1465 "[Feature] Create bar chart component to display execution time"
We want to add a bar chart to be displayed on various pages where each bar shows an executions status.  The x-axis on this chart represents executions and the y-axis represents the duration of that execution.  The bars color is either green or red to represent the terminal state of the execution (where success is green and all other status are grouped as red/failed).  Clicking one of the bars will

[2021-09-13 15:39] jsonporter opened #1466 "[Feature] Add a Flyte version display"
Add a way for users to view version information.  To open this view users will click an "information" icon that will render a modal displaying a users current versions for UI, Admin and Platform.

Acceptance criterea:
1. Icon to view version information is in the top right corner
2. When a user clicks the icon to open, the modal appears.
2. Text is selectable (eg, copy) within the modal.
3. A semi

[2021-09-13 15:45] #1419 closed

[2021-09-13 16:22] wild-endeavor opened #1467 "[flytekit] List plugins automatically in pythonbuild.yml"
Leftover todo from https://github.com/flyteorg/flytekit/pull/644

We should detect when a new plugin is added automatically.

[2021-09-13 16:37] jsonporter commented on #909
Hey @PhoenixLiAtLyft - thinking through this bug, I think the right move would be to stop this at the source and add validation on the input to ensure no leading/trailing whitespace.  Does that sound good to you?

[2021-09-13 19:46] vsbus opened #1468 "[BUG] Error message is not informative enough"
**Describe the bug**
slack discussion: https://flyte-org.slack.com/archives/CREL4QVAQ/p1631553952129000

In the task
[code]

We see failures sometimes. Probably when `fused_output` file doesn't exist. The error displayed in UI is:
[code]

**Expected behavior**
It would help to have more information in the error message about what actually went wrong. E.g.
[code]
or
[code]

**[Optional] Additional

[2021-09-13 21:59] wild-endeavor opened #1469 "[flytekit] Test pytest with `--import-mode=importlib`"
**Describe the bug**
See the [slack](https://flyte-org.slack.com/archives/CREL4QVAQ/p1631245738119700) thread.  Running pytest with `--import-mode=importlib` causes tests to fail in certain cases.  We should find out why, and fix.

***To Reproduce***
See slack thread for error.  Basically the detection of nested tasks is incorrect when this flag is set.

[2021-09-13 22:23] yunhao-qing commented on #1417
@kumare3 After some Lyft internal discussion. We still want to implement `spark_sql_task` in `flytekit` and `mozartSpark` plugin in the Lyft backend, similar to `mozartPresto`/ `mozartHive`. `spark_sql_task` will take in query_text, spark config and some other args. We prefer this approach over using `use_spark` flag for `hive_task` and creating `mozart_task`.

We want to go with this approach bec

[2021-09-14 08:11] evalsocket opened #1471 "[Housekeeping] Verify flyteadmin health check with auth & SSL"
**Describe the Issue**
Currently, we added a pre-check-in flytescheduler. Pre-check will check flyteadmin before starting the flytescheduler.

Currently, we didn't test it with auth, Ideally, flyteadmin health check will not have the auth

Related to https://github.com/flyteorg/flyteadmin/pull/254

**What if we do not do this?**
Short description of potential consequences

***Related component***

[2021-09-14 08:11] evalsocket commented on #1471
cc @pmahindrakar-oss

[2021-09-14 11:17] pmahindrakar-oss commented on #1173
I ran the registration using the latest flyte components and flytekit-java and i wasn't able to reporduce this issue.

[code]

<img width="1755" alt="Screenshot 2021-09-14 at 4 45 39 PM" src="https://user-images.githubusercontent.com/77798312/133247905-d0ad105e-5c2a-43c8-8d2c-400067c2f934.png">

<img width="1725" alt="Screenshot 2021-09-14 at 4 44 09 PM" src="https://user-images.githubusercontent.

[2021-09-14 11:17] #1173 closed

[2021-09-14 12:28] pmahindrakar-oss commented on #1409
@EngHabu @katrogan This is now handled in the following PR
https://github.com/flyteorg/flyteadmin/pull/250

[2021-09-14 15:22] #1352 closed

[2021-09-14 18:07] EngHabu opened #1474 "[Housekeeping] Run endtoend tests in PRs against older sandbox releases"
**Describe the Issue**
We run endtoend tests in flytepropeller and flyteadmin [here](https://github.com/flyteorg/flytepropeller/blob/master/.github/workflows/pull_request.yml#L32-L56) to pick the latest released flyte-sandbox image against the flytepropeller/flyteadmin version in PR. This enables us to catch regressions if a new piece of code is not backward compatible.

We would like to update ou

[2021-09-14 20:41] wild-endeavor opened #1479 "[Core Feature] [flytekit] Add default dict/struct transformer"
**Motivation: Why do you think this is important?**
There was a [request to support](https://flyte-org.slack.com/archives/CREL4QVAQ/p1630642686070000) the reversing of generic structs back to native, non-typing, `dict`s.  This in particular would be useful for running tasks/workflows that accepted native dictionaries as inputs.

**Goal: What should the final outcome look like, ideally?**
Something

[2021-09-14 21:13] EngHabu opened #1480 "[Housekeeping] Create github releases as `PreRelease` in go-repos"
**Describe the Issue**
Our current github workflows create a new github release with every master merge. This has the side effect that people may start consuming these versions before they are well-tested against the future functional tests we will run...

I think we should update these workflows to create the releases as PreReleases. Once they pass functional tests, we can uncheck the Prerelease

[2021-09-14 21:27] eapolinario commented on #1469
Relevant `pytest` issue: https://github.com/pytest-dev/pytest/issues/7245

I could reproduce the issue in `pytest==6.2.5`, but not in `6.3.0` which contains https://github.com/pytest-dev/pytest/pull/7870.

There's talk of making `importlib` the default import mode (as implied by the [`pytest` docs](https://docs.pytest.org/en/6.2.x/pythonpath.html#import-modes)), but it will probably be a while unt

[2021-09-14 21:28] #1469 closed

[2021-09-14 22:57] mayitbeegh commented on #1428
Fixed in https://github.com/flyteorg/flytekit/pull/645

[2021-09-14 22:57] #1428 closed

[2021-09-14 22:58] #163 closed

[2021-09-15 11:33] pmahindrakar-oss commented on #1409
@EngHabu @katrogan instead of handling not found gracefully or determining from the execution interface that its doesn't have io (BTW there is no such filed which indicates an execution doesnt have any io. Please correct if i am wrong here)
shouldn't we fix wrong data being sent for node execution event from propeller
if this url doesn't exist then why even construct it and send it in the event
s3

[2021-09-15 18:04] wild-endeavor opened #1482 "[Core Feature/Bug] [flytekit] Make FlyteRemote work with nested executions"
**Motivation: Why do you think this is important?**
FlyteRemote and its associated immutable objects (`FlyteTask`, `FlyteWorkflow`, etc) currently do not support the notion of dynamic tasks that run subwfs/lps.

### Launch plan case
For example, running
[code]
where `yhprd5of0t` is an execution of this [toy example](https://github.com/flyteorg/flytesnacks/pull/411/files#diff-26836ce78a26b1331b0756

[2021-09-15 18:34] katrogan opened #1484 "[UI Feature] Provide a service account or iam role at execution time."
**Motivation: Why do you think this is important?**
A user should be able to override the kubernetes_service_account or assumable_iam_role used at execution time in the UI. This is currently possible in flytectl and flyte-cli, and furthermore UI support presently exists for single task executions

**Goal: What should the final outcome look like, ideally?**
A clear and concise description of what y

[2021-09-15 19:31] wild-endeavor commented on #1482
Looking further, the issue seems to be around getting a node execution's interface which is done [here](https://github.com/flyteorg/flytekit/blob/373e50b713de44fefa5e8ba63882702c57b107f5/flytekit/remote/remote.py#L1009)

In the former case (the toy launch-plan-running example),
* The first level of node execution getting is fine.  It basically calls
  * get the top level three nodes: http://localh

[2021-09-15 21:07] kumare3 commented on #1484
@katrogan / @jsonporter We  should allow modifications of various other fields from the launch form - as supported by - https://docs.flyte.org/projects/flyteidl/en/stable/protos/docs/admin/admin.html#executionspec

[2021-09-15 21:58] wild-endeavor commented on #1482
The data loading issue with the subworkflow is likely that the start node of the subworkflow is somehow mis-named.  Looking at http://localhost:30081/api/v1/node_executions/flytesnacks/development/ihd00cvlfm?limit=100&uniqueParentId=fo5klsgq for instance shows three node executions, one of which has
[code]
but has
[code]
which means the node should be skipped but the [logic](https://github.com/fly

[2021-09-15 23:28] #1479 closed

[2021-09-15 23:33] wild-endeavor commented on #1044
Done with https://github.com/flyteorg/flytekit/pull/553

[2021-09-15 23:33] #1044 closed

[2021-09-16 07:20] kumare3 opened #1486 "[Docs] Flytesnacks - core should have an example of Pure task orchestration"
**Describe the documentation update**
Flyte supports data flow orchestration. Additionally, it also supports task orchestration. There is no example explaining the latter topic in the docs.

Reference: https://github.com/flyteorg/flytekit/blob/master/tests/flytekit/unit/core/test_node_creation.py#L71-L74.

Let's codify this into the flytesnacks repo. `core` is the directory that should house this

[2021-09-16 14:27] evalsocket commented on #1385
duplicate https://github.com/flyteorg/flyte/issues/1474

[2021-09-16 14:27] #1385 closed

[2021-09-16 15:27] evalsocket commented on #167
I verified it and flytepropeller is working fine with command-line flags. We can close it

[2021-09-16 15:30] #167 closed

[2021-09-16 17:27] #1418 closed

[2021-09-16 17:39] #1416 closed

[2021-09-17 01:10] #1048 closed

[2021-09-17 05:49] kumare3 opened #1492 "[Core Feature]Improved error messages for flytekit.remote"
**Motivation: Why do you think this is important?**
When flytekit remote fails because of input type mismatch or interface mismatch, it should always wrap the underlying error and explain the `variable name` for which the error was observed. If the interfaces mismatch in number of parameters then it should.
Barring this,  it is extremely hard for the users to debug issues.

**Goal: What should the

[2021-09-17 12:18] veggiemonk opened #1493 "[Core Feature] Improve health check to include DB connection"
**Motivation: Why do you think this is important?**
The health of the service only reports that it is running. See [Code](https://github.com/flyteorg/flyteadmin/blob/master/cmd/entrypoints/serve.go#L150-L151)
The health check should contain a connection "ping" to the database as the service is useless without it.

**Goal: What should the final outcome look like, ideally?**
The `/healthcheck` endpo

[2021-09-17 13:58] pmahindrakar-oss commented on #1493
Slack conversation snippet

[code]
cc :  @EngHabu

[2021-09-17 15:41] #1447 closed

[2021-09-17 18:03] katrogan commented on #1493
hey @veggiemonk thanks for opening this issue. as part of the standard flyte helm deployments, we actually have an [initContainer](https://github.com/flyteorg/flyte/blob/master/charts/flyte/templates/admin/deployment.yaml#L22) which verifies that the db is up and running before proceeding with the flyteadmin deployment

can you explain more about your deployment process and whether the initContain

[2021-09-17 21:05] vsbus opened #1496 "[Core Feature] Temp Disk Volumes"
**Motivation: Why do you think this is important?**
We can specify mem/cpu request/limit for the tasks. It will also be good to have a similar feature for disk.

Note, k8s v1.21 has beta for Generic Ephemeral Volumes and they seem to provide what is needed.

**Goal: What should the final outcome look like, ideally?**
Feature available for all flyte task types. A usage of this feature could look li

[2021-09-20 07:03] RustamovAzer commented on #1448
Requesting permissions will take some time, is there anything else that I can do to try to fix this issue?

[2021-09-20 08:52] veggiemonk commented on #1493
There are few limitations with the design.

What if something happens to the database *after* the init container and the application is started?
Can a service calling the DB still be considered up and running when the DB cannot be reached ?

What I proposed was to make sure the health check really handles the health of the service and its dependencies (such as a DB).

[2021-09-20 15:32] #909 closed

[2021-09-20 16:18] #1343 closed

[2021-09-20 19:45] katrogan opened #1499 "[BUG] Overly long task inputs not fully viewable"
**Describe the bug**
When I click to view a task and the left-hand pane opens up and I navigate to the inputs, I reach the end of the scrollbar but the inputs aren't fully visible.

**Expected behavior**
The task inputs margins should extend to view the entirety of the inputs.

**GitHub repo(s)**
[flyteconsole](https://github.com/flyteorg/flyteconsole)

**[Optional] Additional context**
***To Repr

[2021-09-20 20:48] kumare3 commented on #878
converting the error handler to a separate task

[2021-09-20 21:18] kumare3 opened #1506 "[Core Feature] Failure-Node support"
**Motivation: Why do you think this is important?**
Flyte backend supports a Failure-node for every workflow / sub-workflow. This is not currently exposed in flytekit (python or Java)

**Goal: What should the final outcome look like, ideally?**
Users should be able to define failure nodes for their workflows. An example for the python SDK is as follows

[code]

If my_wf() fails at any point during

[2021-09-20 21:18] kumare3 commented on #1506
cc @EngHabu  / @cosmicBboy / @kanterov

[2021-09-20 21:29] kumare3 opened #1507 "[Docs] Update all Flyteconsole Gifs to show the new Graph UI"
**Describe the documentation update**
Need to update all Flyteconsole GIFs in the [README](https://github.com/flyteorg/flyte#----quick-start), [getting started](https://docs.flyte.org/en/latest/getting_started.html), and [user guide](https://docs.flyte.org/projects/cookbook/en/latest/user_guide.html) to showcase Flyte's shiny graph UI.

New UI snapshot
<img width="882" alt="image" src="https://use

[2021-09-20 21:45] kumare3 commented on #872
@hamersaw has started working on this

[2021-09-21 05:35] kumare3 opened #1509 "[Core Feature][flytekit] Ability to track resource utilization and gpu utilization of a python task as a plugin"
**Motivation: Why do you think this is important?**
When users are running tasks that use GPU's, CPUs and Memory, it might be useful to allow some meta-outputs that render this information

**Goal: What should the final outcome look like, ideally?**
There are many libraries like   https://github.com/gpuopenanalytics/pynvml etc that can be used to collect stats for various resources and we could ei

[2021-09-21 05:36] kumare3 commented on #1509
cc @EngHabu / @cosmicBboy / @eapolinario
This will be extremely useful in debugging ML jobs. We could use the same technique later to render loss functions etc for a job

[2021-09-21 07:12] #1314 closed

[2021-09-21 15:21] kumare3 commented on #1148
@sbrunk fair point- I think the UI was using it. If not we can remove it

[2021-09-21 21:58] kumare3 commented on #1509
Yup, I think we need meta outputs first and then this if at all

[2021-09-22 03:35] pradithya opened #1510 "[BUG] Integer values within dict and dataclass are converted to float when passed to a task"
**Describe the bug**
Integer values within `dict` and `dataclass` inputs are getting converted into `float`. This happen specifically in following case:
1. `dict`: the conversion happen for both `int` and list of `int`
2. `dataclass`: the conversion happen only for list of `int`

**Expected behavior**
Maintain `int` type, at least for the `dataclass` case.

**[Optional] Additional context**
***To

[2021-09-22 03:58] kumare3 commented on #1510
Cc @pingsutw / @eapolinario

[2021-09-22 04:49] kumare3 commented on #1510
A few things that are relevant here
1. Protobuf Struct only stores `Number` Type and not `integer and number`. [here](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#google.protobuf.Value)
2. JsonEncoder converts ints to json.number - [here](https://docs.python.org/3/library/json.html#json.JSONEncoder)
3. Interesting thing is `type int` is maintained in dataclasses. b

[2021-09-22 04:53] kumare3 commented on #1510
Actually, The Dataclass Transformer handles this case - https://github.com/flyteorg/flytekit/blob/master/flytekit/core/type_engine.py#L249-L254. We should extend this logic to traverse to nested structures and for list of integer cases

[2021-09-22 06:42] #1221 closed

[2021-09-22 09:58] mdjong1 opened #1511 "[BUG] [flytekit] Trying to read from Typed Columns in a Typed Schema results in an AttributeError"
**Describe the bug**
When using typed columns I am unable to read the pandas.DataFrame back again as indicated in the [documentation](https://docs.flyte.org/projects/cookbook/en/latest/auto/core/type_system/typed_schema.html). Calling `schema.open().all()` returns `AttributeError: 'PandasSchemaWriter' object has no attribute 'all'`.

**Expected behavior**
I would expect `schema.open().all()` to re

[2021-09-22 10:56] samhita-alla commented on #1511
@mdjong1 Which flytekit version are you using?

[2021-09-22 15:11] kumare3 opened #1512 "[Docs] docs for IAM, service accounts, labels and annotations"
**Describe the documentation update**
 There is no good reference explaining how to set service accounts, roles, labels, and annotations.

**GitHub repo(s)**
[flytesnacks](https://github.com/flyteorg/flytesnacks)

[2021-09-22 15:12] kumare3 opened #1513 "[Docs] Raw output prefix docs"
**Describe the documentation update**
There is no good document for explaining raw output prefix

[2021-09-22 19:42] jsonporter commented on #1047
This is currently a limitation of material-ui; will not fix.

[2021-09-22 19:42] #1047 closed

[2021-09-22 21:03] palchicz opened #1514 "[Core Feature] Support for enum types used in dataclasses"
**Motivation: Why do you think this is important?**
Since [dataclasses](https://docs.flyte.org/projects/cookbook/en/latest/auto/core/type_system/custom_objects.html) are a supported type and [Enums](https://docs.flyte.org/projects/cookbook/en/latest/auto/core/type_system/enums.html) are a supported type, one would expect that dataclasses that reference a enum should also be supported. Instead, the

[2021-09-22 21:16] hamersaw commented on #126
Adding support for the status subresource API for the flyteworkflow CRD in flytepropeller significantly complicates deployment and upgrades. To understand why, we need to dive a little bit into the kubernetes API.

Setting status as a subresource on the flyteworkflow CRD introduces a separate kubernetes rest API which partitions updates of the CRD spec and status subfields. The main objective for

[2021-09-22 23:05] kumare3 commented on #1514
@palchicz this is because of the underlying dataclass-json library. We are actually working on supporting #1362 Pickle types. But, pickle is not native to other languages and wont show up in the UI.
Whats the usecase?

[2021-09-23 00:47] jsonporter commented on #1085
Fixed. https://github.com/flyteorg/flyteconsole/commit/67dd18397caf40e350da40e0672e500eaa9f338a

[2021-09-23 00:47] #1085 closed

[2021-09-23 05:13] evalsocket commented on #518
It will be cover with issue https://github.com/flyteorg/flyte/issues/1474

[2021-09-23 05:47] mdjong1 commented on #1511
Ahh yeah that's a good point, I forgot to add that, my bad

We're on flytekit 0.21.5

[2021-09-23 15:52] katrogan commented on #518
@evalsocket so actually admin integration tests are a different target than endtoend tests. This issue is to address the fact that config changes eg `getDbConfig()` vs `getLocalDbConfig()` must be called based on the environment the tests are run in

[2021-09-23 15:52] #1510 closed

[2021-09-23 16:22] #1411 closed

[2021-09-23 16:27] #1386 closed

[2021-09-23 16:29] jsonporter commented on #1242
Just to clarify - is the ask that when listing executions, we display the "name" and not the execution ID itself?

[2021-09-23 16:30] #1392 closed

[2021-09-23 16:31] #1465 closed

[2021-09-23 16:38] jsonporter opened #1516 "[UI Feature] Add support for any-depth nesting in graph UX"
**Motivation: Why do you think this is important?**
We want to add support for any-depth nesting on the Graph UX.  This is applicable for branching and sub-workflow/dynamic nodes.

Comps:
![Screen Shot 2021-09-23 at 9 36 47 AM](https://user-images.githubusercontent.com/84735036/134548137-a6e89048-dd75-4ce6-ae16-549d356c2646.png)

**Goal: What should the final outcome look like, ideally?**
Provide

[2021-09-23 16:41] jsonporter opened #1517 "[BUG] Add a fixed height to "All Executions in the Workflow" view"
**Describe the bug**
Adding support for workflow versions has taken up a lot of vertical realty and has made the "All Executions in the Workflow" section too small. We want to add a fixed min-height to this section to ensure that it never gets too small.

**Expected behavior**
This will add more to the page-level scroll but should still preserve a contextual scroll on the executions.

[2021-09-23 17:11] #1517 closed

[2021-09-23 19:06] palchicz commented on #1514
Thanks for the quick response! We have a collection of ~10 workflow inputs that are shared among several workflows. These inputs are a collection of closely related parameters, and they always show up together across different workflows, so it makes sense to group them together. Consolidating them into a single dataclass made sense, however, one of these shared inputs is an enum and thus we run in

[2021-09-23 22:45] #1379 closed

[2021-09-23 23:04] katrogan opened #1518 "[BUG] Flytekit incorrectly checks for local paths"
**Describe the bug**
The current check in flyte directory transformers for non FlyteDirectory path objects checks if a file path is remote using this https://github.com/flyteorg/flytekit/blob/532ff368aa51319b77b0430c90f37f15f3d6afe5/flytekit/core/data_persistence.py#L261 which won't necessarily work correctly for all local file types, e.g. those that start with `"./foo"`

**Expected behavior**
We

[2021-09-23 23:31] kumare3 commented on #1516
So @jsonporter one thing to remember, for dynamic tasks, you dont know that they are expandable - statically. You only know that during execution, when they return is parent_node = true!!!

[2021-09-23 23:38] kumare3 commented on #1514
@palchicz appreciate giving more clarification. your request absolutely makes sense. One follow up question, do you use the Enum Form in the UI - as shown below?

![Screen Shot 2021-09-23 at 4 32 48 PM](https://user-images.githubusercontent.com/16888709/134597050-6571f2de-3e61-4cd8-8cc7-495ca627ddf8.png)

This UI feature will not work with dataclasses with nested enums, that is because dataclass_j

[2021-09-23 23:40] #1492 closed

[2021-09-23 23:44] #1208 closed

[2021-09-23 23:44] #1029 closed

[2021-09-24 03:14] #1518 closed

[2021-09-24 06:07] samhita-alla commented on #1511
`schema.open().all()` is calling a PandasSchemaWriter but not a PandasSchemaReader. @mdjong1, are you by any chance instantiating the mode to be `SchemaOpenMode.WRITE`?

[2021-09-24 06:15] mdjong1 commented on #1511
I'm instantiating it as suggested [here](https://docs.flyte.org/projects/cookbook/en/latest/auto/core/type_system/typed_schema.html?highlight=flyteschema#typed-columns-in-a-schema), as far as I can tell at least.

[code]

[2021-09-24 06:32] samhita-alla commented on #1511
Are you trying to read `created_keys` in a different task?

[2021-09-24 06:40] samhita-alla commented on #1511
If so, you'll have to send `supported_mode` and `remote_path`:

[code]

[2021-09-24 07:18] mdjong1 commented on #1511
I'll give that a try. I am indeed trying to access the `created_keys` from another task.

Is there no way to do this without specifying a remote path? Or is there a way that it can pick a 'normal' flyte path i.e. self-generated instead of specifying something myself.

Trying this I'm getting another error though, with `suppoorted_mode=SchemaOpenMode.READ, remote_path="s3://some-path")`
[code]

[2021-09-24 08:04] ariefrahmansyah opened #1520 "Add options to configure SendGrid API Key"
**Motivation: Why do you think this is important?**

While working on notifications using GCP and SendGrid (https://github.com/flyteorg/flyteadmin/pull/259), I need to supply the SendGrid API Key. To achieve that, I configure SENDGRID_API_KEY via environment variables. I deployed Flyte using Helm, but since there's no way to provide environment variables via Helm, I need to manually add SENDGRID_A

[2021-09-24 08:13] evalsocket commented on #1493
@veggiemonk I think we can close this now, As we discussed

[2021-09-24 08:39] samhita-alla commented on #1511
You can do one other thing. Instead of specifying the mode in init, you can specify the `override_mode` in `open()`, like:

[code]

[2021-09-24 08:55] samhita-alla commented on #1511
<img width="606" alt="Screenshot 2021-09-24 at 2 25 14 PM" src="https://user-images.githubusercontent.com/27777173/134647374-6dea7480-580b-4b3d-a6f9-87ce9ef8db55.png">

[2021-09-24 09:26] mdjong1 commented on #1511
Using the `override_mode` seems to work; though it feels a bit off. But thank you 👌🏼

[2021-09-24 09:26] #1511 closed

[2021-09-24 09:44] samhita-alla commented on #1511
The thing is, if you use tasks just like the example in documentation, you needn't worry about the modes. `override_mode` is essential in this case because the default mode is set to WRITE. READ isn't used as we need to input the `remote_path` where we have our dataframe.

[2021-09-24 09:45] mdjong1 commented on #1511
That makes sense, thanks

[2021-09-24 10:56] veggiemonk commented on #1493
@evalsocket go ahead

[2021-09-24 12:14] samhita-alla commented on #1499
@katrogan Can you let me know the example you have run? Do we have it in flytesnacks?

[2021-09-24 12:53] mdjong1 opened #1521 "[BUG] [flytekit] Expected behavior for returning FlyteSchema inside a dataclass"
**Describe the bug**
Hey, we have been running into an issue where we're trying to return a FlyteSchema within a dataclass and it's giving us the following error (**flytekit 0.21.5**):

[code]

We brought this down to a minimal example that triggers the error:
[code]

**_Our main question is; is it expected to not be possible to use a FlyteSchema in this way, and if so is there a nice way to do it

[2021-09-24 13:17] #1493 closed

[2021-09-24 15:15] kumare3 commented on #1521
@mdjong1 seems the welcome bot is confused haha.

On the other hand
1. Look forward to the next release- it has a huge debugging improvement. All errors are
Prettified and more actionable. We would appreciate feedback

2. So dataclasses are passed as opaque jsons in the system today and so it's not possible to embed higher level Flyte objects in there currently. That being said this seems to be on

[2021-09-24 15:57] #1252 closed

[2021-09-24 16:16] pingsutw commented on #1521
@kumare3 ok, I will fix it ASAP

[2021-09-24 16:25] katrogan commented on #1493
@evalsocket @veggiemonk mind summarizing the resolution/what you discussed?

[2021-09-24 16:28] katrogan commented on #1499
okay this was user error 🤦‍♀️ when you're outside the task details pane you have to scroll down all the way, and then inside the pain you can scroll to the bottom

[2021-09-24 16:28] #1499 closed

[2021-09-24 17:21] kumare3 commented on #1511
@mdjong1 can you join the slack channel, this above feels like a chat? [slack](https://docs.google.com/forms/d/e/1FAIpQLScWPJZncyL-bBCWbuQ9HWuMzA8-r2RJc__CSWJoAYUQADN-BQ/viewform)

[2021-09-24 20:56] brucearctor commented on #1302
https://github.com/flyteorg/flyte/pull/1446/ <- addressed in that PR

[2021-09-24 20:56] #1302 closed

[2021-09-25 00:31] palchicz commented on #1514
That would be ideal, but not a deal breaker. At the very least there isn't any urgency, so maybe the dataclass_json people will add that feature before too long :smiley: :crossed_fingers:

I can certainly jump in and help. I should have some time next week. I'll join the slack channel like you suggested.

[2021-09-25 03:46] kumare3 commented on #1514
Awesome, see you soon. Also, if the form is not required- enums should be supported. I think the enum marshmallow library might work

[2021-09-25 06:28] #1423 closed

[2021-09-25 06:28] #1439 closed

[2021-09-26 16:58] kumare3 opened #1523 "[Flytectl Feature] flytectl status should show env vars to be exported"
**Describe the feature/command for flytectl**
if you use flytectl sandbox, as a user you may lose the information about how to use kubectl & flytectl to connect to flyte-sandbox. We should allows users to recover this using
`flytectl sandbox status`

**Provide a possible output or ux example**
[code]

[2021-09-27 06:08] samhita-alla opened #1524 "[Docs] Flytectl docs cleanup"
**Describe the documentation update**
* Fix typos, grammar in flytectl docs
* Format code and content to properly render the docs
* Add any missing command docs and also add some more examples if there's a possibility (optional)
* Make sure flags' descriptions respect capitalized case
* Getting the docs consistent to have flytectl command instead of `bin/flytectl` which is used in some places
* Pr

[2021-09-27 06:08] samhita-alla commented on #1524
@pmahindrakar-oss / @evalsocket Do we have anything specific that needs to be improved or updated in flytectl docs?

[2021-09-27 15:06] pmahindrakar-oss commented on #1524
I think the main thing would be to find any grammatical issues and fix those , add any missing command docs and also add some more examples wherever missing.
Getting the docs consistent to have flytectl command instead of bin/flytectl which is use in some places.

Providing output for the example commands would be helpful too.

[2021-09-27 17:51] brucearctor commented on #818
@Gui11aum3 is this something that exists and should be opened or that needs to be built.  Please advise.  As discussed, this seems a decent starting place.

[2021-09-27 23:11] kumare3 opened #1525 "[Docs] Flyte dataplane cluster cert setup in flyteadmin for Out-of-cluster control plane"
**Describe the documentation update**
There is no documentation that shows how to configure flyteadmin to connect to multiple flyte-dataplane clusters or how to configure a dataplane cluster that is separate from the flyteadmin. The default assumes incluster configuration only.

Example of this config can be found [here](https://github.com/flyteorg/flyteadmin/blob/2d81c1eec24cffb43346b56fc0017fd29

[2021-09-27 23:28] katrogan commented on #1525
Existing documentation for a multiple data-plane cluster set-up should exist here: https://docs.flyte.org/projects/cookbook/en/stable/auto/deployment/multiple_k8s.html

[2021-09-27 23:34] katrogan commented on #1525
as part of this documentation issue we should better catalog the in-cluster configuration, specifically

https://github.com/flyteorg/flyteadmin/blob/611a85f0db7325457c714c0dcd689bf2c5d818e5/pkg/config/config.go#L18,L19

given that both Master and KubeConfig are optional flags and in their absence we default to the [InClusterConfig](https://pkg.go.dev/k8s.io/client-go/rest#InClusterConfig)

[2021-09-28 01:23] kumare3 opened #1526 "[UI Feature]The graph view should show the node name for the sub-graph as well"
**Motivation: Why do you think this is important?**
currently the graph view shows only the subgraph as a dotted border, but does not show the name of he subgraph containing node. It would be useful to show this name

**Goal: What should the final outcome look like, ideally?**
The friendly name should be shown within the dotted subsection

example of graph that does not show the node id
![Screen S

[2021-09-28 05:44] evalsocket commented on #1524
Currently, filters have less documentation, It would be great if we can add some more documentation that is aligned with the flyteadmin filter.

Our contribution guide is also not up to date with new changes. We should update that.

[2021-09-28 06:19] samhita-alla commented on #1524
I'm working on updating the contribution guide. I'll send you the PR once it's up for review.

[2021-09-28 09:23] pradithya opened #1529 "[BUG] Flyte console display error in workflows page when an execution is in unknown state"
**Describe the bug**
When one or more workflow execution is in "Unknown" state, Flyte console display error as shown in below screenshot for the workflow details page. It's observed in flyte console version v0.27.1.

**Expected behavior**
Should show list of workflow execution including the "Unknown" execution.

***To Reproduce***
Steps to reproduce the behavior:
1. Launch a workflow
2. Quickly go

[2021-09-28 16:00] jsonporter opened #1530 "[UI] Breadcrumb back button not working when viewing all Workflow versions."
**Describe the bug**
When viewing all workflow versions, the back button in the breadcrumb navigation takes users back to the search screen when it should actually take them back to the workflow details page.

**Expected behavior**
When a user is viewing all workflow versions and clicks on the back button (breadcrumb) it should take them back to the workflow details page.  Note, the browsers back

[2021-09-28 20:30] #1466 closed

[2021-09-28 20:38] katrogan opened #1531 "[BUG] Fast register command line substitution broken for pod tasks"
**Describe the bug**
During fast serialization the `{{ .remote_package_path }}` and ``{{ .dest_dir }}`` template parameters are added to the container command line args. The fast register command in `flyte-cli` and `flytectl` is intended to fill these values in so that at execution time the container is able to fetch the fast code archive.

As part of the change for kubernetes pod (sidecar) tasks,

[2021-09-29 18:26] katrogan opened #1532 "[Core Feature] Add a default MaxParallelism value to the FlyteAdmin config"
**Motivation: Why do you think this is important?**
Workflow executions can be gated by the max number of parallel nodes that can be processed. Specific override support for this MaxParallelism value already exists but not a generic default in the FlyteAdmin config.

**Goal: What should the final outcome look like, ideally?**
Default MaxParallelism settable in config.

**Describe alternatives you'

[2021-09-29 18:34] kumare3 commented on #1532
cc @pmahindrakar-oss can you do this one?

[2021-09-29 19:25] Gui11aum3 commented on #818
@brucearctor this hasn't been build. We thought we would have time to build it using the bigquery plugin as inspiration but never managed to get there :/
We could use it as a showcase on how to contribute to plugins.

[2021-09-29 19:47] brucearctor commented on #818
Ya, this seems like one of the smaller/self-contained plugins which then is a better starting point.

Thanks for confirming!

[2021-09-29 21:52] anandswaminathan opened #1533 "[BUG] Flyte K8s Array jobs do not take into account Interruptible failures"
**Describe the bug**
For array jobs, we do not consider interruptible failures in array jobs. For regular task we have logic to track interruptible and not count against user retries. Also the next retry will set interruptible to false.

**Expected behavior**
We need K8s array to work similar to regular K8s tasks.

[2021-09-30 10:22] samhita-alla opened #1534 "[Docs] Flytekit Remote Examples"
**Describe the documentation update**
We need some examples to explain Flytekit Remote.

**GitHub repo(s)**
[flytesnacks](https://github.com/flyteorg/flytesnacks)

[2021-09-30 10:25] samhita-alla commented on #1534
@cosmicBboy / @wild-endeavor / @kumare3 What is the right place to include this documentation, and what concepts need to be documented or have code examples?
Please attach the reference code and API documentation as well.

[2021-09-30 10:31] samhita-alla commented on #1512
@kumare3 We have a [page](https://docs.flyte.org/projects/cookbook/en/latest/auto/core/containerization/workflow_labels_annotations.html#sphx-glr-auto-core-containerization-workflow-labels-annotations-py) dedicated to labels and annotations. Will that not suffice?

Also, where should service accounts and roles be documented? Do we have any references that can help in writing down the doc?

[2021-09-30 18:49] #1530 closed

[2021-09-30 18:54] jsonporter commented on #1529
Ah good catch; can repo.  We'll add it to our next sprint - thanks!

[2021-09-30 19:22] evalsocket opened #1537 "[Housekeeping] Deprecate duplicate helm chart"
**Describe the Issue**
Currently, we are maintaining both chart `flyte` and `flyte-core`  but idea is to convert `flyte` helm chart into a sandbox chart, It will depend on `flyte-core` for flyte core component deployment.

Flyte charts
- Flyte (It will install the sandbox deployment)
- Flyte-core (It will only deploy the core component of flyte)

**What if we do not do this?**
For any new changes,

[2021-09-30 19:25] evalsocket opened #1538 "[Housekeeping] Helm charts for control/data plane deployment"
**Describe the Issue**
Idea is to create a separate helm chart for control plane & data plane deployment .

**What if we do not do this?**
Short description of potential consequences

***Related component***
Either Specific / all

[2021-09-30 19:27] evalsocket commented on #1523
@kumare3 there is no use of it until we don't fix the restart

[2021-09-30 19:30] evalsocket commented on #1524
@samhita-alla I also found one inconsistency in the description of flags. Some descriptions start with Capital and some start with small char. It should be consistent

[2021-09-30 20:51] jsonporter commented on #1393
Reopenning - did not understand the problem; we still need to fix this on FE.

[2021-09-30 21:33] jsonporter commented on #913
Reopening this because we want to remove "Platform version" and update the UI Version to display what is currently being called "Platform version".

[2021-10-01 01:14] akhurana001 opened #1539 "Add support for Multiple Architecture types"
**Motivation: Why do you think this is important?**

Multiple cloud providers (AWS etc.) have extensive support for ARM based instances now and  we want to explore running Flyte workloads on ARM instances due to multiple benefits over x86. In general, the goal is to enable platform admins to configure multiple architecture types as well as  Flyte users to select between them based on which one the

[2021-10-01 03:25] kumare3 commented on #1539
Quick comment, it's flytekit tested on arm?
Also let's not as anything to flytekit config, but to launchplan or workflow spec.

[2021-10-01 03:45] samhita-alla commented on #1524
Which one do we prefer? Capital or small case?

[2021-10-01 04:22] kumare3 opened #1540 "[Docs]Flytekit.remote docs in flytesnacks with examples"
**Describe the documentation update**
Currently flytekit.remote does not have specific documentation in flytesnacks.

[2021-10-01 04:24] kumare3 opened #1541 "[Docs]flytekit plugin docs improvements in flytesnacks"
**Describe the documentation update**
Flytesnacks should have  an updated documentation for how to author flytekit plugins
- [ ] SQL plugins
- [x] flytekit only plugins - task template plugin; New doc
   - https://github.com/flyteorg/flyte/pull/986/files
- [x] flytekit template plugins - Template and task plugins are the same. Custom container (task template/template only plugin), custom behavior

[2021-10-01 04:38] kumare3 commented on #1540
this is dupe   of #1534

[2021-10-01 04:38] #1540 closed

[2021-10-01 05:22] #1415 closed

[2021-10-01 05:23] kumare3 commented on #1270
This has been merged

[2021-10-01 05:23] #1270 closed

[2021-10-01 05:27] kumare3 opened #1542 "[Docs]FlytePropeller performance tuning and configuration documentation"
**Describe the documentation update**
Flytepropeller needs to be configured for large deployments and this needs a documentation for users to easily configure them

- [ ] max streak length
- [ ] configuring k8s client
- [ ] tuning the cache
- [ ] Understanding resource version caching / gate
- [ ] Understanding size restrictions
- [ ] understanding max parallelism
- [ ] understanding events

[2021-10-01 05:31] evalsocket opened #1543 "[Plugin] Kubeflow MPI Operator"
**Motivation: Why do you think this is important?**

MPI Operator makes it easy to run all reduce-style distributed training on Kubernetes.

MPI Operator - https://github.com/kubeflow/mpi-operator

**Type of Plugin**
- [ ] Python/Java interface only plugin
- [ ] Web Service (e.g. AWS Sagemaker, GCP DataFlow, Qubole etc...)
- [x] Kubernetes Operator (e.g. TfOperator, SparkOperator, FlinkK8sOperator

[2021-10-01 05:36] pankaj892 commented on #1524
@samhita-alla Can I work on fixing the grammatical errors,typos in the docs ?

[2021-10-01 06:24] evalsocket opened #1544 "kubeflow Tf Operator"

[2021-10-01 06:25] #1544 closed

[2021-10-01 06:26] evalsocket commented on #820
Example PR for docs https://github.com/flyteorg/flyte/pull/1397

[2021-10-01 06:37] evalsocket commented on #1524
@samhita-alla flytestdlib has all standard flags and they use Captial. Using capital everywhere make sens

[2021-10-01 06:53] sshiv5768 commented on #1351
Hey, @samhita-alla, I would love to work on this issue.

[2021-10-01 10:24] samhita-alla commented on #1524
Absolutely, @pankaj892! Apologies for the delayed response.
If possible, please make sure to take care of the additional things we discussed in the comments. Let us know if you have any questions. You can join our [slack channel](https://docs.google.com/forms/d/e/1FAIpQLScWPJZncyL-bBCWbuQ9HWuMzA8-r2RJc__CSWJoAYUQADN-BQ/viewform).

[2021-10-01 10:27] samhita-alla commented on #1351
Awesome! Please do. :)

[2021-10-01 11:56] AdrianoKF commented on #1534
Based on a Slack conversation with @cosmicBboy, I'd propose that the extended documentation addresses the use of `FlyteFile` with the Remote API. We've been able to figure out how to access and download FlyteFile output artifacts with his help, but some additional docs/examples would be great.

[2021-10-01 13:08] AnirudhPanda commented on #1507
Can you help me walk through this issue?

[2021-10-01 13:52] AdrianoKF opened #1546 "[Flytectl Feature] Gracefully handle config files with non-standard extensions"
**Describe the feature/command for flytectl**
We are trying to use `flytectl` inside a Gitlab CI pipeline. Gitlab supports supplying [CI variables mounted as files](https://docs.gitlab.com/ee/ci/variables/#cicd-variable-types), where the environment variable points to a file containing the value of the CI var - so naturally we tried setting `FLYTECTL_CONFIG` through this mechanism.

However, this

[2021-10-01 14:20] AdrianoKF opened #1547 "[Flytectl Bug] Update check should not reports out-of-date for latest version"
**Describe the bug**
`flytectl version` reports that a new release is available, even directly after `flytectl upgrade`

[code]

Minor nitpick: the `flytectl upgrade` error message contains a typo (missing "the")

It seems that the version number specified in the build (used as `stdlibversion.Version` in [`cmd/version/version.go`](cmd/version/version.go) incorrectly omits the `v` of the Git tag fo

[2021-10-01 17:23] EngHabu opened #1548 "[BUG] Migrate to golang-jwt/jwt/v4"
**Describe the bug**
the old jwt library has been deprecated and is replaced with this drop in-replacement

[2021-10-01 17:28] askalik commented on #1507
Can I take this issue?

[2021-10-01 20:03] akhurana001 commented on #1539
Haven't tested extensively but I did run a basic spark/python job on ARM (flytekit=0.16) and it worked.

[2021-10-01 21:12] #1531 closed

[2021-10-01 21:44] katrogan opened #1550 "[BUG] Unhelpful error message when registering without having run serialize first"
**Describe the bug**
If I use flytectl to run register without having first run serialize I get this very confusing message

[code]

This in no way indicates that the source code artifacts are missing from the serialization stage.

**Expected behavior**
Clear error message when there are no serialized pb files to register

**[Optional] Additional context**
***To Reproduce***
Steps to reproduce the

[2021-10-02 02:41] Pretty-19 commented on #1537
Hi @evalsocket  can you assign this task to me ?

[2021-10-02 07:11] lordnodd commented on #1351
Hey @samhita-alla, I am not sure if github workflows have trigger for release created by draft? Here the official docs for event trigger through github actions mention that in a note
[github-actions-event-trigger](https://docs.github.com/en/actions/learn-github-actions/events-that-trigger-workflows#release)

[2021-10-02 07:34] sushrut111 commented on #1468
I would love to take this up

[2021-10-02 07:46] samhita-alla commented on #1351
@evalsocket Do we have a mechanism to fix this issue? As @lordnodd mentioned, GitHub docs clearly say that `The release event is not triggered for draft releases.`.

[2021-10-02 10:53] divigarg commented on #1524
Can I get to work on this issue?

[2021-10-02 11:38] samhita-alla commented on #1524
Hi, @divigarg! Yes, you can. There are two of them who have contacted me regarding this. I'm not sure if @pankaj892 is working on it, and @Sayanta66 hasn't worked on the issue wholly.

If you start working on it, please share the PR here. :)

[2021-10-02 11:53] samhita-alla commented on #1524
**If this issue requires time and effort, which we typically measure through code/content contribution, we can take this as a combination of PRs—two or three.  Quality is key!**

[2021-10-02 14:14] pankaj892 commented on #1524
@samhita-alla to make edits in docs do i need to clone the whole repo of flyte or just docs folder would be fine ?

[2021-10-02 14:57] askalik commented on #1486
Could I be assigned this task?  I think I understand the ask, but could use some clarification.

[2021-10-02 15:40] #1532 closed

[2021-10-02 17:11] idivyanshbansal commented on #1524
I would like to work on this issue.

[2021-10-02 19:48] kumare3 commented on #1524
@idivyanshbansal please go for it

[2021-10-02 19:48] kumare3 commented on #1524
Ya you have to fork and work on the fork and request for a merge

[2021-10-02 19:50] kumare3 commented on #1486
@askalik absolutely, so for clarifications please join the hacktoberfest channel in Flyte slack and someone will be more than happy to assist.

Thank you

[2021-10-02 19:52] kumare3 commented on #1468
@sushrut111 please join the slack channel on Flyte slack and someone will assist

[2021-10-02 19:53] kumare3 commented on #1507
@askalik absolutely

[2021-10-02 21:58] kumare3 commented on #1523
I do not agree. If I start the sandbox and forget to export the env vars to connect to k8s or Flyte, there is no way way to recover the information. It is possible, I restart my terminal or just clear the history

[2021-10-03 16:57] kumare3 opened #1553 "[BUG] [Flyte"
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**[Optional] Additional context**
***To Reproduce***
Steps to reproduce the behavior:
1.
2.

***Screenshots***
If applicable, add screenshots to help explain your problem.

[2021-10-03 17:03] kumare3 opened #1554 "[BUG] Garbage collection does not seem to work always"
**Describe the bug**
The default setting of 23 hours for ttl in flytepropeller, seems to leave certain workflows behind. When the setting is changed to 1 hour, all workflows except current hour got deleted. This is because you cannot run GC every 12 hours, but have a ttl of 23 hours, as the logic only uses the hour of the day to delete. This is calculated based on the GC run interval.

**Expected

[2021-10-03 17:04] kumare3 commented on #1554
As a simple workaround for now, set the
`gc-interval` to `< 1 hour` Something like 30 minutes should be great.

[2021-10-03 19:08] #1553 closed

[2021-10-03 19:13] noobkid2411 opened #1555 "Updating Issues template to Issues forms for flyte"
With the enormous number of issues being created and managed,it would get considerably easier if the issue templates are converted to forms instead of markdown files,would make it easier for the maintainers to traverse through them as well as ensuring they went through the code of conduct and the issues in detail before creating one.
I would like to update all the existing issue Markdown templates

[2021-10-04 00:01] EngHabu commented on #1555
Thank you for filling the issue! We would love to have you contribute. Do you mind sharing what would that look like is you have done that elsewhere?

The issue templates are maintained in this repo: https://GitHub.com/flyteorg/boilerplate and are automatically copied to all of Flyte repos...

[2021-10-04 03:04] evalsocket commented on #1523
Sure Ketan, I got your point

[2021-10-04 03:07] evalsocket commented on #1537
Awesome! Please do. :)

Let us know if you have any questions. You can join our [slack](https://docs.google.com/forms/d/e/1FAIpQLScWPJZncyL-bBCWbuQ9HWuMzA8-r2RJc__CSWJoAYUQADN-BQ/viewform) channel.

[2021-10-04 03:16] vikramadityasinghs commented on #1512
could I be assigned to this? @kumare3  @samhita-alla

[2021-10-04 03:18] kumare3 commented on #1512
@samhita-alla yes when you create a launch plan, these values are all available to be populated as shown in launchplan spec - https://docs.flyte.org/projects/flyteidl/en/stable/protos/docs/admin/admin.html#launchplanspec

[2021-10-04 03:36] samhita-alla commented on #1512
@vikramadityasinghs sure, please go ahead! Let us know if you have questions. If you'd like to join our slack, here's the [link](https://docs.google.com/forms/d/e/1FAIpQLScWPJZncyL-bBCWbuQ9HWuMzA8-r2RJc__CSWJoAYUQADN-BQ/viewform).

[2021-10-04 03:48] noobkid2411 commented on #1555
@EngHabu sure, I've done this before for a few projects,essentially I'd be converting the bugreport.md into a yaml file.
So,currently the bug template looks like this:

![image](https://user-images.githubusercontent.com/69161722/135789776-c39feb87-14b2-488e-9247-a6fc8412d4ff.png)

I'd convert this into a form that would look like this:

![image](https://user-images.githubusercontent.com/69161722/1

[2021-10-04 04:26] kumare3 opened #1556 "[Plugin]BlazingSQL and Rapids dataframe support"
**Why would this plugin be helpful to the Flyte community**
It would be great to have a simple plugin that would allow users to simply write BlazingSQL queries in their workflows to manipulate data-frames on a GPU as part of their Flyte workflows.

An example of writing a query from the User point of view could be

[code]

**Type of Plugin**
- [x] Python/Java interface only plugin
- [ ] Web Servic

[2021-10-04 05:02] samhita-alla commented on #1468
Here's the link to join Slack: https://docs.google.com/forms/d/e/1FAIpQLScWPJZncyL-bBCWbuQ9HWuMzA8-r2RJc__CSWJoAYUQADN-BQ/viewform.

[2021-10-04 05:14] samhita-alla commented on #1507
@AnirudhPanda You will have to run code examples on Flyte sandbox and capture the execution process. The [getting started guide](https://docs.flyte.org/en/latest/getting_started.html) should capture the creation of the sandbox, running workflows, etc. You have to update all the concerning GIFs to showcase our new graphs.

[2021-10-04 05:15] samhita-alla commented on #1507
@AnirudhPanda / @askalik When you create a PR, please add this issue in the description.

[2021-10-04 15:24] snehaa1989 commented on #1550
@katrogan I would like to take this, how to produce this error message? and what files need to be changed?

[2021-10-04 16:11] pmahindrakar-oss opened #1557 "[Core Feature] Support external token source for flyteadmin clients"
**Motivation: Why do you think this is important?**
Currently flyteadmin supports Oauth using PKCE and client credentials but for certain CI workflows it was discussed to use an external token source which provides token through execution of external script.

@ckiosidis please amend or add any more details in this ticket.

**Goal: What should the final outcome look like, ideally?**
Support admin a

[2021-10-04 16:28] migueltol22 opened #1558 "[Plugins Feature] Enable BatchScheduler for spark tasks."
**Motivation: Why do you think this is important?**
The spark operator now has support for batchScheduler, however even if this is enabled on the spark operator end, a user can still not use this feature in spark tasks. Due to this `batchScheduler` option needing to set as part of the spark application.

**Goal: What should the final outcome look like, ideally?**
A user or admin can enable the use

[2021-10-04 18:32] katrogan commented on #1550
hey @snehaa1989 awesome! thank you for looking into this :)

to reproduce this, run `flytectl register` without having run serialize first. for a workable example on your machine, [install flyteectl](https://github.com/flyteorg/flytectl#-quick-start) and clone the [flytesnacks](https://github.com/flyteorg/flytesnacks) repo and `cd` into `flytesnacks`. Then run the following:

[code]

you should se

[2021-10-04 19:38] EngHabu commented on #1555
Awesome! yes please go ahead. Discard what I said about boilerplate... this goes here as you know: https://github.com/flyteorg/flyte/blob/master/.github/ISSUE_TEMPLATE/bug_report.md

[2021-10-04 19:40] noobkid2411 commented on #1555
@EngHabu I plan on doing the same for all the existing issue templates in this repository in the same pr,that would be okay right?

[2021-10-04 19:47] DiySane commented on #1146
@evalsocket would love to contribute to this, feel free to assign, a little briefing will help too.

[2021-10-04 19:54] EngHabu commented on #1555
That would be alright yes! thank you

CC @samhita-alla

[2021-10-04 19:54] #1548 closed

[2021-10-04 20:55] palchicz commented on #1514
marshmallow_enum - https://github.com/fuhrysteve/marshmallow-jsonschema/blob/master/marshmallow_jsonschema/base.py#L22-L27.

I took a stab at debugging this problem and noticed that `marshmallow_enum` is already installed. The issue is this line [here](https://github.com/fuhrysteve/marshmallow-jsonschema/blob/81eada1a0c42ff67de216923968af0a6b54e5dcb/marshmallow_jsonschema/base.py#L227) in the `mas

[2021-10-05 00:26] akhurana001 commented on #1539
Synced-up with Haytham. Some notes:

1. The architecture field is closely related to the image/version and is probably a better fit as part of [Container IDL](https://github.com/flyteorg/flyteidl/blob/af2f0ed085bd7e071c95c5f8ec7305fed9021406/protos/flyteidl/core/tasks.proto#L146) . It's better to have this strongly typed here as opposed to labels on launch-plans (thou overrides probably would stil

[2021-10-05 04:51] evalsocket commented on #1146
@DiySane  Awesome! Please do. :)...Please let us know if you have any questions. You can join our slack channel

[2021-10-05 04:52] samhita-alla commented on #1555
This sounds like an awesome idea. Thank you, @noobkid2411! Please go ahead and create a PR. :)

[2021-10-05 06:10] DiySane commented on #1146
Thanks a ton @evalsocket ! Let me go through the stuff first, then I will come up with the questions.

[2021-10-05 10:14] r-sreesaran commented on #820
I can work on this issue.

[2021-10-05 11:52] Gui11aum3 commented on #1516
+1:   Being able to drill down in the subworkflows would be great ! This will greatly improve readability of the lineage graph.

[2021-10-05 13:19] samhita-alla commented on #820
@kumare3 Can a first-time contributor work on this? If so, do we need to draw up a shortlist?

[2021-10-05 13:33] samhita-alla opened #1561 "[Housekeeping] Test Flytectl & Flytekit on Windows"
**Describe the Issue**
We haven't yet thoroughly tested Flytekit and Flytectl on a windows OS. Would love someone with a windows OS to test this out.

**What if we do not do this?**
Flyte on windows may not be foolproof.

***Related component***
flytekit, flytectl

[2021-10-05 13:33] samhita-alla commented on #1561
cc: @evalsocket

[2021-10-05 13:37] Gui11aum3 commented on #1242
Yes, we would prefer to have the names as the main reference in the console. In our case, the IDs are generated so definitely less meaningful for the users.

[2021-10-05 14:08] kuspia commented on #1561
pls assign me I would like to work on this

[2021-10-05 14:12] ramadh-an opened #1562 "[Plugin] Add some plugin"
**Why would this plugin be helpful to the Flyte community**
Explain the usecases for the plugin

**Type of Plugin**
- [Dark Mode and Weather checker] Python/Java interface only plugin
- [GCP Dataflow] Web Service (e.g. AWS Sagemaker, GCP DataFlow, Qubole etc...)
- [x] Kubernetes Operator (e.g. TfOperator, SparkOperator, FlinkK8sOperator, etc...)
- [x] Customized Plugin using native kubernetes cons

[2021-10-05 14:27] ramadh-an opened #1563 "[UI Feature] Add ip address display and name feature or plugin"
**Motivation: Why do you think this is important?**
Because so many people access your app/website and we want to know about the name, ip address.

**Goal: What should the final outcome look like, ideally?**
Let the UI be a clear and cool

**[Optional] Propose: Link/Inline OR Additional context AND/OR Mock ideas**
An interesting additional feature is a welcome greeting or displaying the user's ip

[2021-10-05 14:45] kumare3 commented on #820
@samhita-alla maybe, @evalsocket has created an example, we can make each of them a separate issue. This will need digging into the code

[2021-10-05 14:47] kumare3 commented on #1563
Where do you want to add the IP address?

[2021-10-05 14:48] kumare3 commented on #1562
This issue does not make sense, sorry closing

[2021-10-05 14:48] #1562 closed

[2021-10-05 15:06] ramadh-an commented on #1563
In your UI app or web

Pada tanggal Sel, 5 Okt 2021 pukul 21.47 Ketan Umare <
***@***.***> menulis:

[2021-10-05 15:29] kumare3 commented on #1242
@jsonporter i agree with @Gui11aum3, basically use friendlier names as the default and then keep the node is as the diffused indicator, almost close to the inverse of what it shows today

[2021-10-05 16:55] #1563 closed

[2021-10-05 18:51] NotMatthewGriffin opened #1564 "When running in a k8s cluster with mutating webhooks, tasks don't finish since the side car is still working [Core Feature]"
**Motivation: Why do you think this is important?**
Currently when running a flyte task in a kubernetes cluster that uses mutating webhooks to add sidecars to all pods, the task and associated pod will run until terminated in the flyte web console. Inside of the pod, the container actually running the flyte task has completed and exited with a good status but the sidecar container is still running

[2021-10-05 23:57] EngHabu opened #1566 "[Housekeeping] Migrate public docker images to a more stable registry"
**Describe the Issue**
Users report issues getting rate limited from dockerhub for non-flyte images included in the flyte deployment. We should migrate these to a more stable registry with more generous bandwidth.

[2021-10-06 03:59] kumare3 commented on #1564
@NotMatthewGriffin thank you for the issue. I have heard from a few users about this issue. The only problem is there are a few folks that run @task on a non k8s cluster and the container abstraction keeps it simple. But, it is completely possible to ensure that on K8s we can assert that the main container exit is the only signal that is needed to mark completion.

How urgent do you think this wor

[2021-10-06 05:31] samhita-alla commented on #1561
@kuspia, please go ahead! Thank you for picking this up.

First, make sure the [getting started guide](https://docs.flyte.org/en/latest/getting_started.html) works. Please share with us the screenshots of outputs of all the commands you run. Once you get the Flyte UI up and running, please send us a short video of an example workflow run.

You can join our [Slack](https://docs.google.com/forms/d/e

[2021-10-06 08:42] ckiosidis commented on #1557
There is similar functionality already supported in flytekit https://github.com/flyteorg/flytekit/pull/497

[2021-10-06 12:22] AdrianoKF opened #1573 "[Core feature] Support SSL certificate validation using custom root CA certificates in Flytekit Remote API"
### Motivation: Why do you think this is important?

Currently, the Flytekit Remote API only supports two connection modes to the admin deployment:

1. Full secure SSL certificate validation based on the set of [trusted CA root certificates bundled with gRPC](https://github.com/grpc/grpc/blob/master/etc/roots.pem), or
1. setting `insecure=True`, disabling HTTPS completely.

### Goal: What should t

[2021-10-06 15:31] katrogan opened #1574 "[Docs] Document how to use node_overrides to set map task resources"
### Description

The map task [documentation](https://docs.flyte.org/projects/flytekit/en/latest/generated/flytekit.map_task.html#flytekit-map-task) and [flytesnacks example](https://docs.flyte.org/projects/cookbook/en/latest/auto/core/control_flow/map_task.html#sphx-glr-auto-core-control-flow-map-task-py) omits examples of how to use [node_overrides](https://github.com/flyteorg/flytekit/blob/1cb6

[2021-10-06 15:31] katrogan commented on #1574
cc @nicklofaso

[2021-10-06 18:20] ttanay opened #1576 "[Docs] Flyte CoPilot: Missing space in header in README.md"
The project title for Flyte CoPilot is missing a space because of which it couldn't be rendered properly.
![flyte_copilot](https://user-images.githubusercontent.com/26265392/136259865-4719c6c1-abf8-4894-a95b-a04510a8146f.png)

[2021-10-06 19:24] eapolinario commented on #704
This ticket can be closed, right, @pingsutw ?

[2021-10-06 19:27] kumare3 opened #1578 "[FlyteCTL Feature] Allow supplying image as a parameter to flytectl sandbox start"
### Describe the feature/command for FlyteCTL

Many organizations do not allow pulling docker images from the internet. In this cases, it may be necessary to pull the image once and push it to an internal / blessed registry. Thus it should be possible to supply the path to this image

### Provide a possible output or UX example

[code]

###

- [X] Are you sure this issue hasn't been raised already

[2021-10-06 19:44] #997 closed, assigned to yindia

[2021-10-06 21:39] #1578 closed, assigned to kumare3

[2021-10-06 22:20] EngHabu commented on #1474
Triage: De-prioritizing this work for the time-being...

[2021-10-07 03:17] cyberwizard1001 commented on #1524
@samhita-alla Hi! I'd love to work on this.

[2021-10-07 03:54] kumare3 commented on #1564
can we slot this for november?

[2021-10-07 03:59] kumare3 opened #1580 "[Docs] Documentation that explains how to configure AWS Batch Backend for Flyte Map Tasks"
### Description

Flyte Map tasks can be executed on AWS Batch natively. This is not documented. Let us document how to configure this.

The code can be found [here](https://github.com/flyteorg/flyteplugins/tree/master/go/tasks/plugins/array/awsbatch)

cc @gigi-at-zymergen

###

- [X] Are you sure this issue hasn't been raised already?

###

- [X] Have you read the [Code of Conduct](https://github.

[2021-10-07 04:07] kumare3 opened #1581 "[Core feature] Caching for non-flyte specific offloaded objects"
### Motivation: Why do you think this is important?

Currently, if users use pandas.DataFrame or a pyspark.DataFrame or pander.DataFrameSchema, Flytekit simply extracts the data from the transport `Literaltype.Schema`. So consider the following function

[code]

The above function will be cached, because the input type has the file path that is cached and hence the function is not run.

But, now c

[2021-10-07 04:10] kumare3 opened #1582 "[Docs] Document how pods are named in the executions"
### Description

Pod names or downstream resource names are either
`executionid-node-id-attempt` or somethings just plain hashes.
The reason for the hash is that downstream services usually have limits on the size of the name for the object.

Thus to prevent overrunning the limit, Flyte will optionally hash the objects. This should be clearly documented

###

- [X] Are you sure this issue hasn't b

[2021-10-07 04:12] kumare3 opened #1583 "[Docs] Document how to limit Flyte deployment to use restrictive namespaces"
### Description

A standard flyte deployment creates a namespace per `project-domain` combination. this is infact configurable and administered by Clusterresource-controller.

It is possible to create a Flyte deployment that uses only one namespace, or a namespace per domain only. This however is not documented and is an extremely useful configuration

###

- [X] Are you sure this issue hasn't bee

[2021-10-07 04:14] kumare3 opened #1584 "[Docs] Documentation for Native Flytescheduler"
### Description

Document the architecture overview of native flyte scheduler and provide overview of various metrics available

###

- [X] Are you sure this issue hasn't been raised already?

###

- [X] Have you read the [Code of Conduct](https://github.com/flyteorg/flyte/blob/master/CODE_OF_CONDUCT.md)?

[2021-10-07 04:15] kumare3 opened #1585 "[Docs] Document cluster resource controller and its configuration"
### Description

- [ ] How to configure cluster resource controller
- [ ] How to disable it
- [ ] How to alter the frequency
- [ ] High level architecture with diagram

###

- [X] Are you sure this issue hasn't been raised already?

###

- [X] Have you read the [Code of Conduct](https://github.com/flyteorg/flyte/blob/master/CODE_OF_CONDUCT.md)?

[2021-10-07 04:16] kumare3 opened #1586 "[Docs] Document FlyteAdmin architecture"
### Description

- [ ] Database requirements
- [ ] High level overview diagram
- [ ] Monitoring metrics
- [ ] Scaling considerations

###

- [X] Are you sure this issue hasn't been raised already?

###

- [X] Have you read the [Code of Conduct](https://github.com/flyteorg/flyte/blob/master/CODE_OF_CONDUCT.md)?

[2021-10-07 04:17] kumare3 opened #1587 "[Docs] Document architecture and design of Flyte co-pilot"
### Description

Flyte co-pilot powers Raw containers and should be documented

###

- [X] Are you sure this issue hasn't been raised already?

###

- [X] Have you read the [Code of Conduct](https://github.com/flyteorg/flyte/blob/master/CODE_OF_CONDUCT.md)?

[2021-10-07 04:18] kumare3 opened #1588 "[Docs] Document how Flyte Transfers data between tasks"
### Description

This is often times not well understood, we should document how data is transferred between tasks.
Also document a high level overview of the type system

###

- [X] Are you sure this issue hasn't been raised already?

###

- [X] Have you read the [Code of Conduct](https://github.com/flyteorg/flyte/blob/master/CODE_OF_CONDUCT.md)?

[2021-10-07 06:24] samhita-alla commented on #1524
Hi, @cyberwizard1001! Please go ahead. :) Let us know if you have any questions.

[2021-10-07 06:36] samhita-alla commented on #1537
Hi, @Pretty-19! Would you mind creating a PR within the next 2-3 days? :)

[2021-10-07 06:50] Pretty-19 commented on #1537
@samhita-alla  was a bit behind on schedule, yes will do that

[2021-10-07 08:20] parzival272000 commented on #1574
@katrogan can you assign this to me if it is beginner friendly.

[2021-10-07 09:52] ttanay commented on #1036
@wild-endeavor Did https://github.com/flyteorg/flytekit/pull/633 fix this issue?

[2021-10-07 15:16] eanakhl opened #1590 "[BUG] admin panic Failed to register metrics. Error: duplicate metrics collector registration attempted"
### Describe the bug

Here are 2 stack traces from 2 projects which are independent:

"msg":"panic-ed for request: [event:<id:<node_id:"f12qeyhy" execution_id:<project:"spotify-fleet-metrics" domain:"production" name:"vpx7yeldwafbjxctcnym" > > phase:RUNNING occurred_at:<seconds:1633598480 nanos:724438365 > input_uri:"gs://flytepropeller-production-storage/metadata/propeller/spotify-fleet-metrics-p

[2021-10-07 16:58] EngHabu opened #1591 "[BUG] Panic in Webhook when the task has other volume mounts"
### Describe the bug

The Pod Webhook panics when the task's pod has existing volume mounts.
[This commit](https://github.com/flyteorg/flytepropeller/commit/1b2ffe3336216724215b3b72066c4fce1cee88b3) introduced a regression.

### Expected behavior

No Panics. Volume should be mounted correctly.

### Additional context to reproduce

[code]

### Screenshots

_No response_

### Are you sure this issue

[2021-10-07 18:02] #1591 closed

[2021-10-07 18:38] martinlyra commented on #1561
First I'll leave some specifications of my Windows version and installation of Python. Think that can help figuring out the differences if any.
* Windows: Windows 10 Pro N (Build: `19042.1237`)
* Python: `3.9.5`, a standalone installed from online, not Microsoft Store

Running `python .\myapp\workflows\example.py` from PowerShell
[code]

Running as module:
[code]

Weill try to do the next two gett

[2021-10-07 18:43] frsann opened #1592 "[Core feature] Simple templating for default annotations/labels/env vars"
### Motivation: Why do you think this is important?

At the moment it's possible to add hard-coded annotations/labels/env vars to all pods or on a task level, but there is no middle ground. There is no easy way configure the default annotations to have project or domain specific keys/values.

One way of achieving this is by allowing simple templating in the default annotations/labels/env vars. (An

[2021-10-07 18:54] kumare3 commented on #1592
cc @EngHabu, from my side this makes sense.

Things to consider:
We should use the same templating to the default labels that we already apply.
I am not 100% sure about Env vars, but I am on the fence, so can be convinced otherwise.

Place to start:
The default values are configured here,
https://github.com/flyteorg/flyteplugins/blob/master/go/tasks/pluginmachinery/flytek8s/config/config.go#L63-L6

[2021-10-07 22:09] katrogan opened #1593 "[Housekeeping]"
### Describe the issue

Default to using latest event version in flyteadmin.

### What if we do not do this?

Don't get dynamic workflow closure as part of node execution event metadata (or effectively any dynamic running events)

### Related component(s)

flyteadmin

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2021-10-07 23:35] kumare3 opened #1594 "[Core feature] FlyteIDL should generate protobuf files for R"
### Motivation: Why do you think this is important?

[RProtobuf](https://cran.r-project.org/web/packages/RProtoBuf/index.html) is a package that allows marshalling and unmarshalling protobuf structs to R objects. Doing so would make it possible to write a task natively in R

### Goal: What should the final outcome look like, ideally?

community should be able to implement an R sdk for writing task

[2021-10-08 06:25] eanakhl opened #1595 "[BUG] Flyte propeller fatal error: concurrent map writes"
### Describe the bug

fatal error: concurrent map writes
when running the load test

### Expected behavior

no panic

### Additional context to reproduce

import time

from flytekit import LaunchPlan, Resources, dynamic, task, workflow

@task(
    requests=Resources(mem="200Mi", cpu="50m"),
    limits=Resources(mem="200Mi", cpu="50m"),
)
def just_sleep(n: int):
    """
    Just sleep for 10sec"""

[2021-10-08 06:51] kumare3 commented on #1595
Cc @EngHabu, had a fix for this

[2021-10-08 09:07] #1590 closed, assigned to katrogan

[2021-10-08 10:52] samhita-alla commented on #1561
Awesome! You were able to install everything smoothly, right?
You can proceed with the next steps in the getting started guide.

[2021-10-08 16:54] kumare3 commented on #803
cc @wild-endeavor / @pingsutw can you guys help @aeioulisa?

[2021-10-08 16:58] jsonporter opened #1599 "[UI Feature] Add comparison tool to executions lists"
### Motivation: Why do you think this is important?

Add a comparison tool when viewing execution lists that allows users to specify which items they want displayed in the list. This tool would work along side the existing filters (status, version, start time, etc) providing users a powerful debugging experience.

Acceptance criteria:

- Users can click bars in the bar chart to add them to the fil

[2021-10-08 18:24] martinlyra commented on #1561
Yes! Besides from the warnings about the modules not being installed to a folder included in my system PATH, which is intended anyways as far this 3.8 installation go.

Either way, moving on to `flytectl`, since PoweShell cannot run bash scripts as far I am aware. While it has `curl` and `wget` as aliases, to a command (I forgot) that requires Internet Explorer for parsing the HTTP. So I use
`Invo

[2021-10-08 18:49] katrogan commented on #1574
done, thanks @parzival272000

[2021-10-08 19:12] martinlyra commented on #1561
Alright. I have good and bad news!

Starting with the good. I have managed to go far enough to have the Flyte UI up and working. So I can interact and browse around in the window. It took a little while to get it running though.

The sandbox commands work as they seem to would do. Other than the fact the progress logging works oddly on Windows: As it produces a stream of new lines rather than upda

[2021-10-08 19:23] parzival272000 commented on #1574
Thanks

[2021-10-08 21:18] mayitbeegh commented on #1451
Fixed in https://github.com/flyteorg/flytepropeller/pull/330

[2021-10-08 21:45] akhurana001 commented on #1539
I was thinking of an enum i.e. users only specify a single architecture and fail if its not present.

If we let them specify multiple, then it gets more complex into how does the Platform decide on one and what happens if the workflows fail on one but maybe succeed on another so I would prefer if we let users choose one and use that.  Users would need to work with the Platform admin to understand

[2021-10-08 22:36] #1595 closed, assigned to EngHabu

[2021-10-09 09:37] DasithEdirisinghe commented on #1556
@kumare3 can you assign me to this issue. and refer me to some more resources relevant to this issue

[2021-10-10 08:46] evalsocket commented on #1351
@lordnodd Yes you are right. Use `released/prereleased`  trigger in place of `created`

[2021-10-10 14:56] lordnodd commented on #1351
Cool I'll give this a shot.

[2021-10-10 16:45] lordnodd commented on #1351
I made sure to read through the contribution docs, and updated the changes stated by @evalsocket, this is my first open-source commit, let me know if I missed out anywhere :)

[2021-10-10 21:04] kumare3 opened #1600 "Add slack button to all repo readme under flyteorg"
Users may laun don various repos and it is not easy for them to know how to join slack. This will make it simpler

[2021-10-10 21:29] #1566 closed, assigned to EngHabu

[2021-10-11 03:53] samhita-alla commented on #1351
Thank you! Looks like your PR got merged. :)

[2021-10-11 04:44] samhita-alla commented on #1561
@martinlyra This is uber-cool! We really appreciate the work you've been doing. :)

Regarding POSIX, we'll be more than happy if you could contribute. Let's see what's the possible fix!

[2021-10-11 05:22] samhita-alla opened #1601 "[Docs] Fix Docker image unambiguity in the getting started guide"
### Description

Registry URL isn't required for sandbox; mention the same in the getting started guide.

Reference: https://flyte-org.slack.com/archives/CNMKCU6FR/p1633816410395600

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2021-10-11 08:13] Pretty-19 commented on #1546
Yes please 😊

[2021-10-11 09:25] samhita-alla commented on #1034
@sccalabr, thank you for looking into this! @wild-endeavor, can you please clarify?

[2021-10-11 13:19] pingsutw opened #1602 "[Docs] Add snowflake example in flytesnack"
### Description

https://github.com/flyteorg/flyteplugins/pull/202 had integrated Snowflake plugin into flyte.
We should add an example in flytesnack

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2021-10-11 16:02] EngHabu opened #1604 "[FlyteCTL Feature] Setup KubeConfig automatically"
### Describe the feature/command for FlyteCTL

Flytectl should manage the lifecycle of the sandbox cluster config created.

### Provide a possible output or UX example

`flytectl sandbox start` should automatically (maybe with a flag/prompt) modify my default kubeconfig `~/.kube/config` with the new context and `flytectl sandbox teardown` should automatically remove it.

### Are you sure this issu

[2021-10-11 16:07] EngHabu opened #1605 "[BUG] Flytectl sandbox- Restarting machine removes volume mounts"
### Describe the bug

After a machine reboot, the sandbox cluster comes back up but the volume mounts are wiped... which leaves the kubeconfig (in some .../k3s.yaml file) blank and essentially making me unable to access the cluster

### Expected behavior

Continue to be able to access the cluster.

Could be related to [this issue](https://stackoverflow.com/questions/64242993/docker-for-windows-vol

[2021-10-11 17:25] frsann opened #1606 "[Housekeeping] Containers should not run as root"
### Describe the issue

It seems like most Dockerimages related to the project does not define a user/group as which the service is run. This means that the services are run as root. We should fix this, to prevent security issues.

### What if we do not do this?

We run a risk of privilege escalation.

### Related component(s)

At least flytepropeller, flyteadmin, flyteconsole, and datacatalog.

#

[2021-10-11 20:10] EngHabu opened #1607 "[Housekeeping] Flytekit: Move versions into __init__ files of the root package as well as plugins"
### Describe the issue

It seems that it's a more conventional setup to have versions in the __init__ files of python packages and have them being referenced in the setup.py files.

### What if we do not do this?

Just inconvenient

### Related component(s)

flytekit

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2021-10-11 20:13] EngHabu commented on #1606
Thank you for filing this issue! I 100% agree.. We should update Dockerfiles of all of flyte components to run as user 1001 or something instead.. and a corresponding change in all deployments to let K8s set the right permissions for mounted volumes.

Is this something you might be able to help us do? even if it's just for one component so that people can start copying what you did into others? @f

[2021-10-11 20:29] mayitbeegh commented on #1451
I verified the fix in https://github.com/flyteorg/flytepropeller/pull/332 for pod tasks and https://github.com/flyteorg/flytepropeller/pull/330 should yield identical results. Do you want to verify the fix in #330 as well?

[2021-10-11 21:03] nicklofaso opened #1609 "[BUG] Allow for caching of map_tasks"
### Describe the bug

There does not seem to be a way for a user to enable caching for `map_tasks` even though it seems possible via the `metadata` parameter

[code]

### Expected behavior

If I specify caching as enabled via the `metadata` parameter the map_task should utilize caching

### Additional context to reproduce

_No response_

### Screenshots

_No response_

### Are you sure this issue

[2021-10-11 21:12] katrogan commented on #1451
that sounds great, thanks for confirming!

[2021-10-11 23:32] kumare3 opened #1613 "[BUG] Large error messages cause failures in flytepropeller -> admin events"
### Describe the bug

There are cases in which the error trace for a message is extremely large. this causes errors in FlytePropeller. This may slow down workflow progress
cc @hamersaw / @EngHabu / @kazesberger

### Expected behavior

If it is purely an error message, then the error should be trimmed and shown on the UI and exit should be graceful

### Additional context to reproduce

Extremely la

[2021-10-12 03:02] mayitbeegh commented on #1451
<img width="425" alt="Screen Shot 2021-10-11 at 20 01 26" src="https://user-images.githubusercontent.com/6239450/136884044-2c1014b7-d9be-4210-9861-000cf9613023.png">
Verified with v0.14.11 flytepropeller webhook

[2021-10-12 03:18] kumare3 opened #1614 "[Core][Performance] Create a lookaside buffer cache to reduce request rate to FlyteAdmin"
### Motivation: Why do you think this is important?

Consider a scenario, where there is a large fanout. The fanout has to be larger than couple hundred nodes (>200)
[code]
In this case, Flytepropeller will send queued events potentially the moment A completes. this can be restricted by max-parallelism, but that is not desirable as this is purely visibility events.

If the Flyteadmin events rate-l

[2021-10-12 03:23] kumare3 opened #1615 "[Core] [Performance] KubeAPI writes can be cached to improve write throughput for duplicate writes"
### Motivation: Why do you think this is important?

There are cases in which FlytePropeller will retry trying to create pods, to recover from previous round failures. This exacerbates problems with Client-go throttle limits. This is because every  operation on kubeapi is strictly restricted

### Goal: What should the final outcome look like, ideally?

Propeller should be able to leverage its prev

[2021-10-12 07:27] evalsocket opened #1616 "[Housekeeping] Generate pflag for AuthType"
### Describe the issue

Currently, in flytestdlib, we are not generating the flag for AuthType. That means the user can't change the value from flags.

The user should be able to pass all the config through cli flags

### What if we do not do this?

The user can't change the value from flags, They always need config

### Related component(s)

_No response_

### Are you sure this issue hasn't been

[2021-10-12 07:34] evalsocket opened #1617 "[Housekeeping] Refactor flytectl flags"
### Describe the issue

Flytectl code has one issue. Internal method/pkg use flags directly rather than using them as parameters. We should only use flags in the root command. After that, we should pass the value in the method.

For example, consider https://github.com/flyteorg/flytectl/blob/83e1b6101999a8fe107ace108e22b17a2c47e1e8/cmd/register/files.go#L100. Here, we should not use flags outside

[2021-10-12 07:38] evalsocket opened #1618 "[Housekeeping] Flytectl register files command doesn't fail without --countinueOnError"
### Describe the bug

`flytectl register files` command doesn't fail without `--countinueOnError`. It should fail with exit code 0.

### Expected behavior

- Flytectl register should fail if there is an error
- Flytectl register should not fail if the user passes the `--countinueOnError `

### Additional context to reproduce

_No response_

### Screenshots

_No response_

### Are you sure this iss

[2021-10-12 08:37] bimtauer opened #1619 "[FlyteCTL Feature] Delete projects"
### Describe the feature/command for FlyteCTL

The [documentation](https://docs.flyte.org/projects/flytectl/en/stable/gen/flytectl_delete.html) for `flytectl delete` mentions that it can be used for:

However running `flytectl delete` suggests only the following commands:
[code]

Afaics the codebase at https://github.com/flyteorg/flytectl/tree/master/cmd/delete does not contain any functionality t

[2021-10-12 08:43] bimtauer opened #1620 "[FlyteCTL Feature] Update project description and name"
### Describe the feature/command for FlyteCTL

`flytectl update project` currently only allows archiving or activating projects according to the [docs](https://docs.flyte.org/projects/flytectl/en/stable/gen/flytectl_update_project.html)

It would be great if it allowed for updating other project attributes, such as the description and name.

Related issue: https://github.com/flyteorg/flyte/issues/

[2021-10-12 08:52] samhita-alla commented on #1561
Hi, @martinlyra! Yes, it has to be in the Flytekit repo, most probably, the [pyflyte.py](https://github.com/flyteorg/flytekit/blob/86d3368fc2c4900587786a66e263d495af43854a/flytekit/clis/sdk_in_container/pyflyte.py ) file. Can you join our [Slack](https://docs.google.com/forms/d/e/1FAIpQLScWPJZncyL-bBCWbuQ9HWuMzA8-r2RJc__CSWJoAYUQADN-BQ/viewform) #hacktoberfest2021 channel? We can talk more about i

[2021-10-12 08:57] evalsocket opened #1621 "[Housekeeping] Disable new release workflow for Docs PR in flytectl"
### Describe the issue

For every master merge, we create a new release. We also generate docs and create PR for every master merge.

We want to avoid release workflow in case of docs or boilerplate PR.

### What if we do not do this?

We have extra releases that only have docs changes, which isn't desirable.

### Related component(s)

Flytectl

### Are you sure this issue hasn't been raised alrea

[2021-10-12 08:58] samhita-alla commented on #1561
You'd have to install Flytekit in development mode to test your changes as described in the [contribution guide](https://docs.flyte.org/projects/flytekit/en/latest/contributing.html). You can then run `pyflyte` to check if it works as expected.

[2021-10-12 16:27] bimtauer commented on #1619
Ok understood, thanks for explaining!

[2021-10-12 16:27] #1619 closed, assigned to nobody

[2021-10-12 16:51] jsonporter opened #1623 "[UI Feature]: Update workflow search UX"
### Motivation: Why do you think this is important?

We've updated our designs for the workflow search experience.  The new UI will surface useful metadata including recent executions, interface and most recent version.

Additionally, we will be implementing GraphQL for this new view as first-step/iteration towards full migration to GraphQL.

Acceptance Criteria:
- Each row displays Last Execution

[2021-10-12 20:27] EngHabu opened #1632 "[Docs] Write an example of documented workflow inputs/outputs"
### Description

1. Workflow with default inputs

[code]

2. Workflow/tasks with docstrings

[code]

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2021-10-12 20:49] kumare3 commented on #1632
cc @mayitbeegh do you have any samples? @samhita-alla can you help with this one?

[2021-10-12 20:52] kumare3 opened #1634 "[Docs] Docs on how to use non data-passing syntax to connect nodes"
### Description

Flytekit allows users to create workflows without needing to pass data between tasks. This is not clearly documented in the basics. This should have an example for it

[code]

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2021-10-12 20:52] kumare3 commented on #1634
cc @samhita-alla can you please add an example to basics?

[2021-10-13 09:52] michaels-lyft opened #3481 "[Core] Better execution search capabilities (search by inputs)"
### Motivation: Why do you think this is important?

This would allow us to quickly find a past execution based on either inputs, outputs, sub-task/workflow names, launch plans, or logs. In the past, we've run into situations were we would like to restart a workflow from a few days/weeks ago. But we had to resort to a linear search in order to find the right one.

### Goal: What should the final o

[2021-10-13 14:31] idivyanshbansal opened #1640 "[Docs] Grammatical correction in readme file"
### Description

In the readme, there are multiple corrections that need to be made.

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

please assign  this to me

[2021-10-13 14:40] hamersaw commented on #1613
@kumare3 / @EngHabu I have an implementation truncating the event error message size which doesn't seem to fix the problem. The error reported in the description of this issue is one which cascades (it is reported at multiple controller levels as it bubbles to the workers). It seems the core issue lies in an admin node event containing an extremely large compiled workflow for the dynamic task. I c

[2021-10-13 23:12] hamersaw opened #1655 "[BUG] minio http port forward in flyte sandbox updated"
### Describe the bug

The minio service port forward for flyte sandbox is now pointing to the minio-api port (9000) rather than minio-console (9001). When this receives an HTTP request, it redirects to the minio-console on localhost which is not forwarded. This seems to have been introduced during the recent minio upgrade in https://github.com/flyteorg/flyte/commit/697dbd741cb0d82e5f9ccfd3c9b61f29

[2021-10-14 02:14] evalsocket commented on #1621
@radiantly It is not working as expected. You have to debug https://github.com/flyteorg/flytectl/blob/83e1b6101999a8fe107ace108e22b17a2c47e1e8/.github/workflows/master.yml#L11

Workflow: https://github.com/flyteorg/flytectl/runs/3500287100?check_suite_focus=true

[2021-10-14 05:29] kumare3 opened #1660 "[Core][Scale] Large number of launchplans yielded (8k+) in dynamic workflows cause memory bloat"
### Motivation: Why do you think this is important?

Consider an example of this type
[code]

for a large number of input_integers - in our example 8k. In this case, the node-ids created by flytekit are extremely verbose and for 8k nodes cause a total overhead of more than 1MB+. On the other hand the name of the node itself, which is a derivative of the function is also extremely large and causes

[2021-10-14 07:07] #1640 closed

[2021-10-14 18:49] EngHabu opened #1672 "[Housekeeping] Automatically redirect to /console on root path"
### Describe the issue

After deploying flyte with nginx for ingress, visiting https://<my domain>/ doesn't work, I've to navigate to https://<my domain>/console to visit the console... It takes a bit of learning for people to recognize that.

### What if we do not do this?

Inconvenient

### Related component(s)

flyte
helm

### Are you sure this issue hasn't been raised already?

- [X] Yes

###

[2021-10-14 19:39] cosmicBboy opened #1674 "[Docs] Deadlink on deployment page"
### Description

https://docs.flyte.org/en/latest/deployment/overview.html#usage-of-helm

The link in this screenshot is dead:
![image](https://user-images.githubusercontent.com/2816689/137384293-f93f322d-5796-4d6c-be70-87dd640a5c19.png)

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2021-10-14 19:44] SandraGH5 opened #1675 "[Docs] Show how to add annotations to the workflow pod"
### Description

We have an EKS installation with the cilium network overlay. This means that node roles don't work unless workflows run on hostNetwork. We could set up the service accounts and bind those to the roles, but project-namespaces makes it a bit complex (in our case it means a terraforming per project).
One solution could be to use kube2iam, but I am not sure how to add annotations to t

[2021-10-14 21:06] EngHabu commented on #1674
Should take you to https://github.com/flyteorg/flyte/tree/master/charts instead...

@samhita-alla @evalsocket ... mind fixing that?

[2021-10-14 21:56] katrogan opened #1677 "[Docs] Document flyteadmin task resource config application"
### Description

The [task_resources](https://github.com/flyteorg/flyte/blob/5e0647a0d0b2532dbc085d92f25ba6e58f52b047/charts/flyte-core/values.yaml#L417) config block in admin should be explicitly documented.

**Defaults**: are values injected into task containers at execution time when a static task definition fails to specify both requests and limits

**Limits**: Are used to enforce that individ

[2021-10-14 21:56] katrogan commented on #1677
cc @kumare3

[2021-10-14 23:42] kumare3 opened #1679 "[Core feature] Create a Conda package for flytekit"
### Motivation: Why do you think this is important?

A lot of Python users especially in ML and DataScience use conda. Having a conda installable variant will help these users.

### Goal: What should the final outcome look like, ideally?

conda install flytekit

### Describe alternatives you've considered

NA

###  Propose: Link/Inline OR Additional context

_No response_

### Are you sure this is

[2021-10-14 23:45] #1600 closed, assigned to samhita-alla

[2021-10-14 23:47] #1137 closed

[2021-10-14 23:50] kumare3 commented on #1306
@eapolinario my recent fix in progress might fix this issue as well. https://github.com/flyteorg/flytekit/pull/698

[2021-10-15 00:02] Qiwen-Yu commented on #1679
@kumare3
Can I take this one? I am planning to create a meta.yaml file first and creating a conda-forge package, if I could get the chance.

[2021-10-15 00:12] kumare3 commented on #1679
@Qiwen-Yu my pleasure. Please do. Let me know if you need a new package in flyteorg to host it

[2021-10-15 04:33] kumare3 opened #1680 "[Core feature] [flytekit] Pyflyte overhaul and plugin system"
### Motivation: Why do you think this is important?

Flytekit today has a great plugin system, that allows users to bring new plugins for
tasks, types and persistence.
But for user experience users may want to provide new ways of interacting with the CLI. This is not possible today in pyflyte.

Moreover, there are many command and pyflyte and flyte-cli are confusing!
this story is to track that in

[2021-10-15 15:55] jsonporter opened #1683 "[UI Feature] Use doc strings to populate task description"
### Motivation: Why do you think this is important?

We want to surface any doc string documentation that users provide in the UI.  The response from get tasks will include a "description" value when these data are present.

see: https://docs.google.com/document/d/1m_-_QMloU7pLcnOQU8OUqfyGhPaBwB4XxYZiZIMOgq0/edit#

### Goal: What should the final outcome look like, ideally?

![Screen Shot 2021-10-

[2021-10-15 15:59] jsonporter opened #1684 "[UI Feature] Use doc strings to populate description on Workflow search Ux"
### Motivation: Why do you think this is important?

The new Workflow search UX now displays various metadata about a workflow - included in that is a field for description.  We want to surface any "description" values user included in their documentation.

see: https://docs.google.com/document/d/1m_-_QMloU7pLcnOQU8OUqfyGhPaBwB4XxYZiZIMOgq0/edit#

### Goal: What should the final outcome look like,

[2021-10-15 16:22] #1672 closed

[2021-10-15 17:04] #1655 closed, assigned to yindia

[2021-10-15 18:44] kumare3 commented on #1614
@veggiemonk so from flyte's point of view, if an event is not delivered then it is a problem and the workflow should not continue. Also you are right, we can add a message queue (my preference would be to add it on the flyteadmin side) and make it even faster. But, we did not want to bloat he open source offering to do this. But,  Spotify and other users actually can do this

[2021-10-15 19:14] kumare3 opened #1686 "[Plugin]Model serving using kserve"
### Motivation: Why do you think this is important?

Currently Flyte does not have a native integration with any of the model serving systems. For many users, training a model in flyte and deploying it seamlessly to kserve would make their lives easier.

This also jives well with the kubernetes native eco-system.
More information on kserve can be found [here](https://github.com/kserve/kserve)

###

[2021-10-15 21:59] #1660 closed, assigned to nobody

[2021-10-15 22:05] kumare3 opened #1688 "[Docs] Overview of dynamic workflows from an execution POV"
### Description

The blog explains the dynamic workflow concept - https://blog.flyte.org/dynamic-workflows-in-flyte, but we need to add it to the documentation also.
A few things that should be highlighted
- [ ] dynamic is still compiled - so it can be visualized
- [ ] understanding how futures file works
- [ ] When to use dynamic workflows, lower pressure on etcD
- [ ] problem of large fan-out, c

[2021-10-15 22:15] #1602 closed, assigned to pingsutw

[2021-10-16 04:45] DasithEdirisinghe commented on #1556
@kumare3 yes I started working

[2021-10-16 05:43] kumare3 commented on #1556
Cool I am assigning it to you! Thank you

[2021-10-17 06:31] Pretty-19 commented on #1546
@samhita-alla  have problem setting this up  on local

[2021-10-18 09:14] evalsocket opened #1697 "[UI Feature] View Input & task defination of every register version directly"
### Motivation: Why do you think this is important?

After register user should be able to check the task definition of the registered version. Currently, It only shows us task definition after execution
,

### Goal: What should the final outcome look like, ideally?

![Screenshot 2021-10-18 at 2 42 18 PM](https://user-images.githubusercontent.com/10830562/137702739-53f6fecc-0a07-4c42-8240-c7d84086

[2021-10-18 09:19] evalsocket opened #1698 "[Housekeeping] Configure grpc_health_prob in admin"
### Describe the issue

Currently, flyteadmin doesn't have a health check prob in deployment. We need a health check prob for flyteadmin. We can use https://github.com/grpc-ecosystem/grpc-health-probe for running a health check

### What if we do not do this?

It's best practice

### Related component(s)

flyteadmin

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you

[2021-10-18 09:27] #1621 closed

[2021-10-18 11:27] RustamovAzer opened #1699 "[BUG] Deprecated path to helm chart in opta/flyte.yaml"
### Describe the bug

Paths in `opta/flyte.yaml`  lead to nonexistent folder `helm`

https://github.com/flyteorg/flyte/blob/a8cb42015adda0e901d263a67a26def4d704cea2/opta/flyte.yaml#L46

https://github.com/flyteorg/flyte/blob/a8cb42015adda0e901d263a67a26def4d704cea2/opta/flyte.yaml#L50

### Expected behavior

`"../helm"` in both paths should be changed either to `"../charts/flyte"` or  `"../charts/

[2021-10-18 11:39] ckiosidis commented on #1557
The flyteidl changes haven't been included to flytectl yet.
I opened this PR to bump the library to the latest
https://github.com/flyteorg/flytectl/pull/201
https://github.com/flyteorg/flyteidl/releases/tag/v0.21.4

[2021-10-18 11:39] ckiosidis commented on #1557
@kumare3

[2021-10-18 16:25] EngHabu opened #1701 "[Docs] Flytectl docs should include instructions for installation"
### Description

I went to docs.flyte.org, searched for flytectl and clicked on the first link. Going [here](https://docs.flyte.org/projects/flytectl/en/stable/gen/flytectl.html#id1).. there are no instructions about how to install flytectl... the instructions are in the homepage [here though](https://github.com/flyteorg/flytectl).

### Are you sure this issue hasn't been raised already?

- [X] Ye

[2021-10-18 16:41] EngHabu opened #1703 "[Docs] Redirect flytectl install script for tracking"
### Description

Redirect flytectl [install script](https://raw.githubusercontent.com/flyteorg/flytectl/master/install.sh) to https://ctl.flyte.org/install to collect better tracking metrics

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2021-10-19 10:55] yindia opened #1707 "[BUG] Flyte-core helm chart is failing because of postgress"
### Describe the bug

In flyte-core helm chart, there is some issue related to templates.

- Flytescheduler is missing in the helm chart helper. Name, namespace, and labels are missing for Flytescheduler
- Currently, we are not generating a template for flyte-core. We should start that it will give us template failures
- Flyte-core is failing because of the Postgres variable, It's not defined in f

[2021-10-19 12:45] pmahindrakar-oss opened #1709 "[Housekeeping] make helm should update boiler plate and also bring latest version of helm-docs"
### Describe the issue

CI runs `DELTA_CHECK=true make helm` to find any diff in the generated helm and doc files or any other uncommitted generated files.

When the same is done from local machine its possible the tools needed to run these are older and don't give the same results as in the CI.

While working on GCP deployment for flyte found the generated files had a diff in CI whereas locally i

[2021-10-19 14:28] AP2008 commented on #1550
Hi, @samhita-alla I would like to take this up. Can you assign it to me ?

[2021-10-19 15:25] cosmicBboy opened #1710 "[Docs] Update tuple output examples in flytesnacks/flytekit docs"
### Description

currently our docs have output function sigs for tuples as
[code]
We added support for the correct syntax:
[code]

The purpose of this issue is to update all instances of the former to the latter

### Are you sure this issue hasn't been raised already?

- [X] Yes

### Have you read the Code of Conduct?

- [X] Yes

[2021-10-19 19:04] hamersaw opened #1714 "[Core][Performance] Clear managed fields from FlyteWorkflow CRD"
### Motivation: Why do you think this is important?

K8s tracked managed fields as a way to ensure some level of access control over resources. The FlyteWorkflow is one such resource. However, flyte ensures that each FlyteWorkflow is only managed by a single FlytePropeller instance. Therefore, managed fields are unnecessary.

In the general case this is not an issue, but in the case of large workf

[2021-10-19 19:57] Qiwen-Yu commented on #1710
@cosmicBboy Can I take this one?

[2021-10-19 20:58] cosmicBboy commented on #1710
@Qiwen-Yu yes! let me assign you. Also let me know if you need any help setting your repo up. Examples in both [flytekit](https://github.com/flyteorg/flytekit) and [flytesnacks](https://github.com/flyteorg/flytesnacks) probably need to be updated.

[2021-10-19 21:11] Qiwen-Yu commented on #1710
Correct me if I were wrong, the scope is to fix all `tuple` type hints to `Tuple[]` for files in https://github.com/flyteorg/flyte/tree/master/rsts, https://github.com/flyteorg/flytekit/tree/master/docs and https://github.com/flyteorg/flytesnacks/tree/master/cookbook, am I right?

[2021-10-19 21:15] eapolinario opened #1715 "[BUG] flytectl config init clobbers k3s.yaml"
### Describe the bug

Running `flytectl config init` clobbers a pre-existing `~/.flyte/k3s/k3s.yaml`, regardless of its content.

### Expected behavior

`flytectl config init` should not touch `k3s.yaml` files as that file should be generated by `flytectl sandbox` command.

### Additional context to reproduce

Run `flytectl config init` and verify that `~/.flyte/k3s/k3s.yaml` is an empty file.

fl

[2021-10-19 21:15] cosmicBboy commented on #1710
yep, that's correct!

[2021-10-19 21:25] Qiwen-Yu commented on #1679
@kumare3  I am still working on this one. Can I have a couple of more days?

[2021-10-19 22:07] kumare3 commented on #1679
That is absolutely ok ✅

[2021-10-19 22:47] #1615 closed, assigned to nobody

[2021-10-19 23:00] kumare3 opened #1716 "[Core][Performance] LaunchPlan & Tasks both should account to MaxParallelism."
### Motivation: Why do you think this is important?

Currently when a user sets max-parallelism, it only accounts for max tasks that are run in parallel. But, Launchplans are triggered and may also consume resources and should be treated as work. Thus maxparallelism limit should apply to both types of nodes launchplans and tasks.

Moreover, we  should use this to also limit the max number of nodes

[2021-10-19 23:06] kumare3 opened #1717 "[Core][scale]Node status for successful nodes can be compressed to enable larger workflows"
### Motivation: Why do you think this is important?

Flytepropeller stores status of the nodes in-progress and executed in etcD. etcD limits the size of the total workflow + state to be < 2MB (in some cases even smaller) And this is stored in a verbose JSON representation.

Currently flytepropeller keeps around every node status that was executed successfully. The only field that is useful for fut